[2017-11-24 02:23] jessesquires commented on #1021
details:

http://danger.systems/ruby/

https://github.com/Instagram/IGListKit/blob/master/Dangerfile

[2017-11-24 02:23] jessesquires commented on #1022
nice 😎

[2017-11-24 05:07] adenisonafifi commented on #1023
How are you calculating your label height?
I have implemented dynamic sized cells in an IGListBindingSectionController by returning the correct size in `sectionController(_ sectionController: ListBindingSectionController<ListDiffable>, sizeForViewModel viewModel: Any, at index: Int) -> CGSize`

It just requires computing the label height/width based upon the cell contents and returning a size that

[2017-11-24 11:57] weyert commented on #1023
Yes, this is a on-going topic it's quite difficult to support self-sizing cells with `UICollectionView` due to weird behaviour and/or bugs in `UICollectionView`. Currently it's advised to manually calculate the size of yours to avoid yourself a lot of suffering.

[2017-11-24 13:42] brurend commented on #1023
I'm using this method to calculate the height:

`+(CGFloat)textHeight:(NSString *)text andWidth:(CGFloat)width {
    UIFont *font = [UIFont systemFontOfSize:14];
    UIEdgeInsets insets = UIEdgeInsetsMake(3, 11, 3, 11);

    CGSize constrainedSize = CGSizeMake(width - insets.left - insets.right, FLT_MAX);
    NSDictionary *attributes = @{ NSFontAttributeName : font };
    NSStringDrawingOptions op

[2017-11-26 07:11] mustafa96m commented on #981
Hello again guys, happy thanks giving to everyone 😄 . I finally could reproduce the issue on iPhone 4S simulator.

It's happening exactly in IGListAdapterUpdater.m:243

[code]

using lldb to print objects :

[code]
Please tell me if you want to print something else for debugging,

First IGSectionItem is an empty section used for indention

[code]

2nd IGSectionItem is

[code]
All sections are impl

[2017-11-26 17:26] Narsail opened #1024 "Complete Section Controllers are hidden"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: newest
- iOS version(s): 11.1
- Xcode version: 9.1

I'm

[2017-11-26 18:53] rnystrom commented on #1024
@Narsail can you run the debugger dump and paste the results here?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-26 19:05] Narsail commented on #1024
@rnystrom I feel kinda stupid but how exactly do I activate the debug logs of IGListKit?

[2017-11-27 22:01] Narsail commented on #1024
It seems that the error was triggered by something else and not the IGListKit. Can be closed!

[2017-11-28 06:30] vincent-peng opened #1026 "Architecture for implementing search for nested array within model"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

Firstly I do apologize for opening issue for this kind of topic, but I'll appreciate if I get the hints

[2017-11-28 06:43] wmcbruce opened #1027 "UISearchBar can adopt ambiguous layout under certain conditions."
## New issue checklist

- [ ✅ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ✅ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 11
- CocoaPods/Carthage versi

[2017-11-28 21:43] yood opened #1028 "Scrolling does not take into account safe area insets on iOS 11 (iPhone X)"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11.1
- CocoaPods/Carthage versi

[2017-11-29 00:11] rnystrom commented on #1028
@yood awesome find! I'd be very happy to accept a PR w/ a unit test for this! 🙏

[2017-11-29 16:30] yood commented on #1028
@rnystrom I was waiting for that before actually writing the tests. :) Will get it in this week.

[2017-11-30 01:34] yood commented on #1028
@rnystrom I can't get the unit tests to work.

The only way to set custom safeAreaInsets is through `UIViewController`'s `additionalSafeAreaInsets` property ([docs](https://developer.apple.com/documentation/uikit/uiviewcontroller/2902284-additionalsafeareainsets)), so I created a new test class that added the collection-view-in-test to a view controllers root view, and set that view controller on

[2017-11-30 13:33] brurend opened #1029 "Update single section continuously"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11.1.2
- Xcode version: 9.1

I

[2017-12-05 17:44] jessesquires opened #1030 "Danger is broken? (Needs write access)"
[code]

Seen here: https://travis-ci.org/Instagram/IGListKit/jobs/298804094

[2017-12-07 04:22] mukeshthawani commented on #1022
I started working on this so, just wanted to confirm: When files are added to Source/ then we need to warn if Podfile.lock was not modified. Is it correct or we need to do something else?

[2017-12-07 04:47] rnystrom commented on #1022
@mukeshthawani awesome! Ya that’s a good idea. Just make sure to check the lock files on the _examples_, not the root.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-07 04:50] rnystrom commented on #1023
Hey @brurend! We do sizing almost exactly like that in Instagram, just with Core Text. You can even do stuff like calculate and cache these sizes on a background thread before coming back to main and reloading data!

For some more advanced examples, check out my hobby app:

https://github.com/rnystrom/GitHawk

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-07 04:50] #1023 closed

[2017-12-07 04:51] rnystrom commented on #981
Haven’t forgotten about this, just need some time to go through the code and traces! Let us know if you find any answers!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-07 04:51] #1024 closed

[2017-12-07 04:53] rnystrom commented on #1026
Thanks @vincent-peng! Definitely not off topic.

Could you provide a little more detail about your search setup that is different from the ones in examples project or GitHawk? Those cover most basic search, let me know if there’s something you’d like to go into more detail over!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-07 04:54] rnystrom commented on #1027
@wmcbruce unfortunately I need to close this as layout issues are beyond IGListKits scope (unless it’s `IGListCollectionViewLayout`).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-07 04:54] #1027 closed

[2017-12-07 04:59] rnystrom commented on #1028
@yood could you just subclass the view and return a hard coded safe area inset?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-07 05:01] rnystrom commented on #1029
Hey @brurend! We recommend injecting dependencies to section controllers. Notifications would be a very basic, but functional, version of this too. Just have the section controller listen for changes and reload it’s cells.

Check out our injection demo here:
https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/ViewControllers/AnnouncingDepsViewController.swift

[2017-12-07 05:01] #1029 closed

[2017-12-07 05:02] rnystrom commented on #1030
Dang, will investigate

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-07 07:43] LRH-iOS-GreenHand commented on #1015
Ran "pod update" in Examples-ios directory. Works fine now.
Remind "Could not find proper version of cocoapods (1.3.0) in any of the sources"

[2017-12-07 08:24] SebastianBO commented on #1001
Hey @joseph-francis did you manage to get it solved?

[2017-12-07 14:04] joseph-francis commented on #1001
Yes I have. Thank you so much! I forgot to reply. Please also let Ryan
Nystrom know that I really appreciate his help.

Thank you,
JF

On Thu, Dec 7, 2017 at 2:24 AM, Sebastian Benzian Olsson <
notifications@github.com> wrote:

[2017-12-07 22:17] rnystrom commented on #1030
@jessesquires so I think this is fine

http://danger.systems/guides/faq.html#why-am-i-seeing-quot-set-status-failed-quot-on-my-github-oss-project

[2017-12-07 22:17] #1030 closed

[2017-12-08 01:04] jessesquires commented on #1030
cool! 👍

[2017-12-09 10:34] nselimko opened #1032 "[Question] Any example for expandable sections ?"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2017-12-10 09:57] nselimko commented on #1032
I think I found:
https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/ExpandableSectionController.swift

[2017-12-10 09:57] #1032 closed

[2017-12-13 23:49] IntervalsPro opened #1033 "Requested support for shouldSelectItem(at index: Int) in ListSectionController"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): iOS 11

A ListSectionController

[2017-12-14 09:56] aortegas opened #1034 "[IGListAdapterUpdater performBatchUpdatesWithCollectionView:]"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11.1.2; 11.2
- Xcode version: 9

[2017-12-14 11:01] weyert commented on #1033
Sounds like a great idea to me!

[2017-12-14 13:51] aortegas opened #1035 "[IGListAdapterUpdater performBatchUpdatesWithCollectionView:] reason: 'no UICollectionViewLayoutAttributes instance for -layoutAttributesForSupplementaryElementOfKind: UICollectionElementKindSectionFooter at path <NSIndexPath: 0xc000000000000016> {length = 2, path = 0 - 0}'"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 10.2; 10.2.1; 11.3.3;
- Xcode v

[2017-12-14 14:29] weyert commented on #1035
Are you using a specific `UICollectionViewLayout`?

[2017-12-14 16:17] aortegas commented on #1035
Yes, we are using UICollectionViewFlowLayout configured this way:

private lazy var flowLayout: UICollectionViewFlowLayout = {
        var layout = UICollectionViewFlowLayout()
        layout.minimumInteritemSpacing = 1.0
        layout.minimumLineSpacing = 1.0
        return layout
}()

[2017-12-16 22:58] freddiemash opened #1036 "Class does not conform to IGListAdapterDataSource even after implementing all required methods"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: IGListKit (~> 3.0)
- iOS version(s): >=8.0
- CocoaPods/

[2017-12-16 23:04] rnystrom commented on #1036
@freddiemash can you remove all the IG prefixes? Those have been removed in Swift with IGListKit 3.0.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-16 23:09] freddiemash commented on #1036
Hi @rnystrom , tnx for prompt reply.

I get this red alert

Use of undeclared type 'ListSectionController'

and same for the other elements when I remove the IG.
I'm following your raywenderlich tutorial btw, so started with the Marslink project included therein. I've just created the FeedController and I'm now at the datasource step.

[2017-12-16 23:15] Sherlouk commented on #1036
The most recent Marslink project download is still referencing IGListKit version 1, and the change (as Ryan said) to drop the `IG` prefix was definitely in version 3.

Can you verify the version you have installed within your `Podfile.lock`?

[2017-12-16 23:20] freddiemash commented on #1036
Hi @Sherlouk , yes it was 1.0.0 but I updated to 3.1.1 and the problem is still there.
I think that I will start over with a project from scratch, maybe the Marslink is referencing other outdated components.

[2017-12-16 23:33] rnystrom commented on #1036
Ya that tutorial might be a bit outdated. I’d definitely recommend starting a fresh project, or using some of our examples as a starting point!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-16 23:33] #1036 closed

[2017-12-17 21:56] Narsail opened #1037 "Performance Issues when using largeTitles on the NavigationBar in iOS 11"
## New issue checklist

- [X ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: Current
- iOS version(s): 11.2
- Xcode version: 9.2
-

[2017-12-17 23:29] rnystrom commented on #1037
@Narsail that method is O(1) for lookup, so you could have 1,000,000 section controls and it’ll take the same time to look them up.

How did you land on this conclusion? Have you performed a time profile?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-18 09:23] Narsail commented on #1037
When working through your Examples I have the feeling my overall scrolling performances could be improved. But nonetheless I forked the repo and added large titles to the project (https://github.com/Narsail/IGListKit). Can you please open the "self-sizing cells" demo and try it out. At least there I can see the same performance issue while the navbar changes.

[2017-12-18 12:44] rnystrom commented on #1037
Hmm, looks like we need some symbols to see where the perf issue is coming from there. Also I’m a little suspect for self sizing cell stuff, they are notoriously buggy.

I’ll take a look at your fork and see if something stands out!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-18 13:02] Narsail commented on #1037
@rnystrom If you want you can directly compile my app and test it there. I don't use self sizing cells.

https://github.com/Narsail/CryptoMarket

[2017-12-18 19:47] #977 closed

[2017-12-19 09:35] iOSUser110 commented on #614
any one found solution for this ?

[2017-12-19 15:32] rnystrom commented on #614
@iOSUser110 see my previous reply

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-19 15:59] rnystrom opened #1040 "Setup a Docusaurus site"
We recently launched a new [docs and site gen tool](https://docusaurus.io/) called Docusaurus. I've gotten some previews of the tool and its pretty awesome. I've been wanted to get a standalone site for IGListKit setup for a while. Working w/ some FB folks on logistics, but in the meantime there are a few things we need to sort out:

- We gen API docs with jazzy using our headers. I'd love to stil

[2017-12-19 16:19] rnystrom commented on #1040
We'll want to keep an eye on facebook/Docusaurus#78 and maybe even contribute!

[2017-12-19 16:41] weyert commented on #1040
Love the name!

[2017-12-19 22:32] durul opened #1042 "How can I store an error message that can be read by the adapter's empty view function ?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: IGListKit (~> 3.0)
- iOS version(s): >=9.0
- CocoaPods/

[2017-12-21 22:38] fchauvin commented on #1033
This would be great!

If you haven't gotten around to implementing this yet, I will gladly take the time to add it and throw up a PR.

[2017-12-22 11:42] Narsail commented on #1037
@rnystrom Can you give me a time frame when you will look into this problem? I would like to ship my app with the new iOS Navbar soon :)

[2017-12-25 01:15] jboo1212 opened #1043 "Profile View Controller"
I have a very similar model to IG's Profile View Controller with segmented controls returning a new list of objects (with the same top half information: e.g., "followers", "following", bio, etc.).  Would a Binding Controller be the wrong way to approach this?

[2017-12-25 03:41] bernaferrari opened #1044 "[Help] NSInternalInconsistencyException on Embedded/Nested Section"
Hi! This is **probably** not related to IGListKit in the way "there is something wrong with the library", but in "I can't figure out this, and it is related to it, please help".

I thought it was a great idea to have a nested/embedded section controller, but I want to do operations inside them and between them. For example, in an attendance app example, I would like to tap the user in the top sect

[2017-12-25 14:15] weyert commented on #1044
Yes, if you are not using `IGListCollectionLayout` you could use something like below to invalidate the layout. I have had some issues myself with invalidating the layout after rotation only until now I have been unable to set breakpoints in `IGListKit` from inside my problematic app for some reason.

[code]

[2017-12-25 15:48] bernaferrari commented on #1044
I thought it was implemented yet, I'm going to use different sections for everything for now.. Thanks!
In 3.2.0, if I have any issue with the transition, I warn you. Thanks!

[2017-12-25 15:48] #1044 closed

[2017-12-26 00:37] bernaferrari opened #1045 "minimumInteritemSpacing not being respected on last row"
I am having the following issue:

Sample app:
<img width="397" alt="screen shot 2017-12-25 at 22 27 33" src="https://user-images.githubusercontent.com/351125/34343810-f266ada4-e9c2-11e7-9871-63bafed0c2c2.png">
My app (exaggerated):
![img_3568](https://user-images.githubusercontent.com/351125/34343825-52ac5114-e9c3-11e7-941c-9ffb947ba983.PNG)

with the following code:
[code]

It will set the maximu

[2017-12-27 12:02] aortegas commented on #1034
Hi! @rnystrom can you help me with this error? Thank you very much!

[2017-12-27 13:01] weyert commented on #1034
Can you make a responsible project or maybe run `po [IGListDebugger dump]` as requested in the ISSUE template? This will assist in finding out what's going wrong in this case.

[2017-12-27 18:13] rnystrom commented on #1034
@aortegas this will be impossible to debug without more info. A sample project would be great. It looks like an issue with a layout using nil attributes? What type of layout are you using?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-28 11:23] aortegas commented on #1034
Thank you very much for your responses.

We haven't been able reproduce this bug in develop. We found the trace of this problem in production using hockey app, but we dont know anything else, only that we have this problem with our users in several times.

We use IGListKit in several sites of our app, and we dont know in which of them this problem occurs... we dont know how it's produced either.

[2017-12-28 12:39] xohozu opened #1046 "Add prefetching functionality to IGListBindingSectionController as WorkRange for IGListAdapter"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

UICollectionView introduced `prefetchDataSource` in iOS10 that we can ease to do preparing stuffs like

[2017-12-28 18:08] andrewwiik commented on #1034
Hey I'm having the same issue with some other thing, if I find out why this happens I will be sure to let you know what the possible cause might be

[2017-12-28 18:30] andrewwiik commented on #1034
this crash will stem from the passed layoutAttributes object for the method part of the signature forLayoutAttributes: returning nil for the selector __indexPath

[2017-12-28 18:53] andrewwiik commented on #1034
@aortegas are you using any supplementary views in any of your collections where this could possible be happening?

[2017-12-28 20:19] andrewwiik commented on #1034
Okay so in my expercience this seems to happen when you return CGSizeZero for a supplementary view when it was previously not CGSizeZero and this change happens inside the performBatchUpdates block

[2017-12-28 20:55] andrewwiik commented on #1034
okay after further debugging it seems you need to invalidate the layout for the supplemntary view, I do this just through [[[self collectionView] collectionViewLayout] invalidateLayout];, as if you don't when it goes to reload the supplemtary attributes for the footer that returns CGSizeZero in the referenceSize function it won't have attributes and therefore crash the program

[2017-12-29 08:04] aortegas commented on #1034
@andrewwiik Thank you very much for your help!

I will verify my code, to make the necessary changes, follow your comments.
I will continue reporting on it. Thank you very much again.

[2017-12-29 12:22] drinkius commented on #952
Facing the same issue in our app, would welcome "first-class embedded controller"!

[2017-12-29 13:50] rnystrom commented on #1046
Great question!! You can still use the working range with a binding section controller. Just set `self` as the working range delegate in init (alongside setting the data source) and you can implement the prefetch APIs as you see fit.

Now the only thing is you can’t have a per item prefetch event.

I’d recommend architecting a profile-type list with _separate_ section controllers for each grid ite

[2017-12-30 03:36] xohozu commented on #1046
It is a feasible solution, but I think maybe it sounds tricky from a certain perspective.

As we known that `IGListBindingSectionController` is lightweight of `IGListAdapter` consisting of some `IGListSectionController`**s**. It provides powerful `IGListBindable` so that we fully take advantage of M**VVM** architecture which can be integrated easily. Apart from its binding technique, It is natural

[2017-12-31 02:19] michaeldong commented on #877
I search all about waterfall issue, but i can't find a solution to solve my question. can you give me a tips or example , ths .
![image](https://user-images.githubusercontent.com/1925773/34458604-e69e053a-ee13-11e7-918e-b02fda8ba0cf.png)

[2017-12-31 13:16] michaeldong commented on #746
hi @jessesquires , I see your link, I try it! ,and on purpose, I set "3" height larger; But I want "5","6" below near "1","2"（now this was Occupy by spaces),  I guess I'm not use the correct Layout ? Hope for your help, What I should do or a demo for this. Thanks.
![image](https://user-images.githubusercontent.com/1925773/34461805-cbf95868-ee6f-11e7-8019-1a358c3bd6e1.png)

[2018-01-02 03:44] #746 closed

[2018-01-02 12:52] rafalszastok commented on #952
It's already taken to version 3.2.0: https://github.com/Instagram/IGListKit/milestone/6

[2018-01-02 13:16] Narsail commented on #1037
So I changed my implementation to let one SectionController contain the 1300 Items instead of having 1300 SectionControllers with one item (*facepalm*) but the question remains why a high number of sectioncontrollers is influencing the transition of the navbar so much. CollectionKit has a similar problem due to recalculating the cell size for every cell (even the invisible ones) when the Collectio

[2018-01-02 13:32] rnystrom commented on #1037
I haven’t had any time to look into the issue. It’s very likely a layout error, possibly invalidating layout with every bounds change. In Instagram we have thousands of section controllers in grids (each with just a single cell) and maintain solid 60fps. That’s actually the recommended architecture. Having a single section defeats one of the major architecture advantages of using IGListKit.

Did y

[2018-01-02 13:34] Narsail commented on #1037
Oh okay, so I did it the right way. Mmh. Do you have a quick tutorial on how to debug with symbolication? That is something I haven't used before.

[2018-01-02 14:17] rnystrom commented on #1037
[This SO question](https://stackoverflow.com/questions/2776466/missing-symbol-names-when-profiling-iphone-application-with-instruments) should have all the info you need to make sure that a profile build gets symbolicated.

[2018-01-02 14:46] bogren commented on #1016
As mentioned here https://github.com/Instagram/IGListKit/issues/208#issuecomment-306210021. For 3.0 you need to wrap the reload in batch update.

[2018-01-02 15:01] #1016 closed

[2018-01-03 20:09] rnystrom commented on #877
@michaeldong I'd recommend doing some searching around for open source `UICollectionViewLayout`s or how to build one from scratch. There are definitely ways to build a layout that looks like that. App-specific layouts are beyond IGListKit's scope though.

[2018-01-03 20:12] rnystrom commented on #1046
Would be happy for the contribution! Might want a bit of a proposal written up at first though so that I can totally make sense of it.

Even for implementing grids, we recommend sticking to a single section controller **per grid item** so that you can fully encapsulate your data + business logic in the section controller. You can still enjoy all the benefits of MVVM w/ that design too!

[2018-01-03 20:13] rnystrom commented on #1045
@bernaferrari which `UICollectionViewLayout` are you using?

[2018-01-03 20:18] rnystrom commented on #1043
Hey @jboo1212! Sorry for the late response.

On Instagram, we use many different types of section controllers in the profile. The "header" information is divided into section controllers like:

- Bio info (avatar, follower counts, etc)
- Toggle buttons
- "Other" accounts

Then we have a separate section controller for _each_ grid item.

We don't use binding section controllers in profile mostly b/

[2018-01-03 20:19] rnystrom commented on #1033
Love it! Would be happy to review someone's PR for this. @fchauvin all yours if you want 😄

Off the top of my head, `IGListSectionController` should implement the base method and return `YES`. Then just forward the delegate method and you're done! (+ unit tests 😇 )

[2018-01-03 20:23] rnystrom commented on #1042
Hey @durul!

The `emptyViewForListAdapter:` method is called every time the list is empty. You're encouraged to return a **new view instance** whenever this method is called. You can configure a new view with whatever labels, images, etc that you want.

For a real-world example, check out how we dynamically configure the empty view in this open source app:

https://github.com/rnystrom/GitHawk/blob

[2018-01-03 20:26] rnystrom commented on #1035
Hey @aortegas! Sorry for the delay. Is this related at all to #1034? Did the fix there help w/ this?

This looks like a bug either in a layout or its attributes. Do you have a way to reproduce this? Maybe an example project? I'm afraid I can't be much help w/ only this info.

[2018-01-03 20:26] #1001 closed

[2018-01-03 20:27] #1042 closed

[2018-01-03 20:27] durul commented on #1042
thank you.

[2018-01-03 21:02] bernaferrari commented on #1045
UICollectionViewFlowLayout (is this what you asked?). If you open the MixedDataViewController from samples and paste the code above, you'll get the same result as I'm getting.

[2018-01-03 22:01] rnystrom commented on #1045
Ah, this is just b/c of the size math going on here. If your width is `414` and you're dividing by 2, then `floor(414 / 2) - 1` == 206. Your layout then looks like:

[code]

Where the interitem spacing is `1`. So you're only consuming `413` points of width, leaving a 1pt white line along the right side of the screen.

This is typical `UICollectionViewFlowLayout` behavior. In Instagram, we actually

[2018-01-03 22:01] #1045 closed

[2018-01-03 22:28] fchauvin commented on #1033
Sounds good 😄

[2018-01-03 23:08] jboo1212 commented on #1043
You mean a section controller like...
https://github.com/Instagram/IGListKit/tree/master/Examples/Examples-iOS/IGListKitExamples/ViewControllers

Where the section controller takes in some array of a type and 1 Section Controller is returned with 1 cell or 1 Section Controller for N cells like below...

https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/Sect

[2018-01-04 00:59] bernaferrari commented on #1045
Thanks, I was able to find out my mistake (which fortunately had nothing to do with IGListKit)! In the "edges" the width-margin should be computed as half, since they is only one item in its side. By doing this, everything worked fine.

[2018-01-04 15:29] IntervalsPro commented on #1033
Hi Forrest,
Sorry for the slow reply.  Lost track of this thread over the holidays.  Feel free to knock this out.  If for some reason you can’t get to it, just let me know.

Thanks!
Jeff

Jeff Bailey
FourthFrame Technologies

On Jan 3, 2018, at 5:28 PM, Forrest Chauvin <notifications@github.com> wrote:

Sounds good 😄

—
You are receiving this because you authored the thread.
Reply to this email di

[2018-01-05 07:31] aortegas commented on #1035
Hi!, @rnystrom, happy new year!
Don't worry about the delay.

No, this problem is different from # 1034.
We haven't been able to reproduce this problem and we haven't  any trace, only the trace reported by the Hockey app.

Can you help us?

Thank you very much !!

[2018-01-05 09:43] marwahAlenezi opened #1047 "IGLIstCollectionView.m"
i can't find the IGListCollectionView.m and .h files in the IGList pods file

[2018-01-05 12:28] rnystrom commented on #1047
@marwahAlenezi which version are you using?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-05 12:30] rnystrom commented on #1035
Hmm if we don’t have more info (repro or examples) I’m not sure there’s anything we can do. Layout issues are typically out of scope for IGListKit.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-05 12:30] #1035 closed

[2018-01-05 19:01] marwahAlenezi commented on #1047
@rnystrom IGListKit (3.1.1)

[2018-01-06 14:03] AaronZhang2015 opened #1049 "How to implement a control that a collection on a UIView."
I want implement a control that a collectionView on a UIView.
I don't want declare the adapter in the UIViewController. I pass the data to the view, and the view implemented IGListAdapterDataSource by itself.
But the init method need a viewcontroller. Any recommend implementation?

[2018-01-06 14:39] weyert commented on #1049
You should be able to pass `nil`. That's what I am doing in my custom views that use `IGListKit`

[2018-01-06 18:07] #1049 closed

[2018-01-06 18:07] rnystrom commented on #1049
Yup @weyert is exactly right!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-06 18:09] rnystrom commented on #1047
`IGListCollectionView` was removed as a requirement previously, so you don’t need to use it. We recently added another version back that improves performance, but isn’t a requirement. Feel free to use vanilla `UICollectionView`, or use the master branch for the latest features.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-06 18:09] #1047 closed

[2018-01-07 19:03] faze11 opened #1050 "not called"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2018-01-07 19:04] #1050 closed

[2018-01-08 09:04] AaronZhang2015 commented on #1049
@weyert Thanks

[2018-01-12 12:39] yusuftor opened #1051 "didSelectItem not being called"
I have a container view that embeds a `UIViewController` that uses a `UICollectionView`. This populates the cells through the use of a section controller that's also used elsewhere within the app. For some reason, when I select a cell, `didSelectItem` is never called. I don't have any tap gesture recognisers or anything on top of the view that is interfering with the tap - it just never calls `did

[2018-01-12 15:24] yusuftor commented on #1051
Turns out there was a rogue gesture recogniser somewhere that was interfering with it! Ignore this!

[2018-01-12 15:24] #1051 closed

[2018-01-17 12:08] tunidev commented on #35
@levi that would be awesome, any progress ? the  `DiffableBox` works but it adds unnecessary code to the project. I hope that we can use `Hashable` soon 🥇

[2018-01-17 17:26] jlaws opened #1052 "WatchOS support for Diffing"
It would be great to have the Diffing subspec for WatchOS, is there a reason why it's restricted to iOS/TVOS/MacOS currently?

[2018-01-17 18:14] Sherlouk commented on #1052
IIRC the issue was when I looked at this previously that the diffing code has pretty strong references to an IndexSet which is currently not in watchOS

This may be wrong though so definitely worth a check!

[2018-01-17 18:49] ajkolean commented on #1052
Just checked. Indeed, it looks like the issue lies with the property `section' of NSIndexPath being defined in UITableView.h of UIKit.

[2018-01-17 18:54] jlaws commented on #1052
Sounds like NSIndexPath/IndexPath need to be abstracted behind a protocol so that WatchOS can have its own implementation.  Would a change like that work for a PR?

[2018-01-17 21:08] rnystrom commented on #1052
`NSIndexPath` is available in watchOS, just not the UIKit extensions (section, row, item). We should be able to easily use the basic version of `NSIndexPath` (using actual _index paths_ to represent section/item).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 00:18] JEKos opened #1053 "Collectionview doesn't accept IGListCollectionViewLayout as custom class"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11.0~
- CocoaPods/Carthage vers

[2018-01-18 02:53] rnystrom commented on #1053
@JEKos your base class for that object is `UIcollectionViewFlowLayout`, that’s why it’s disappearing. Our layout inherits from `UICollectionViewLayout`.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 02:53] #1053 closed

[2018-01-18 04:01] MichaelLuoSyd commented on #454
Would be much appreciated if we can use Hashable instead of IGListDiffable in swift, as we have to include IGListKit into our core framework in my project, which is really unnecessary.

[2018-01-18 04:07] rnystrom commented on #454
Hey @MichaelLuoSyd! We’re brainstorming some ways to make IGListKit and Swift better. A new issue to discuss this as an option would be great!

You should be able to add all conformance via extensions, hopefully solving any import issues. Obviously IGListKit has to be imported _somewhere_ in order to use it, though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 05:15] MichaelLuoSyd commented on #454
@rnystrom Thanks very much for your quick response. The data models in the core frameworks are all RealmSwiftObjects. In my project, I tried to add extensions to the models as below:

import Foundation
import CoreFramework
import IGListKit

extension CompanyProfile: ListDiffable {
    public func diffIdentifier() -> NSObjectProtocol {
        return companyID as NSObjectProtocol
    }
    public f

[2018-01-18 07:08] JEKos commented on #1053
No it wasn't that.
I had to change in collectionView from Flow to Custom. The funny thing is, in my demo projects, doesn't need to do that. It says to Flow and the base class is UICollectionViewFlowLayout
![alt text](https://media.giphy.com/media/l0HUee9UeZusfMXK0/giphy.gif)

**Problem solved! Thanks for the help!**

[2018-01-18 17:07] rnystrom commented on #454
That’s really bizarre, sounds like some sort of project setup issue? I’d imagine that extending a class in another framework should work just fine 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 17:09] rnystrom commented on #35
Just letting you all know that I have a Swift bridge layer idea in progress that will handle all of this under the hood, letting you use Swift structs with IGListKit!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 17:14] levi commented on #35
Thanks for the update, Ryan!

[2018-01-18 22:47] MichaelLuoSyd commented on #454
that's what i thought. The temporary solution is to import IGListKit to the core framework to make the compiler happy

[2018-01-18 23:54] JEKos opened #1054 "How to pass item's index?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11.0~
- CocoaPods/Carthage vers

[2018-01-19 15:52] JEKos commented on #1054
@rnystrom Can you help me with that please?

[2018-01-19 19:24] rnystrom commented on #1054
@JEKos are you still using storyboard segues to navigate between view controllers?

[2018-01-19 19:25] JEKos commented on #1054
Yes

[2018-01-21 19:51] JEKos commented on #1054
@rnystrom Or my question is, how to add the didSelect method in ListSectionController (This what Tail Loading use)? It's only available in ListSingleSectionControllerDelegate?

[2018-01-21 20:23] jessesquires opened #1056 "Fix new asset catalog warning in iOS example project"
@rnystrom -- we need a 1024 icon for the iOS example project

also -- want to add the original resources for this to `Resources/` ? (the `.psd` file or whatever you have)

[2018-01-21 20:27] jessesquires commented on #1021
As of #1025, we're on danger 5.0 😄

[2018-01-21 20:27] #1021 closed

[2018-01-21 20:29] jessesquires opened #1057 "[Example project] Fix warnings in macOS example project"
There are a few warnings in the macOS example.

https://github.com/Instagram/IGListKit/tree/master/Examples/Examples-macOS

1. checkout the repo
2. open the mac example workspace
3. build

Warnings are about index paths APIs

[2018-01-21 20:38] jessesquires commented on #819
Looks like we're already updated to Swift 4.

[2018-01-21 20:38] #819 closed

[2018-01-21 20:40] jessesquires commented on #712
Also relevant to this task: https://github.com/venmo/synx

[2018-01-21 20:51] JEKos commented on #1054
I found the solution I added ListSingleSectionControllerDelegate and tried to make it like the SingleSectionStoryboard Example of the Library and then from `didSelect` method I did this:
[code]

[2018-01-21 20:51] #1054 closed

[2018-01-22 02:51] #1009 closed

[2018-01-22 19:14] jessesquires opened #1059 "Fix deadlinks detection"
We currently check our docs for deadlinks:
https://github.com/Instagram/IGListKit/blob/master/.travis.yml#L48-L54

This is supposed to ignore `.vendor/` -- but it **is not**:
https://travis-ci.org/Instagram/IGListKit/jobs/331557269#L1293

[2018-01-22 19:15] jessesquires commented on #1059
@Sherlouk -- could you take a look at this?

(I think you set this up originally, right?)

[2018-01-22 19:33] jessesquires opened #1060 "[Travis] cannot find cocoapods"
travis seems to be barfing on installing CP. not sure why.

https://travis-ci.org/Instagram/IGListKit/jobs/331557269#L428

[code]

[2018-01-22 19:48] jessesquires commented on #1060
Ahh, I *think* this is a caching problem.

Travis is caching old bundler versions.

[2018-01-22 20:33] Sherlouk commented on #1059
Looks like @rnystrom was the one who added the "not vendor" catch mine was super basic at first!

Looking at this SO post it looks like if we just drop the `.` it might fix the issue??
https://stackoverflow.com/a/15736463

Tad busy at the moment but if I get a chance I'll try and look into it, though the issue here appears to be simple shell stuff so anyone could pick this up without knowing the o

[2018-01-22 20:54] jessesquires commented on #1059
oh wait. i see the issue. we have `vendor`, it should be `.vendor`

[2018-01-22 20:54] jessesquires commented on #1059
putting up a PR

[2018-01-22 22:53] #1022 closed

[2018-01-22 22:53] #1059 closed

[2018-01-23 20:00] tunidev opened #1062 "Number and list of apps using IGListKit"
Is there a number (even approximately) of the apps who are using `IGListKit` ? and do you know which big apps besides Instagram ?

[2018-01-23 20:12] bogren commented on #1062
You can see some stats of CocoaPod usage here: https://cocoapods.org/?q=iglist

[2018-01-23 22:24] viktorgardart commented on #1062
I saw that youtube is also using IGListKit!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 07:34] heumn commented on #1062
Souce?

[2018-01-24 08:28] viktorgardart commented on #1062
`settings -> open source licenses` ![GitHawk Upload by viktorgardart](https://i.imgur.com/0xBTMkx.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 08:59] heumn commented on #1062
Rad!

[2018-01-24 09:06] tunidev commented on #1062
Pinterest is using `IGListKit` : iPhone Settings -> Pinterest -> acknowledgement
![img_5266](https://user-images.githubusercontent.com/4885143/35323506-0623ada0-00ee-11e8-9d93-bc8df201b8d4.PNG)
![img_5267](https://user-images.githubusercontent.com/4885143/35323507-063ff9ce-00ee-11e8-8931-d795e6086aab.PNG)

[2018-01-24 13:18] #998 closed

[2018-01-27 21:55] zachwhelchel opened #1063 "alwaysBounceVertical causes delay"
I'm seeing some strange behavior with a long/complex list. The content is long enough that the collectionView should "bounce" when you reach the top or end... and it does... but if I turn on `alwaysBounceVertical` then the UI locks up for a short amount of time when I scroll above the top or below the bottom of the list.

I'm using a ListBindingSectionController. So... not sure if that is contribu

[2018-01-27 23:00] #1063 closed

[2018-01-28 13:31] elrafael16 commented on #862
Hi quangPC

I never quite make this work. Sorry I am still new with swift and IGListKit.
Which controller do i have to delagate UICollectionViewDelegare, in the section controller?

Can you share the code on how did you implemented this?

I cant seem to figure this out.

[2018-01-28 17:22] heumn commented on #862
I do not really understand what is stopping you. Have you set yourself as the delegate and implemented the method? @elrafael16

[2018-01-29 16:16] RamblinWreck77 opened #1064 "[Question] Will this continue to be supported? Why so long since the last release?"
Great project!

I'm concerned that the last release was in August 2017... has this project been abandoned?

Currently it's full of warnings on Swift 4 / Xcode 9. I'd love to use it in my project, just want to make sure it's maintained going forward.

[2018-01-29 16:22] viktorgardart commented on #1064
I think this is the roadmap for the next release.
https://github.com/Instagram/IGListKit/milestone/6

[2018-01-29 16:34] rnystrom commented on #1064
Hey @RamblinWreck77! **Definitely** not abandoned. You can see the [commit history](https://github.com/Instagram/IGListKit/commits/master) is quite active.

You're right to call out that we haven't submitted a new release in a while. There's an internal change that is close to being merged right now, but we should cut a release _before_ that change since the current version is very stable.

I've b

[2018-01-29 16:34] #1064 closed

[2018-01-29 16:51] rnystrom commented on #1028
Closing due to inactivity. iPhone X is supported in Instagram with `IGListCollectionViewLayout`.

[2018-01-29 16:51] #1028 closed

[2018-01-29 16:53] rnystrom commented on #873
@marcuswu0814 closing due to inactivity, lmk if this is still an issue.

[2018-01-29 16:53] #873 closed

[2018-01-29 18:30] RamblinWreck77 commented on #1064
@rnystrom Awesome! Thanks for the quick reply!

[2018-01-29 19:03] #1056 closed

[2018-01-29 23:20] rnystrom opened #1071 "Remove unnecessary nil check on transitionDelegate"
Here:

https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListAdapter+UICollectionView.m#L221

and here:

https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListAdapter+UICollectionView.m#L235

[2018-01-29 23:22] rnystrom opened #1072 "IGListTransitionDelegate should inherit from <NSObject>"
Here:

https://github.com/Instagram/IGListKit/blob/master/Source/IGListTransitionDelegate.h#L13

[2018-01-30 00:50] Smiller193 opened #1073 "Element Not Accessible from Section Controller"
Hello, I am having a little problem with my CommentsViewController that is being implemented using the IGListKit. I have created a cell that is being used to render the comments. Each cell contains a picture, the text, and a button that lets you flag inappropriate comments or reply to comments similar to how it is done in instagram.

This is the CollectionVIewCell

    import Foundation
    import

[2018-01-30 18:02] #1073 closed

[2018-01-30 19:37] rnystrom commented on #1073
@Smiller193 did you find an answer? Would love if you could document to help others in case they get stuck!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-30 20:33] Smiller193 commented on #1073
No I didn't I just figured nobody cared to see it or help so I closed it

[2018-01-31 19:18] #1072 closed

[2018-02-01 08:07] Sherlouk opened #1077 "Implement Markdown Checker"
Removed in 23a66947b1fe5ce276612b5bc24386e765a2fc2b as it was continuing to search the vendor folder which was unintended,

more discussion here: https://github.com/Instagram/IGListKit/pull/1068

Just needs some bash knowledge to get that up and working again!

[2018-02-01 15:04] #1071 closed

[2018-02-01 16:02] jessesquires opened #1078 "Officially drop iOS 8 support"
- Remove any iOS 8 or 9 specific hacks or (deprecated) API usage
- Update Xcodeproj settings
- Update podspec
- Update travis CI

[2018-02-02 21:16] #1060 closed

[2018-02-03 19:30] Smiller193 opened #1082 "Memory Leak Using IGListKit?"
Through the help of everyone that contributes to this issues section I have been able to properly implement IGListKit for my comments section. I just want to start by saying thanks for that. Maybe this is an error and maybe this is not but I am using a viewController to display the cells that I use to render my comments. When I go to my viewController the memory spikes up which makes a little bit

[2018-02-03 20:05] rnystrom commented on #1082
Hey @Smiller193! Have you tried any debugging using [Xcode's retain cycle detection](https://medium.com/zendesk-engineering/ios-identifying-memory-leaks-using-the-xcode-memory-graph-debugger-e84f097b9d15)?

[2018-02-03 20:05] Smiller193 commented on #1082
Umm im not exactly sure how to do that tbh
but I could look into it

[2018-02-03 20:05] Smiller193 commented on #1082
@rnystrom

[2018-02-03 20:23] rnystrom commented on #1082
Yup that’s a good start! Take a look at that link and you can do some googling. Lots of resources on how to debug retain cycles that can at least help pinpoint what isn’t being released.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-04 03:49] Smiller193 commented on #1082
Okay so I found three leaks but im not sure how I go about fixing them now.. I don't really get any useful out of them it seems
@rnystrom

[2018-02-04 04:26] rnystrom commented on #1082
@Smiller193 what are the leaks?

[2018-02-04 04:39] Smiller193 commented on #1082
@rnystrom
according to the stack trace the leaks is in the commentSectionController and it may be coming from here
    override func sizeForItem(at index: Int) -> CGSize {
        let frame = CGRect(x: 0, y: 0, width: collectionContext!.containerSize.width, height: 50)
        let dummyCell = CommentCell(frame: frame)
        dummyCell.comment = comment
        dummyCell.layoutIfNeeded()
        l

[2018-02-04 04:43] Smiller193 commented on #1082
Is there any way to show what I see in the side menu

[2018-02-04 04:48] Smiller193 commented on #1082
@rnystrom these are the leaks and each time I click one of the mallocbytes it takes me to that function that I listed earlier

[2018-02-04 06:05] Smiller193 commented on #1082
oh wait I actually fixed it

[2018-02-04 06:10] Smiller193 commented on #1082
The leaks on my phone and the leaks on the simulator also seem to be different

[2018-02-06 11:20] jazz-mobility commented on #955
These changes are not available in 3.1.1, when are you planning to release them?

[2018-02-06 12:46] AQadar commented on #304
@otymartin can you please share the actual project with same scenario ? As i'm facing some trouble with same structure layout .

This design i'm trying to make where the upper part is horizental scrolling and down part is vertical scroll but with condition that when i drag up the down collection View then the upper collectionView should hide .

![imgpsh_fullsize](https://user-images.githubusercont

[2018-02-06 13:44] rnystrom commented on #955
@jazz-mobility wrapping up 3.2 now!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-06 14:31] rnystrom commented on #999
Good bug, but not world-ending. Leaving as a great starter task for someone!

[2018-02-06 14:32] rnystrom commented on #719
@agisilaos I know its been almost a year, but maybe you want to take a look at this again? 😉

[2018-02-06 19:22] brurend commented on #1046
@rnystrom I'm trying to implement a binding section controller with a working range as well but I couldn't figure it out how to prefetch each section controller. In my case its not a grid, its a feed with items similar to the binding section controller example.

[2018-02-06 19:27] rnystrom opened #1088 "Add Danger flag to ignore doc generation PRs"
Maybe we can add #docgen to the PR body or something. See #1085 for false-positive

[2018-02-06 22:32] jessesquires commented on #1088
your title didn't include `#docgen` though... ??

[2018-02-06 23:02] rnystrom commented on #1088
Haha I know, cause we gotta build it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-07 03:29] jessesquires commented on #1088
@rnystrom ... 🤔 I'm confused. Danger already checks for `#docgen` in the title of a PR...

[2018-02-07 10:54] Valerun666 opened #1090 "Make last section stretchable to superview instead of safe area"
Is it possible to set constraints for last ListSectionController of UICollectionView to Superview instead of Safe Area. Cause when I set constraints for UICollectionView it stretches as needed, but last section stays on it's place and doesn't stretch.

**Currently:**

![screen shot 2018-02-07 at 12 41 52 pm](https://user-images.githubusercontent.com/17543683/35912497-6c4a2790-0c05-11e8-8986-0bc39d

[2018-02-07 12:08] rnystrom commented on #1088
LOL ignore me

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-07 12:08] #1088 closed

[2018-02-07 12:23] rnystrom commented on #1090
@Valerun666 you probably want to just ignore the bottom safe area insets on the collection view. Would that work?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-07 12:53] Valerun666 commented on #1090
Worked. @rnystrom , thank you so much!

[2018-02-07 14:07] #1090 closed

[2018-02-08 20:34] yusuftor opened #1092 "Nested adapter collection view sizing"
I have an issue very similar to #332. I have a collection view inside a cell and I need to find the height of the collection view content in order to size my cell. This is a chicken and egg problem where I need the size of the content to size the collection view, but that doesn't seem to happen until the collection view has been sized. Is this solvable?

[2018-02-08 22:13] yusuftor commented on #1092
Ah solved it! For anyone interested, it was solved by reloading the context in a batch update in the `ListAdapterDataSource` like this:

[code]

Setting the collection view layout like this:

[code]

And finally retrieving the size of the collection view like this:

[code]

[2018-02-08 22:13] #1092 closed

[2018-02-09 02:52] aelam opened #1093 "footer is sticky when stickyHeader is true"
## New issue checklist

- [ x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 1.3.1
- iOS version(s): 11.2
- CocoaPods/Carthage ver

[2018-02-09 08:54] jurex opened #1095 "Invalidate ListCollectionViewLayout after device rotation"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s): 11.2.5
- CocoaPods/Carthage ver

[2018-02-09 14:39] dermaaarkus opened #1096 "Calculate dynamic UICollectionView insets"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s): iOS 10, iOS 11
- CocoaPods/Cart

[2018-02-09 16:18] rnystrom commented on #1096
Hey @dermaaarkus ! We automatically confirm and implement app flow layout delegate methods to make it easier to use flow layout with IGListKit. The assert is to warn you that your implementation will never get called.

You can set [section insets](https://github.com/Instagram/IGListKit/blob/master/Source/IGListSectionController.h) on the section controller itself. Looking at the SO link you should

[2018-02-09 17:07] jessesquires commented on #1095
Hey @jurex !

You should be able to do this in your view controller. See Apple's `UIViewController` docs and look for the `traitCollectionDidChange` callback.

[2018-02-09 17:07] #1095 closed

[2018-02-11 02:38] Jkurbs opened #1098 "Scroll to selected Index"
Hi, so here's the code of what I'm im trying to do :

I have two collectionview in one viewController:
The first one is from IGListkit, the second is a normal collectionview

The first one can scroll horizontally

When I select a cell in the "normal" collectionView, I want to scroll to the selected cell in the first collectionview.

Picture:
![27989719_10211130156751417_1045586660_o](https://user-

[2018-02-12 16:06] rnystrom opened #1099 "[RFC] Deprecate IGListStackedSectionController"
We don't use really `IGListStackedSectionController` in Instagram, and I've never used it personally. It was more of a science experiment that has turned into more maintenance than I believe is worth.

I've seen others using it, but I'd rather encourage a fork or link to another library that decides to keep support of this controller.

Any major objections?

[2018-02-12 16:07] rnystrom commented on #1098
Hey @Jkurbs, what's your question here?

[2018-02-12 16:07] rnystrom commented on #1093
Nice find @aelam!

[2018-02-12 16:08] elrafael16 opened #1100 "Implementing Protocol inside a Cell Delegate not working"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2018-02-12 16:42] rnystrom opened #1101 "[RFC] Change -diffIdentifier return type to NSString"
Been exploring this idea in #1081 and starting to really like it. If two different models happen to use the same identifier (say some primary key field from a db), we can namespace the identifiers automatically by combining the class string + identifier, reducing implementation complexity and diff collisions.

Also by typing the return value, we remove the ability for overly complicated identifier

[2018-02-12 16:45] rnystrom commented on #1100
@elrafael16 where do you set the `delegate` on the cell? It should be in the `cellForItem(...)` override.

[code]

[2018-02-12 17:09] elrafael16 commented on #1100
Ok that solved my problem. Thank You Very Much. :)

[2018-02-12 17:09] #1100 closed

[2018-02-12 17:27] #291 closed

[2018-02-12 19:48] jessesquires commented on #1101
+1

I mean, *in practice*, this is usually always a string right?

Also, using `NSString`/`String` is better for Swift inter-op.

[2018-02-12 19:52] rnystrom commented on #1101
Ya interior is a huge win here. Mostly always a string. This will be a pain in the butt internally, but we can drive it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-12 23:05] jessesquires commented on #1099
+1 🔪

[2018-02-13 11:27] sasquatchgit opened #1102 "Multiple Sections and Proper Implementation"
This is not an issue, I have struggled a lot trying to **implement** the following layout:

![img_8193](https://user-images.githubusercontent.com/9585608/36147336-dd24bfd4-10dd-11e8-9ac0-5f4d967eaf9e.JPG)
**Problems**
1. How to show Flight/Train/Bus data based on button selection. As of now, I have put the buttons in the section header and returning the type of Section Controller based on button s

[2018-02-13 22:43] RamblinWreck77 opened #1103 "Minor Code Analysis Issues"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s): Only tested on 10.3+ project
-

[2018-02-13 23:20] jessesquires commented on #1103
Thanks @RamblinWreck77 !

Please don't attach or link to screenshots. Can you paste the errors here that you're seeing?

[2018-02-13 23:20] rnystrom commented on #1103
Hmm the nil is fine. But I’m not sure about the import error. How could I repro this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-14 00:13] RamblinWreck77 commented on #1103
Weird, I can't get this to happen in the demo project but it happens in our workspace every time.

Sorry to waste your time. I'm at a loss to why analysis would yield different results for the same pod in different projects. We're not using any specialized settings

[2018-02-14 04:12] jboo1212 commented on #1043
Still not quite getting it =/...

[2018-02-14 16:00] weyert commented on #1043
What Ryan means that use different section controllers for different parts of the screen. For example, if you have a store. You could have different sections for example to show opening hours block, or the location of the store. I am having an array of models which need to be rendered, I do this by splitting up an Store model in value objects so it's easier to use with IGListKit. Below is a code s

[2018-02-14 18:00] jboo1212 commented on #1043
Hi Weyert,

Sorry I was unclear earlier about what I didn't understand!  My bad.  What I meant was if I just have a Comment object and nothing else that should be returned in the section controller, is it better to feed this into a wrapper array with the number of cells being returned as the number of items or to just return a section controller for each Comment...

class LiveChatComment: ListDiff

[2018-02-14 19:59] rnystrom commented on #1043
I’d try to think about the design of your system:

- Are all the comments part of a group where they share some business logic? Then they should probably be in the same S.C.
  - For Instagrams posts, app the comments belong to the same post, so they are attached to a top level model and live in the same S.C.
- Are the comments displayed independent of each other? If so, then they should each have

[2018-02-14 20:04] jboo1212 commented on #1043
Gotcha.  It would be the second option then.  Thanks so much @rnystrom | @weyert !

[2018-02-15 18:09] sasquatchgit commented on #980
Hi @mlight3, I am having the same issue. The section header is reloading indicating the parent section controller is reloading. I am getting the same >Invalid Update error.
Did you find a way to solve this? I can't understand how changing the `isEqual` function helps.

[2018-02-16 07:56] sasquatchgit opened #1104 "Choosing right diffIdentifier and isEqual when getting data from network call"
- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

I have display flight info in horizontal section. I have looked up `HorizontalSectionController` from example and using that. P

[2018-02-16 11:51] yusuftor opened #1105 "Cells do not deselect when scroll view delegate is set for ListStackedSectionController adapter"
Hi, I am using a `ListStackedSectionController`. One of the section controllers has multiple items. These can be selected, but there should only be one selected at a time (the others should deselect on new item selection). This works fine, until I set `adapter.scrollViewDelegate = self`. For some reason, it makes the collection view act as if `allowsMultipleSelection` is set to true. Even if I exp

[2018-02-16 13:45] rnystrom commented on #1104
What I would probably recommend is having your equality check the contents of the `flights` array. To improve performance, maybe create a flattened string of ids for the array contents. That way every equality check is constant vs O(n).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-16 13:47] #1043 closed

[2018-02-16 13:58] sasquatchgit commented on #1104
Thanks for your reply, but doesn't it mean that the whole section will be reloaded even if a single element of `flights` array change?

[2018-02-18 06:15] lingdachao opened #1106 "IGListKit how to support waterfall？"
as title

[2018-02-18 14:09] rnystrom commented on #1106
Sorry we need a lot more detail before can be of any use.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-18 14:35] Sherlouk commented on #1106
Maybe you're talking about the common waterfall style collection view layout?

https://github.com/chiahsien/CHTCollectionViewWaterfallLayout (for example)

If so there's another discussion on the matter at #877 - Otherwise, as Ryan said, please give a little bit more information so we can help you better :)

[2018-02-18 16:38] elrafael16 opened #1107 "Getting the indexPath of a Cell"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2018-02-18 17:37] rnystrom commented on #1107
Use this API on the `collectionContext` yo get the index. You shouldn’t work with index paths inside the section controller, since it’s section can change. However if you absolutely need an index path, you can access the section via `self.section` inside the controller.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-18 17:37] #1107 closed

[2018-02-20 01:33] rnystrom commented on #1104
@sasquatchgit yes that’s true. In this case I might recommend using `IGListBindingSectionController` so you get automatic cell-level diffing too!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 01:34] rnystrom commented on #1105
@yusuftor sounds really bizarre. Could you send us a sample app reproducing the bug? Then I can figure out what’s going on.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 01:40] rnystrom commented on #1102
@sasquatchgit for 1 that’s basically how I’d do it. Isn’t the point for things to reload? What is reloading that isn’t supposed to?

For 2, sometimes we just insert a really simple section controller between items. Keeps things simple.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 03:45] sasquatchgit commented on #1102
Thanks @rnystrom for replying.
For 1, I was looking for something which mimics UISegmentContol. Specifically, the App crashes by doing following:
i) Start async data fetch
ii) Change the Section (bus to train, eg) before data fetch is complete
iii) It crashes when the background data fetch is complete in previous section controller. Error being invalid update on collection view.
Also, is there a w

[2018-02-20 03:46] sasquatchgit commented on #1104
Ok, Thanks.

[2018-02-20 03:46] #1104 closed

[2018-02-20 03:48] rnystrom commented on #1102
How are you updating the collection view when data changes? The purpose of IGListKit is to make that almost impossible.

Re: downloading, you should have an in-memory store of some sort that holds on to all the data and just filter based on the selection of the segmented control.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 06:39] sasquatchgit commented on #1102
I am just loading a new section controller based on button selected in the header. >From TravelSectionController I am returning FlightSectionController or TrainSectionController based on header button selection

[2018-02-20 10:53] yusuftor commented on #1105
I think it'll be quicker if I just tell you how to reproduce it using the IGListKitExamples app, it's quite an easy one to reproduce:

1. In `StackedViewController` add `adapter.scrollViewDelegate = self` to `viewDidLoad()`

2. Add the scrollViewDelegate extension:

[code]

3. In `DisplaySectionController` add this code:

[code]

Now run the app and go to `Stacked Section Controllers` and click on

[2018-02-20 14:19] yusuftor commented on #1105
No worries, your wish is my command! I have set it up as stated above [IGListKit-master-2.zip](https://github.com/Instagram/IGListKit/files/1740357/IGListKit-master-2.zip)

[2018-02-20 17:28] calimarkus commented on #1101
❤️- let's do it. Namespacing would make the usage in complex projects much simpler.

If we want an easier transition, we could have an additional `identifierString` API and deprecate `diffIdentifier`. And then maybe in a later release we could completely drop it?

[2018-02-20 19:55] rnystrom commented on #1101
Tbh I'm fine wrapping up a 3.3 release w/ some iterative improvements and then start landing 4.0, breaking-change stuff like this. Makes it easier on ourselves.

I'm setting a target goal of May-June for 4.0.

[2018-02-21 04:32] KashishGoel commented on #999
@rnystrom I decided to take care of this. However, I'm not sure if this is something we need to write a test for. I don't think we need to write one for this change. Any thoughts on this?

[2018-02-21 16:20] rnystrom commented on #1105
Ok I can reproduce the behavior. Should note that it happens with any section controller, not just stacked. You can also repro this by setting the `collectionViewDelegate`.

This is a real bug! My bug in fact, introduced in #853 😅

The proxy checks for [didSelect Selectors](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListAdapterProxy.m#L29) but **not** deselect. Will get a

[2018-02-22 02:09] honest666 opened #1110 "How to get the height of the cell dynamically？"
I use the IGLIstKit framework nested in the Cell CollectionView, which is the height of the cell height, but the height of the IGlistKit cell write a fixed number, if i want to put pictures into the cell, dynamically update the cell height, I do not know if there is any way?

[2018-02-22 03:00] rnystrom commented on #1110
@honest666 if you want to dynamically update, you can call the invalidate APIs on the `collectionContext` from within a section controller. Check out the examples, we have a few with dynamic, changing heights using images and text.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-22 10:53] dermaaarkus commented on #1096
Thanks for your fast response. I've been on vacations... I will give it a try soon and report it!

[2018-02-23 01:55] rnystrom opened #1111 "Updating cell in binding SC fails when SC section changes"
Will followup w/ a unit test, but caught this recently:

- Using `IGListBindingSectionController`
- Trigger view model changes propogating down from `-[IGListAdapter performUpdatesAnimated:completion]`
- Model inserts before binding SC
- When the binding SC updates:
  - It [fetches a cell](https://github.com/Instagram/IGListKit/blob/master/Source/IGListBindingSectionController.m#L72-L73) calling [

[2018-02-23 10:45] dimaosa opened #1112 "How to make smooth expandable cell animation?"
Hi there, thanks for a great product.

From the example of a Mixed-Data, we could expand and collapse in ExpandableSectionController(), but the duration of animation is not matching with the duration of how cell changed.

If we change the duration from `0.5` to `4.0` sec. We will see how the cell collapsed immediately and collection view matches the animation duration 4.0 , here is gif with `4.0 s

[2018-02-23 13:01] rnystrom commented on #1112
I think you’d want to wrap the invalidation _and_ an animation of the cell contents at the same time.

[code]

The hardest part here is the fact that we’re transition ning between two label truncation states. Might have to get into Core Animation transitions to nail that down.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-23 14:44] dermaaarkus commented on #1096
I figured out how to use it, thanks!
Maybe my solution helps someone, so I post it here and close the issue 👍

---

I subclassed the the `ListSingleSectionController`, that I used.

[code]

And I use the class like this

[code]

[2018-02-23 14:44] #1096 closed

[2018-02-23 18:55] RishabhTayal commented on #158
Did anyone figure out how to do this?

[2018-02-24 17:52] KashishGoel commented on #994
@rnystrom this task seems to have already been completed.

[2018-02-24 19:15] #994 closed

[2018-02-25 02:35] kowongh opened #1113 "Cells dequeuing randomly and erratic"
## New issue checklist

- [ X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): iOS 11.2
- CocoaPods/Carthage

[2018-02-25 07:29] Recouse opened #1114 "Show emptyView with one item"
Is it possible to show emptyView with one item that used like header?
<img width="349" alt="screen shot 2018-02-25 at 12 28 29" src="https://user-images.githubusercontent.com/7093328/36639135-71eb746c-1a27-11e8-88cf-ec25f6b0ef62.png">

### New issue checklist

- [✔️] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.gi

[2018-02-25 14:11] rnystrom commented on #1114
It’s not, the empty view only shows up when it’s truly empty. I’d recommend using another section controller to display some empty view in this case.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-25 14:11] #1114 closed

[2018-02-25 14:32] rnystrom commented on #1114
Check out this example that we use in GitHawk

https://github.com/rnystrom/GitHawk/blob/master/Classes/Notifications/NoNewNotificationsSectionController.swift

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-25 14:35] Recouse commented on #1114
Thanks, I'll check it out.

[2018-02-26 00:01] kowongh commented on #1113
I went ahead and did some more debugging and found that it was similar to #498 where I had to set the insets on the collectionView:

`collectionView.contentInset = UIEdgeInsets(top: 0, left: 0, bottom: 0, right: 0)
`

as well as the inset property on the ListSectionController

`self.inset = UIEdgeInsets(top: 0, left: 0, bottom: 0, right: 0)
`

I didn't expected an edge inset to be set to something

[2018-02-26 00:01] #1113 closed

[2018-02-26 03:25] rnystrom opened #1115 "IGListAdapterDelegate needs Swift name of ListAdapterDelegate"
Will be breaking so let's queue for 4.0

[2018-02-26 17:23] jurex commented on #1095
Thanks @jessesquires 👍

I've ended up with something like this:

[code]

It's not probably the most effective solution, but it's working. Thnx again for great library✌️

[2018-02-26 21:08] andreaantonioni commented on #1115
I'll take this

[2018-02-27 14:00] honest666 commented on #1110
## How to make the picture  autoplay？
Like this effect
[](url)https://monosnap.com/file/oQyBhBLaD7p3UrIwFWfxC4WdGsNwOk

[2018-02-27 19:14] rnystrom commented on #1110
@honest666 there are scrolling APIs that you can use for this with timers or things. There are plenty of examples out there about how to make auto paging views that would be good to check out.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-27 19:14] #1110 closed

[2018-02-28 22:58] MichaelLuoSyd commented on #624
@rnystrom, am curious to know if we have any progress in igListKit working with Realm notification. If we use copiedObjects, any changes in Realm won't be reflected in the UI. However, if we add Realm notification to the objects array, it always causes crash as follows:
attempt to delete item 5 from section 0 which only contains 1 items before the update

Any help to solve this crash will be appre

[2018-03-01 01:09] MichaelLuoSyd commented on #624
@rnystrom, after tweaked the realm notificationblock, iglistkit works fine with realm now.

[2018-03-01 07:41] aelam opened #1117 "Section is invisible when numberOfItems is 0"
## New issue checklist

- [ x ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ x ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s): 11.0
- CocoaPods/Carthage v

[2018-03-01 17:02] rnystrom commented on #1117
@aelam this is some behavior we have in Instagram to hide items. It's possible that we could revisit this though especially if that's how `UICollectionViewFlowLayout` works. I'd be happy to take a look at a PR!

[2018-03-01 18:13] rnystrom commented on #624
@MichaelLuoSyd I bet that's from how Realm mutates its models. IGListKit is really safest w/ an immutable model architecture. We don't officially support integration w/ Realm (and I've honestly never used Realm), so I can't offer great advice on integrating the two.

[2018-03-02 23:17] Smiller193 opened #1118 "IGListKit Not Reloading When New Notifications Comes in"
So I have a notification screen in my app similar to Instagram which will let a user view whether people are interacting with them, new followers, etc.  Currently, things are loading however whenever a new notification comes in the collectionView doesn't seem to update. I have implemented a similar screen in my commentsViewController but it isn't working the same way when I mirror the implementati

[2018-03-03 00:05] Smiller193 commented on #1118
sorry to waste space but i fixed it

[2018-03-03 05:25] Smiller193 commented on #1118
Wait sorry I realize what I did wrong. It was my database call as usual nothing to do with IGListKit lol

[2018-03-03 05:25] #1118 closed

[2018-03-05 00:59] MichaelLuoSyd commented on #624
@rnystrom, Thanks for your reply. My workaround for igListKit with realm notification is to add notification to realm objects and call adapter.performUpdates in the changeBlock. In isEqual(), only compare object's primary key and those properties which feed the UI to drive the UI update. In didSelectItem(at index:), query Realm according to the object's primary key so the object will always be the

[2018-03-05 10:45] TimOliver commented on #624
I still haven't had an in-depth play with IGListKit (sorry guys!), but maybe I can talk a little bit about how Realm collections work in the hopes a better solution can be found.

Realm collection items are live-updating. Meaning if there is a Realm collection object representing the results of a query, and something else in the app causes the results of that query, that previous Realm collection

[2018-03-07 14:19] JeanVinge opened #1119 "UIRefresh makes sectionHeadersPinToVisibleBounds be at wrong y position"
- `IGListKit` version: 3.1.1
- iOS version(s): 11.2.6
- CocoaPods/Carthage version: 1.4.0
- Xcode version: Version 9.2 (9C40b)
- Devices/Simulators affected: All devices and simulators
- Reproducible in the demo project? (Yes/No): Yes

Add on the SupplementaryViewController available in IGListKit Demo

        let layout = collectionView.collectionViewLayout as? UICollectionViewFlowLayout

[2018-03-07 15:05] elrafael16 opened #1120 "NotificationCenter observer not working inside cell in IGListkit"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2018-03-07 18:00] heumn commented on #1120
Does the video start to play in the cell, you are just missing the callback on `videoEnded`?

[2018-03-07 22:57] Smiller193 opened #1121 "Advice on Small Pagination Tweak Using IGListkit"
So thanks to IGListKit I have gotten my comments section to load properly in real time with my database. I have also gotten pagination to work thanks to this link/guide
https://github.com/Instagram/IGListKit/issues/237

I only have two problems. Sometimes when I scroll down the spinner gets stuck. Also I want to sort of do what Instagram does where it loads the latest comments and then adds the ea

[2018-03-07 22:57] Smiller193 commented on #1121
Also somtimes the spinner pops up even when there is no more content to page

[2018-03-08 05:22] jlubeck opened #1122 "MKMapView inside cell"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

Is there a way to put a MKMapView inside a cell and make it interactive?
I was able to put it, but when

[2018-03-08 05:30] jlubeck commented on #1122
Nevermind, I was using a XIB with a UIView, instead of a UICollectionCell. Changing to UICollectionCell made it work...

[2018-03-08 05:30] #1122 closed

[2018-03-08 12:26] yusuftor commented on #1099
Sorry to be a pain but... objection! I'm using it for profile pages and a few miscellaneous views, where each section shares the same model, but does different things with it. For example, I have a profile page for a music artist that gets a "Profile" model from the server. I use a `IGListStackedSectionController` to handle the following sections from that profile model:
- A header image
- a name

[2018-03-08 13:07] elrafael16 commented on #1120
OK i got this. I just moved my NSNotification inside the ListSectionController.

[2018-03-08 13:07] #1120 closed

[2018-03-10 20:39] joseph-francis commented on #516
@rnystrom What are you guys using for this below image at instagram? Tableview?

![](https://cloud.githubusercontent.com/assets/15718311/22880399/49dacd10-f1e2-11e6-8069-3e8ec03d84d2.PNG)

[2018-03-10 20:58] LivioGama commented on #516
My bet would be UITableViewController to not have to handle the scroll and keyboard :D

[2018-03-10 20:59] joseph-francis commented on #516
Then, what is the best way to do this?

[2018-03-10 21:25] Ricardo1980 commented on #516
Wait, does UITableViewController manage the keyboard automatically?

[2018-03-11 13:39] LivioGama commented on #516
IMO, it is the only advantage of using UITableViewController :D

[2018-03-12 05:47] Amar04 opened #1123 "pls Help me"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'the cell returned from -collectionView:cellForItemAtIndexPath: does not have a reuseIdentifier - cells must be retrieved by calling -dequeueReusableCellWithReuseIdentifier:forIndexPath:'
*** First throw call stack:
(
	0   CoreFoundation                      0x00000001111c312b __exceptionPreprocess + 171
	1   lib

[2018-03-12 07:07] Amar04 opened #1124 "Assertion failure in -[UICollectionView _createPreparedCellForItemAtIndexPath:withLayoutAttributes:applyAttributes:isFocused:notify:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit_Sim/UIKit-3698.33.6/UICollectionView.m:1981"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2018-03-12 11:11] rnystrom commented on #1123
We will need more info to help debug. Repro steps, an example project, sample code... there’s nothing we can do with just a stack trace.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-12 11:12] rnystrom commented on #1124
Closing bc none of the info is filled out, can’t do anything with much more info.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-12 11:12] #1124 closed

[2018-03-12 14:54] honest666 opened #1125 "A bug was found and the scroll bar was blocked"
###A bug was found and the scroll bar was blocked
https://gyazo.com/1b0773543a04812431b2551d458a0c6f

[2018-03-12 16:53] brurend commented on #1123
`reason: 'the cell returned from -collectionView:cellForItemAtIndexPath: does not have a reuseIdentifier - cells must be retrieved by calling -dequeueReusableCellWithReuseIdentifier:forIndexPath:'`

@Amar04 The problem seems to be in your `cellForItem` method, could you send it here so we can take a look at it and make sure everything is right?

Also, the stack trace don't seem to have any direct

[2018-03-12 21:37] rnystrom commented on #1125
@honest666 can you tell us how to reproduce this or provide an example project?

[2018-03-12 21:42] rnystrom commented on #1121
@Smiller193 is there the chance that `ChatService.fetchComments(...)` doesn't execute the completion block? There isn't enough detail here on what could be wrong. It's likely not an issue w/in IGListKit since we do this extensively w/in Instagram.

If you want to reverse your list and do a _head load_, prepending new content, you can do that just fine! Just change your logic a little.

If you want

[2018-03-12 21:43] rnystrom commented on #1119
Hmm, I'm not sure if this is an issue w/ IGListKit since its `UICollectionViewFlowLayout` that does the layout. Have you done any debugging? Do you know where the wrong layout attributes are coming from?

[2018-03-12 21:44] rnystrom commented on #1103
Hmm, bummer. If you do find out where this is coming from, please let us know!

[2018-03-12 21:44] #1103 closed

[2018-03-12 22:52] #999 closed

[2018-03-12 22:52] #1093 closed

[2018-03-12 23:26] honest666 commented on #1125
In IGListKit/Examples/Examples-iOS/IGListKitExamples/SectionControllers/FeedItemSectionController , scrollbars are occluded by headView

[2018-03-12 23:58] Smiller193 commented on #1121
static func fetchComments(forChatKey eventKey: String,currentPostCount: Int,lastKey: String,isFinishedPaging:Bool, completion: @escaping ( [CommentGrabbed],Bool) -> Void){
            print(currentPostCount)
            var isFinishedPagingTemp = isFinishedPaging
            var currentCommentsArray = [CommentGrabbed]()
            var currentComment: CommentGrabbed!

            let commentRef =

[2018-03-13 02:17] rnystrom commented on #1121
@Smiller193 hmm so if there's an error is the completion block never called?

[2018-03-13 02:37] Smiller193 commented on #1121
what do you mean by error @rnystrom an error in the sense that it didn't page?
if so then no

[2018-03-13 02:46] rnystrom commented on #1125
Oh weird, yup I can repro this. Strangely if I switch the layout in that demo to use ours, it works just fine. Hmm.

[2018-03-13 03:12] Smiller193 commented on #1121
so how should I change  my else block to make it go away

[2018-03-13 03:13] Smiller193 commented on #1121
would it be something like this put in the else block
self.loading = false
seld.adapter.performUpdates

[2018-03-13 03:35] rnystrom commented on #1121
I think you need to make sure that the completion block of your networking is executed in every possible case (success or failure) so that the update call on the adapter happens.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-13 04:06] Smiller193 commented on #1121
ah okay I fixed that issue thanks
do you have a link to the loading older comments at the top example

[2018-03-13 09:01] sasquatchgit opened #1126 "How to Pass Back data from Embedded Section Controller to Parent Section Controller"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

I am using Embedded Section Controller for displaying a horizontal list as in Demo Project. I am able t

[2018-03-13 23:13] Ant4116 commented on #1119
No I don’t know can you fix it

[2018-03-14 05:04] lorixx commented on #1034
@aortegas Have you figured out your issue yet?

I got a chance to reproduce this locally, so my problem is that I am returning a nil UICollectionLayoutAttributes when implementing the

`override func layoutAttributesForSupplementaryView(ofKind elementKind: String, at indexPath: IndexPath) -> UICollectionViewLayoutAttributes?`
`

Even thought Apple document saying that we can return an optional UIC

[2018-03-14 11:52] honest666 commented on #1125
That's an ios original bug

[2018-03-14 13:32] marcuswu0814 opened #1127 "UICollectionView dealloc cause crash issue when using method `invalidateLayout `"
- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: **3.2.0**
- iOS version(s): **11.2**
- CocoaPods/Carthage version: **1.4.0**
-

[2018-03-14 13:46] marcuswu0814 commented on #1127
BTW, only first cell's height different with other cells cause crash but I don't know why.

[2018-03-14 15:29] PeterAntonsen commented on #690
I think there's something about, deletes and reloads using the index'es of the old-dataset, whereas inserts, uses the index'es of the new-dataset.. so you might want to check up on your relevant indexes as I think this is your issue..

[2018-03-14 16:20] yusuftor commented on #1126
Use a delegate pattern :) Have a look at the `StoryboardLabelSectionController` in the iOS examples app for a similar example of this. Essentially you pass the section controller to the delegate and then you can find the object by querying the adapter for the section index in the parent. In the examples app the delegate happens to be a view controller, but it'll be no different with a parent secti

[2018-03-14 16:50] rnystrom commented on #690
@PeterAntonsen this is actually a confirmed issue

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 16:57] PeterAntonsen commented on #690
@rnystrom, fair enough, just stumbled across this, weighing in from memory as it reminded of another thread I saw.. hope it gets solved :)

[2018-03-14 17:10] brurend commented on #1099
You could have one section controller to each section of the profile, so you would end up with 5 or 6 sections controllers instead of only one.

Thats the way I'm doing it and I believe @rnystrom mentioned in an issue that Instagram profile is built this way as well.

[2018-03-14 19:11] sasquatchgit commented on #1126
Thanks!

[2018-03-14 19:11] #1126 closed

[2018-03-14 21:22] zarzonis commented on #1099
@brurend how would that work? If I have for example 5 section controllers, then this means that the ListDiffable array that is returned from the `objects(for listAdapter: ListAdapter)` of the ListAdapterDataSource should have 5 items. My model consists of one User model that has all the data I need for this view controller. I think that it would work if I create 5 new models that each one of them

[2018-03-15 12:25] rafalszastok commented on #952
@rnystrom Is there a chance to have first-class embedded controller in the 3.3.0 release?

[2018-03-15 15:00] brurend commented on #1099
Take a look at #1035 , the first reply says one way of dealing with a profile like view.

My profile is a little bit simpler than Instagram, so I only needed 3 sectionControllers. The first one being the header with the user info, I used `IGListBindingSectionController` for this one. The second one I have some buttons and the third one for each grid item under those.

I guess it depends a little i

[2018-03-15 21:20] rnystrom commented on #952
@rafalszastok not likely because we don’t have a large need for it at Instagram atm. I’m more inclined to accept and review a PR on this (basically take the example and generalize it).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-15 21:25] rnystrom commented on #1127
Any time I’ve run into this it’s because there is a retain cycle keeping the collection view around. Can you try using the memory debug tool to see if there are any cycles?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-15 21:26] rnystrom commented on #1125
Going to close as this seems like a UIKit issue

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-15 21:26] #1125 closed

[2018-03-15 21:57] achan commented on #1004
@aleufms do you have a description of your culprit? I seem to have the same issue in two separate projects of mine using IGListKit: Scrolling loses inertia and goes to a complete stop when I'm trying to load more items to the feed.

[2018-03-15 23:19] AndrewSB commented on #76
@rnystrom did you end up testing the swift version? Was it any faster?

[2018-03-16 13:14] marcuswu0814 commented on #1127
<img width="1552" alt="2018-03-16 9 00 36" src="https://user-images.githubusercontent.com/6396757/37522294-7386ff26-295e-11e8-937a-7902eb04458c.png">
<img width="1552" alt="2018-03-16 9 07 31" src="https://user-images.githubusercontent.com/6396757/37522295-73b1e6fa-295e-11e8-88b4-c5c38eb6870a.png">

Not sure any retain cycle happened, but I think not.

[2018-03-16 13:25] #1098 closed

[2018-03-16 13:25] #980 closed

[2018-03-16 13:26] rnystrom commented on #981
Sadly don't think there's enough evidence here that its an IGListKit issue. If you can repro in a demo project that'd be helpful for us. Closing due to inactivity.

[2018-03-16 13:26] #981 closed

[2018-03-16 13:27] rnystrom commented on #1004
Closing due to previous inactivity. @achan if you want to open a separate issue w/ some details about your setup, that'd be helpful.

[2018-03-16 13:27] #1004 closed

[2018-03-16 13:28] #1034 closed

[2018-03-16 13:28] #1106 closed

[2018-03-16 13:29] rnystrom commented on #1123
Good call @brurend, no IGListKit in the trace at all. Closing b/c we're lacking info and nothing pointing at an IGLK issue.

[2018-03-16 13:29] #1123 closed

[2018-03-16 13:47] rnystrom commented on #1127
@marcuswu0814 thanks for the example! The problem here is you're calling

[code]

Inside `cellForItem(at index:)`. If you uncomment this line it works (obviously not updating your height correctly). IMO you need another design for updating the cell heights, it seems like `UICollectionView` is getting internal state corrupted by invalidating the layout when dequeuing cells.

[2018-03-16 14:24] marcuswu0814 commented on #1127
Really thanks. @rnystrom 😄
I solve this problem in `solution` branch and working well now, if someone need to implement the feature like this. (Dynamic height cell with text view input and calculate cell’s height using autoLayout) Just take a look. 😅

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-16 14:24] #1127 closed

[2018-03-16 15:01] rnystrom commented on #1127
I'll think about adding an assert to the invalidate method so that if you call it from w/in a cell dequeue that it let's you know things will probably break. Great question though, and really appreciate you providing a demo project! Makes it easy for me to help out 😄

[2018-03-16 15:53] achan opened #1128 "Scrolling loses inertia when rendering more items from data source?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s): 11.2
- CocoaPods/Carthage version: 3.

[2018-03-17 16:45] JUSTINMKAUFMAN commented on #208
@kornerr Interesting idea. I'd be curious to see what your approach (using RxSwift) looks like if you'd be willing to share.

[2018-03-18 12:47] marcuswu0814 commented on #1117
I created a PR #1129 for this and [demo here](https://github.com/marcuswu0814/IGListKit_ShowStickyHeaderWhenDataEmpty). 😃

[2018-03-18 22:46] AndrewSB opened #1130 "Supplementary views (apparently) don't work with new Swift fork"
### General information

- `IGListKit` version: `swift`
- Reproducible in the demo project: Yes, see http://github.com/AndrewSB/SupplementaryViewsNotSelf
- Related issues:

I've created a reduced example that shows the issue I'm running into. I set my section's `supplementaryViewSource`, but the section ends up not showing the supplementary view defined in that source.

[2018-03-19 10:47] yusuftor opened #1131 "Nested collection view still loading old data when cell updated"
I have a `ListStackedSectionController` composed of three section controllers. One of these section controllers (section controller A) contains an adapter/horizontally scrolling collection view. When the model for the ListStackedSectionController changes to update the cell for section controller A, the nested collection view still sometimes holds old data that should have been removed. The `listAd

[2018-03-19 11:59] yusuftor commented on #1131
False alarm! I tried creating a sample project and couldn't repro it so went back to my code and I think it was to do with calling update when the view controller controlling the `ListStackedSectionController` was removed from its parent view controller. This updated everything on screen except the collectionview, which is why it was showing old cells.

[2018-03-19 11:59] #1131 closed

[2018-03-19 16:04] rnystrom commented on #1130
@AndrewSB since that’s all still WIP lets keep the convo in #1081

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-19 16:04] #1130 closed

[2018-03-19 20:16] dennisgec opened #1132 "Crash when updating Section Data"
### General information

- `IGListKit` version: 3.2.0
- iOS version(s): 10-11
- Xcode version: 9.2
- Devices/Simulators affected: iPhone X
- Reproducible in the demo project? (Yes/No): No

### Issue

The issue I encounter is in case the info cell array is empty and I update the section data containing a non empty info cell array. Once updated the following crash occurs:

[code]

### Collection Vie

[2018-03-19 21:40] #1132 closed

[2018-03-20 02:37] honest666 opened #1133 "Can you share a swift carousel image code?"
## Can you share a swift carousel image code, I didn't find it
Left and right with the kind of gap, showing a middle, left and right exposed a little other cell's

[2018-03-20 03:57] ajanuar commented on #1105
Hello, is there any timeline for 3.3.0?

[2018-03-20 20:15] SirensOfTitan opened #1134 "ListCollectionViewLayout does not allocate UICollectionViewAttributes using layoutAttributesClass"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

See: https://developer.apple.com/documentation/uikit/uicollectionviewlayout/16

[2018-03-21 10:32] denisenkoaj commented on #448
Hello guys. Want to up this topic.
Is there any way to make space between SectionControllers inside IGListStackedSectionController ?

[2018-03-22 01:26] rnystrom commented on #448
Unfortunately we're planning on deprecating `IGListStackedSectionController` (see #1099), but even if we weren't this would require a custom `UICollectionViewLayout`.

[2018-03-22 01:52] rnystrom commented on #1121
@Smiller193 unfortunately I don't have any examples inverted tail loading 😞

[2018-03-22 01:52] #1119 closed

[2018-03-22 01:57] rnystrom commented on #1128
My best guess to what's going on is that the target offset after scrolling finished is relative to the content size _before_ the page finishes loading. Then the load finishes before the scrolling animation is done, but the resting offset has already been determined. So your new content loads but the scrolling just ends.

One idea to fix this is to make your loading trigger distance _way_ larger (o

[2018-03-22 02:05] rnystrom commented on #1133
Check out our [horizontal section controller example](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/HorizontalSectionController.swift) that has a horizontally-scrolling, nested adapter. You can just enable paging on the scroll view and size your cells to be about the width of the parent collection view.

[2018-03-22 02:05] #1133 closed

[2018-03-22 02:06] rnystrom commented on #1105
@ajanuar not too long! Wrapping up a few more PRs and internal projects first.

[2018-03-22 02:41] #1105 closed

[2018-03-23 10:02] #1112 closed

[2018-03-23 21:21] ccrazy88 opened #1137 "Add unofficial support for Xcode 8?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s): N/A
- CocoaPods/Carthage versio

[2018-03-25 16:07] rnystrom commented on #1137
A better option for this would be to make a fork and keep it updated. We don’t use Xcode 8 at Instagram, and by accepting a PR were signing ourselves up to support it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-25 16:07] #1137 closed

[2018-03-27 10:30] kornerr commented on #208
@JUSTINMKAUFMAN I cannot share the exact sample with IGListKit, however, I can share the idea implemented in a different sample.

The main concept is 'separation of concerns' by implementing so-called 'coordinator' pattern.

1. AppDelegate (serving as the main application coordinator) does here ( https://github.com/kornerr/ios-sample-chat/blob/master/sample-chat/AppDelegate.swift#L48 ) the followi

[2018-03-27 14:51] pkuklis commented on #644
Any updates on this issue?

I'm able to scroll to the correct offset but it always has a little stutter/visual glitch.

[2018-03-28 17:10] Malecks opened #1140 "Expose UICollectionViewDataSource methods `indexTitlesForCollectionView:` and `indexPathForIndexTitle:atIndex:`"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: All
- iOS version(s): All
- CocoaPods/Carthage version:

[2018-03-29 16:35] denmore commented on #620
This is a very useful thread - especially the @staticdreams pointing to the branch that supports UICollectionView. In my case, I am trying to get the entire IGListKit ListSection swipeable. Does anyone have experience with or advice on this?

[2018-03-30 07:44] matkuznik opened #1141 "Build error (carthage), xCode 9.3, swift 4.1"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s): unrelated
- Carthage version: 0

[2018-03-30 18:05] thevest commented on #1141
I've just run into this as well.

[2018-03-30 19:29] ethanjdiamond commented on #1141
+1

[2018-04-02 05:57] aelam commented on #1117
I've read #1129.  I had the same idea before.
Add a property like `showHeaderWhenEmpty` could be a more general solution.
Setting `showHeaderWhenEmpty` default value `YES` can work as before   😃

[2018-04-02 22:42] ccrazy88 commented on #1111
Hi! My team is interested in tackling a fix for this, since we'd like to use binding SCs but would run into this bug on a regular basis if we did.

Right now, we are wondering if there is any reasoning behind passing in `NO` as the parameter to `usePreviousIfInUpdateBlock:` in the linked method in your comment (and many similar methods) rather than using `self.isInUpdateBlock` or if this fix seems

[2018-04-05 19:33] Pranit-Harekar commented on #1027
@wmcbruce Not sure but I think this issue is related to the use of `topLayoutGuide`. Since iOS 11 `topLayoutGuide` is deprecated instead you should use `safeAreaLayoutGuide`. Again, not sure you need to check your layouts.

[2018-04-09 13:34] rnystrom commented on #1111
@ccrazy88 I'm pretty sure I fixed this locally w/ a hack by changing just [that line](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L872) to `YES`. Your test looks perfect 👌 I'd definitely review + merge a PR for this!

[2018-04-09 13:36] rnystrom commented on #1014
`IGListStackedSectionController` is a way to build SCs with _child_ SCs. That lets you decompose your controller logic even further into tiny units.

`IGListBindingSectionController` allows you to model your cells, the number of them _and_ their configuration, with view models. These view models are also diffed, provided cell-level insert/delete/update/move animations! It's my favorite component o

[2018-04-09 13:36] #1014 closed

[2018-04-09 14:15] leojkwan commented on #1014
Thanks for the clarification @rnystrom!

[2018-04-09 14:46] #1134 closed

[2018-04-11 11:25] YasinZhou opened #1145 "Texture performUpdatesAnimated crash"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s):10/11
- CocoaPods/Carthage versi

[2018-04-11 14:12] rnystrom commented on #1145
Can you file separate issues for these questions? Then we can keep on topic for each thread.

But for both questions we will need more information. I'm not sure what the "same action methods" note is, and to help at all w/ any crashes at the very least we need a stack trace.

[2018-04-11 15:01] #1111 closed

[2018-04-12 02:18] YasinZhou commented on #1145
that mean "the same return value".  the different logical processing   just a small problem.

when the crash happened :
[code]

[screenshots](https://upload-images.jianshu.io/upload_images/1024259-c341c9dcccb00594.png)

[2018-04-12 05:08] vincent-peng commented on #1026
Closing this issue now. This can be solved on the model setup.

[2018-04-12 05:08] #1026 closed

[2018-04-12 22:03] JUSTINMKAUFMAN commented on #35
@rnystrom First off, this is such a killer library you've built!

I'm just wondering if there's been any movement on the Swift bridge layer mentioned above for enabling the use of Swift structs? Thanks!

[2018-04-13 07:33] jbouaziz commented on #516
@artemkalinovsky Did you manage to get your solution working when using `adapter.performUpdates(animated: true, completion: nil)`? I'm getting the correct size but the same bug as in [this video](https://www.youtube.com/watch?v=_PVMvr_jtO0) when refreshing data.

[2018-04-13 08:32] Arcovv commented on #35
@vibrazy HI @danielgalasko
I really love your solution, but met some problems.

Seems `func diffable() -> [ListDiffable]` tries to map the value using `DiffableBox`.

When I want to use them in a `ListAdapterDataSource`, in `func objects(for listAdapter: ListAdapter) -> [ListDiffable]`  using your extension is really awesome.

But when I try to use in `func listAdapter(_ listAdapter: ListAdapter,

[2018-04-13 21:03] sasquatchgit opened #1146 "Show skeleton loading"
## New issue checklist

- [x ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

I want to show skeleton view while data loading using [this](https://github.com/Juanpe/SkeletonView)

[2018-04-15 10:23] bigship opened #1147 "Remote API returns duplicate items, triggers objectsWithDuplicateIdentifiersRemoved assertion"
The remote API (Unsplash api) I used may actually return duplicate items. IGListKit can catch this and crash the app.

My question is , in this kind of situation do I need to manually exclude all the duplicate items and then modify my data source array ? Currently I had to use a Set() object to check If I got duplicates. Just want to know the best practice for this.

[2018-04-15 15:47] dennisgec opened #1148 "Embedded Section Controller does not update."
# Issue

One way we use IGListKit at is to show one horizontal section controller, containing cells that scroll horizontally within a collection view that scrolls vertically. We made use of the example provided within this repository, but have encountered one problem. When  ```performUpdates``` is called on the adapter the first time, everything updated as expected, but a second refresh does not t

[2018-04-15 22:28] dennisgec commented on #1148
We were able to fix the issue by calling the following within the ```EmbeddedSectionController ```.

[code]

[2018-04-15 22:28] #1148 closed

[2018-04-16 14:47] weyert commented on #1147
I assume you mean this error: `Duplicate identifier %@ for object %@ with object %@`? This is an assertion added to the code, IGListKit doesn't support duplicate items with the same diffIdentifier best to filter them out manually.

[2018-04-16 15:18] bigship commented on #1147
@weyert Yes, I already did that.  When the API may return duplicate items, we better filter them out first before performUpdates.   Close issue.

[2018-04-16 15:18] #1147 closed

[2018-04-18 03:17] weikeyan opened #1149 "Fast refresh crash"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:3.0.0
- iOS version(s):
- CocoaPods/Carthage version:
-

[2018-04-18 16:05] sasquatchgit commented on #1105
Hey, is this solved? I am still facing this.

[2018-04-19 07:36] naeemshaikh90 commented on #848
I am also facing such issue with [ObjectMapper](https://github.com/Hearst-DD/ObjectMapper).

[2018-04-19 16:12] tobitech commented on #951
@ChristianLysne Please how did you solve this I want to do something that looks like this:
![img_9e5c9691aa8f-1](https://user-images.githubusercontent.com/8595853/39004211-b1d6d444-43f4-11e8-9cf5-e8ac0ece0a00.jpeg)
The items are stacked till they fill up the height of the cell and then wrap to the next cell

[2018-04-19 18:14] rnystrom commented on #1028
@tastysauce we recommend using `IGListCollectionViewLayout` for better iPhone X support. Things should work with `UICollectionViewFlowLayout` as well.

If you're encountering something new, please file a new issue w/ lots of info (example project, repro steps) and we can take a look. Thanks!

[2018-04-19 18:17] rnystrom commented on #1149
Hey @weikeyan! Glad you saw that this is working better in 3.2. I'm not exactly sure what the exact issue and fix was here, but you can check out [IGListAdapter.m's blame here](https://github.com/Instagram/IGListKit/blame/master/Source/IGListAdapter.m) if you're curious!

[2018-04-19 18:17] #1149 closed

[2018-04-20 09:36] jbouaziz commented on #620
I personally think that IGListKit is great because it allows you split what should be a complicated cell layout into multiple reusable components.

@denmore if you need to swipe an entire section and therefore multiple cells, it'd have to be pretty big and complicated. That being said and assuming (I might be wrong) that yours is, maybe consider using a long press gesture instead? Again, I don't k

[2018-04-20 10:05] weikeyan opened #1153 "Whether to support autolayout automatic computing row height？"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:3.2.0
- iOS version(s):
- CocoaPods/Carthage version:
-

[2018-04-20 13:34] rnystrom commented on #1153
Check out #516 for details on automatic cell sizing. We can’t offer official support for it given that we don’t use AutoLayout at Instagram, but others have documented some ways to make it work with IGListKit.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-20 13:35] #1153 closed

[2018-04-23 06:50] mayqiyue opened #1156 "IGListTransitionDelegate Issue"
## New issue checklist

- [✅ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ✅] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s): 3.2.0
- CocoaPods/Carthage version:

[2018-04-23 09:42] #1156 closed

[2018-04-24 10:32] yusuftor commented on #1040
Love this! Would also like to know if diplodocus was a considered name.

[2018-04-24 12:26] Recouse opened #1157 "Select item from view controller"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s): 11
- Carthage version: 0.29.0
-

[2018-04-24 13:35] weyert commented on #1157
Don't you mean didSelectItem?

Sent from my iPhone

[2018-04-24 18:26] rnystrom commented on #1157
@Recouse can you provide more detail about what you're trying to achieve? Maybe even an example project reproducing the error?

[2018-04-25 11:50] Recouse commented on #1157
It's not an error. I'm asking how can I select collection view item from view controller.
I can provide an example project, but here is my sketch:
![drawing 1](https://user-images.githubusercontent.com/7093328/39243960-85a5e78a-48a8-11e8-8356-095bed455207.jpeg)
I want to select collection view item on pages swipe.

[2018-04-26 17:11] Satchitananda commented on #516
@artemkalinovsky

Not working for me, it just continues to get cell height from sizeForItem(index:) from sectionController. My layout.estimatedItemSize is set UICollectionViewFlowLayoutAutomaticSize, code provided by you is inside Cell class:

[code]
It returns correct size for cell, but ListKit is using size from sizeForItem(index:)

[2018-04-26 19:20] brurend opened #1158 "Show header with empty data"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.3.0
- iOS version(s): 11.3.0
- CocoaPods/Carthage ver

[2018-04-27 00:10] gobetti commented on #1034
I found I have this only when I pass a completion block to `-[IGListAdapter performUpdatesAnimated:completion:]` - even if that block contents is empty. When the block is nil, I don't have this crash. And still, among all scenarios where I pass a completion block to this method, there is only one, in a specific scenario, that allows for this crash to occur... I'm not very hopeful I'll ever come up

[2018-04-28 02:36] siefix opened #1159 "Question: How to cache horizontal progress of carousels"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 4.0
- iOS version(s): 11.2
- Xcode version: 9.2

### Qu

[2018-04-30 15:56] Recouse commented on #1157
Anyone?

[2018-05-01 10:16] cemonet opened #1160 "All cells disappear when update while scrolling"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.3.0
- iOS version(s): All
- CocoaPods/Carthage versio

[2018-05-01 10:38] honest666 opened #1161 "A question about cycle reference"
## How to deal with  cycle reference?

The cell was loaded twice, and it's repeated ,What kind of situation is easy to cause this situation?

[2018-05-01 11:27] cemonet commented on #1160
## We found the same issue in Instagram feed

Please find a video showing the issue in Instagram:
https://www.youtube.com/watch?v=mX3iPJyoloU

[2018-05-03 22:34] brandenlivermore opened #1167 "Custom animation curve and alongside animations for `performUpdates(animated:completion:)`"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.3
- iOS version(s): 10.x, 11.x
- CocoaPods/Carthage v

[2018-05-07 07:35] eyzuky opened #1168 "Question: Is it safe to pass diffables to sections as data suppliers"
Hi, as the title implies.
Assuming I have a diffable that carries data. Could I pass the diff to the section, and use it as a view model for my section? Or will I have problems when refreshing with the diffs being destroyed and I might get crashes?

Thanks!

[2018-05-09 14:13] alexpersian commented on #1159
Have you thought about the possibility of Instagram solving this on the backend through analytics? The behavior seems to indicate that is how they handle this situation.

[2018-05-10 00:01] willawill commented on #988
Hey, I am taking this!

[2018-05-10 00:14] rnystrom commented on #988
@willawill this might be a little out of date after our relicensing! But please let me know if that’s the case.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-10 07:32] kleiberjp opened #1172 "Using Reordering interactive between two sections with multiple data"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:  `3.4.0`
- iOS version(s): `11.3`
- CocoaPods/Carthage

[2018-05-13 20:09] Satchitananda commented on #1148
@dennisgec You've saved my day! Had the same issue, didUpdate has happened but cells were not reloaded.

[2018-05-14 12:13] cemonet commented on #1160
@rnystrom any news on the issue? Let me know if you need more information. Thanks 🙏

[2018-05-14 12:41] rnystrom commented on #1160
@cemonet I'm almost certain that this is a `UICollectionView` issue where you're scrolling while also in the middle of an animated batch update. The UICV is updating its cells to/from, but the scroll changes the bounds, and the UICV doesn't have cells to animate in the new bounds.

You might want to try updating w/out animations.

An experimental feature we've been kicking around is having updates

[2018-05-14 12:44] rnystrom commented on #1172
If you check out the [source code](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListAdapter+UICollectionView.m#L69-L111), you'll see that the only moves supported are inter-section moves (cells w/in the same section) and sections that only have 1 item in them. You can't move items between sections at this time, and we don't have any plans to add that feature.

[2018-05-14 12:44] #1172 closed

[2018-05-14 12:48] rnystrom commented on #1168
@eyzuky we sort of do this in Instagram by supplying a diffable data source object that powers an embedded adapter in a horizontally-scrollable list.

If you want the data source to power the `numberOfItems`, I'd recommend using `IGListBindingSectionController`.

Is that what you're asking?

[2018-05-14 12:52] rnystrom commented on #1167
Right now there's not a better solution. I'd be open to an API on `IGListAdapterUpdater` or something that allows you to optionally wrap the `-[UICollectionView performBatchUpdates:completion:]` call w/ your own block. Maybe it's a param on the updater, or maybe its an optional param on update methods? Would be happy to review some proposals!

I'm going to close this out for now since its not supp

[2018-05-14 12:52] #1167 closed

[2018-05-14 12:53] rnystrom commented on #1161
Hi @honest666 not really sure what you mean here. Is this just missing some cleanup in `-[UICollectionViewCell prepareForReuse]`? If not, we need more info, especially on how this pertains to IGListKit.

[2018-05-14 12:56] rnystrom commented on #1159
@siefix it sounds like you have the gist of it correct:

1. List to scroll events in the nested adapter
2. Save the scrolled-to index (or just the offset) in the horizontal section controller
3. Use the display delegate APIs to setup your cell based on the last seen index (or bump it to the next one, whatever you want to do)

If you find a simple way to do this, I'm happy to review a PR to extend

[2018-05-14 13:15] rnystrom commented on #1158
@brurend I'm not exactly sure what the issue is here. The header just isn't displaying at all? Is there data in your list?

cc @marcuswu0814

[2018-05-14 13:16] rnystrom commented on #1157
@Recouse have you tried calling the cell selection methods on `IGListCollectionContext` from within the section controller? What all have you tried?

[2018-05-14 13:19] eyzuky commented on #1168
Hey @rnystrom, thanks for your reply.
Actually it is more a matter of data than delegating the section, eventually we created a protocol like this and we implement it in our ListDiffable:

[code]
Then inside the implementation we declare the DataType, we init the data and then in section for object we do something in this fashion:
`section.data = diffable.data`
This kind of did it for us.. as to y

[2018-05-14 13:36] Recouse commented on #1157
Yes, i tried:
[code]
in section controller.

[2018-05-14 17:11] brurend commented on #1158
There is no data in my list, the empty view is appearing as expected but the sticky header (search bar) is not appearing

[2018-05-14 23:07] cemonet commented on #1160
@rnystrom Thank you for your answer,

We also tried to delay updates during scroll but the UICV massive update at the end of the scroll is a really bad UX.

As you suggested, I tried to remove the animations during the scroll, but it seems that IGListKit already delay updates during scroll - as long as we do not change direction at the top or bottom of the scroll - do you know how to disable this?

[2018-05-15 02:49] zhubofei commented on #1160
This issue sometimes happens when I receive a new message while scrolling in iMessage. So definitely a `UICollectionView` issue.

[2018-05-15 04:19] marcuswu0814 commented on #1158
Hi @brurend

I'm not sure how did you implement it, but i guess you given an empty data for `ListAdapterDataSource` method like this:

[code]

if so, no section controller be created and IGListKit didn't know your header view. Thus, empty page show.

Sticky header only show if section controller exists and it's method `numberOfItems()` return `0`.
You can take a look [this example](https://github.

[2018-05-15 07:11] weikeyan opened #1173 "section is has A similar viewcontroller s viewdidload fun?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.2.0
- iOS version(s):
- CocoaPods/Carthage version:
-

[2018-05-15 09:57] #1173 closed

[2018-05-15 19:11] jeffbailey opened #1174 "Can someone shed some light on an IGAssert in IGListBindingSectionController?"
## New issue checklist

- [X ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): iOS 11.3

Can someone help me

[2018-05-15 19:39] jeffbailey commented on #1174
Thanks for the quick reply. I think our use case is a valid example of why it should not be an assert. We are showing/hiding questions in a survey. The header with the show/hide button is a section and each question is a section. Each section is using a IGListBindingSectionController. I believe the only way to animate the show/hide of questions is to call:
`adapter.performUpdates(animated: true)`

[2018-05-15 19:49] brurend commented on #1158
I see now what I was doing wrong, thank you for the reply

[2018-05-16 07:00] steveszk opened #1175 "Question:In this case, How to use IGListKit"
## New issue checklist

- [ X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s):iOS 11.3

I want to use IGList

[2018-05-16 10:01] devcxm opened #1176 "About UICollectionView dequeueReusableCellWithReuseIdentifier"
When `MyCollectionViewCell` has two different cell reuseIdentifier, IGListKit unable to auto register  two different cell reuseIdentifier cell class.
[code]

How to solve this problem? (sorry for my bad english.)

[2018-05-16 20:33] #1158 closed

[2018-05-19 15:58] rnystrom commented on #1175
@steveszk what have you tried so far?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-19 16:27] rnystrom commented on #1160
@cemonet we don’t do any delay while scrolling yet. We coalesce updates so that we can catch a lot of them into one (that’s why there’s an async in there).

Not sure I follow the changing direction part. Can you clarify?

I’m leaning towards closing this issue since it’s a complication of UICV internals and we aren’t prioritizing fixing it at this time.

<sub>Sent with <a href="http://githawk.com"

[2018-05-19 16:39] rnystrom commented on #1157
@Recouse does this work with normal `UICollectionView`? For context we do all cell and item selection manually since UICV has some funky internal behavior and state tracking.

That might be a better option here.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-19 16:46] rnystrom commented on #1176
@devcxm if you use the latest version of IGListKit, you’ll notice that there is a new dequeue method with a `reuseIdentifier` parameter that will allow you to do just that!

Does that answer your question?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-19 16:48] rnystrom commented on #1174
@jeffbailey no you should be able to still call updates. If the object is hidden, we’d recommend you just relive the item from the top-level array.

If you want to hide all the cells, but keep the section controller around, you can return 0 for `numberOfItems`.

Am I understanding your design correctly?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-19 17:13] jeffbailey commented on #1174
I think I understand what you're saying, but it does change our implementation a bit. Each question has its own section. When the survey first appears there's only one question shown (backed by 1 ListDiffable Question object and 1 section controller). When the "Show All" button is tapped, we call the adapter's performUpdates method to show all 5 questions. This results in all 5 ListDiffable object

[2018-05-19 20:56] rnystrom commented on #1174
@jeffbailey hmm your approach sounds totally fine. I'm actually not sure why you're even hitting the assert in this case? Is the first question model changing after "show all" is tapped?

[2018-05-19 22:54] jeffbailey commented on #1174
@rnystrom Ah yes, I was oversimplifying. The first model is really for the state of the "Show All/Hide" button and its state changes when tapped to show/hide the questions. The diffIdentifier for the model remains unchanged, but the isEqual is different because of the change of show/hide state. So IGListKit uses the same section controller instance and calls didUpdateToObject to give it the new mo

[2018-05-21 01:44] devcxm commented on #1176
I know that method, but the implementation of that method is the issues codes.
[code]

[2018-05-21 06:43] steveszk commented on #1175
@rnystrom i have no idea, one dataModel provided for one sectionController, in this case, there are two items in the sectionController, but only have one dataModel.

[2018-05-21 10:53] rnystrom commented on #1175
We’re not able to design every app. There are plenty of tutorials and examples out there to help you get started.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-21 10:54] #1175 closed

[2018-05-21 13:58] zhubofei opened #1178 "SwiftLint version"
Which SwiftLint version should we use to run the example project? I got 8 errors with a fresh pull from the master branch.

[2018-05-21 14:04] #1178 closed

[2018-05-21 14:05] zhubofei commented on #1178
nvm, forgot to run the script first 😂.

[2018-05-21 15:52] zhubofei commented on #759
@SergeRykovski @Sherlouk Can you still repro this bug in the latest build? Everything works fine for me now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-21 18:16] #759 closed

[2018-05-21 20:47] asimonv opened #1179 "Message Bubble"
Not really an issue, but more of a question really. How can I make a chat message bubble like the one on iMessages? More precisely, how can I apply some style to the entire section? The bubble's width must depend on the text width and have a maximum.

[2018-05-21 23:14] cemonet commented on #1160
@rnystrom Thanks again for your answer! Not sure on how you can help on this issue too..

While I’m scrolling my UICV and reaching the top/bottom of the feed, `scrollViewDidEndDecelerating` is called while I’m still scrolling. That causes all cells to disappear.

My UX looks so glitchy with this behavior. Do you think that using Texture can avoid this?

<sub>Sent with <a href="http://githawk.com">

[2018-05-22 00:05] zhubofei opened #1180 "Create a label for PRed issues"
Shall we create a new label to mark issues that are already PRed (waiting for next milestone to be merged)? Otherwise, we have to read through the comments to find out.

[2018-05-22 08:26] yusuftor commented on #1179
Inside your `UICollectionViewCell` have a UIView as the background of the message bubble. Apply a corner radius to this view to make it more bubble like. Put a `UILabel` inside the `UIView` and lay it out with autolayout so that the leading or trailing edge of the `UIView` is >= `some_padding` of the `UICollectionViewCell's` leading or trailing edge. That way it'll adjust the width of the bubble m

[2018-05-22 10:58] asimonv commented on #1179
Yes! That's why I ended up doing but without autolayout.
I thought that there was a way to use multiple cells to do this:
![img_0663](https://user-images.githubusercontent.com/7036160/40358385-10ae7ff6-5d8d-11e8-989d-d594643ceffd.jpg)

But maybe they actually do it! The top/bottom cell has top/bottom bordered radius and they all are padded with the same value!

[2018-05-22 11:59] rnystrom commented on #1179
Check out how I create bubbles composed of multiple cells in GitHawk as well.

https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Issues/Comments/IssueCommentBaseCell.swift

Both single-cell and multi cell strategies are ok! Just go with what works best for you.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-22 11:59] #1179 closed

[2018-05-22 12:35] asimonv commented on #1179
OMG thanks @rnystrom and @yusuftor ☺️

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-22 14:02] d3mueller opened #1181 "Interactive cell reordering using ListCollectionViewLayout causes crash"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): all versions
- CocoaPods/Cartha

[2018-05-22 23:18] vicki15 opened #1182 "How to get visible cells in ListBindingSectionController"
## New issue checklist

- [√ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [√ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

I am using IGListKit with two types of section controllers. The first is a regular section controller

[2018-05-23 19:02] vicki15 commented on #1182
Basically, if we look at the sample calendar project. How can I tell when the individual date cells are visible? Either as a delegate method that gets called for the cells, or even just as a getVisibleObjects I can call on scroll? Thanks!

[2018-05-24 02:54] asimonv commented on #357
@rnystrom uhm, what can I do if every messageCell is composed of multiple cells?
MessageSectionsController (ListStackedSectionController) -> single SectionController -> messageCell composed of multiple cells.

[2018-05-24 03:04] rnystrom commented on #357
@asimonv I'd recommend opening a new issue, this one is really old.

[2018-05-24 12:44] asimonv commented on #357
@rnystrom sure!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-24 13:14] gobetti opened #1183 "Split IGListAdapterDataSource?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: current master (290d592983713c3ef82eb4950ba773a0059563a

[2018-05-25 02:10] kgaidis opened #1184 "Suggestion: simplify IGListAdapter initialization to just pass `viewController`"
First, thank you for the great library.

In the examples, I noticed that every `IGListAdapter` is initialized like this:
`ListAdapter(updater: ListAdapterUpdater(), viewController: self)`

Every `IGListAdapter` get initialized with the same `ListAdapterUpdater` and it's an extra piece of information that is probably not important to someone just beginning to use `IGListKit`.

My suggestion is to a

[2018-05-25 09:30] sasquatchgit opened #1185 "Achieve UICollectionView's behaviour of allowsMultipleSelection = false"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

I am using EmbeddedSection Controller for showing horizontal scrolling list.
I want to have just one se

[2018-05-25 14:20] sheff1422 commented on #624
@TimOliver Do you have any updates regarding this topic? We are using Realm and IGListKit in our project and that is really interesting to hear more about best practice here.

[2018-05-26 00:00] rnystrom commented on #1180
Is this a normal practice? I’m not opposed, just haven’t seen this before.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-26 00:03] rnystrom commented on #1185
Right now we don’t have great first-class support for multi selection. You _should_ be able to use this API as-is already. Have you tried that yet?

FWIW we use the delegation pattern at Instagram which gives us _much_ more control over.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-26 21:20] zhubofei opened #1187 "Unused variable warning"
https://github.com/Instagram/IGListKit/blob/290d592983713c3ef82eb4950ba773a0059563a2/Source/IGListAdapter.m#L1083

Travis failed after a swiftlint warning: unused variable `collectionView` [-Wunused-variable]

[2018-05-27 02:43] rnystrom commented on #1187
Ahh from compiling out the assert. Any interest picking this up and fixing? Should be just changing the assert to use `self.collectionView` instead.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-27 03:33] zhubofei commented on #1187
Sure 😊

[2018-05-27 03:51] zhubofei commented on #1180
nvm, looks like there is already a PR Pending label.

[2018-05-27 03:51] #1180 closed

[2018-05-27 17:16] zhubofei commented on #1140
@rnystrom Shall we add this feature to 4.0?

[2018-05-28 01:53] YasinZhou opened #1189 "didUpdateToObject is meaningless"
- `IGListKit` version:3.2.0
If the model changed, the SectionController will be regenerated, so the didUpdateToObject is meaningless. Why not just write it in init

[2018-05-28 02:10] rnystrom commented on #1189
@YasinZhou sorry can you explain a bit more? Nothing has changed with how models are diffed or how this method is used. It’s still a fundamental method in IGListKit.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-28 02:28] rnystrom commented on #1189
@YasinZhou it sounds like your models aren't taking full advantage by using an identifier to uniquely ID data, and then an equality to inform when things change. If you follow the [Getting Started guide](https://github.com/Instagram/IGListKit/blob/master/Guides/Getting%20Started.md#diffing) and [Equality guide](https://github.com/Instagram/IGListKit/blob/master/Guides/IGListDiffable%20and%20Equali

[2018-05-28 02:46] YasinZhou commented on #1189
oh,I might have made a mistake, I'm all `self` returned in `diffIdentifier `, I need to write a test code

[2018-05-28 02:55] rnystrom commented on #1189
Ya, that uses the object _instance_ as the identifier, which means it'll always be seen as a new object when an instance of that data is recreated.

[2018-05-29 01:41] YasinZhou commented on #1189
Thank you very much.

[2018-05-29 01:41] #1189 closed

[2018-05-29 16:52] yood commented on #242
https://github.com/Instagram/IGListKit/issues/242#issuecomment-266448871 doesn't work for me. The results for `performUpdates(animated: false)` are rendered for a few frames before the completion block (with the `setContentOffset`) is called.

It looks like the issue is the `CATransaction` that wraps non-animated batch updates, which is committed before the completion blocks are called. When I com

[2018-05-30 12:06] rnystrom commented on #1184
I do like this idea! To be honest, I’ve been mulling over the idea of removing the updating delegate and making `IGListAdapterUpdater` an explicit type used by `IGListAdapter`...

I’m happy to review a PR for this. My only ask would be to put it in a category so we keep the `IGListAdapter` header and implementation free from the updated type.

<sub>Sent with <a href="http://githawk.com">GitHawk</a

[2018-05-30 12:10] rnystrom commented on #1182
@vicki15 you can ask the collectionContext for visible cells for the section controller. Is that what you’re looking for?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-30 12:11] rnystrom commented on #1181
@delannoyk able to help here?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-30 16:27] chandratjioe commented on #1176
I think I know the problem here.
in that method, you set `identifier` with combination of `reuseIdentifier` and `cellClass`
[code]

but, `registeredCellClasses` store `cellClass` as unique key, not considering `reuseIdentifier`.
[code]

For example, I want to register a class (let say `ClassX`) with two different reuse identifiers (`id1` and `id2`). Class `ClassX` is registered successfully with f

[2018-05-30 18:33] Megaman63 commented on #624
@sheff1422
Yeah, i have some suggestions.
Of course you will loose all benefits of lazy realm objects when you convert 5000 objects to plain at one time. In general, pass 5000 objects to datasource is not good idea...
I think there should be some kind of pagination (or infinite scroll) service, so when collection view scrolls to bottom you request next 20 objects and convert it to plain structs. S

[2018-05-31 01:18] #1057 closed

[2018-05-31 13:36] sheff1422 commented on #624
@Megaman63
Currently i have smth similar.
The flow looks like this
1) Fetch section groups with Result<YouRealmObject> in each group
2) When the IGList starts to load sections, it makes that section by section so results are loaded during the scroll. However the main problem here is that lazy loading is performed on the main thread. But due to the complexity of predicate it gives performance issue

[2018-06-01 08:02] devcxm commented on #1176
I know the cause of the problem, and I fork to [https://gitee.com/cxmapp/IGListKit](https://gitee.com/cxmapp/IGListKit) and fix the problem.

[2018-06-05 18:52] gobetti opened #1191 "Crash on -[IGListBindingSectionController updateAnimated:completion:]"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0 and later (tested until current master aka 0796e9

[2018-06-05 20:50] gobetti commented on #1191
So this was my attempt on reproducing the crash from the examples - I can anticipate that it did **not** crash for this!
![untitled](https://user-images.githubusercontent.com/12944582/41001817-60518704-68e8-11e8-9963-b9a7b41e2726.gif)

- The month is changed in CalendarViewController on every 1.0 second i.e. the section controller instance is replaced by a new one
- The number of days varies for e

[2018-06-09 06:55] d3mueller commented on #1181
So I don't know if this is useful information or not but I found something that might cause the problem:

I subclassed the `ListCollectionViewLayout` and printed out the visible `IndexPaths` every time the `layoutAttributesForElements(in:)` method gets called:
[code]

At the beginning it looks like this:

(I have 4 objects in this example)

Right before it crashes (that's when I move the dragged c

[2018-06-11 23:11] tamoyal commented on #158
I was debugging some pretty nasty stuff with regards to `iOS 11` and the `iPhone X` so I put together this project as a debug project. It hides a top section initially and you can pull down to reveal.

To do multiple levels, you basically need to manage the inset based on offset thresholds you set. I have this implemented but it's specific to my project so I'll just leave a few methods in the clas

[2018-06-12 18:58] kgaidis commented on #1184
I will close this since this is answered, and will reference ticket in a PR (soonTM).

Thank you!

[2018-06-12 18:58] #1184 closed

[2018-06-13 10:53] weikeyan opened #1192 "not Adaptive altitude height issuses?"
## New issue checklist
![12314](https://user-images.githubusercontent.com/7971897/41346971-dbe668be-6f3a-11e8-9812-03813bb9c6e6.gif)

this issuses？bug?
- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and

[2018-06-14 16:11] rnystrom commented on #1192
Looks like this is using self-sizing cells. Check out #516 where we are tracking everything related to self sizing.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-14 16:11] #1192 closed

[2018-06-20 11:14] onurgenes opened #1195 "Self sizing UIImageView"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): 11.4
- CocoaPods/Carthage versi

[2018-06-20 17:04] CavalcanteLeo commented on #825
I still need help on this, anybody has any idea?

[2018-06-22 14:19] yusuftor opened #1197 "Device rotation causes invalid size issue"
This question is similar to #1095, however the answer doesn't fix my problem. When I rotate my device from portrait to landscape, the width of the cell inside my collection view stays the same width as it was in portrait, although the height changes correctly.

For example, suppose I have some text that looks like this when my device is in portrait mode:

[code]

When I turn the phone into landsca

[2018-06-23 11:54] weyert commented on #1197
I think you need to invalidate the layout in `viewWillTransition` instead of performing items update
E.g. ```
        invalidateLayout(with: invalidationContext(forBoundsChange: .zero))
[code]

[2018-06-25 02:57] jboo1212 opened #1198 "didSelectItem and strange behavior"
### General information

- `IGListKit` version: 3.0
- iOS version(s): 11.2
- CocoaPods/Carthage version: 1.5.2
- Xcode version: 9.4.1 (9F2000)
- Devices/Simulators affected: iPhone 8+
- Reproducible in the demo project? (Yes/No): Yes
- Related issues: didSelectItem/didDeselectItem

Summary of issue: When I'm selecting a Photo grid item from my photo library, I expect to have a checkmark banner ima

[2018-06-25 14:59] rnystrom commented on #1197
@weyert is right. This isn’t anything to do with IGListKit either, just a collection view thing.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-25 14:59] #1197 closed

[2018-06-25 15:02] rnystrom commented on #1195
Unfortunately going to close since this is a layout issue and doesn’t seem to be an issue/question particularly about IGListKit. I’d check out #516 for known issues with self sizing cells.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-25 15:02] #1195 closed

[2018-06-25 15:09] rnystrom commented on #1174
@jeffbailey should we close this out?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-25 15:12] weyert commented on #1198
You would need to keep track of the selected items because when you scroll
up and down the cells are getting reused so it will reset the state of the
cell.

On Mon, Jun 25, 2018 at 3:57 AM, Jerome Isaacs <notifications@github.com>
wrote:

[2018-06-25 17:20] choujar commented on #1
@rnystrom if I'm not wrong, there's still not method for this? I can't seem to find a workaround... Thanks in advance!

[2018-06-25 17:22] choujar commented on #1
I'm trying to use this method, but I keep ending up with

`libc++abi.dylib: terminating with uncaught exception of type NSException`

Any ideas folks?

[2018-06-26 12:59] rnystrom commented on #1198
What @weyert said is exactly right. Don't rely on `UICollectionView` selection APIs: they aren't that reliable even without IGListKit.

Instead, track selection inside your section controller with a `Bool` similar to how we track [expansion in this demo](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/ExpandableSectionController.swift#L

[2018-06-26 12:59] #1198 closed

[2018-06-26 13:01] rnystrom commented on #1191
@gobetti trying to follow, w/ those code changes it _does not_ crash? What is the issue here then? Sorry for the delay in responding!

Also it seems like the crash in your trace is inside flow layout? Have you tried using `IGListCollectionViewLayout`?

[2018-06-26 14:02] #859 closed

[2018-06-27 18:01] Jauzee commented on #1034
I had the same issue and it was fixed by invalidating collectionViewLayout before reloading the adapter.

[2018-06-27 18:05] zhubofei opened #1199 "Remove IGListDiffOption?"
Shall we remove `IGListDiffOption` and use `IGListDiffEquality` only? I think rellying on pointer isn't safe. And Swift encourages the use of value-type in its design. Not sure if there is a deeper reason to support `IGListDiffPointerPersonality` in the first place 🤔.

[2018-06-27 19:14] gobetti commented on #1191
Hi @rnystrom ! I moved to another project since then, so I can’t go back anymore to dump more info on this. Also, I ended up “fixing” it by not using ListBindingSectionController anymore. Given that I tried to reproduce it in the examples project, by using even more severe conditions, and didn’t get a single crash, I’m assuming our use of this section controller class was so cumbersome that this c

[2018-06-27 19:14] #1191 closed

[2018-06-28 05:33] Smiller193 opened #1200 "Cell Can't Be Swiped"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): 11.2
- CocoaPods/Carthage versi

[2018-06-28 05:44] Smiller193 commented on #620
@staticdreams  an example would be nice

[2018-06-28 13:29] SirensOfTitan commented on #1174
@rnystrom : Would you support a PR making this assert a warning instead?

... We're using IGListKit alongside ReSwift (redux, I'm sure you're a bit familiar being at FB), and consider this example:

There's a contact section:
  -- First Cell is the contact name/profile picture, both of which are editable
  -- Second Cell is say, a list of friends
  -- Third cell is a button

1. User edits info: th

[2018-06-28 15:39] jeffbailey commented on #1174
I would also like to see the assert turned into a warning and would be happy to do a pull request if you supported that @rnystrom.

[2018-06-28 15:47] SirensOfTitan commented on #1174
Changing the assert to a warning is a definitely good first step here in my opinion, but I don't think its enough, as I don't think there's enough documentation on why this is.

Having ListBindingSectionController's `isEqual` methods always true is by far the most confusing part of this framework, and I think we need a bit of centralized discussion around why this is (as you'll inevitably run into

[2018-06-28 17:18] #1200 closed

[2018-06-28 19:31] #1187 closed

[2018-06-29 11:37] iOSUser110 commented on #680
Hi,  I am facing same issue , even with the latest version of IGListKit 3.4.0 , with using IGListKitCollectionViewLayout or using CollectionViewFlowLayout for layouting ,  I tried all the way but not getting the solution for this . like bunch of 4 to 5 cell with empty data on fast scrolling , its looking like very irritating , if somebody have solution for this

[2018-06-29 12:42] ManWithBear opened #1201 "White spacing on fast scrolling"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): 11.4
- CocoaPods/Carthage versi

[2018-06-29 13:21] iOSUser110 commented on #1201
yup , facing same issue with normal list as well

[2018-06-29 13:48] barankaansert opened #1202 "When hidesBarsOnSwipe is true SelfSizingCells are disrupted"
Thanks for an amazing library ❤️

When using SelfSizingCell and navigationController?.hidesBarsOnSwipe option is true, cells are distrupted on scrolling like overtaking each other.

How can i fix it ?

[2018-06-29 17:15] zhubofei opened #1204 "Failing test"
@rnystrom It looks like commit a1ee4c19f7a6cbd9899dba82deb5fb3ece669e9c add the test `test_withDuplicateDiffIdentifiers_thatDuplicatesAreRemoved` and it is failing.

[2018-07-02 11:43] iOSUser110 commented on #1201
if anyone found solution for this ???

[2018-07-02 12:37] zhubofei commented on #1201
@ManWithBear I would suggest check your `sizeForItem` first.

[2018-07-02 12:49] ManWithBear commented on #1201
@zhubofei can you be more specific?
We have 2 hardcoded cell sizes: portrait and square. All items initially in portrait size, on item appearance we perform asset request, and based on loaded data switch to asset specific size (portrait or square). Data fetched in buffered batch, so on scroll should be loaded only initial and final items.

[2018-07-02 13:13] zhubofei commented on #1201
@ManWithBear I checked the code and it seems alright. Have you ever run the project on a device or only in a simulator? The simulator has performance issue from time to time especially on lower-end macs.

[2018-07-02 13:18] ManWithBear commented on #1201
@zhubofei Yes, both projects (our and example) have issues on devices (tested on SE, 6, X)

[2018-07-02 13:45] zhubofei commented on #1201
@ManWithBear I have little time testing. But I do find that the white spacing only appears when you scroll past the first GREY cell and then quickly scroll back. So I suspect it's something to do with the colorProvider part instead of the ListKit. I suggest you look into that part once more. And if the problem still not solved I can get back to you by the end of the week when I have more free time

[2018-07-02 15:03] antonioallen opened #1206 "ListCollectionViewLayout Sizing for 2:1 Grid"
Hi! First I would like to say thanks for this amazing library! It has truly made working with collection views fun again 😃!

I'm trying to create a grid using IG's ListCollectionViewLayout where the first section controller (or cell) is twice the width of the normal cell. Similar to IGFeed. However, and this is probably due to my sizing (although I believe it is correct), I can't seem to get the t

[2018-07-02 15:11] richardtop commented on #516
@artemkalinovsky @Satchitananda while the proposed method using `preferredLayoutAttributesFitting ` does the job, it's especially low-performance, take a look at the [Advanced AutoLayout WWDC 2018](https://developer.apple.com/videos/play/wwdc2018/220/) talk.

A new instance of the AutoLayout engine is being created each time the method is invoked and then being discarded after just calculating the

[2018-07-04 18:11] eshwartm opened #1207 "Codable with IGListDiffable"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):11.4
- Xcode version: 9.0+
- Related i

[2018-07-04 18:43] eshwartm commented on #1207
Never mind, I think I got it.

[code]

Changed the way I am accessing the key `custom_obj_array` with `decodeIfPresent`.

[2018-07-04 22:38] #1207 closed

[2018-07-06 07:46] helele90 opened #1208 "sizeForItem repeat called such as insert one row or delete one row."
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): 11.3
- CocoaPods/Carthage versi

[2018-07-06 17:34] yusuftor opened #1209 "How to have a nested adapter inside a ListBindingSectionController cell?"
This is related to #829, but the last comment suggesting an answer to the question didn't work for me. I'm trying to embed a horizontally scrolling `UICollectionView` inside a cell that belongs to a `ListBindingSectionController`. The problem is that the `UICollectionView` doesn't update the cells inside it after the data has been updated.

This is the way I'm doing it:

1. Add a `UICollectionView

[2018-07-06 23:56] benvigier opened #1210 "Section Controllers with multiple cells, horizontally laid out"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s): 11.3
- CocoaPods/Carthage version:
-

[2018-07-08 00:42] benvigier commented on #1210
Quick update on this. I managed to achieve the desired result by creating my own CollectionViewFlowLayout for the nested Collection View.
I would still love to know whether the same result can be achieved using the (IG)ListCollectionViewLayout.
If not, maybe a future version of the framework could allow to specify the desired cell layout at the section controller level.

[2018-07-09 07:40] psi-gh commented on #1037
It's not IGListKit issue; you can easily reproduce it with default UICollectionView, 5000 items in it and Large Navbar turned on.
I don't know if i missed something, but for me it seems like a bug in UICollectionView.

[2018-07-09 07:56] psi-gh opened #1212 "Very low opening performance with huge amount of items"
- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

- `IGListKit` version: Current
- iOS version(s): 11
- CocoaPods/Carthage version:
- Xcode version: 9
- Devices/Simulators affec

[2018-07-09 17:57] jessesquires commented on #952
Bumped this to new 3.5.0 milestone since 3.4.0 was released already.

[2018-07-09 17:57] jessesquires commented on #672
Bumped this to new 3.5.0 milestone since 3.4.0 was released already.

[2018-07-09 17:58] jessesquires commented on #31
Clearing the milestone here since this seems like it's still in the pretty early stages of design, etc

[2018-07-09 18:07] jessesquires commented on #952
Nevermind, bumped to 4.0 since that's the next release. 😄

[2018-07-09 18:07] jessesquires commented on #672
Nevermind, bumped to 4.0 since that's the next release. 😄

[2018-07-09 18:53] #1182 closed

[2018-07-09 18:56] rnystrom commented on #1183
Returning to this. Love the suggestion! Would it be possible to make this a Swift-only API change? I'm not sure the ObjC API would be as familiar.

If anything, I'd be supportive of moving the `emptyView` API out to another data source. That one has always felt out of place.

[2018-07-09 18:57] rnystrom commented on #1199
I'd rather leave the option for people to decide how they want to diff. Maybe we can provide a Swift API that defaults to equality, but I'm not sure there's value in breaking the API at this point.

[2018-07-09 18:57] #1199 closed

[2018-07-09 18:58] rnystrom commented on #1174
@SirensOfTitan @jeffbailey Ya I'm in support of changing this assert to simply a warning. I could see the case for wanting to totally reload the section.

[2018-07-09 19:00] jeffbailey commented on #1174
Great. I'd put a pull request together.

[2018-07-09 19:03] rnystrom commented on #1202
@barankaansert unfortunately self-sizing cells aren't supported first-class by our team. I'd refer to #516 for some details.

[2018-07-09 19:03] #1202 closed

[2018-07-09 19:04] rnystrom commented on #1204
@zhubofei thanks for flagging! We'll get this working ASAP.

[2018-07-09 19:08] rnystrom commented on #1206
@antonio081014 we actually use a specialized `UICollectionViewLayout` for that page. I don't think that this exact layout will work with `IGListCollectionViewLayout` 😢

[2018-07-09 19:11] rnystrom commented on #1210
@benvigier could you provide a sample project so we could play around with the error in stacking cells? I wont have a lot of time to dig into this.

[2018-07-09 19:14] rnystrom commented on #1212
@psi-gh have you done any tracing? Where is the performance hit coming from?

[2018-07-09 19:30] gobetti commented on #1183
Thanks @rnystrom !

Since you can't split the protocol only for Swift, a change would be needed in ObjC too. As for naming, `NS_SWIFT_NAME` may be used:
[code]
Notice I've omitted the `listAdapter` parameter from the original signature - I'm not sure if it's useful in any scenario, personally I've never used with this method. If necessary, then readability becomes worse in Swift (unless there's a

[2018-07-09 19:52] zhubofei commented on #1204
@rnystrom Maybe we should reverse the commit entirely?  `objectsWithDuplicateIdentifiersRemoved` will always assert when there are duplicate ids.

[2018-07-09 20:08] jessesquires commented on #1199
Defaulting this to equality seems like the right thing to do, to me.

[2018-07-09 20:11] antonio081014 commented on #1206
@antonioallen , HAHA

[2018-07-09 20:30] rnystrom commented on #1183
One big reason I'm hesitant to make any ObjC changes is how many instances and documentation we'll need to update internally (literally hundreds lol). So these big changes have to be done very, very thoughtfully!

[2018-07-09 22:20] benvigier commented on #1210
@rnystrom Thanks for the quick response. I just put a quick project together that illustrates the issue.
https://github.com/benvigier/UITests

Since I am finally experiencing a bunch of issues with the custom layout I wrote over the weekend, I would really love a solution that works with ListCollectionViewLayout.
Thanks again for your help!

[2018-07-10 05:49] psi-gh commented on #1212
On first screen launch layout acquires sizes for ALL items. You can see it if put logs in
`- (CGSize)collectionView:(UICollectionView *)collectionView layout:(UICollectionViewLayout *)collectionViewLayout sizeForItemAtIndexPath:(NSIndexPath *)indexPath`
method in `IGListAdapter+UICollectionView.m`

[2018-07-10 20:07] jessesquires commented on #1212
@psi-gh How expensive is your size calculation?

[2018-07-10 21:08] jeffbailey commented on #1174
Pull request has been submitted. To test the change, I updated `IGTestDiffingObject::isEqualToDiffableObject` to not always return YES. Now it does a simple compare for the number of objects associated with the key. That actually triggered the assert that was there previously when running `IGListBindingSectionControllerTests::test_whenAdapterReloadsObjects_thatSectionUpdated`. Now that I converted

[2018-07-11 04:50] zhubofei commented on #1101
Swift uses Int as hashValue though

[2018-07-11 06:15] psi-gh commented on #1212
@jessesquires Even if i just `return CGSize(w, h)` it's takes some time to call `sizeForItemAtIndexPath` for each item.
But in most simple case, when you have dynamic size text label in your cell, size calculation will look like
[code]

[2018-07-11 12:00] weyert commented on #1212
I am wondering if using something like
https://github.com/GitHawkApp/StyledTextKit would improve the performance?

On Wed, Jul 11, 2018 at 7:15 AM, Pavel Ivanov <notifications@github.com>
wrote:

[2018-07-11 16:16] zhubofei opened #1214 "Move to travis-ci.com"
Don't think this has been brought up before. It seems travis-ci.org will no longer be supported past October 1, 2018. https://docs.travis-ci.com/user/legacy-services-to-github-apps-migration-guide/

[2018-07-11 16:40] zhubofei commented on #1214
NVM, travis-ci will do it on their end.

[2018-07-11 16:40] #1214 closed

[2018-07-11 17:38] jessesquires commented on #1101
@zhubofei What's your concern? I don't understand your comment.

[2018-07-11 17:43] zhubofei commented on #1101
@jessesquires nvm😂, wasn't thinking straight last night.

[2018-07-12 06:50] ManWithBear commented on #1201
We solve this issue internally:
- as mentioned in #1160 we update row adapter without animations (in our case items don't insert / delete often, and all item changes can be handled by item section controller)
- we add additional `distinctUntilChanged` on our Rx data streams for less ui updates

@zhubofei feel free to close issue if you don't need any additional information. Thanks.

[2018-07-12 06:51] #1201 closed

[2018-07-13 04:46] zhubofei commented on #1204
Fixed bee2178443ffcaff1d9135c4e094f74240433a62

[2018-07-13 04:46] #1204 closed

[2018-07-14 15:07] rnystrom commented on #1101
Received some pushback internally on how much churn this will cause. Plus on another project we've discovered that building your own key object performs MUCH faster than merging strings.

I'm in favor of closing this for now and maybe considering having a special Key type in the Swift bridge (instead of returning `String`).

Any concerns?

[2018-07-14 15:12] rnystrom commented on #1212
Yup this is just how `UICollectionView` works. The `UICollectionViewLayout` (no matter which type you're using) will need the layout attributes of _everything_ in order to find the [collectionViewContentSize](https://developer.apple.com/documentation/uikit/uicollectionviewlayout/1617796-collectionviewcontentsize?language=objc). We optimize this in Instagram a few ways:

1. Never initially load w/

[2018-07-14 15:12] #1212 closed

[2018-07-15 03:55] psi-gh commented on #1212
@rnystrom Thanks! Does it mean that UICollectionView reduce its performance with increasing amounts of data? For example, if i scroll down history list and load more and more pages?

[2018-07-15 12:53] rnystrom commented on #1212
@psi-gh as long as you aren’t invalidating all layout data every time, it’ll be fine. This is part of the reason IGListKit exists: providing a better way to update rather than calling `reloadData` every time.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-16 08:50] psi-gh commented on #1212
@rnystrom oh ok. now I have some more questions on collection view & instagram but don't want to offtop here. Where can i ask you, if you don't mind? :)

[2018-07-16 10:10] yusuftor commented on #1209
I fixed this by moving the update code for the event from the view controller to inside the `ListBindingSectionController`. All works as expected!

[2018-07-16 10:10] #1209 closed

[2018-07-16 11:23] rnystrom commented on #1212
Another issue is fine if it’s a different topic

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-18 03:05] zhubofei commented on #694
@rnystrom Maybe use Set instead of Array for operations?

[2018-07-18 12:50] iOSUser110 commented on #1201
@ManWithBear can you please explain your solution here , how you have integrated distinctUntilChanged

[2018-07-18 13:58] ManWithBear commented on #1201
@iOSUser110 our view layer subscribed on items stream from viewModel layer.
While investigating this issue we found that adapter gets way more updates that need to. We decrease updates count by using  [distinctUntilChanged](http://reactivex.io/documentation/operators/distinct.html). I'm not sure that it's helped a lot, since lag still happened after this change.
Real dealbreaker was turning off an

[2018-07-18 19:24] antonioallen commented on #1206
Oh ok, would have been nice haha. Thanks anyways!

[2018-07-18 19:24] #1206 closed

[2018-07-19 01:07] zhubofei opened #1217 "Add IGListSectionDelegate"
Came across this answer today https://stackoverflow.com/a/39015025/2977647. I recalled the discussion we had on #168. I know no one wants to touch #168 again 😂, but I think this might be the better way to enforce compile-time safety.

[2018-07-19 01:12] zhubofei commented on #1217
Well, the answer is for swift, so I'm not sure if it applies to obj-c as well.

[2018-07-19 07:04] zhubofei opened #1218 "Use dispatch_queue_get/set_specific instead of threadDictionary"
https://github.com/Instagram/IGListKit/blob/bee2178443ffcaff1d9135c4e094f74240433a62/Source/IGListSectionController.m#L22-L45

Should we replace these `NSThread` code with GCD using  `dispatch_queue_get/set_specific`?

[2018-07-19 13:55] rnystrom commented on #1218
@zhubofei what would we gain?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-19 13:57] rnystrom commented on #1217
@zhubofei can you catch me up on what this would provide?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-19 14:57] zhubofei commented on #1218
@rnystrom I don't think there would be a performance gain here. But Apple does recommend [using GCD instead of NSThread](https://developer.apple.com/library/archive/documentation/General/Conceptual/ConcurrencyProgrammingGuide/ThreadMigration/ThreadMigration.html). And I remember reading this blog [GCD's Main Queue vs. Main Thread] (http://blog.benjamin-encz.de/post/main-queue-vs-main-thread/) earl

[2018-07-19 15:57] zhubofei commented on #1217
@rnystrom This can enforce abstract methods to be implemented. But at the cost of code redundancy. Well, I think I'm gonna close this. `delegate = self` looks silly.

[2018-07-19 15:57] #1217 closed

[2018-07-19 20:54] rnystrom commented on #1218
Unless we’re fixing/improving something, I’d err on leaving this alone. Not sure what the downsides of how we use `NSThread` here is.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-19 21:39] #1218 closed

[2018-07-19 22:43] jessesquires commented on #1218
I think `NSThread` is technically incorrect, but not certain.

[2018-07-20 01:04] zhubofei opened #1219 "Incorrect documentation [IGListSectionController canMoveItemAtIndex:]"
https://github.com/Instagram/IGListKit/blob/bee2178443ffcaff1d9135c4e094f74240433a62/Source/IGListSectionController.h#L110-L118

`@param index` is incorrect. And we also need `@param return` here.

[2018-07-20 04:54] zhubofei opened #1220 "Missing documentation [IGListScrollDelegate listAdapter:didEndDraggingSectionController:willDecelerate:]"
https://github.com/Instagram/IGListKit/blob/bee2178443ffcaff1d9135c4e094f74240433a62/Source/IGListScrollDelegate.h#L39-L45
Missing `@param decelerate`.

[2018-07-22 13:27] zhubofei opened #1221 "_collectionView or collectionView?"
https://github.com/Instagram/IGListKit/blob/bee2178443ffcaff1d9135c4e094f74240433a62/Source/IGListAdapter.m#L79-L86

Shouldn't we check `collectionView.dataSource !=  self` instead of `_collectionView.dataSource != self` here?

[2018-07-22 13:29] #1221 closed

[2018-07-22 13:32] zhubofei commented on #1221
nvm, figured out setter doesn't work the same in Swift.

[2018-07-23 14:48] Aviral190694 commented on #1220
Hi. Added the Pull Request for the starter bug. #1222
Please let me know if this solves the issue.

[2018-07-23 23:45] zhubofei opened #1223 "Remove nibName argument from IGListReusableViewIdentifier"
https://github.com/Instagram/IGListKit/blob/bee2178443ffcaff1d9135c4e094f74240433a62/Source/Internal/IGListAdapterInternal.h#L20-L23

`nibName` was never used and should not be used to generate identifiers.

[2018-07-24 10:15] richardtop commented on #516
My impression is that the whole "Self Sizing Cells" feature was hacked overnight, as it fails to deliver layout of complexity higher than at WWDC demos.
I highly don't recommend using it anywhere beyond prototypes, since it lacks stability and acts like a broken black box.

Unfortunately, you don't know at which stage it will fail for you. In my case I had quite complex UI with supplementary / sep

[2018-07-25 08:36] richardtop opened #1225 "Question: Different endpoints per section"

[2018-07-25 10:00] richardtop commented on #1225
![image](https://user-images.githubusercontent.com/8013017/43194224-964493bc-900a-11e8-9bc2-f69560679c4b.png)
Another point is, that the UI looks similar to this screenshot, so I can't use one section controller per cell.

[2018-07-25 10:42] #1225 closed

[2018-07-25 11:44] threeknife opened #1226 "Cocoapods install IGListkit slow"
I found that IGListKit is always the lowest pod of our project.
So I use 'pod install --verbose' to find out why.
[code]

I think its no need to  git ls-remote, as we all know github.com is not fast as US.
Then I check the podspec of IGListKit, maybe is " :branch => 'stable' " let pod do this.
[code]

[2018-07-25 13:47] #1220 closed

[2018-07-25 21:40] #1174 closed

[2018-07-26 13:09] rnystrom commented on #1226
@threeknife the `stable` branch is the latest release. I’m not sure this is anything to do with CocoaPods, and tbh I’m not familiar with `ls-remote` or why it would be slow.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-26 13:13] rnystrom commented on #1201
@ManWithBear if you’re getting a ton of updates quickly, I’d try fiddling with the `coalescanceTime`. We found 16ms is ideal in Instagram, and will be making that the default soon.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-26 13:15] rnystrom commented on #694
@zhubofei array is the cleanest way to interop with other methods expecting arrays. Plus the diff internals should already guarantee there aren’t dupe operations.

Is there another reason we should use a `Set`?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-26 13:20] rnystrom commented on #1223
Wait is that correct? Shouldn’t it have been used?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-27 08:07] aelam opened #1227 "section displays under cells that their zIndex are greater than 1000"
## New issue checklist

- [ x ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ x ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- X

[2018-07-27 18:10] richardtop opened #1229 "Question: "Infinitely"-scrollable section with pagination"
I'm trying to achieve the following effect:
![screen shot 2018-07-27 at 20 46 41](https://user-images.githubusercontent.com/8013017/43338118-31801976-91de-11e8-8d43-791e19e7c96d.png)

**Q1:**
The layout consists of multiple sections. Each section consists of multiple cells, and the last section could be infinitely-scrollable (similar to the Instagram feed).

Instagram uses one "SectionController"

[2018-07-27 18:12] richardtop commented on #1227
Should be solved by introducing a larger `maxIndexPerSection`.

[2018-07-29 02:14] MussaCharles commented on #1229
For Q1. I am doing almost the same thing on my app, what I do is for the infinite scrolling SectionController I use single section per post .Like on your image above I have the first few sectionControllers with more than one cell so I load the first sections and after that I return infinite scrolling SectionController with single section per post but it appear as if it is a section with multiple c

[2018-07-29 19:23] richardtop commented on #1229
@MussaCharles thank you for your reply.

I picked the architecture described in [Advanced User Interfaces with Collection Views
](https://developer.apple.com/videos/play/wwdc2014/232/) video.
So, the DataSource (or "section controller", although it can control more than one section) is responsible for the data loading, therefore, removing the need to do any specific networking inside of a ViewCont

[2018-07-30 00:49] aelam commented on #1227
@richardtop i think the zIndex of items could not be descended, just set them a same zINDEX. then everyrhing is easier to control

[2018-07-30 02:52] richardtop commented on #1227
@aelam It can be descended too. Your idea would work as well. The difference in the zIndex affects appearance only when the two items overlap.

[2018-07-30 20:14] MussaCharles commented on #1229
@richardtop Great! I will have a look at that. About Q1 yeah you are right. I will try to find a better approach. Were you able to do network logics in each section separately?

[2018-07-31 02:29] aelam commented on #1227
@richardtop  As I understand `IGListCollectionViewLayout` is more powerful than FlowLayout, but it's FlowLayout,  I can't image a case that two items overlap.

[2018-07-31 03:34] MrBoog commented on #329
Hmm, I guess in this way we insert separators by without changing the origin y of those items.
But What if we need to insert different separators with different height?
Then I guess how to modify item attributes' minY would be a problem?

[2018-07-31 08:57] richardtop commented on #1227
@aelam easily, if you consider supplementary & decoration views. E.g. Whole-section shadows.

[2018-08-01 11:08] Recouse opened #1230 "prepareForReuse vs cellForItem"
Is it better to use `UICollectionView`'s `prepareForReuse` method or `ListSectionController`'s `cellForItem` method to reset some views state in cell?

[2018-08-01 12:47] yusuftor commented on #952
+1 for needing a first-class embedded controller, or some kind of permanent fix. I also get the same crash and the line `adapter.collectionView?.reloadData()` fixed it for me. I was struggling for days with this until I happened to come across this thread just now!

[2018-08-01 14:21] tasarimabi opened #1231 "ViewModel Dynamic height issue?"
How can i make vievModel height dynamic

switch viewModel {
        case is ImageViewModel: height = 375
        case is UserViewModel: height = 62
        case is ActionViewModel: height = 72

        case is CaptionViewModel: height = 48
//        case is Comment: height = 35
        default: height = 65

CaptionViewModel has a label and viewModel height has to change according to label height.

[2018-08-01 16:49] zhubofei commented on #1230
If you are working with your model (item), `ListSectionController`'s `cellForItem` is probably the better choice.

[2018-08-01 20:17] Recouse commented on #1230
I want to manage the selection state of cells.

[2018-08-02 03:29] fengBernard opened #1232 "collectionViewContentSize bug"
## New issue checklist
When I use custom collectionViewLayout ，set collectionViewContentSize。That method ‘cellForItemAtIndex’ does not execute。

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is

[2018-08-02 18:47] bridger commented on #516
I believe IGListCollectionViewLayout needs to implement a couple override methods in order to support self-sizing cells. Is there a sample project I can try my approach with?

I believe it should work like this:
1. A client sets estimatedItemSize on the layout

2. Right before the cell is put on screen, UICollectionView calls:
`- (UICollectionViewLayoutAttributes *)preferredLayoutAttributesFitting

[2018-08-03 14:46] richardtop commented on #516
Hi @bridger, please, take a look at my previous post regarding Self Sizing cells and specifically calling `- (UICollectionViewLayoutAttributes *)preferredLayoutAttributesFittingAttributes:(UICollectionViewLayoutAttributes *)layoutAttributes`.

You're correct about numerous bugs in the system. What's more important, the consequence of this approach is very low performance and janky scrolling experi

[2018-08-03 21:02] zhubofei opened #1233 "Better IGListDiffable guide"
https://github.com/Instagram/IGListKit/blob/master/Guides/IGListDiffable%20and%20Equality.md#iglistdiffable-bare-minimum

The guide states that we can use `self` as `diffIdentifier`, which can be problematic. Basically, this setup disables all the reloads of the same item.

[2018-08-05 12:45] rnystrom commented on #1230
@Recouse can you give us an example of your setup and options? Either is probably ok. Typically for selection you’d set a property on the cell every time `cellForItem` is called, so that should take care of “resetting” the cells state.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-05 14:06] rnystrom commented on #1232
@fengBernard what do you mean by setting the content size? The content size is calculated from the layout attributes of the entire list.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-05 14:07] rnystrom commented on #1231
@tasarimabi have you checked any of the examples in this project?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-06 13:11] Recouse commented on #1230
Got it. Thank you for the answers.

[2018-08-06 13:11] #1230 closed

[2018-08-06 13:48] rnystrom commented on #1232
@fengBernard do you think you could make a sample project demonstrating what is wrong? I’m afraid I still don’t understand what the issue is

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-06 17:11] yusuftor opened #1234 "Multiple ListBindingSectionController updates in quick succession makes completion block fail"
I have real time updates to the data within my `ListBindingSectionController`. This involves retrieving data from a server, updating local variables, then calling `self.update(animated: false)`.

When the real-time updates from the server is retrieved in quick succession, sometimes the `update(animated:)` function is not completed. This leads to inconsistencies within the section controller. Is th

[2018-08-06 19:53] rnystrom commented on #1234
What do you mean not complete? Like the completion block?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-06 20:15] yusuftor commented on #1234
Sorry, I mean that the completion block gets called but the `completed` variable returned from the update function is `false`. So I guess the update function gets cancelled because there’s already an update going on.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-07 01:59] fengBernard commented on #1232
OK, wait a minute.

[2018-08-07 04:36] fengBernard commented on #1232
Sorry, that is my problem. I set the width to 0 when I set the collectionViewContentSize.

[2018-08-07 04:37] #1232 closed

[2018-08-09 06:37] allenhsu opened #1235 "Question about logic of shouldInvalidateLayoutForBoundsChange in IGListCollectionViewLayout"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): N/A
- CocoaPods/Carthage versio

[2018-08-09 07:42] feixue299 opened #1237 "Two Shared instances are generated"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
 - IGListKit (3.4.0):
    - IGListKit/Default (= 3.4.0)

[2018-08-09 07:44] feixue299 commented on #1237
In this demo every time I click on the button cell instance, it toggles between the two Shared instances

[2018-08-09 09:39] allenhsu commented on #1237
Before a cell is removed from superview, it's not added into the reuse queue, so when you dequeue for the cell after update, it'll create a new instance for you. After the update, the first one is added into the reuse queue. So the next time when you call dequeue, you'll get the first instance.

It's expected behavior of `UICollectionView`, so it's neither IGListKit or UICollectionView's bug.

[2018-08-09 09:48] feixue299 commented on #1237
@allenhsu UITableView的行为会和UICollectionView一样吗，我自己按正常步骤写UICollectionView时未出现两个实例切换的情况，这个和cell的注册时机有关吗

[2018-08-09 10:06] feixue299 commented on #1237
@allenhsu

[2018-08-09 12:34] #1237 closed

[2018-08-09 12:35] rnystrom commented on #1237
Yup sounds like this is just the expected behavior

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-09 14:56] Arsalan-circadiatech opened #1238 "how to reload cells in Embedded collection view using ListCollectionViewLayout"
is there any way to reload cells or whole section using `EmbeddedCollectionViewCell` using  `ListCollectionViewLayout` . this peice of code isnt relading cells or sections...?

 let controller = adapter.sectionController(forSection: 0) as! ListSectionController
                 controller.collectionContext?.performBatch(animated: false, updates: { (batchContext) in
                  batchContext.r

[2018-08-10 02:11] allenhsu commented on #1237
@feixue299 nope, it's not related to registration of cells, it depends on how you reload data, with or without animation.

In your demo project, you're calling reloadData of UITableView and your own UICollectionView, while calling `performUpdates(animated: true, completion: nil)` of ListAdapter, they're totally different.

So during animation, all existing cells are **ON SCREEN**, and new cells ar

[2018-08-10 02:17] feixue299 commented on #1237
@allenhsu thanks. I rarely use animation updates to understand the differences.

[2018-08-11 23:35] rnystrom commented on #1238
Well need a lot more info to help out here. Reloading only happens when the cells data changes (`isEqualToDiffableObject:` returns `NO`). Is your data changing?

A sample project would go a long way to us helping.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-13 13:07] darko55s opened #1239 "Scrolling offset might be wrong when scrolling backwards using scrollToObject: method"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 11.4
- CocoaPods/Carthage version

[2018-08-13 15:59] HowardCsie commented on #242
@yood Thanks.
from
[code]
to
[code]
make it more smooth.

[2018-08-14 13:55] fabb commented on #1034
according to the [documentation of performBatchUpdates](https://developer.apple.com/documentation/uikit/uicollectionview/1618045-performbatchupdates):

[2018-08-18 01:46] davidseek opened #1240 "Constraints resizing issue with viewForSupplementaryElement"
## New issue checklist

- [ X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: pod 'IGListKit', '~> 3.0'
- iOS version(s): 11.4 simu

[2018-08-18 01:48] davidseek commented on #1240
I just double checked again, the only difference to the example is, that my list controller is a `ListBindingSectionController` subclass.

[2018-08-18 01:50] davidseek commented on #1240
This is my header implementation:

[code]

I had also tried to set the width constraint of the label, pass the size of the container and update the label's constant. No success at all. The size of the label remains the cell size of the nib.

[2018-08-18 01:59] davidseek commented on #1148
What I did and is the following:

I have a class with 20-30 values, but only on a change of 5 of them I actually want a reload of a single cell. So what I did is:

[code]

I defined equality based on those values and then in....

[code]

... I'm checking if the desired values of my object have been updated
and if so then I'm calling the following on the `didSet` observer:

[code]

Maybe this gives

[2018-08-18 18:21] BalestraPatrick opened #1243 "Non-class type `Tweet` cannot conform to protocol `ListDiffable`"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): 12.0
- CocoaPods/Carthage versi

[2018-08-18 19:00] davidseek commented on #1243
Referring to the following [best practices doc](https://github.com/Instagram/IGListKit/blob/master/Guides/Best%20Practices%20and%20FAQ.md)  you can use [this snippet](https://github.com/Instagram/IGListKit/issues/35#issuecomment-277503724) to make your struct diffable.

[2018-08-18 19:08] BalestraPatrick commented on #1243
Oh, I missed that. I got confused by the example code in this [PR](https://github.com/Instagram/IGListKit/pull/203).

[2018-08-18 19:08] #1243 closed

[2018-08-19 02:45] davidseek commented on #1240
Got it. Thanks for the lib. And thanks to John Sundell for inviting Ryan so I got pointed to it.

[2018-08-19 02:45] #1240 closed

[2018-08-21 01:08] davidseek commented on #523
1+ on a little doc about your version.
as i have tried to implement peek & pop and i'm getting incorrect indexPath values for the location

any chance to get some code snippets on your version? @rnystrom

[2018-08-23 09:36] attheodo opened #1244 "Best practice for "double" pagination"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

Hello everyone!

We have a list that displays photos grouped by album. Albums and their photos are bein

[2018-08-24 05:16] fans3210 opened #1245 "How does the diffIdentifier and isEqual values affects the detailed ui updates for a cell?"
## New issue checklist

- [ ✔️] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [✔️ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): ios 12 beta 10
- Xcode vers

[2018-08-24 06:06] fabb commented on #1034
But there is also a bug in UICollectionView that makes it crash when you try to remove a supplementary view in `performBatchUpdates`: https://openradar.appspot.com/radar?id=4929160833138688

[2018-08-28 02:41] mafeng-Bryant commented on #521
I also encountered this problem, can you give me some help?

[2018-08-30 10:35] GitMAM opened #1246 "Changing cells background color affect other cells background colors"
I have reviewed the 'README' File and docs
I have searched exsiting issues.

I have a EmbeddedSectionController and i wanted to change the color of the cell when pressed. But when i do so, some other cells i didn't click on change their color as well, not sure why.

here is the code :

`    override func didSelectItem(at index: Int) {
        guard let cell = collectionContext?.cellForItem(at: ind

[2018-09-01 10:20] maxifuchs opened #1248 "bindViewModel has wrong cellSize"
### General information

- `IGListKit` version: 3.4.0
- iOS version(s): 11.4
- Xcode version: 9.4.1
- Reproducible in the demo project?: Yes

Hello,
I think I found a bug: If you call `contentView.frame.size` inside your `bindViewModel` method, it returns the size of the xib (in storyboard), not the size of the cell, which was specified in the `sectionController(_ sectionController: ListBindingSec

[2018-09-07 21:08] siefix opened #1249 "Prefetching Images in Section Controller (via WorkingRangeDelegate) cause memory problems?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

I'm looking to implement prefetching of images on cells.

I noticed that in the Examples the [WorkingRa

[2018-09-07 21:17] siefix commented on #1159
Thanks.

Seemed to be able to accomplish this

My solution below (may not be the best way)

---------
At the `HorizontalSectionController` level I created a new property

`var offsets = [Int: CGFloat]()`

And using the `DisplayDelegate`

[code]

I cached the offset in `willDisplay` and `didEndDisplaying`

[code]

[2018-09-07 23:05] damian-rzeszot commented on #497
@edwinkcw any idea why `setNeedsLayout` and `layoutIfNeeded` are obligatory for valid size?

[2018-09-08 18:56] 10000TB commented on #1146
@sasquatchgit try this Skeleton animation ( [Skeleton](https://github.com/gonzalonunez/Skeleton) ), it can integrate with IGListKit just simple changes.

on-refreshing/loading (in refresh handler)
[code]
Then in your `cellForItem` function  in `*sectionController`, update view based on `isLoading`'s value
[code]
And on top of your existing collectionViewCell, you need to implement `stopLoadingAnim

[2018-09-10 11:07] robertodias180 commented on #521
I also encountered this problem, I traced it back to this method `- (IGListSectionController *)sectionControllerForSection:(NSInteger)section` returning `nil`

not sure if this helps

[2018-09-12 06:00] bluesource opened #1250 "scrollToObject: collectionView.conentSize.height == 0"
## New issue checklist

- [ x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: Latest on master
- iOS version(s): 11.4.1
- CocoaPods

[2018-09-13 06:00] harishprabhakaran commented on #237
@rnystrom I have to develop an application related to Tail Loading, I love the examples from IGL. I just wanted to know how to use my model object in place of items array. My Model is Codable.! Please help.

[2018-09-13 15:44] rnystrom commented on #237
@harishprabhakaran please open another issue with much more description and we might be able to help. Make sure you try a few things first too 😉

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 15:51] rnystrom commented on #521
@robertodias180 dynamic identifier meaning that it can be mutated? That will absolutely break! 💥

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 16:00] #1159 closed

[2018-09-13 16:02] rnystrom commented on #1249
Yes, you should be using a separate cache layer to efficiently cache image data instead of retaining the data on the SC. I’d recommend some of the memory/disk cache libraries like SDWebImage.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 16:02] #1249 closed

[2018-09-13 16:09] rnystrom commented on #1248
This is probably an issue with how XIBs work. We don’t use them at all in Instagram so I’m not surprised this hasn’t come up.

Can you repro the issue in an example app or better-yet unit test?

I won’t be able to work on a fix for this, but I’d gladly accept a PR!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 16:17] robertodias180 commented on #521
@rnystrom thanks for the clarification 😃

[2018-09-13 16:19] rnystrom commented on #1246
- Does the cell exist?
- Set the `contentView` background color instead
- What debugging have you done?
- Do you have an example project?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 16:31] rnystrom commented on #1245
This is an issue with cell reuse. Your cell is being reloaded. The original cell is removed from the window and it’s textview resigns. The same issue happens when you `reloadData` on a plain table or collection view.

Can you repro the issue and your setup in an example project? You’re using the binding SC so that should actually be reloading the cell if your identifier doesn’t change.

Also if th

[2018-09-14 11:01] rnystrom commented on #1244
I’d def put the paging logic inside each section controller. One note though is that the stacked SC is being deprecated! I’d recommend using the binding SC.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-19 01:34] fans3210 commented on #1245
working project:
https://www.dropbox.com/s/mhz3m31gvlqat5i/DemoIGIssue_work.zip?dl=0
demo video of working project:
https://www.dropbox.com/s/aq46v90v11gg2bz/work.MP4?dl=0

buggy project:
https://www.dropbox.com/s/5uej8q1i4oj2j1l/DemoIGIssue_buggy.zip?dl=0
demo video of buggy project:
https://www.dropbox.com/s/cfwhnnj2rtyeirw/buggy.MP4?dl=0

I have a number formatter in the textfield to force 2 di

[2018-09-19 01:34] fans3210 commented on #1245
@ryanolsonk pls check, tks

[2018-09-19 07:29] IHEARTCOOKIES commented on #653
Are you still working on this @hardikyagnik, do you mind if I take a stab at this?

[2018-09-19 17:39] hardikyagnik commented on #653
@IHEARTCOOKIES No, currently I am not working on this.

[2018-09-20 06:36] kmkarim commented on #1181
Running into the same issue here as well.

@delannoyk Not sure if you're the right person but saw the earlier tag on this - any insight into whats going on here?

[2018-09-24 08:28] GitMAM commented on #1246
Sorry it was my fault. i haven't set the color before changing it.

[2018-09-25 13:54] delannoyk commented on #1181
Whoopsie I didn't see the notification for the first time I was tagged here, sorry about that 😐

@rnystrom @kmkarim I haven't worked on that feature but I can definitely try to help. I don't have any insight yet but I'll investigate and keep you posted.

[2018-09-26 03:09] fndppx opened #1254 "crash issues"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:3.2.0
- iOS version(s):
- CocoaPods/Carthage version: io

[2018-09-27 11:21] magora-obukhov opened #1255 "ListAdapterUpdater doesn't request section controllers for unequal objects"
## New issue checklist

- [*] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [*] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.4.0
- iOS version(s): 11.4.1
- CocoaPods/Carthage ver