[2017-06-06 01:54] rnystrom commented on #799
@cikpis ya, you'll have to manually insert/delete items like you're doing, but that's going to get tedious and is prone for error. You might want to look at using `IGListBindingSectionController` which will diff+update within the section itself for you, all you have to do is call an update method and things will "just work".

[2017-06-06 07:14] cikpis commented on #799
@rnystrom thanks! Even though seems there is no example or guide of how to use it :)
Also I don't know if to be afraid of your "just work" xD

Anyway, do you mind to redirect me in the correct guide or example for `IGListBindingSectionController`? I haven found nothing about that, thanks in advance!

[2017-06-06 16:11] rnystrom commented on #799
@cikpis most definitely, we're working on a more in-depth guide now, but for the time being check out the calendar example:

- [View controller](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/ViewControllers/CalendarViewController.swift)
- [Section controller](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/Sect

[2017-06-06 16:59] cikpis commented on #799
@rnystrom sounds good. Alright then, keep me posted when a guide will be done. Would be nice to have an example with a UICollectionView like in `LoadMoreViewController.swift` but instead of add section, add elements to the section controller array model.

[2017-06-06 18:27] Shivaprasad2452 commented on #800
I am using UICollectionViewFlowLayout

below is the code snippet

- (UICollectionView *)collectionView {
    if (!_collectionView) {
        UICollectionViewLayout *layout = [[UICollectionViewFlowLayout alloc] init];
        _collectionView = [[UICollectionView alloc] initWithFrame:CGRectZero collectionViewLayout:layout];
        _collectionView.backgroundColor = [UIColor whiteColor];
    }
    re

[2017-06-06 19:13] vibrazy commented on #35
Just created an extension to `Sequence` to wrap `DiffableBox`.
[code]

[2017-06-07 10:11] PhilCai1993 opened #804 "Detecting some crashes on Fabric"
I'm using IGListKit for this [commit](https://github.com/Instagram/IGListKit/commit/a4e5ad862ea554c0f0f8eba0db8ca5f4fe7bc2b5).

And using a custom collectionview which still embedding the layoutSubviews in the No-animation block.

And we detect some crashes, not a lot, but exists.

Examples:
[code]

[code]

[code]
I've removed the performWithoutAnimation block in the next release of our app, hope

[2017-06-07 15:36] kanumuri9593 opened #805 "Design the section controller"
Hi, I am exited to use this framework in my upcoming project but I am stuck at design phase

I want to achieve something shown in the image
design the section controller itself,
My design requires the whole cell to float with rounded edges and background color and shadow effect
If I design one single cell and add those effects its achievable but the whole point of using this framework is to modula

[2017-06-09 03:11] ninokierulf commented on #800
+1

[2017-06-14 10:23] ajaybeniwal opened #806 "Embedded section controller always scroll horizontal direction"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:3.0
- iOS version(s):11
- CocoaPods/Carthage version:
-

[2017-06-14 14:33] rnystrom commented on #805
@kanumuri9593 sorry for the delay! We've discussed having some sort of "background view" API in #142 and #749, but have been pushing people to use `UICollectionView`'s decoration view API instead. [Here is a tutorial](https://stackoverflow.com/a/39218108/940936) and some [Apple docs](https://developer.apple.com/library/content/documentation/WindowsViews/Conceptual/CollectionViewPGforIOS/CreatingCu

[2017-06-14 14:33] #805 closed

[2017-06-14 14:41] kanumuri9593 commented on #805
Thank you for the response, currently trying out designing all my cells and supplementary views with some padding and shadow but for sure look into  UICollectionViewLayout

[2017-06-14 14:44] rnystrom commented on #804
@PhilCai1993 a few things:

#### Crash 1

Can you provide the full crash report here? What is the actual exception thrown?

#### Crash 2

Looks like an auto layout bug of some sort, not related to IGListKit. Full crash report?

#### Crash 3

Another layout bug, tho I can't tell if this is using Auto Layout. More details would be helpful! But again this doesn't look to be related to IGListKit.

Thi

[2017-06-14 14:44] #804 closed

[2017-06-14 14:51] rnystrom commented on #806
@ajaybeniwal so you're trying to get each section to flow vertically first, then expand to the right so you can swipe over to reveal another column of items, right?

- Are you using a nested `IGListAdapter` setup [like this example](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/HorizontalSectionController.swift)? Or is it just a plain

[2017-06-14 19:28] magonicolas commented on #620
@staticdreams Im trying to achieve what you did. If I understood correctly, apart of what you explicitly say, My Cell should have a property called delegate with should be of type SwipeTableViewCellDelegate.All the other steps you mention have been done, and I still can´t make it work. Its weird that the method are like Table View since it is a collection view. BTW, Your fork use the same pod inst

[2017-06-14 19:34] magonicolas commented on #620
Please add a Swipe action like table views.

[2017-06-15 07:39] icefox57 opened #807 "about -listAdapter:sectionControllerForObject: how can i get index of an object?"
if my datasource is [Any]  ,and i have two array:[String] want to use different section Controller
how can i get the index of an object

 like this

[code]

### General information

- `IGListKit` version:3.0
- iOS version(s):10.3
- CocoaPods/Carthage version:
- Xcode version:8.3.2
- Devices/Simulators affected:
- Reproducible in the demo project? (Yes/No):
- Related issues:

[2017-06-15 08:58] PhilCai1993 commented on #804
Yeah, I tried delete the dispatch, but the test didn't pass.
By the way, I guess it's the dispatch that prevents the detailed crash logs?

[2017-06-16 13:23] andreaantonioni opened #809 "Protocol inheritance is not working with ListDiffable"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 10.3
- CocoaPods version: 1.2.1
-

[2017-06-17 19:27] jessesquires commented on #809
Hm 🤔

At first glance, seems to be a Swift and/or bridging bug -- not a ListKit bug.

@andreaantonioni -- what exactly are you trying to do? does this compile? what if you `as!` cast?

[2017-06-18 04:32] FrescoFlacko opened #810 "Same item is being shown in all cells"
## New issue checklist

- [ x ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ x ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 10.2
- CocoaPods/Carthage ver

[2017-06-18 16:21] andreaantonioni commented on #809
Yes, the example I wrote above compiles with this warning:

![image](https://user-images.githubusercontent.com/15701493/27258721-44191846-5402-11e7-8240-9ce24ce14863.png)

but then it crashes... Instead using `as!` as you suggested, it works:

[code]
---

Here is an example of what I'm trying to do:

[code]

And it breaks when I call `adapter.performUpdates(animated: false, completion: nil)`

[2017-06-18 22:22] weyert commented on #555
Did this ever get solved?

[2017-06-19 03:00] rnystrom commented on #555
@weyert good call, I'm going to close this. We _did_ find a way to do this in Instagram, but its not the most elegant. Very "chicken or the egg" type of problem.

[2017-06-19 03:00] #555 closed

[2017-06-19 03:02] rnystrom commented on #809
@andreaantonioni is composing your class w/ both protocols, instead of just inheriting, an option? Not sure of your specific details, but composition seems like a more maintainable design to begin w/.

[code]

[2017-06-19 03:06] rnystrom commented on #810
@FrescoFlacko weird! Your setup looks correct. Mind sharing your `User` model too? I have a feeling something is off there. We should have asserting in place though if model conflicts occur, so I'm a little puzzled.

[2017-06-19 03:13] rnystrom commented on #807
@icefox57 if you need to do special handling for specific objects, we recommend storing them in an instance variable so you can just do a pointer equality check:

[code]

Btw I'd also recommend casting your array as `[IGListDiffable]`, the compiler will be really helpful catching errors before that `!` crashes at runtime!

[2017-06-19 03:13] #807 closed

[2017-06-19 06:02] hanab commented on #810
I am having the same problem , only the last item from 3 items is being displayed. Have you figured out why?  Thanks

[2017-06-19 06:53] andreaantonioni commented on #809
Yep, It could be a solution. But I'm still asking to myself why `is` operator is not working, maybe @jessesquires is right and there's a bridging bug

[2017-06-19 07:05] jessesquires commented on #809
Seems like this should work. I'd open an issue at bugs.swift.org

[2017-06-19 21:58] weyert opened #811 "Consider adding a warning for beginners"
## New issue checklist

I have just started using IGListKist from the beginning and I was wondering maybe it makes sense to output a warning the debug console when you forgot to set the `dataSource`. As obviously nothing happens then. Well, the `completion`-callback returns `false`. Maybe a quick pointer to that would help?

Feel free, to respond that I am just an idiot :)

[2017-06-19 22:18] weyert commented on #810
@rnystrom I am experiencing the same issue. My code is similar as above I am having a simple model class as follows:

[code]

[2017-06-19 23:19] FrescoFlacko commented on #810
@rnystrom

Here is the code:

`//
//  User.swift
//  Barbershop
//
//  Created by user on 2017-05-30.
//  Copyright © 2017 Codewater. All rights reserved.
//

import Foundation
import IGListKit

class User : NSObject, ListDiffable
{

    var username: String;
    var firstName: String;
    var lastName: String;
    var bio: String;
    var pk: Int;

    override init()
    {
        self.username

[2017-06-19 23:33] Sherlouk commented on #810
@FrescoFlacko At a quick glance I'd probably try ensuring the 'diffIdentifier' (primary key) is unique per item, looks to me as it's always zero!

[2017-06-19 23:35] FrescoFlacko commented on #810
@Sherlouk I am so dumb.. that was actually exactly why it wasn't working! Thank you very much!

[2017-06-20 00:10] rnystrom commented on #811
I love this! A quick console log would be super useful when calling [perform updates](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L272) or [reload data](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L308). We even have a logging macro setup already, [like this](https://github.com/Instagram/IGListKit/blob/master/Source/IGListSectionControlle

[2017-06-20 00:48] weyert commented on #811
I will make this change :)

[2017-06-20 07:58] Sherlouk commented on #810
@rnystrom Maybe not a bad idea to make it obvious in the [guide](https://github.com/Instagram/IGListKit/blob/master/Guides/IGListDiffable%20and%20Equality.md) that the primary key has to be unique?

[2017-06-20 09:44] svenJamy opened #813 "UICollectionView received layout attributes for a cell with an index path that does not exist"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:3.0
- iOS version(s):10.3.2
- CocoaPods/Carthage version

[2017-06-20 10:12] weyert commented on #810
That's what it says: `where the diff identifier uniquely identifies data (common scenario is primary key in databases). Equality comes into play when comparing the values of two uniquely identical objects (driving reloading).`

[2017-06-20 10:59] Sherlouk commented on #810
@weyert I for one rarely read paragraphs, I'd be more likely to see it if it was part of the bullet points. Though yeah I didn't see that phrase, so maybe it's okay

[2017-06-20 12:35] rnystrom commented on #810
Nice spot @Sherlouk!

@FrescoFlacko were you getting any log warnings at all?

https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdater.m#L106

Also I'll add another issue for a `DEBUG` assert [like this](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L494-L498) to search for dupe `diffIdentifiers`.

[2017-06-20 12:35] #810 closed

[2017-06-20 12:39] rnystrom opened #814 "Add debug assert when diffIdentifier is used more than once in array"
From #810

Add another [debug assert](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L494-L498) to check that object diffIdentifiers only appear once in arrays as they are updated.

Warning should make it clear which object + identifier is duped. Something like:

[code]

[2017-06-20 12:41] rnystrom opened #815 "Investigate why Swift objects with duped identifiers can appear more than once"
Followup from #810. Duped identifier models should have just been omitted.

[2017-06-20 12:42] rnystrom commented on #813
@svenJamy can you run the debug dump lldb command above? That will help us understand your setup a little more. Most importantly, what `UICollectionViewLayout` are you using?

[2017-06-20 12:49] weyert commented on #810
Haha, I missed the bit about needingto set a dataSource :)

[2017-06-20 13:10] weyert commented on #814
Let me try to reproduce this problem and I will make a PR for this

[2017-06-20 13:10] weyert commented on #811
Great thank you :)

[2017-06-20 13:35] cikpis opened #816 "sizeForItem in ListSectionController is not called after adapter.performUpdates(animated: true, completion: nil)"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.3.1
- CocoaPods/Carthage ver

[2017-06-20 14:43] rnystrom commented on #816
@cikpis what `UICollectionViewLayout` are you using? Can you provide an example project reproducing this issue?

That method may not be called when objects haven't changed when calling `performUpdates(...)`, but I'm confused why sizing isn't requeried when calling `reloadData()`. Would love to dig on this a bit more, but need a little more detail on your setup.

[2017-06-20 14:53] cikpis commented on #816
@rnystrom  sorry for this issue. Was my fault. Basically I was using the `UIScrollViewDelegate` of the `UICollectionView` directly instead of using the one of `adapter.scrollViewDelegate`. For this that methos wasn't called.

[2017-06-20 14:53] #816 closed

[2017-06-20 15:22] rnystrom commented on #816
@cikpis np! Thanks for posting an issue in the first place, helps document this stuff and I'm sure someone else will run into the same issue 😄

[2017-06-20 15:33] #811 closed

[2017-06-20 19:12] heshamsalman opened #819 "Swift 4 Examples Update"
Hey y'all,

I've been looking at updating this for Swift 4. Looks like a _very_ straightforward update -- the one possible issue is the change in the Swift-facing API due to the addition of existentials (🎉).

![screen_shot_2017-06-20_at_3_06_14_pm](https://user-images.githubusercontent.com/3388381/27351248-b1862e90-55ca-11e7-9c26-741be60f2aeb.png)

Wanted to double check with y'all about whether j

[2017-06-21 01:57] svenJamy commented on #813
we find the crash at the fabric but can't duplicate in the debug mode, the operation is I replace one of section model and meet the crash.

[2017-06-21 13:54] viktorgardart commented on #814
@rnystrom Will `valueForKeyPath` really work? Won't that force the users to extend `NSObject` in swift?

[2017-06-22 14:00] jessesquires commented on #819
nice 👌

[2017-06-22 14:00] jessesquires commented on #819
i think i'd rather wait until we're out of beta to push this to master

[2017-06-22 14:15] rnystrom opened #822 "Replace base alloc/init with new"
Codestyle nit. Any `[[MyClass alloc] init]` should just be `[MyClass new]`. Go green, save bytes.

Here are some examples, recommend searching Xcode or grep in the Source dir for "alloc] init];".

- [Display handler](https://github.com/Instagram/IGListKit/blob/3102852ce258274e8727f9094695a9c331e1abf3/Source/Internal/IGListDisplayHandler.m#L28)
- [Stacked SC](https://github.com/Instagram/IGListKit/

[2017-06-22 14:54] #814 closed

[2017-06-22 16:31] #822 closed

[2017-06-22 20:09] zhubofei commented on #752
@rnystrom @jessesquires @edmonston With UICollectionViewFlowLayout, supplementary views are placed on the left/right side of each section. But that's kind of lame... If you take a look at built-in emoji keyboard, each section has a sticky header on top. It looks nice but might not be easy to copy? (For example, headers have to have same height?)

[2017-06-22 20:31] kimdv opened #825 "Horizontal center paging"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 11
- CocoaPods/Carthage version:

[2017-06-22 20:36] gbtagliari commented on #620
@magonicolas you should subclass SwipeTableViewCell from https://github.com/mschonvogel/SwipeCellKit (important: branch "develop"!) and set delegate from cell!

[2017-06-22 20:42] cikpis opened #826 "[QUESTION] What are ListSectionController for you?"
Hi guys, sorry for bothering you but I have to ask a question. **What are ListSectionController for you?**

Let's start from zero.
For me a section is, like we are used to, a block where you display cells under it. A `UITableView` or `UICollectionView` can have more sections.

In IGListKit seems that section are cells. At least in what I got from the `IGListKitExamples` project.
E.g. in `MixedData

[2017-06-22 20:44] heumn commented on #825
If you are interested in the snapping to center and not the structure to do horizontal scrolling in a section. Here is how I did ut:

```adapter.scrollViewDelegate = self```

and then in the horizontal paging wrapping section controller:

[code]

The snap to cell is an extension on UICollectionView

[code]

[2017-06-23 01:58] hhb19900618 opened #827 "有没有oc版本呢？"

[2017-06-23 02:29] PhilCai1993 commented on #827
IGListKit is in ObjC, with Swift examples.

[2017-06-23 02:29] #827 closed

[2017-06-23 05:55] PhilCai1993 commented on #826
In my opinion, most examples show that a sectionController provides only one cell, and the diff is diffing between sections. Unless the "bind" section controller.

[code]
[code]

[2017-06-23 15:37] kleiberjp opened #829 "[QUESTION] there is a way to use IGListBindingSectionController with embedded section controller for horizontal view?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.3
- CocoaPods/Carthage versi

[2017-06-23 15:40] heumn commented on #829
I am not really sure what you mean. Maybe you could sketch out what you want? 🤔

[2017-06-23 15:52] kleiberjp commented on #829
@heumn i've update the issue description, for put more info, hope it help.

[2017-06-23 20:31] rnystrom commented on #829
@kleiberjp I'm not totally sure what the problem is here. What are you expecting to happen?

To be fair, I haven't tried a setup like this. I'm sure its possible, but there might be some weird behavior.

One thing to note: the `EmbeddedCollectionViewCell` shouldn't be the `IGListAdapterDataSource` here. It should be the section controller that contains the horizontal list. Remember that cells will

[2017-06-23 20:36] rnystrom commented on #826
@cikpis if your data is organized so that each `MyModel` has a title, grid item, and user, then yes you'd want to organize your data _and_ section controllers just as you have them.

The "Mixed data" demo is demonstrating how to mix different types of **unrelated** data into a single list.

For a demonstration of using data and dynamic sections+cells, check out [this one](https://github.com/Instag

[2017-06-23 20:36] #826 closed

[2017-06-23 20:38] kleiberjp commented on #829
@rnystrom  ok what i expect is, that using the binding protocol on `Embedded Cell` , and to make update to al the Binding Section, the cell horizontal doesn't make a reload again.

I mean, at example, if it's pressed the date number 17 (that is visible because i did scroll until that cell), when select the cell, bind the data for the another cells, and the horizontal cell keeps on same position, a

[2017-06-23 20:52] cikpis commented on #826
@rnystrom Great, thanks!

[2017-06-23 20:54] cikpis commented on #826
@rnystrom but in the link example seems that the data are threatened like sections not cells :)

[2017-06-23 20:57] rnystrom commented on #826
@cikpis I'm not sure I follow. Each of [these Post models](https://github.com/Instagram/IGListKit/blob/02f28fc994195fd5514c3ce66d0fad2d7226680f/Examples/Examples-iOS/IGListKitExamples/ViewControllers/ObjcDemoViewController.m#L37-L42) will end up powering a single section in the `UICollectionView` (so 4 sections). Then judging by the number of comments in each, there will be a variable [number of c

[2017-06-24 07:23] cikpis commented on #826
My bad. I read the class by mobile phone and o didn't realize that. Sorry :)

Yes now everything is like should be :)

Thanks!

[2017-06-25 03:40] flybrotherlixiang commented on #800
@Shivaprasad2452 @ninokierulf

Section insets are applied to **contents only** in `UICollectionViewFlowLayout`.

See *Using the Flow Layout* of the Apple official documentation for more details.

![](https://developer.apple.com/library/content/documentation/WindowsViews/Conceptual/CollectionViewPGforIOS/Art/flow_section_insets_2x.png)

[2017-06-25 14:55] weyert commented on #700
Isn't this issue covered by #821?

[2017-06-25 22:29] weyert opened #831 "Sticky headers example"
Create an example that uses the IGList's collection view layout's support for sticky headers

[2017-06-25 22:30] weyert commented on #831
I will update the Supplementary View example to use sticky headers

[2017-06-25 23:07] weyert opened #832 "Airport style effect / Upload progress indicator"
So far I am really enjoying IGListKit but at the moment I am stuck how to implement a UI element using it. Admitting, even with plain UICollectionView. 😅 I am not sure what the best practices are to get this going. I am trying to get a similar effect going as you can see when you use Airport and upload a file from like your Mac to an iPad. You have a progress indicator while the file gets uploaded

[2017-06-26 09:55] heumn commented on #832
Infinite number of ways of doing this, I have one :)

I am using signals to avoid too much knowledge about this in my technology stack. Meaning the viewModel has a signal that wraps the progress. This signal is then bound to the progress indication and gets updated as download progress happens.

I understand this only partly answers your question, but I wanted to mention (as I have done) it is pos

[2017-06-26 11:58] weyert commented on #832
@heumn What do you mean with a signal here? Do you mean a closure?

[2017-06-26 12:56] heumn commented on #832
RxSwift, Bond, ReactiveCocoa. Also here it seems like our options are infinite :)

[2017-06-26 20:11] weyert commented on #832
I will have a look what those are. I prefer to use vanilla Swift when possible ☺️

[2017-06-27 01:26] edmonston commented on #752
Yeah I agree @zhubofei that `UICollectionViewFlowLayout`'s way of handling horizontal scrolling with supplementary views is not super useful from UI perspecive (see video). But as you point out, keeping the headers horizontal would need them to be the same height (and could be strange with short/narrow sections)... I have a local branch that generalizes `IGListCollectionViewLayout` to behave more

[2017-06-27 12:41] thedevme opened #838 "Live Data & IGList Grid by Type"
![02f news - live game module - sm 2x](https://user-images.githubusercontent.com/1933678/27587764-9c42a380-5b13-11e7-886e-b9f7eb8e58c3.png)

I have been using IGList for about 6 months now and I have two questions:

1.  In the red section, I currently have the data in a separate model object called Game along with all of the other items called Video/Audio/Gallery etc.  I am looking for the best wa

[2017-06-27 18:34] kimdv commented on #825
Thanks @heumn !

I have tried your example, and can't get it working.

I have a custom UICollectionViewFlowlayout I know that works (Used in other projects)

Do you know if it is possible to use that? :)

[2017-06-27 18:56] heumn commented on #825
Could you describe what doesn't work or even better, share some code? :)

[2017-06-27 19:05] kimdv commented on #825
Okay I have my ViewController that contains a list of `discoverItems`

The first item of the list return a `DiscoverBannerSectionController`

[code]

The DiscoverBannerSectionController loks like this

[code]

The `EmbeddedBannerCollectionViewCell` is a cell containing a `UICollectionViewController` with a `UICollectionViewFlowlayout`

The `EmbeddedBannerSectionController` return a single cell con

[2017-06-27 19:12] heumn commented on #825
Back at the computer tomorrow. Will take a look then:)

[2017-06-27 19:45] kimdv commented on #825
I got it!

I could use my `CenterCellCollectionViewFlowLayout`

Just forgot to diable paging.... 🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️

[code]

[2017-06-27 19:45] #825 closed

[2017-06-28 11:56] shamvilm opened #839 "What are the advantages of IGListKit over UICollectionView?"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2017-06-28 12:14] BasThomas commented on #839
It's in the Readme!

A data-driven `UICollectionView` framework for building fast and flexible lists.

|         | Main Features  |
----------|-----------------
&#128581; | Never call `performBatchUpdates(_:, completion:)` or `reloadData()` again
&#127968; | Better architecture with reusable cells and components
&#128288; | Create collections with multiple data types
&#128273; | Decoupled diffing

[2017-06-28 20:59] #839 closed

[2017-06-29 15:19] thedevme commented on #838
Is there anyone that has any advice on this?

[2017-06-29 23:35] rnystrom commented on #829
@kleiberjp any chance you could provide an example? That'd help me debug what's going on and better understand the intended behavior. This might just be a limitation of the framework, or we need to provide some guidance on setup.

[2017-06-29 23:59] rnystrom commented on #832
Yup tons of ways to do this. You could use plain ol' delegates:

## Delegate + system setup

[code]

Then have a `NSURLSessionDataDelegate` tell the `ProgressEmitter` about progress changes. Setup your section controller to respond to progress updates:

[code]

And connect your SC to the emitter in the VC or something

[code]

You can also make your emitter hold an array of weak ref listeners [lik

[2017-06-29 23:59] #832 closed

[2017-06-30 00:09] #769 closed

[2017-06-30 00:24] rnystrom commented on #838
For #1, take a look at [this comment](https://github.com/Instagram/IGListKit/issues/832#issuecomment-312138965) about signal/delegate architectures and propagating events to section controllers.

For #2, IMO you should break those all up into separate section controllers:

- One for the image + text
- One for image + text-overlay
- And one for audio or w/e that is on the bottom

That way you can m

[2017-06-30 00:24] #838 closed

[2017-06-30 01:16] rnystrom opened #840 "Remove "applyingUpdateData" property in favor of __block local scope var"
[This property](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListAdapterUpdaterInternal.h#L44) doesn't actually need to be a property. We can use a `__block` local variable to store the data and then use in other blocks. All usages are within the `performBatchUpdatesWithCollectionView:` method.

[2017-06-30 01:28] minchaej commented on #717
Love you IGLISTKIT <3

[2017-06-30 13:22] HarshilShah commented on #739
Hey folks, I’m wondering has there been any progress on this? The source file in question hasn’t changed on public branches, but I don’t know if any progress has been made in private, hence the question.

I don’t, uh, know Objective-C, but I’d be happy to take a stab at it if you folks could point me in the right direction as to what might fix this.

Thanks!

[2017-07-01 05:25] threeknife opened #842 "IGListAdapter‘s scrollViewDelegate"
only 3 delegate was implemented.
- (void)scrollViewDidScroll:(UIScrollView *)scrollView
- (void)scrollViewWillBeginDragging:(UIScrollView *)scrollView
- (void)scrollViewDidEndDragging:(UIScrollView *)scrollView willDecelerate:(BOOL)decelerate

and other delegate like
- (void)scrollViewWillBeginDecelerating:(UIScrollView *)scrollView
- (void)scrollViewDidEndDecelerating:(UIScrollView *)scrollView
w

[2017-07-03 09:49] Jauzee commented on #810
If we need to return same identifier for different type of objects, we can just add `classForCoder`. (was my issue so I came here)

[2017-07-03 12:43] rnystrom commented on #842
@threeknife simply necessity. Within Instagram these are the only methods that we have been using. It'll be simple to add these, but mostly leaning on the open source community to show a need, request, and fix + test. Tbh since we do not allow `@optional` in our protocols, this would have just added more unused boilerplate.

Def not opposed to adding if there's a real need in the future.

[2017-07-03 12:43] #842 closed

[2017-07-03 12:45] rnystrom commented on #739
Hey @HarshilShah! We're moving all the self-sizing stuff to #516. We honestly don't really prioritize self-sizing cells or Auto Layout b/c we don't use it at all internally (and have a **lot** of reasons not to).

I overlooked your demo project tho. Going to download that and give it a spin, see if anything sticks out.

[2017-07-03 22:24] weyert commented on #700
Does ticket still need work? @jessesquires @rnystrom ?

[2017-07-05 06:39] HarshilShah commented on #739
Yeah I figured, but was curious if anything had changed given changes in iOS 11.

[2017-07-05 10:06] cikpis commented on #799
Hi @rnystrom! Any update about  `IGListBindingSectionController` guide?

[2017-07-05 10:32] iOSUser110 opened #843 "Section not getting refreshed on perromUpdates"
One of my section data change after webservice success, so call performupdates on successs of webservice..but section not getting refreshed. why so ? any other solution
PLease reply asap

[2017-07-05 16:07] kowalskiy opened #844 "Remove sectionController from superview"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s):10.0
- CocoaPods/Carthage versio

[2017-07-05 16:18] weyert commented on #844
I would introduce a delegate for the section controller which you then call in the `didSelectItem`-method of the section controller e.g:

[code]

Then you can introduce implement this delegate in your view controller and then remove the item from your data source and then call performUpdates so IGListKit changes it's content

[2017-07-05 18:02] kowalskiy commented on #844
@weyert Thanks for quick response. I guess I didn't explained this situation clearly. I want do dismiss, remove this banner (subView) after clicking on button which is placed in right corner of this view.

[2017-07-05 18:39] weyert commented on #844
then you would need to make a delegate for a banner view with the button and pass it through via the section controller

[2017-07-06 01:17] rnystrom commented on #843
@iOSUser110 we're going to need a **lot** more information about your setup before diagnosing. Take a look at the [issue template](https://github.com/Instagram/IGListKit/blob/master/.github/ISSUE_TEMPLATE.md) for some idea of what we need. [Here](https://github.com/Instagram/IGListKit/issues/389) is a thread w/ some information that might be useful. Also since this probably has to do with models,

[2017-07-06 01:20] rnystrom commented on #844
@kowalskiy take a look one of our examples demonstrating empty views and an architecture to remove data dynamically.

- [Section controller](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/RemoveSectionController.swift)
- [Relevant view controller code](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitEx

[2017-07-06 04:22] PhilCai1993 opened #845 "Test does not pass on iPhone 5 simulator iOS 8"
![image](https://user-images.githubusercontent.com/6828315/27895507-d2644bf6-6245-11e7-8604-67c3f1ae0d5c.png)

[2017-07-06 07:27] kowalskiy commented on #844
Thanks for input @rnystrom. I might go from here.

[2017-07-06 07:27] #844 closed

[2017-07-06 14:04] rnystrom commented on #799
@cikpis still hoping to set aside more time for it among a bunch of other priorities atm. I've explored a lot of uses for this SC in Instagram and another sample app, so several learnings and best practices. Will get this prioritized higher.

[2017-07-06 15:46] rnystrom opened #846 "Common UICollectionView config in category"
After we removed `IGListCollectionView`, we started recommending people disable prefetching and setting a white background color for every view. Should we provide a `UICollectionView+IGListKit` category that does:

- Background to white
- Disables prefetching

That way you just do something like:

[code]

Instead of using the `UIAppearance`, checking if responds to prefetching, etc. Thoughts?

[2017-07-06 15:52] BasThomas commented on #846
I think this makes a ton of sense: more transparant and more accessible, plus IGListKit has control over what happens there.

[2017-07-06 16:20] jessesquires commented on #846
👍

[2017-07-07 20:18] jessesquires opened #847 "Update build script to expect specific version of SwiftLint"
RE: https://github.com/Instagram/IGListKit/pull/837#issuecomment-313506626

Let's update the build script to expect a specific version of SwiftLint.

We can test a specific version and update as needed (+ fix any new lint errors).

This ensures everyone is linting with the same SwiftLint. 👌

[2017-07-07 21:05] Gerharbo commented on #813
I've had similar problems when the data changes and a cell is added.

The problem was solved by adding the following line, right before `adapter.performUpdates`:

[code]

[2017-07-07 22:54] svenJamy commented on #813
Thanks

发自网易邮箱大师
On 07/08/2017 05:05, Gerhard Bos wrote:

I've had similar problems when the data changes and a cell is added.

The problem was solved by adding the following line, right before adapter.performUpdates:

 self.collectionView.collectionViewLayout.invalidateLayout()

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the threa

[2017-07-10 03:28] jindulys opened #848 "Update visible Cell with updated data can not work"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 10.3.1
- CocoaPods/Carthage versi

[2017-07-10 08:25] heumn commented on #848
I might ahve misunderstand what you are doing here, but it looks like to you are mutating the original object and updating the ```hasUpdated``` directly in the model. When comparing the two objects you are comparing it against itself meaning that in the ```public func isEqual(toDiffableObject object: ListDiffable?) -> Bool {```

you will first check on identifier, they will be equal since you are

[2017-07-10 11:38] Shivaprasad2452 opened #849 "dequeueReusableSupplementaryViewOfKind kill the performance of app"
Hi Just used the header and footer view after that scrolling become very hard, when i do performance testing with time profile I saw some 900x to 1000x time taken by the above methods

Both header and footer are very simple footer have one button inside and header as just a label.

<img width="970" alt="screen shot 2017-07-10 at 4 14 23 pm" src="https://user-images.githubusercontent.com/1208524/28

[2017-07-10 11:55] heumn commented on #849
Would be valueable to know a bit more about your setup. Is this something you can modify the example project to show the same behaviour? We use headers and footers in our app and are not seing this performance hit.

[2017-07-10 11:56] Shivaprasad2452 commented on #800
looks like its default behaviour of iOS.
 thanks  @flybrotherlixiang

[2017-07-10 11:56] #800 closed

[2017-07-10 13:20] jindulys commented on #848
@heumn Thank you for replying my issue. I did not mutate my object directly I believe. For IGListKit, I have no control over how to directly update my `ListSectionController`'s data, what I can do is update `ListAdapter`'s dataSource's data.

Each time there is a new set of data come, I refresh the data source by calling `self.companyList = companies` where `companies` contains new set of objects,

[2017-07-10 13:26] heumn commented on #848
It would be difficult for me to evaluate what is happening here since I do not know what is the backing ```Object```, but based on the model object having variables that are mutable, it would indicate to me that these are reference types and that they are being modified when updated. Not re-created (that I highly recommend you consider).

Did you try to change the return method to this?

```return

[2017-07-10 13:42] jindulys commented on #848
For my project, if you check my code `EbloCompanyViewController`, which is the view controller that uses `IGListKit`. The data source for my view controller's `ListAdapter` is that controller's `companyList`, which is an array of `EbloCompany`.  When I get new data set back, I change it by calling `self.companyList = companies`, in swift, array assignment is a copy operation.

My model's hasUpdate

[2017-07-10 16:05] heumn commented on #848
Yeah sorry. I was and think I still am confused.

If this is the question, meaning, that "why does a Realm object update itself under the hood?", I think that question is related to how Realm work. Not how IGListKit.

Because if the scenario is that you get `isEqual(toDiffableObject` called, with the objected called, already having the same updated properties that the received object has, I presum

[2017-07-10 17:02] jindulys commented on #848
Probably you are right, I am using realm. It might be a realm thing, I will have another look.

[2017-07-10 18:47] rnystrom commented on #849
Ya this is a little hard to debug w/out more details. A profiler trace or a sample project reproducing the issue would be super helpful.

[2017-07-11 10:01] dodikk opened #850 "dispatch_async to main queue is still used after IGAssertMainThread()"
[code]

Why isn't "reloadData" or "batchUpdate" performed right away? Why is `dispatch_async()` required?
Meaning, we are already on the main thread at this point, aren't we?
This looks strange and no comment is available in the code base.

[2017-07-11 13:29] raviatri opened #851 "Use of undeclared type IGListCollectionView"
#850 # New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- X

[2017-07-11 14:24] rnystrom commented on #851
@raviatri are you using IGListKit 3.0? If so, `IGListCollectionView` was removed. Context in #409 and https://github.com/Instagram/IGListKit/commit/2284ce389708f62d99f48ff2ec15644f1ec59537

[2017-07-11 14:24] #851 closed

[2017-07-11 20:09] rnystrom commented on #850
We should add some more documentation about why this exists. Check out my comment here about why `dispatch_async` is there:

https://github.com/Instagram/IGListKit/issues/804#issuecomment-308454063

[2017-07-11 20:09] #850 closed

[2017-07-11 20:11] rnystrom commented on #813
Going to close this out since it could be a bug w/ another layout and doesn't seem like something we should fix within IGListKit.

[2017-07-11 20:11] #813 closed

[2017-07-12 06:16] raviatri commented on #851
Actually i am't confirm its 3.O, i installed using
 `pod "pod 'IGListKit', :git => 'https://github.com/Instagram/IGListKit.git', :branch => 'master'"`

which import latest one right?

[2017-07-12 14:41] rnystrom commented on #851
@raviatri yup using that will put you on the tip of latest IGListKit development which is past 3.0.0. So in your branch `IGListCollectionView` doesn't exist anymore, you can just use `UICollectionView` instead.

[2017-07-12 15:21] rnystrom commented on #845
Ah, that's b/c `supplementaryViewForElementKind:atIndexPath:` is an iOS 9+ API. Hmm. I'll try and get a hack up to support this, but definitely not a big deal.

[2017-07-12 15:22] rnystrom commented on #845
Actually, just going to close this. Travis and our internal CI aren't running on iOS 8, and I'm considering dropping support for it (would love all to add all of these supplementary view APIs into IGListKit...).

[2017-07-12 15:22] #845 closed

[2017-07-12 16:39] raviatri commented on #851
Thanks @rnystrom for the help. I got your point.

[2017-07-12 17:55] ryancstack commented on #613
@sleepyUdon I edited their layout to stack cells in a section instead of placing them horizontally next to each other. Here's my gist: https://gist.github.com/ryancstack/10dce72fb5671b6301859a374d7597e3

I haven't tested it in all situations (headers and such), but it's been working well for me so far.

[2017-07-12 19:22] #847 closed

[2017-07-13 08:38] Shivaprasad2452 commented on #849
HI @rnystrom  and @heumn
This really strange issue I am facing when I try to write sample app for same I am not able to reproduce the issue its working fine.
 But when i run in my project the issue is coming always, when I removed the header and footer its working even either one is also bringing performance to track.
 _Are you using UICollectionViewFlowLayout?_
Yes its UICollectionViewFlowLayout

[2017-07-13 08:47] Shivaprasad2452 commented on #849
Profile templente
https://drive.google.com/file/d/0B8daXS_CB88fNVo2S2hFUGdOVDQ/view?usp=sharing

[2017-07-15 17:32] honbolau opened #855 "iglistkit question"
## New issue checklist
I according to the official example implements a horizontal list, but when to get the data is error

### General information

- `IGListKit` version:3.0
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode version:
- Devices/Simulators affected:
- Reproducible in the demo project? (Yes/No):
- Related issues:

`BannerModel.swift`
[code]

`IndexViewController`
[code]
`Horizo

[2017-07-15 18:48] rnystrom commented on #855
@honbolau what error are you getting?

[2017-07-15 23:00] honbolau commented on #855
@rnystrom `EmbeddedSectionController ` cell index Is always zero, and `cellForItem`Access to the results of the model are repeated， `didUpdate `Output of the model is correct。

[2017-07-15 23:11] honbolau commented on #855
@rnystrom https://github.com/honbolau/iglistkitmode

[2017-07-16 16:26] #855 closed

[2017-07-17 15:14] jlaws commented on #291
Any update on this?  Is anyone working on it?

[2017-07-17 20:38] rnystrom opened #859 "Remove @optional from binding SC selection delegate"
Followup from #853

[2017-07-17 21:05] jessesquires commented on #859
Notes:

We made this `@optional` for the 3.x release to avoid breaking changes. We want to avoid using `@optional`, so we'll remove this in `4.0` (which can contain breaking changes).

[2017-07-18 14:02] Shivaprasad2452 commented on #849
any update guys?

[2017-07-18 14:39] rnystrom commented on #849
I've got this in my queue, but debugging other implementations takes a much lower priority over our work here at Instagram. Will get to this when I can run through my backlog!

Also our IT security flagged this file, I'm not even sure I'll be able to open it :(

[2017-07-19 16:38] Codeido commented on #242
@darrarski I think that this solution doesn't work properly with cells that have dynamic height

[2017-07-19 17:13] darrarski commented on #242
@Codeido it works pretty well here: https://github.com/darrarski/Messages-iOS
As you can see the cells can have various height, depending on contained text. I understand that this isn't a perfect solution for everyone's needs. Perhaps it just doesn't work for your case, but I can't tell without more info about how you are using it.

[2017-07-20 14:24] quangpc opened #862 "Any way to check when a cell in section display on screen?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 10.x
- CocoaPods/Carthage version

[2017-07-20 14:32] heumn commented on #862
You can still add yourself as a delegate :)

Just see this part in the documentation on `IGListAdapter`:

https://instagram.github.io/IGListKit/Classes/IGListAdapter.html#/c:objc(cs)IGListAdapter(py)collectionViewDelegate

[2017-07-20 14:41] quangpc commented on #862
@heumn thank you, but I see the code:

[code]

In case, I use UICollectionViewFlowLayout, how can I do that.

[2017-07-20 14:48] #862 closed

[2017-07-21 16:24] AdamBCo opened #863 "CollectionView Cells are lining up vertically not horizontally"
### Problem

At the moment I have created a ListController with the code snippet below. Unfortunately, my collectionView cells are not lining horizontally but vertically. Any idea what's going on? Or what I may be missing? This information was taken directly from a project included in the examples folder.

    final class GridSectionController: ListSectionController {

      private var object: Gr

[2017-07-22 04:12] mattlisiv commented on #863
You need to ensure the layout your UICollectionView is utilizing, has the scroll direction set to horizontal. Example:

[code]

[2017-07-22 04:57] AdamBCo commented on #863
@mattlisiv Please allow me to clarify:

Since the width of the cell is the width of the collectionView divided by 3, I am looking for the layout to be vertical, but for 3 cells to be arranged on each row; therefore depicting a grid of photos.

[2017-07-22 16:16] mattlisiv commented on #863
@AdamBCo,

I see what you mean now. I think this is still an unavailable feature. I wanted to implement something similar but was not able. See similar issue [#750](https://github.com/Instagram/IGListKit/issues/750) .

[2017-07-22 18:19] iOSUser110 opened #864 "Cell Dynamic height using autolayout"
I am using IGListKit ,
I have created cell with autolayout constraints storyboard.
I want it to be resize according to the views height inside it dynamic time.
Cell contains three labels with dynamic height

but autolayout not working , not able to create dynamic height cell
please provide a solution for this.
Waiting for your reply

[2017-07-22 19:41] heumn commented on #864
Not to be rude, but did you try to use the  [search function](https://github.com/Instagram/IGListKit/search?utf8=%E2%9C%93&q=Dynamic+&type=Issues) so see if this has been asked before?

There are tons of discussions about this. I propose you research one of these:

https://github.com/Instagram/IGListKit/issues/516 <--- golden

[2017-07-24 13:31] bogren commented on #840
Requesting an update of the issue. ✌️

[2017-07-24 15:03] shuhrat10 opened #866 "IGListBindingSectionController crashes"
Hi @rnystrom

I'm trying to use IGListBindingSectionController and I'm getting crashes. Do you think it's the same issue what was in https://github.com/Instagram/IGListKit/issues/699

[code]

![1](https://user-images.githubusercontent.com/62485/28529828-98134308-705f-11e7-81ce-e1777ec15703.png)

[2017-07-24 18:55] rnystrom commented on #840
Closing this as I discovered it's used for debugging

[2017-07-24 18:55] #840 closed

[2017-07-24 19:09] rnystrom commented on #866
@shuhrat10 kind of hard to say its related, how is your section controller structured? #699 was about reusing collection views among other adapters. Are you doing that again here?

Also, this isn't a crash, just an exception. If you're disabling exceptions in prod (which you should) it'll return early.

It looks more likely that you're retaining the binding SC within a completion block, but by the

[2017-07-24 19:11] #864 closed

[2017-07-24 19:11] rnystrom commented on #864
Closing since estimated heights seem to have issues, we're tracking already, and they are pretty low priority for the core team at Instagram (we don't use it at all).

[2017-07-24 19:13] rnystrom commented on #863
@AdamBCo are you using `UICollectionViewFlowLayout`? If so, that layout puts each _section_ on a "newline" (new row) instead of finding a best-fit. IGListKit puts each `ListSectionController` in a `UICollectionView` section, so that's where this gets tricky.

Can you try using our `ListCollectionViewLayout` added in 3.0? That should do exactly what you want (and is what we use in Instagram).

Lmk

[2017-07-24 19:39] shuhrat10 commented on #866
@rnystrom  yes, I'm doing that here.

You're right, it's not crash - I probably used wrong word =)

I have:

[code]

I'm using WorkingRange to get content for each Category in visible range. I was able to hit this assert all time. When I'm keep scrolling CollectionView down while content haven't been fetched and displayed I get assert as soon as I get content from the server.

[2017-07-25 08:25] AdamBCo commented on #863
@rnystrom That worked, so thank you for the help.

[2017-07-25 08:25] #863 closed

[2017-07-26 04:40] annjawn commented on #799
@rnystrom I am still trying to wrap my head around the SectionController 😢, my requirements is somewhat similar to @cikpis 's. All I need to have is a single section with a Supplementary view and cells be added to the same section instead of creating new sections for every cell. There doesn't seem to be anything like `numberOfSections` that exists and so far my collectionview is creating number of

[2017-07-26 14:31] rnystrom commented on #799
@annjawn there is an example using the binding control, look for the "calendar" example. It doesn't have dynamically adding content, but its the same. I'll whip up an example of adding content.

[2017-07-26 14:32] rnystrom commented on #799
Regarding needing a single section controller w/ multiple cells, can you explain why that's a limitation of yours? IGListKit is designed to abstract the idea of cells and sections away from you, instead just focus on your data, cell appearance, and what happens when interacting with a _single_ cell.

[2017-07-26 17:43] shuhrat10 commented on #866
@rnystrom Is there any way to update section if collectionView == nil? Maybe we can update section datasource and later update collectionView before display.

[2017-07-27 00:54] manicakes commented on #643
@rnystrom I took a stab at implementing your fix idea + added a unit test!

[2017-07-27 18:27] jessesquires opened #870 "[RFC] Provide UIKit bindings for diffs *outside* of the SectionController + ListAdapter flow"
## Provide UIKit bindings for diffs *outside* of the SectionController + ListAdapter flow

One barrier to using IGLK is adopting the `SectionController` + `ListAdapter` architecture, which is difficult for legacy projects, or projects that have adopted other "list" abstractions but now want to implement diffing for those lists.

Currently, we provide a `Diffing` subspec, but this requires clients

[2017-07-27 18:34] jessesquires opened #871 "Including better Swift interfaces/wrapper APIs"
## Proposal

CocoaTouch frameworks can include both Swift and ObjC. IGListKit should expose better Swift interfaces by including some Swift wrapper APIs.

For example, we could:

- Provide a proper *generic* `SectionController` in Swift by wrapping `IGListBindingSectionController`, since ObjC lightweight generics aren't really useful in Swift.
- Provide default parameter values to initializers
- N

[2017-07-27 18:41] pjr0001 opened #872 "Clarity on best practices"
- Related issues: https://github.com/Instagram/IGListKit/issues/799

it'd be helpful to use a real world example and share some of the concerns raised in 799, and get feedback regarding best practices to fix it.

**Example**

Suppose you have an instagram post, when you view the post you'll receive a JSON response from the server, and map it to a Post object, the Post class looks like this:

` ima

[2017-07-28 09:07] marcuswu0814 opened #873 "The y position of sticky header was wrong after data changing"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): iOS 11
- CocoaPods/Carthage versi

[2017-07-30 17:15] rnystrom commented on #870
So on board with this. Will be trivial.

@jessesquires what do you think about creating a "light" adapter that does:

- Give it an array of diffable models, diffs+applies update
- One section, array powers `numberOfItems`
- `IGListBindable` cells, automatically binds view models

This would solve our `UITableView` issue without refactoring the world (I still think full table support will open a wo

[2017-07-30 17:36] rnystrom commented on #872
I'll try to summarize some thoughts before I get back from my trip, but this is actually an anti pattern we need to do a better job explaining.

Each section controller should contain logic for a single, too-level model (`Post` in your example). _Within_ that section controller, you can decompose the `Post` into an array that drives `numberOfItems`. Do this however you want. We have an example at

[2017-07-31 00:52] jessesquires opened #875 "Add new Xcode9 file header comment plist"
In Xcode9, you can customize the comment header that Xcode adds for new files on a per project basis by adding a `.plist` file to your project:

https://oleb.net/blog/2017/07/xcode-9-text-macros/

We should add this (with our existing header style) so that we don't have to ask PR authors to change this all the time.

[2017-07-31 08:56] broccolii opened #877 "Can iglistKit achieve waterfall flow?"
Can iglistKit achieve waterfall flow?

[2017-07-31 13:58] rnystrom commented on #877
@broccolii can you explain more what you mean or give an example?

[2017-07-31 14:16] broccolii commented on #877
@ryanolsonk
like this https://github.com/chiahsien/CHTCollectionViewWaterfallLayout

[2017-07-31 14:34] jessesquires commented on #877
@broccolii

layouts are decoupled from IGListKit. you can use any custom layout that you want.

[2017-07-31 14:34] #877 closed

[2017-07-31 14:35] chrismanderson opened #878 "How to surface the result of an async call back to a button or view within a cell?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

What's the recommended way of providing the end result of a async/networking c

[2017-07-31 15:31] rnystrom commented on #878
@chrismanderson great question! We could definitely provide a better example for this.

What we do is something like the following:

1. Do an async fetch in the section controller
2. In the callback (block or delegate, doesn't matter), ask the `[collectionContext cellForSectionController:atIndex:]` for the cell (on mobile but I think that's the API)
3. Configure the cell however you want. Be caref

[2017-08-01 02:26] iOSUser110 opened #879 "Swift._ContiguousArrayStorage "CustomModel" to '__ObjC.IGListDiffable'"
Getting issues like this
Swift._ContiguousArrayStorage "CustomModel"  to '__ObjC.IGListDiffable'

When  doing like as below :

 func listAdapter(_ listAdapter: ListAdapter, sectionControllerFor object: Any) -> ListSectionController {

        switch object {
        case is [CustomModelArray]:
            return HorizontalSectionController()
        case is CustomModel:
            return ListSect

[2017-08-01 02:37] broccolii commented on #877
But I need to modify the data structure of the data source,because I use the Array, a section will only have an item.I need to use a two-dimensional Array. Is that so?

[2017-08-01 08:23] weyert commented on #870
Sounds reasonable to my ears, @rnystrom :)

[2017-08-01 17:45] rnystrom commented on #879
@iosuser110 using an array as the model is extremely dangerous in both ObjC and Swift. It's behavior for diffing is undefined. You'll need to use a custom wrapper to be safe and define how you want updates to be done.

[2017-08-01 17:47] rnystrom commented on #871
Should be doable, tho Buck still has some issues with mix-matched libs. I _think_ its all fixed with Xcode 9 tho now that static libs work.

[2017-08-01 18:40] chrismanderson commented on #878
Thanks for the response! That first option makes a lot of sense to me for my use case. The second seems a little iffier to me in terms of storing state on the VC, but always great to see options. It could be a great idea to add this into the example projects repo, maybe long with the `RemoveController` section; e.g. respond if the remove succeeds or fails.

[2017-08-02 01:42] clayreimann opened #880 "Cannot find section controller for item (though it appears to be present)"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10/11
- CocoaPods/Carthage vers

[2017-08-02 05:05] #879 closed

[2017-08-02 05:06] jessesquires commented on #870
@rnystrom -- 💯 yeah, let's do the simpler, "least intrusive" solution first

[2017-08-02 12:49] kanumuri9593 commented on #878
hi @rnystrom @chrismanderson  ,Thank you its a nice option for my requirement too, but I have a general question extending this topic
lets say you are loading your posts similar to Instagram through some feed Objects array with each object goes into its own section controller and you are using lazy loading concept to keep increasing the array as shown in your examples, the the user clicked the Lik

[2017-08-02 12:56] rnystrom commented on #878
@kanumuri9593 in Instagram we have mutable stores that track states like these. That's definitely what I would recommend. Here's an example in a GitHub app I'm building:

- Configure cell state in [cellForItemAtIndex:](https://github.com/rnystrom/Freetime/blob/8e39f2898867032089e618990ca09898981f8b7a/Classes/Notifications/NotificationSectionController.swift#L36)
- State is combination of [model ||

[2017-08-02 12:57] #878 closed

[2017-08-02 12:58] rnystrom commented on #880
@clayreimann I see that `lastLoadDate` is defined as a `var`. Is it being mutated anywhere? If so, that'll cause any lookups to fail. W/e you use for your `diffIdentifier` should **never** change.

[2017-08-02 13:08] kanumuri9593 commented on #878
@rnystrom Thanks for a quick response, I will look into your suggestions

[2017-08-02 13:39] shuhrat10 commented on #866
@rnystrom I tried to solve this issue via ListDisplayDelegate (cellWillDisplay)

in async completion block I'm calling

[code]

[code]
Now it's working more stable but it's sometimes crashing. Do you have any thoughts how to make it works. I have spent my week by trying to make it works but haven't found working solution.

[code]

[code]

[2017-08-02 16:22] clayreimann commented on #880
@rnystrom That was exactly it. I've opened a PR to update the Getting Started guide. I spent several days trying to chase this down and I'd like to save the next person that trouble (or at least try to).

[2017-08-03 13:12] #880 closed

[2017-08-03 20:06] #643 closed

[2017-08-04 07:57] bofiaza commented on #620
I think https://github.com/mschonvogel/SwipeCellKit only works when the IGListSectionController only returns one type of UICollectionViewCell; It won't totally work if it returns multiple types and UICollectionView has custom layout.

[2017-08-04 08:38] gbtt opened #883 "Cells with wrong size"
## New issue checklist

- [V ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [V ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.3.2
- CocoaPods/Carthage v

[2017-08-04 22:08] #757 closed

[2017-08-05 04:53] sidmani opened #884 "Is on-screen location dependent on index in the IGListDiffable array?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

I'm trying to use IGListKit with a large data set of memory-expensive items, and I want to load objects

[2017-08-05 17:24] rnystrom commented on #884
@sidmani oof, this is definitely a limitation. If objects have big memory footprints, and there are lots of them, this will become a problem.

Objects in the array **directly** map to their position within the `UICollectionView`. So if you remove `Object1`, like in your example, views will shift.

A _loooong_ time ago, when I was working on AsyncDisplayKit, we had the idea of an "allocation range"

[2017-08-05 17:49] sidmani commented on #884
The objects represent messages, with a 2500 character limit. This means that each message could potentially become as large as 5-7kb due to the text (depending on encoding). There is no limit to the total number of messages, but having 500-1000 messages in a conversation is completely reasonable, so the worst case scenario involves more than a megabyte or two (!) of text data, per conversation.
Se

[2017-08-05 18:19] rnystrom commented on #884
Awesome details! Here's some advice:

- Definitely use an identifier and make the contents immutable. Comparisons are then reliable and cheap, no need to check equality of the contents.
- Any filtering and updating could be moved to a bg queue if it's _measurably_ expensive
- To me, a couple mb of text data is nothing. A single decompressed image will be way more than that.

I would def try to avo

[2017-08-05 18:25] sidmani commented on #884
Thanks! I'll do that, then.

[2017-08-05 18:25] #884 closed

[2017-08-06 19:42] weyert commented on #883
Your code in your repo is empty. Could you submit the code?

[2017-08-07 08:02] gbtt commented on #883
oops :)
I have submitted the code.

[2017-08-07 16:33] #752 closed

[2017-08-07 21:59] dhavalcue opened #885 "Request: Make reloadData synchronous"
Looks like [this line](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdater.m#L383) makes `reloadData` an async operation. From my reading, it looks like there's no way to make a synchronous `reloadData` call.

It's also not clear why we're doing a `dispatch_async` there, since we are already asserting main thread within the function.

Questions:
- Is there a way to make

[2017-08-07 22:11] jessesquires commented on #885
hey @dhavalcue 😄

the reason for this is that there *could be* batch updates in-progress. (or other calls to `reloadData` from elsewhere). this design serves 2 main goals: (1) coalesce all updates, (2) make update calls reentrant

cc @rnystrom in case i've got this wrong

[2017-08-07 22:12] jessesquires commented on #885
as far as synchronously calling `reloadData`, you *should* be able to simply call this on the `collectionView` (although this is discouraged for the reasons above because of how IGListKit tracks state)

cc @rnystrom again 😄

[2017-08-07 22:38] dhavalcue commented on #885
@jessesquires: Thank you! The context helps!

I did not understand your workaround. Do we call `reloadData` from the view controller directly? How do we update `IGListKit`'s state?

[2017-08-07 22:58] rnystrom commented on #885
@jessesquires is spot on. This is a performance optimization. We collect multiple calls for batch updates and reload within run loop turns (really just `dispatch_async`).

You def could just call `[UICollectionView reloadData]` but if your data sources have changed, nothing will actually happen. Calling `[IGListAdapter performUpdatesAnimated:completion:]` (with `animated:NO`) should suffice. Just

[2017-08-07 23:07] dhavalcue commented on #885
Thanks @rnystrom!

We want to hold view controller transition until the content is ready so that the transition looks smooth (instead of a subtle flash that will happen when reload completes).

The workaround I have at this time is to initialize the view controller, `listAdapter.reload`, wait on completion and then present the view controller. The workaround works great, the code is a little messy

[2017-08-07 23:08] jessesquires commented on #885
Doesn't `-[IGListAdapter reloadDataWithCompletion:]` happen immediately?

https://instagram.github.io/IGListKit/Classes/IGListAdapter.html#/c:objc(cs)IGListAdapter(im)reloadDataWithCompletion:

[2017-08-07 23:10] dhavalcue commented on #885
Not if I use `IGListAdapterUpdater`. Because of [this](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdater.m#L383).

[2017-08-08 16:00] weyert commented on #885
Can't you add a DispatchGroup semaphore to make this call synchronous in this case?

[2017-08-08 17:48] #885 closed

[2017-08-09 11:28] ajeetpratap opened #886 "No type or protocol named 'IGListAdapterDataSource'"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 10.3
- CocoaPods/Carthage version

[2017-08-09 12:28] rnystrom commented on #886
@ajeetpratap are you using IGListKit in the Swift part of your app? If so, we drop the "IG" prefix in Swift files (more _Swifty_).

[2017-08-09 12:33] ajeetpratap commented on #886
@rnystrom Yes I am using IGListKit in Swift part and I have dropped "IG" prefix
[code]
But when I am building the project its giving me error in ```{Project Name}-swift.h``` file

[2017-08-09 12:50] rnystrom commented on #886
Hmmmm, some sort of issue with using the Swift classes imported into the ObjC part. Are you using Cocoapods?

[2017-08-09 12:55] tapoton opened #887 "the view returned from -collectionView:viewForSupplementaryElementOfKind:atIndexPath is nil"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.0
- iOS version(s): 10.3
- CocoaPods/Carthage version

[2017-08-09 13:01] rnystrom commented on #887
@tapoton how are you updating the adapter? `updateObjects:` should **always** be called before layoutSubviews.

Do you have an example project or unit test reproducing this issue?

[2017-08-09 13:06] tapoton commented on #887
@rnystrom unfortunately have no time to reproduce this on non-production project.
Tried updating adapter via these methods:

[code]

The first does the following:
[code]

It really calls `updateObjects:` but it seems like `layoutSubviews` is called somewhere inside the `performUpdateWithCollectionView:` call

[2017-08-09 13:21] rnystrom commented on #887
`UICollectionView` calls `layoutSubviews` internally after the batch update block is applied. We call `updateObjects:` within the batch update block. The only time that `layoutSubviews` would be called outside of that is when updating before the collection view has yet to lay out (e.g. performing an update in `viewDidLoad` or something). Even then, the data source hasn't been updated so nothing sh

[2017-08-09 13:22] rnystrom commented on #887
It might be worth updating to 3.0, there could be a data error that new asserting will catch.

[2017-08-09 20:05] jessesquires commented on #886
also try updating to latest cocoapods. 1.3.0

[2017-08-09 23:36] rnystrom commented on #700
@weyert that PR doesn't address this. This issue is about asserting for unique view models within the binding SC itself.

[2017-08-09 23:40] #843 closed

[2017-08-09 23:40] rnystrom commented on #799
Any update on this? Should we close?

[2017-08-09 23:41] #809 closed

[2017-08-09 23:42] rnystrom commented on #871
At the very least we could include this in he public project but just exclude it with Buck. Been thinking about this a lot, have some ideas.

[2017-08-09 23:43] rnystrom commented on #750
Horizontal support working!

[2017-08-09 23:43] #750 closed

[2017-08-09 23:51] rnystrom commented on #708
Gonna close this out after reviewing. Old issue without a lot of activity, and I'm still not sure where exactly the problem lies. Feel free to comment if you have it working or want to keep this rolling.

[2017-08-09 23:51] #708 closed

[2017-08-09 23:52] rnystrom commented on #695
Not worth it atm

[2017-08-09 23:53] rnystrom commented on #695
Wait there are obvious wins here, doing this

[2017-08-09 23:55] rnystrom commented on #689
Got a response from the big fruit. This is considered a bad update and crash is ok. 🤷‍♀️

[2017-08-09 23:55] #689 closed

[2017-08-09 23:56] rnystrom commented on #610
Should we do this?

[2017-08-09 23:57] #554 closed

[2017-08-09 23:57] rnystrom commented on #492
Doesn't matter

[2017-08-09 23:57] #492 closed

[2017-08-09 23:59] rnystrom commented on #873
Will take a look

[2017-08-10 07:13] ajeetpratap commented on #886
Updated to latest cocoa pods 1.3.1
cleaned my project, deleted derive data folder, reinstall the pod but still I am getting same error.
I had an existing Objective C project and later Swift got added to it.
I think the issue is with the creation of references for Swift part and IGListkit is somehow failing in that.
Does anyone has encountered this same issue?

[2017-08-10 13:15] heumn commented on #700
best starter task

[2017-08-10 14:16] modocache commented on #610
Up to you. I believe there have been a few additions to the `XCTestExpectation` API since I posted above, which I could go into more if you'd like.

However, if you're thinking of migrating in order to prevent CI-only failures, then I don't think the new API will help. You'll still have to be mindful of the fact that CI machines are probably more resource-constrained, and so you'll still have to u

[2017-08-10 17:44] weyert commented on #700
Oh, alright 👍

[2017-08-10 18:08] jessesquires commented on #492
lol

[2017-08-10 18:08] jessesquires commented on #689
Weird 🤷‍♂️

[2017-08-10 18:10] jessesquires commented on #695
lol

[2017-08-10 18:12] jessesquires commented on #610
Especially since we're already invested in using OCMock, I think there's little to gain here. Close?

[2017-08-10 18:12] #610 closed

[2017-08-11 02:51] rnystrom commented on #695
Looked again, already optimized. I was looking at the blocks within `IGListDiffing(...)`. They already don't retain anything. Good to go.

[2017-08-11 02:51] #695 closed

[2017-08-11 16:07] #875 closed

[2017-08-11 16:19] #698 closed

[2017-08-11 21:21] rnystrom commented on #697
Gonna bite the bullet and get this done!

[2017-08-12 07:11] cikpis commented on #799
@rnystrom still waiting the guideline for binding controller :)

[2017-08-13 08:04] AAverin opened #892 "Vertical gallery with IGListKit"
I have a very basic case of a vertical gallery that can have any height of an image with full-screen width set. Images a load async from the network.
Is this solvable with IGListKit?
I saw a few mentions of dynamic height issues already, so is my task doable, or I better just go with raw UICollectionView?

[2017-08-13 13:55] arctouch-marcelogobetti opened #893 "Why is conforming to ListBindable required?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): Any
- CocoaPods/Carthage version:

[2017-08-13 14:12] rnystrom commented on #893
Great questions! And you did quite a lot of investigation too.

You can absolutely still do your cell config in `cellForItemAtIndex:`. It's exactly the same as doing it in the bind method.

The binding exists because of how common practice it is to configure a cell given a view model when the model drives how many and what type of cells exist. And you're right, it helps separate code.

But if you

[2017-08-13 14:17] rnystrom commented on #892
@aaverin Do you know the image size before downloading the actual image? This seems absolutely doable (similar to Instagram's full width images with dynamic heights).

- You need an aspect ratio of the image
- Then in the section controller method `sizeForItemAtIndex:` you get the width of the container with `collectionContext.containerSize.width`
- Lastly multiply the aspect ratio with the screen

[2017-08-13 15:00] AAverin commented on #892
@rnystrom No, image size is not known, and that's kind of the whole point and complexity =)
Basically, any image can be downloaded from the network. ImageView is full-width, and image should occupy whatever height necessary for given screen width.

[2017-08-13 15:37] rnystrom commented on #892
Can your API include aspect ratio in the initial payload?

[2017-08-13 16:40] arctouch-marcelogobetti commented on #893
Great, I confess that's news to me :)
I'm usually all for avoiding boilerplate - in which case I'd probably rather not having `ListBindable` at all - but as I said, I know it is an architecture improvement, so it's fine. Thanks a lot!

[2017-08-13 16:40] #893 closed

[2017-08-13 18:52] heshamsalman opened #894 "Relax SwiftLint Rules"
Followup from #891

Some of the SwiftLint rules are causing us to write code in ways that we otherwise wouldn't. Let's have a discussion about which rules are causing that and put them up on the chopping block.

My initial guess would be treating bangs as warnings, and perhaps line spacing / trailing commas?

@rnystrom @jessesquires @Sherlouk

[2017-08-13 19:10] rnystrom commented on #894
💯 lets do it

[2017-08-13 21:31] rnystrom commented on #886
I honestly haven't run into this. @ajeetpratap do you think you could reproduce this in an example app we can inspect and debug?

[2017-08-14 05:28] AAverin commented on #892
@rnystrom Take Flickr, for example. They have a public API that doesn't provide aspect ratio or image size in the response. And because images can be landscape and portrait – size can differ.

[2017-08-14 12:20] rnystrom commented on #892
Ah ok. So what I'd probably try in that case is to start with a placeholder size (maybe square with the screen width). Download the image within the section controller. Once done, call batch updates on the collection context and call reload (see some of our examples).

In the size API, use the placeholder size if no image exists, and use the actual image size (scaled for screen width) when there's

[2017-08-14 13:00] aelam opened #895 "can't set stickyHeaders` in Storyboard for IGListCollectionViewLayout"
## New issue checklist
`stickyHeaders`  is a readonly property and if we initialize it from XIB or storyboard. we have no chance to set it to YES or modify it.

[code]
- [TRUE ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ TRUE] I have searched [existing issues](https://github.com/Instagra

[2017-08-14 21:19] rnystrom commented on #895
Ya, this is honestly just a limitation of storyboards. We could maybe make this a property editable from SB, tho it's my super high pri.

[2017-08-14 21:19] rnystrom commented on #895
One recommendation is to just change the layout in code after things load.

[2017-08-14 22:37] jessesquires commented on #895
I think we can mark this as `IB_DESIGNABLE` and it will show up in IB

[2017-08-15 12:14] rnystrom commented on #895
I can't remember if there is extra work that the layout does in init with sticky headers. I don't think so. We can move this to a designable propane phase out the initializer. Plus we are gonna make breaking changes to the init in 4.0 anyways after the h scroll support.

Cools?

[2017-08-15 14:01] bogren commented on #831
Not up to date in the sticky header discussion, I don't think it's been mentioned before. If the layout is set to `UICollectionViewFlowLayout `, you can set [sectionHeadersPinToVisibleBounds](https://developer.apple.com/documentation/uikit/uicollectionviewflowlayout/1617699-sectionheaderspintovisiblebounds) to the collection view it's set to support.

Adding works fine for apps supporting iOS 9.
[

[2017-08-15 14:17] aelam opened #896 "Is it possible to make a spreadsheet?"
## New issue checklist
The main features in my mind are
* supports multi-sticky-headers
* supports Sticky one~three first columns in each row
* supports h scroll when each row has same offSetX when sheet is scrolling
* easy to configure section-row-column data
* easy to configure cellClass or cellNib for each column, same in columns of header

The Layout Class seems not support these, I'm thinking

[2017-08-15 14:19] aelam commented on #892
seems hard even with raw UICollectionView  without aspect ratio

[2017-08-15 14:21] aelam commented on #831
@bogren how about iOS 8

[2017-08-15 14:24] rnystrom commented on #896
Wo boy, this would be awesome to see in practice. *For sure* you will need a custom layout beyond what `UICollectionViewFlowLayout` and `IGListCollectionViewLayout` provide.

As far as "can IGListKit" do it? I'm almost certain that it can. IGListKit is almost entirely a data source framework, there is very little that we do with the UI as far as how things appear (our custom layout is about it).

[2017-08-15 14:24] #896 closed

[2017-08-15 14:25] bogren commented on #831
I'm currently reading up on the discussion here, and running a few tests in the examples. There is support and here is an [example](https://github.com/Instagram/IGListKit/pull/834) not using the `UICollectionViewFlowLayout` property.

[2017-08-15 14:25] rnystrom commented on #892
Ya, finding a way to get aspect ratio before loading the image data will

- Make for a *much* better UX
- Be a vastly simpler implementation

Going to close out since IMO the question is answered.

[2017-08-15 14:25] #892 closed

[2017-08-15 14:58] AAverin commented on #892
This is something that works out of the box on Android.
I am porting my Android app to iOS, was hoping to have same functionality. But yes, that doesn't seem to be easy with UICollectionView.
I'll keep your suggestions in mind and will stay with a fixed-height workaround for now

[2017-08-15 19:06] tapi opened #898 "IGListCollectionViewLayout lacks support for UICollectionElementKindSectionFooter"
`IGListCollectionViewLayout` does not have support for `UICollectionElementKindSectionFooter`
Initially I thought this might be a bug, I assumed that since the layout was using the same symbol (`UICollectionElementKindSectionHeader`) from `UIcollectionViewFlowLayout` that the other supplementary kind would be supported.

After producing a small reproducible case [reproducible case](https://github.

[2017-08-16 09:28] racer1988 opened #900 "[Questions] Architecture and DI Container in IGListKit"
Hello,

I would like to ask some questions to the community here because we are struggling a bit to understand some topics and connect them with IGListKit.

I am aware that these topics are not related to IGListKit code, but more architectural questions and software engineering knowledge, but I hope this could help creating some know-how around IGListKit and maybe transform this into a best-practi

[2017-08-17 01:45] sa1148260 commented on #516
hello , I have a question:
In iOS10, auto - sizing can work normally,But under ios8 can't.
I was using a master Examples-iOS.
thank you!

[2017-08-17 14:03] heisejason opened #901 "Instagram / IGListKit"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2017-08-17 14:19] #901 closed

[2017-08-18 13:16] yusuftor opened #902 "StackedListSectionViewController Acting Weirdly"
I have a `StackedListSectionViewController` that has two section controllers in. The second section controller has 5 cells two of which I've added to act as a header and footer. All cells have different sizes. For some reason there seems to be a bug with sizeForCell that sets the cell at index 1 to the exact same height as the cell at index 0. I've been checking through my code for hours trying to

[2017-08-18 23:38] lechium opened #904 "obj-c sample code"
is there any objc sample code? its mind boggling that the library is (rightfully so) written in objective-c but all the sample code i can find is in swift. which to me i wont touch with a 1000 foot pole. i hope that im wrong, dont want to have to read fully read the source or translate examples to learn how to use it.

[2017-08-18 23:51] rnystrom commented on #904
Good question! There is one example in ObjC (posts). We're trying to be future friendly with our docs and help adoption. We don't use **any** special Swift features, everything translates 1:1 to ObjC. If you have any questions about it let us know!

[2017-08-18 23:51] #904 closed

[2017-08-19 11:36] MathieuWhite opened #905 "Performance impacts when returning an array for the diffIdentifier"
Hey,

I am wondering what is recommended as a return value for the `diffIdentifier` when conforming your model to `IGListDiffable?`

I noticed this issue in our project at work, but I can also reproduce it in the demo project with a couple modifications. If I return 1000 objects to the list adapter and modify the `diffIdentifier`of the model to return an array, the loading time for displaying the

[2017-08-19 18:33] jessesquires commented on #905
A better way to approach this would be a new type that holds `id` and `type` and implements `Equatable`.

Something like:

[code]

Then return one of these as your `diffIdentifier`.

[2017-08-19 20:48] rnystrom commented on #905
Another simple suggestion is to craft a function that transforms your `id` and `type` into a single string. You want your identifier to be simple, cheap, and immutable. Arrays are really inefficient for comparisons.

[2017-08-19 22:32] MathieuWhite commented on #905
Thanks guys, I appreciate the quick replies!

Based on both of your suggestions, I take it using an array as the identifier isn’t great.

Since we are using Objective-C, going for something like a transform to create a string using the two properties seems like the better option. I’ve implemented it and now my cells are loading much faster.

Thanks again!

[2017-08-20 01:00] weyert commented on #516
Anyone else here having issues with using multiple section controlle and for one use a supplementary view header? For some reason when I use prefferedLayoutAttributesFitting to return the real cell size the header is staying at the old position before the cells got resize to fit its content. anyone seen this before?

[2017-08-20 02:04] #905 closed

[2017-08-20 19:25] weyert opened #906 "Supplementary header view is wrongly positioned"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: `master`
- iOS version(s): 10.3.1
- CocoaPods/Carthage

[2017-08-21 14:30] #846 closed

[2017-08-21 16:25] rnystrom commented on #906
Another one for #516

- Pause the app in Xcode
- Type `po [IGListDebugger dump]` into lldb/console

I'm going to close this as its not actually an issue w/ IGListKit, if you find a solution feel free to post since it'll help others who are struggling w/ estimated/self-sized cells!

[2017-08-21 16:25] #906 closed

[2017-08-21 16:26] rnystrom commented on #902
@yusuftor a little hard to tell w/out any sample code or projects. Can you provide more detail here?

- Model code
- Section controller setup
- What `UICollectionViewLayout` are you using?

[2017-08-21 16:37] rnystrom commented on #900
IMO pigeon-holing architectures isn't useful. I wouldn't say we follow any single strict architecture/pattern, more that we follow a few guidelines that make our code easy to maintain & test:

- Inject dependencies instead of rely on global state (unless where it [aides the API](https://github.com/Instagram/IGListKit/blob/master/Source/IGListSectionController.m#L24-L47))
- Decompose objects so the

[2017-08-21 16:39] rnystrom commented on #898
@tapi you're absolutely correct, we didn't support footers intentionally mostly b/c we wanted to get this layout out-the-door quickly, and we don't use footers at Instagram.

I'm very open to community help in adding support! It's doubtful we will prioritize this anytime soon internally since there isn't a need for it (yet).

[2017-08-21 21:46] #755 closed

[2017-08-21 21:54] yusuftor commented on #902
Sorry, I was having a bit of a nightmare with it and couldn't be bothered to fill out the info!
I've actually have to move the extra cell I'd added as a header to the previous section controller as a workaround to this bug.

Ok so I can't provide a sample project but I can give you some more detail.
The page I'm trying to create is essentially a profile page with a section at the top that contains

[2017-08-22 00:33] #697 closed

[2017-08-22 08:34] racer1988 commented on #900
@rnystrom Thanks for the info and your view on it.
I am exploring the world of architectural decisions/Frameworks/Container vs No Container trying to improve my codebase and it is always helpful to have some information from other developers, especially when they are working on a big app that is used by **a lot** of people and works (and it maintainable and scale)

For sure I guess the best path t

[2017-08-22 09:46] racer1988 commented on #900
@rnystrom I actually have another question, regarding how you use IGListKit in Instagram.

Let's say my Section Controllers are fetching data, need to do some calculation or whatever else.

If I want to use DI and split responsibilities, then the datasource needs to be aware and get injected with **all** section controller requirements.

Then if I need to add one section controller to my app, I ne

[2017-08-22 15:31] artemkalinovsky commented on #516
Hey guys, I guess, I've found a way how to make self-sizing work:
1) In `viewDidLoad()`:
[code]
2)  In your cell class:
[code]

[2017-08-22 20:19] weyert commented on #516
Thank you @artemkalinovsky! I will try this out. What's the difference between the `systemLayoutSizeFitting` with the extra parameters and the plain `contentView.systemLayoutSizeFitting`? It's unclear for me when reading the docs

[2017-08-22 20:37] artemkalinovsky commented on #516
@weyert `func systemLayoutSizeFitting(_ targetSize: CGSize) -> CGSize` give me wrong size (width and height), so I've used method, where I can set correct width by myself:
[code]
where I've said that I want cell with fixed width and flexible height value.

[2017-08-23 05:56] agsarkisov commented on #516
@artemkalinovsky Thanks, it work for me. But there is two problems.

1. UICollectionViewFlowLayoutAutomaticSize  NS_AVAILABLE_IOS(10_0)
2. I still get warnings about two extra NSAutoresizingMaskLayoutConstraint - width and height set in section controller

Any thoughts?

[2017-08-23 07:27] agsarkisov commented on #516
So, how I solved this problem in Objective-C:

1. Remove "preferredLayoutAttributesFitting" method.
2. Add any non CGSizeZero "estimatedItemSize", for example:
    layout.estimatedItemSize = CGSizeMake(44.0f, 44.0f);
3. Add self.contentView.translatesAutoresizingMaskIntoConstraints = NO; to "initWithFrame".
4. Set constraints for your custom view, label, etc. in cell.
5. Return size in ListSection

[2017-08-23 07:43] artemkalinovsky commented on #516
@agsarkisov
Our app is targeting iOS10 and above, so we don't care about `UICollectionViewFlowLayoutAutomaticSize NS_AVAILABLE_IOS(10_0)`
¯\_(ツ)_/¯

[2017-08-23 17:44] rnystrom opened #909 "Remove @optional protocol methods for breaking-changes release"
Reminder issue to clean up all `@optional` introduced between 3.0 and 4.0 once 4.0 hits.

[2017-08-24 08:44] aelam opened #912 "Only SectionControllers of NSNumber and NSString can be reusable"
## New issue checklist

Please see the `TestObject`, all the SectionControllers of my `TestObject` are not reusable. I tested in `NestedAdapterViewController `.

New SectionControllers will be created in `func listAdapter(_ listAdapter: ListAdapter, sectionControllerFor object: Any)  -> ListSectionController`. In addition I've implemented the `ListDiffable` for `TestObject` and keep the strings of

[2017-08-24 12:34] rnystrom commented on #912
You should **always** create new section controllers in that method. The infra is smart enough to know when to reuse controllers between updates. Unless you call reload, which rebuilds everything.

For other models, just use a non mutating value for the `diffIdentifier` (could even be a number or string) and your controllers will be reused.

[2017-08-24 14:39] aelam commented on #912
@rnystrom   Do you mean if I want to record some states in SectionController, I need set diffIdentifier as a number or string?

[2017-08-24 14:54] aelam commented on #912
@rnystrom  I called `adapter.performUpdate`, it always create new section controllers.

[2017-08-24 15:00] rnystrom commented on #912
@aelam ya, you should be using a `diffIdentifier` that **uniquely identifies** that data, so that when updates are performed the diffing algo can check to see if anything has changed. Check out these guides for more in-depth info on creating models:

- [Diffing and equality](https://github.com/Instagram/IGListKit/blob/master/Guides/IGListDiffable%20and%20Equality.md)
- [Modeling](https://github.co

[2017-08-24 15:00] #912 closed

[2017-08-24 21:59] heumn commented on #900
Ryan has a very important point here I want to repeat

Keep researching. Get inspired. Discuss with other developers. Grab onto the things you think make sense and forget the rest. You are clearly on a good path and do not get frustrated because you havent really found how you can solve _all_ of your architectural problems with something like dependency injection... because you wont 😄   There will

[2017-08-24 22:02] heumn commented on #902
Could you try to alter the example project to replicate your setup? It would be so much easier to try to help with some actual code to look at... 😅

[2017-08-24 22:14] heumn commented on #883
Hey, thanks for providing a demo project, that makes it easier to help :)

The problem seems to be that you are hard coding the frames of the labels

![skjermbilde 2017-08-25 kl 00 10 09](https://user-images.githubusercontent.com/1769314/29691114-1aa7c298-892a-11e7-9bf5-6e2b2bce5ed5.png)

It won't help what frame you set as the superview, when the image and the label has hard coded sizes.

I would

[2017-08-24 22:19] heumn commented on #866
Do you think you could re-produce in an example project? I am very bad at debugging with playing with some actual code but would love to help 😓

[2017-08-24 22:21] heumn commented on #849
@Shivaprasad2452 do you think you could provide an example project and I will try help you?

[2017-08-24 22:22] heumn commented on #848
I think it is safe to close this one @rnystrom. It is pretty clearl that @jindulys was banging his head against the same type of problems you _could_ potentially hit with CoreData if you are not careful :)

Maybe I should open a PR to warn future realmers? 🤔

[2017-08-24 22:25] heumn commented on #829
@kleiberjp and updates on this? I am using IGListBindingSectionController is large projects and have zero issues most also contain setups with sideways scrolling embedded sections... Would love to help if you could provide me with an example project

[2017-08-24 22:25] heumn commented on #806
Any update on this @ajaybeniwal ?

[2017-08-24 22:27] heumn commented on #799
Any update on this @cikpis ? An alternative is always to paper sketch a simple version of what you want to archieve... Maybe I can throw something quick together. The example projects are pretty comprehensive now and I can not really get what you want to archieve that can not be replicated by combining snippets and designs from those.

[2017-08-24 22:31] heumn commented on #831
Maybe close this as the PR to add it to the example was closed @rnystrom ? 🤔

[2017-08-24 22:59] rnystrom commented on #883
@heumn slay!

[2017-08-24 23:08] weyert commented on #883
Totally forgot to look into this. My apologies 😞

[2017-08-24 23:09] #831 closed

[2017-08-25 06:43] gbtt commented on #883
Hi @heumn
thanks for the information and for the fix! :)

[2017-08-25 06:43] #883 closed

[2017-08-25 08:10] cikpis commented on #799
@heumn when I wrote "still waiting the guideline for binding controller" the guide was still not created and as I said in the other post, I'm not full operative ( still in vacation ) for that I didn't have the time to close this.

[2017-08-25 08:10] #799 closed

[2017-08-25 09:05] racer1988 commented on #900
@heumn Thank you 😄

That is exactly why I asked some question here ehe, to discuss a bit on this open community and get some feedbacks! I am going to jump into your links and keep trying to find out what works best.

There is always so much to learn in Software Engineering, always, too much 🤣

Thanks again, I will close this issue

[2017-08-25 09:05] #900 closed

[2017-08-25 09:42] heumn commented on #900
My pleasure :)

[2017-08-25 09:43] heumn commented on #883
My pleasure :) Best of luck!

[2017-08-25 11:58] kornerr commented on #208
Hi.
Is it possible for IGListKit to identify changed item contents during performUpdates() call and update those cells itself, so that I don't need to call batchContext.reload() myself?

[2017-08-25 14:26] rnystrom commented on #208
@kornerr yup! You need to use `IGListBindingSectionController`. Check out [this guide](https://github.com/Instagram/IGListKit/blob/master/Guides/Modeling%20and%20Binding.md).

[2017-08-25 14:43] weyert opened #913 "Adding gesture recogniser to backgroundView"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.3
- CocoaPods/Carthage versi

[2017-08-25 15:00] heumn commented on #913
I do not understand this sentence...

Have you tried adding a gesture recognizer to an example project to reproduce this? Could you share such a project?

[2017-08-25 15:39] rnystrom commented on #913
Ya not sure I follow what is wrong here. Are you talking about the `backgroundView` API on `UICollectionView`? If so, that gets consumed by our `emptyView` API on the `IGListAdapterDataSource`. If you use the empty view, you can add gestures to that.

[2017-08-25 16:16] weyert commented on #913
Whoops, sorry, I wasn't aware I already posted repo 😅

Yes, a search is happening in a search bar and I would like to be able to dismiss the keyboard by tapping on the UICollectionView so I added the tap gesture recogniser to the `backgroundView`.

E.g. I created my own UIView assigned to my `UICollectionView` and then when I change the data source through ListAdapter my backgroundView appears to

[2017-08-25 19:01] bogren opened #914 "Q: Using `IGListCollectionViewLayout` to fix default styling of headers"
Considered a lighter version of `IGListCollectionViewLayout`'s init methods with default values of like `stickyHeader: NO` etc? Would be nice to use the layout for the `SupplementaryViewController` example, since it looks a bit off with the scroll indicator behind the section headers.

[2017-08-25 20:35] kornerr commented on #208
Actually, I got it working by calling adapter.performUpdates upon items' array change (with the help of RxSwift). I wonder if that's a valid approach.

[2017-08-25 21:05] rnystrom commented on #913
Oh ya, the background view is going to be overwritten/replaced and hidden/displayed based on whether or not there is content. Can you just add the tap gesture to the collection view itself?

[2017-08-25 21:43] weyert commented on #913
Actually, I can't reproduce it anymore when I tried to make an example app. Earlier I had to the feeling that my backgroundView I assigned to my CV got nullified or a. new one got created but looks like it doesn't seem to be case. Or maybe the behaviour differ in other versions of iOS 🤔

[2017-08-26 12:14] heumn commented on #848
Did you figure it out @jindulys?

[2017-08-26 18:20] jindulys commented on #848
I had debugged and found indeed it was a realm related thing. Unfortunately, I had to use UICollectionView to work with realm.

[2017-08-26 18:20] #848 closed

[2017-08-26 20:31] heumn commented on #829
I looked at the design you are trying to archieve and to me it looks a bit you are just using the Calendar example as a starting point and trying to cram the sideways scrolling Cell into that one 🤔

I am not sure if ListBindingSectionController is really suitable for this particular, because you are really operating at several different UICollectionViews with different scrollDirections.

What abou

[2017-08-26 21:24] rnystrom commented on #829
Gonna close due to inactivity, but @heumn this is really awesome looking. Thank you for helping out here!!

[2017-08-26 21:24] #829 closed

[2017-08-26 21:25] rnystrom commented on #848
Bummer. Ya I'd love to offer better interop w/ Realm, but their mutation architecture makes this _really_ tricky. `IGListKit` heavily favors an immutable model design. The best advice is to create "view models" derived from Realm models, but it adds extra overhead.

Not to mention I have basically 0 experience w/ Realm 😞

[2017-08-26 21:25] #913 closed

[2017-08-26 21:27] rnystrom commented on #914
@bogren can you describe the issue a little more? What prevents you from initializing the layout w/ your own values?

Is this an issue w/ `UICollectionViewFlowLayout`?

[2017-08-26 21:27] #806 closed

[2017-08-26 21:28] rnystrom commented on #849
Gonna close due to inactivity

[2017-08-26 21:28] #849 closed

[2017-08-26 21:35] bogren commented on #914
I can, works as expected. It's just that it's a bit verbose. 🙂

Yes so the indicator is given a `zPosition` of 1, blocking the scroll indicator.
![simulator screen shot - iphone 5s - 2017-08-26 at 23 33 57](https://user-images.githubusercontent.com/2457281/29745300-439666bc-8ab7-11e7-98d6-875445a93972.png)

[2017-08-26 23:46] weyert commented on #894
I think this got merged and can be closed?

[2017-08-26 23:55] weyert commented on #381
I am working on this now. I just wished Xcode wouldn't crash each time I drag in a Collection View 😅

[2017-08-27 01:54] #894 closed

[2017-08-27 04:18] weyert commented on #381
Phew, quite a pain to get the NSCollectionView in the storyboard so I ended up copy-pasting it from Ray Wenderlich tutorial. For some reason when you drag a NSCollectionView into the view controller (after removing the table view bits) it crashes Xcode 8 and 9.

I have made the necessary changes to make it work with the NSCollectionView as this class doesn't support row actions I have added a butt

[2017-08-27 14:19] weyert commented on #381
I have also fixed the issue that you couldn't see the collection view animations. The backing view had to Core Animation enabled so I did this in IB and made a comment in the code.

Looking forward to hear from you, what you think of this PR. Thanks!

[2017-08-27 19:09] weyert commented on #700
@rnystrom I have written the unit test and updated the code in the binding section controller only I need to copy-and-paste the `objectsWithDuplicateIdentifiersRemoved`-method to this file too. Otherwise I am getting a bunch of errors. Could you or someone else assist with ensuring I only have to use it once?

[2017-08-27 22:42] lechium commented on #904
hmm i might not be looking hard enough, i didnt see any objc at all in any of the sample code on this repo..

[2017-08-28 02:24] rnystrom commented on #904
@lechium https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/ViewControllers/ObjcDemoViewController.m

[2017-08-28 17:19] rnystrom opened #917 "Remove all empty methods in examples"
e.g. [override func didSelectItem(at index: Int) {}](https://github.com/Instagram/IGListKit/blob/02f28fc994195fd5514c3ce66d0fad2d7226680f/Examples/Examples-tvOS/IGListKitExamples/SectionControllers/LabelSectionController.swift#L42)

This is all leftover from when we had the class+protocol requirement instead of just subclassing.

[2017-08-29 09:56] mahomealex opened #918 "crash at self.selectionDelegate didDeselectItemAtIndex:"
## New issue checklist
    new to check delgate method exist first, because it's optional.
- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKi

[2017-08-29 19:27] rnystrom commented on #918
@mahomealex can you provide more detail? At the very least we need a stack trace.

[2017-08-29 21:08] jessesquires commented on #918
@rnystrom do we check `respondsToSelector:` for this method?

[2017-08-29 21:29] rnystrom commented on #918
@jessesquires actually for the binding SC we don't:

https://github.com/Instagram/IGListKit/blob/6540f960e2e69bd4776e1e1d8c460ff812ba4c07/Source/IGListBindingSectionController.m#L127

For `IGListSectionController` it doesn't matter since it's in the base class.

Should we fix and push 3.1.1 for this? Kind of bad.

[2017-08-29 22:04] jessesquires commented on #918
ooof. @rnystrom yeah let's push 3.1.1

[2017-08-29 23:47] rnystrom commented on #918
Aight I'll PR the fix then follow up with cutting new version

[2017-08-30 06:16] mahomealex commented on #918
@rnystrom Just subclass a SectionController and set ListBindingSectionControllerSelectionDelegate.
Since It's optional, means does't need to implement, so base class have to check first.
Btw, will IGList provide a waterFall extension with different ratio and column count? I have write one in swift, it's necessary and not that easy.

[2017-08-31 17:46] MathieuWhite opened #920 "Assertion failure in -[UICollectionViewData layoutAttributesForSupplementaryElementOfKind:atIndexPath:]"
Hey guys,

I just came across a crash while trying to work with supplementary views in a section controller using the `IGListSupplementaryViewSource` protocol. Nothing fancy going on with the collection view layout, just using the default `UICollectionViewFlowLayout` on the collection view. See the assertion failure below:
[code]

To provide some context, the collection view is displaying a list o

[2017-08-31 18:42] rnystrom commented on #920
@MathieuWhite thanks for the report! So from the debug dump, I can see that

- You're using `UICollectionViewFlowLayout`
- The footer suppl view is created from a XIB called `FooterView`

Is that right?

Could you provide a zip of the example project setup that can repro the crash? That way I can look into it a little deeper. I'm unclear if this is an issue w/ IGListKit or some UIKit bug w/ `UICol

[2017-08-31 19:01] MathieuWhite commented on #920
@rnystrom Yes, that is exactly the layout and supplementary view used.

Here is a zip of the example project setup used.
You can launch the iOS Example.
To reproduce this issue, type the letter 'T' in the search bar.

[IGListKit-SupplementaryFooter.zip](https://github.com/Instagram/IGListKit/files/1268210/IGListKit-SupplementaryFooter.zip)

[2017-08-31 19:51] #918 closed

[2017-08-31 21:23] rnystrom commented on #920
@MathieuWhite your bug is in dynamically changing if a supplementary view exists or not in `supportedElementKinds`. `UICollectionViewFlowLayout` isn't meant to dynamically insert/remove supplementary views w/out calling `invalidateLayout`. A SO question that is exactly the same issue:

https://stackoverflow.com/questions/30153793/crash-on-collectionview-performbatchupdates-when-trying-to-hide-foot

[2017-08-31 21:23] #920 closed

[2017-08-31 22:18] MathieuWhite commented on #920
Thanks for the quick turnaround, @rnystrom!
Much appreciated.

[2017-09-01 09:53] drinkius commented on #829
For those wondering: I've managed to use ListBindingSectionController with embeddedSections, using the following viewModel:

[code]

All shows up as expected, got problems with updates for now,  `adapter.sectionController(for:)` returns nil, but in general setup works well and shows all the data

[2017-09-01 21:00] #381 closed

[2017-09-06 01:55] Jkurbs opened #923 "Multiple horizontal sections"
Hi so here's an example of what I'm trying to do
<img width="199" alt="screen shot 2017-09-05 at 9 52 17 pm" src="https://user-images.githubusercontent.com/10508898/30090952-b04a43bc-9284-11e7-8c09-6036bf3fb61f.png">

I want 4 sections with horizontal scroll.
I've been trying to do it with no success, my data always go in the same section.
Can I get some help? Thanks!

[2017-09-06 03:10] rnystrom commented on #923
@Jkurbs are you using `UICollectionViewFlowLayout`? If so, mind trying our `IGListCollectionViewLayout` instead? If that doesn't solve your problem, could you post more details about your setup?

[2017-09-06 08:26] heumn commented on #923
Could you post an example project @Jkurbs where you have tried? Preferably a github repo? I have multiple sideways scrolling sections in my most recent app.

[2017-09-08 01:51] Jkurbs commented on #923
Hi guys, Thank you for the quick response! Let me start by showing you what my data structure looks like:
<img width="852" alt="screen shot 2017-09-07 at 9 44 38 pm" src="https://user-images.githubusercontent.com/10508898/30192463-e319eabc-9415-11e7-82fa-f5ea95d752d8.png"> .

As you can see in the picture each story have a different type, there's 4 types in total.
Here's my model for the stories:

[2017-09-08 03:15] lechium commented on #904
thanks! for some reason i never got a notification about your response!

[2017-09-08 18:06] rnystrom commented on #923
@Jkurbs check out some of our examples that have embedded, horizontal lists. That's probably your best option.

https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/ExpandableSectionController.swift

Our modeling guide can probably help with your design too!

https://github.com/Instagram/IGListKit/blob/master/Guides/Modeling%20and%20Binding.

[2017-09-09 16:19] Deub27 opened #924 "PR462 closed but not effective"
Hi

To my understanding, the PR462 is merged and included in 3.0.0 version.
But code does not appear to be included at all.

Am i wrong somewhere ?

[2017-09-09 16:59] rnystrom commented on #924
Yup we had to back out the changes as they had bugs. We haven't attempted to restore the PR as we've worked around what it was originally trying to do.

[2017-09-09 16:59] #924 closed

[2017-09-09 17:18] Deub27 commented on #924
OK, i understand.
My problem is the i have a top menu animated with collectionview offset.
When no data in my datasource, empty view is displayed but there is no more scroll because it is embedded in collectionview backgroundview

[2017-09-09 17:54] rnystrom commented on #924
@Deub27 you'll probably want to create an actual section controller and cell to display when in an empty state. Then it will scroll with the view. Something like this:

https://github.com/rnystrom/GitHawk/blob/master/Classes/Notifications/NoNewNotificationsSectionController.swift

[2017-09-09 18:01] Deub27 commented on #924
Thanks, i will implement that

[2017-09-10 11:46] weyert commented on #923
You could make a section controller for horizontal scrolling which takes a parameter type,  which roughly based on the Example's `HorizontalSectionController` but just allowing to filter out by type.

As you can see in the `HorizontalSectionController` it's using an embedded `UICollectionView` with a new a `ListAdapter` which requires the `ListAdapterDataSource`-protocol to implemented on your sec

[2017-09-10 13:46] HarshilShah commented on #739
An update on this: Manually fetching visible cells and binding new view models seems to work with no resizing involved. I've updated my demo project for this: https://github.com/HarshilShah/IGListKit-SelfSizingBinding

This skips over the diffing step, but the result should be the same regardless: There's only one root model and binding section controller, so diffing should be no issue there. For

[2017-09-11 19:20] rnystrom opened #925 "Swift Package Manager support"
I honestly have 0 experience with the SPM. I'd love for IGListKit to be available via all possible package managers.

- Is this even feasible since its an ObjC library?
- What all is required?
- Is SPM widely used?

cc @jessesquires for help 😇

[2017-09-11 19:25] jessesquires commented on #925
SPM supports building C, C++, ObjC packages but doesn't support iOS/macOS at all. I mean, we should be able to get everything building via SPM (especially since there are no xibs, etc.), but there's no Xcode integration or anything like that so it's pretty pointless.

Only real use-case right now is on linux/server.

[2017-09-11 19:28] rnystrom commented on #925
Welp, move along then.

[2017-09-11 20:30] jessesquires commented on #925
LOL

we could leave this open as an FYI / future work

[2017-09-12 05:19] iOSUser110 commented on #614
I am getting the same kind of crash..I am  trying to use adapter.datasource = self
On that it is getting the app freeze and cpu usage upto th 95 % .
after long time app carshed because of some memory issue.
Not getting the solution for this kindly look at this as early as possible ...

[2017-09-12 06:09] iOSUser110 commented on #614
And this is happeining only when push from one controller to another

[2017-09-12 06:10] iOSUser110 commented on #614
waiting for your reply .. i am stuck because of this :(

[2017-09-12 07:36] racer1988 commented on #614
@iOSUser110 Could you please provide more details in order to identify the issue?

What version of XCode are you using?
What version of IGListKit?
Did you check that you are doing the setup and the push from the main thread?
Can you provide your project for testing?
If not, can you provide the IGListKit setup code?

Since you are saying your CPU goes up to 95%, it feels like there is a infinite re

[2017-09-12 07:59] nazmulkp opened #926 "pre-loading Scroll is little jumping"
I have a news feed app that is app when user scrolling  infinity scroll view like Instagram . every time  api request get 20 post. it is working fine but problem is   Scroll is little  jumping . do I miss anything

[code]

[2017-09-12 10:37] iOSUser110 opened #927 "Returned a nil supplementary view at indexPath"
is anyone faced this issues ??

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Returned a nil supplementary view at indexPath <<NSIndexPath: 0xc000000000000116> {length = 2, path = 1 - 0}> from section controller:

need solution for this urgent .. :(

[2017-09-12 11:29] bogren commented on #927
What is your setup? Can you share code in small test project that reproduces the issue? Need more info to be able to help

[2017-09-12 13:09] rnystrom commented on #614
@iOSUser110 I'd recommend opening a new issue to track what is happening, and make sure to include everything @racer1988 (thank you!!) listed.

We're a very small team maintaining this in addition to our fulltime role, please give us at least a day to get back!

We've also included debugging tools like the debugger dump so that you can get an investigation started on your own, greatly increasing t

[2017-09-12 17:53] DMCApps opened #928 "collectionContext.cellForItem(at:, sectionController:) returning nil in long press on cell."
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 10.3
- CocoaPods version: 1.2.1

[2017-09-12 19:28] DMCApps commented on #928
Nevermind, programming issue on my part where the `contentView` of the cell was piling up the `UILongPressGestureRecognizer` and hence retaining the old controllers and sending them into the `cellForItem` method.

[2017-09-12 19:28] #928 closed

[2017-09-13 03:26] rnystrom opened #929 "Invalidating layout while in the middle of an update can cause a crash"
I can repro this on my [GitHawk](https://github.com/rnystrom/githawk) app pretty easily, but I'm having trouble recreating the crash in a unit test. The gist of the bug is that you can [invalidate](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L993-L1012) which calls `performBatchUpdates:completion:` while in the middle of a batch update block already. This needs to be

[2017-09-13 18:33] rnystrom commented on #926
@nazmulkp try setting `self.loading = false` in the completion block of `performUpdates(...)`. Calling that method could be triggering the scrolling delegate again.

Some other options:

- Does it still jump when `animated: false`?
- Set a BP on `-[UIScrollView setContentOffset:]` and see who all is changing the offset when jumping.
- Can you create an example app reproducing this? There are a _to

[2017-09-13 21:43] yusufoos opened #932 "Scrolling to object does not work with custom contentInset"
## New issue checklist

- [YES] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [YES] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 10
- CocoaPods/Carthage versi

[2017-09-14 18:35] Valerun666 opened #934 "Reload cell in HorizontalSectionController that is in inside ListStackedSectionController"
Can you explain how road cell inside HorizontalSectionController, when HorizontalSectionController is a part of ListStackedSectionController. So basically I can get to the ListStackedSectionController, but I can't understand how to get certain HorizontalSectionController.

[code]

How can I get controller which is inside  ListStackedSectionController?

[2017-09-15 13:17] DMCApps opened #935 "Performance difference between Debug and Release build"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 10.3
- CocoaPods/Carthage versi

[2017-09-15 15:38] DMCApps commented on #935
Figured out the issue, I was using a helper method that counted the number of items in an enum. This method performed differently in Release than it did in Debug causing it to result in a much higher number for the `ListSectionController.numberOfItems()` call.

[2017-09-15 15:39] #935 closed

[2017-09-15 15:43] Valerun666 opened #936 "UIEdgeInsets for EmbeddedSectionController"
Does anyone faced with such issue:

got EmbeddedSectionController with insets  UIEdgeInsets(top:0, left: 20, bottom: 63, right: 0), but I need to have the same distance between each cell and the edges of section. In current case I have something like:

| 20 [cell] 20 [cell] 20 [Cell] 0 |

where:
-  20 is a distance between  cells and section edges.
- "|" -  section edges

Expecting to have:

| 20

[2017-09-16 00:38] rnystrom commented on #935
@DMCApps thanks for following up! I'm really curious what about the release build made it slow?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-16 00:57] DMCApps commented on #935
@rnystrom I didn't investigate the extension mentioned above too thoroughly, but the extension that I list above would return 256 for an enum with 3 items in it in Release, but in Debug would return 3.

e.g.
[code]

This basically cause the collection view to create and attempt to display 256 cells in one section which  I had a default size of `CGSize(width: width, height: 0)` and a default cell o

[2017-09-16 02:45] rnystrom commented on #935
Ah! Good to know.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-18 11:16] CocoaPriest opened #937 "Negative sizes are not supported in the flow layout"
Anyone getting this?

**> 	14  IGListKit                           0x0000000110e6c673 __62-[IGListAdapterUpdater performBatchUpdatesWithCollectionView:]_block_invoke.118 + 499

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11 GM
- Xcode version: 9 GM

[2017-09-18 12:00] rnystrom commented on #937
@CocoaPriest why would a size ever be negative? This assert is inside `UICollectionViewFlowLayout`, something that we cannot control. Also you should be hitting an assert in `IGListAdapter` if a size is negative.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-18 15:36] trsneed commented on #934
I just ran into this myself. Need to scroll to a sectioncontroller within a ListStackedSectionController

[2017-09-19 13:55] avalanched opened #939 "Crash - key cannot be nil"
## New issue checklist

- [ x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11
- Xcode version: 9 GM

###

[2017-09-19 14:01] avalanched commented on #939
found it, it was due to an error in the collectionViewLayout

[2017-09-19 14:01] #939 closed

[2017-09-19 23:43] yusufoos commented on #932
Seems like the issue can be fixed by not subtracting
`contentInset.top in contentOffset.y = offsetMax - collectionViewHeight - contentInset.top;
`
https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L276

Not sure why it's being subtracted.

[2017-09-20 13:44] rnystrom commented on #932
@yusufoos you know, I think you're right that this is actually a bug. We only use `bottom` in one place in Instagram, makes sense that we've never run into this.

[2017-09-20 14:55] rnystrom commented on #934
Hmm, we don't really have any APIs to access section controllers w/in the stack b/c we didn't really anticipate anyone wanting to reach _inside_ the stack, more that the child section controllers are agnostic of how they are used/contained.

A hack to unblock you would be to expose [this method](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListStackedSectionControllerIntern

[2017-09-20 15:01] rnystrom commented on #936
@Valerun666 I need a little more detail about your setup. You want to uniformly space cells within a _single_ section or _multiple_ sections?

Either way, try exploring a combination of [-[IGListSectionController insets]](https://github.com/Instagram/IGListKit/blob/master/Source/IGListSectionController.h#L133) and [-[IGListSectionController minimumInterItemSpacing]](https://github.com/Instagram/IG

[2017-09-20 15:01] rnystrom commented on #937
Closing out b/c this isn't an issue w/ IGListKit, and IMO not an issue with `UICollectionViewFlowLayout`. Negative sizes shouldn't be used in general.

[2017-09-20 15:01] #937 closed

[2017-09-20 16:49] #929 closed

[2017-09-20 18:36] yusufoos opened #944 "Reusing ListAdapter with a different dataSource"
## New issue checklist

- [YES ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ YES] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 11
- CocoaPods/Carthage ver

[2017-09-20 20:36] rnystrom commented on #944
@yusufoos I wouldn't change the data source, `IGListAdapter` isn't designed to do that, as you'd discovered. Your patch could work, but I'm not sure it's something we want to encourage.

Why can't you have a single data source and _within_ the data source fork between two sources that return stuff for `objects(for listAdapter:)`?

I'm also curious what separating data sources unlocks for you? Are

[2017-09-20 21:14] yusufoos commented on #944
@rnystrom I just want to separate concerns, I could have one massive dataSource and some sort of internal switch that will load the data depending on the "Feed" that I want to use, or as I suggest, I could separate those two feeds into separate objects that manage their own data.

[2017-09-20 21:40] #944 closed

[2017-09-21 01:04] #700 closed

[2017-09-21 13:15] Valerun666 commented on #936
Thx for advice. Worked trick with empty cell. But anyway this is not really good way out.

Long story short, [IGListSectionController minimumInterItemSpacing] doesn't work EmbeddedSectionController cause as I correctly understand it doesn't know about existence of other Section Controllers. So when I check isLastSection, it says no. Cause it is the only one.  Don't know if it possible somehow to f

[2017-09-21 13:22] Valerun666 commented on #934
@rnystrom , it would be great to get a section controller at a specific index. For my case it would be great to get an access to specific section controller and call update method there for specific cell in case it is HorizontalSectionController. Cause I'm working on async image loading for different cells, and it's really strange to reload whole section, in case I could update only specific cell.

[2017-09-21 13:46] rnystrom commented on #934
@Valerun666 thanks for the context! In your use-case, where does the image loading completion happen?

[2017-09-21 13:47] rnystrom commented on #936
@Valerun666 any chance you could take the embedded example project we have and recreate your setup? Then I can mess around w/ it a little. Still a little hard for me to conceptualize what is and isn't working here.

Also might want to try using `IGListCollectionViewLayout` as its item-spacing logic is a little better than `UICollectionViewFlowLayout`.

[2017-09-21 14:13] Valerun666 commented on #936
Thx. Will try. Will prepare an example for you during this weekend.

[2017-09-21 15:02] Valerun666 commented on #934
@rnystrom , basically there is a separate service that loads images for data models. After image is loaded, I update data model in the list and need to reload certain cell that displays the data information.

[2017-09-21 18:16] #932 closed

[2017-09-22 08:27] agisilaos commented on #917
I want to work on that @rnystrom. Can I added as an assignee? Expect a PR from me this afternoon 💯

[2017-09-22 10:59] weyert commented on #917
I think we already have a PR by Kim for this

Sent from my iPhone

[2017-09-22 13:13] rnystrom commented on #917
Yup fixed in #945

[2017-09-22 13:13] #917 closed

[2017-09-24 22:54] Smiller193 opened #949 "Proper Implementation"
[So I have been attempting to implement IGListKit For a couple days now I believe my implementation is correct. I'm using it currently to load comments when a user clicks on a post. I'm not 100% sure if I have implemented it right so this is less of an issue and more of a verification in the hopes that my code has no issue.

This is my comments controller

    import UIKit
    import IGListKit

[2017-09-25 09:00] weyert commented on #949
The GitHawk is a nice source of how you can leverage IGListKit in your applications. But at first sight it looks correct

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-25 11:23] rnystrom commented on #949
@Smiller193 what isn’t working exactly?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-25 12:15] weyert commented on #949
@rnystrom I think it's more a question whether this is a 'best practice'-implementation

[2017-09-25 12:21] iOSUser110 opened #950 "Can we use IGLISTKIT collection view for form building ?"
means to design forms with textfield, TextViews or inline pickers ?

[2017-09-25 12:40] rnystrom commented on #950
Sure! Nothing preventing that. Though we don’t have any first-class support for any of these components. Nothing holding you back from building one.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-25 13:34] #950 closed

[2017-09-25 14:02] Smiller193 commented on #949
Yeah, it is more of a best practice question. However, I do have two issues that I want to bring to light
So each one of my section controllers is, in essence, a collection view cell. In my previous implementation, I was able to interact with those cells via a Button that is present in each cell. The button is still there but It no longer responds to the tap gesture I have setup to it.

Secondly,

[2017-09-25 16:02] weyert commented on #949
If you want to reintroduce your headers, you need to implement `ListSupplementaryViewSource` in your `SectionController` so you add the supplementary view (here a header) back. An example of this is the `FeedItemSectionController` in the Example-code.

Regarding getting the button working again, you can have a look at the guide https://github.com/Instagram/IGListKit/blob/master/Guides/Modeling%20a

[2017-09-25 17:04] Smiller193 commented on #949
Thank you, I will take a look at it

[2017-09-25 17:51] Smiller193 commented on #949
So I implemented the header similar to how it is implemented in the FeedItemSectionController however it seems to be adding a header for each and every comment cell. When in all reality I only need one. Below is my implementation. @weyert

    func supportedElementKinds() -> [String] {
        return [UICollectionElementKindSectionHeader]
    }
    func viewForSupplementaryElement(ofKind elementKi

[2017-09-25 18:41] Smiller193 commented on #949
It seems as though the header is attached to the cell and not the view

[2017-09-25 21:11] weyert commented on #949
Yes, it's adding a section to every instance of the section controller. Check out the `SupplementaryViewController` in the Example. I think that would be easiest way to resolve this issue :)

[2017-09-25 23:28] Smiller193 commented on #949
Thanks I will take a look into that and keep you updated

[2017-09-25 23:47] Smiller193 commented on #949
Um I don't get it

/**
 Copyright (c) 2016-present, Facebook, Inc. All rights reserved.

 The examples provided by Facebook are for non-commercial testing and evaluation
 purposes only. Facebook reserves all rights not expressly granted.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FO

[2017-09-26 00:31] rnystrom commented on #949
@Smiller193 check inside `FeedItemSectionController`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-26 00:40] Smiller193 commented on #949
@rnystrom the implementation I followed in there added a header to each and every cell.
Is there something there that I missed?

[2017-09-26 00:46] Smiller193 commented on #949
<img width="276" alt="screen shot 2017-09-25 at 8 46 11 pm" src="https://user-images.githubusercontent.com/16108750/30837385-9df4cf26-a232-11e7-9721-b7c8ba72eb82.png">

[2017-09-26 00:48] Smiller193 commented on #949
Sorry for all the questions

[2017-09-26 01:04] rnystrom commented on #949
Np! That's what our issues section is for 😄

It sounds like you're trying to get a single header for everything? If that's the case, then I'd recommend using **a separate section controller** to represent the header. It'll be a `UICollectionViewCell` in the end, but that's not really important (unless you need sticky headers).

Another option is to gather all of your data into a **single section c

[2017-09-26 01:05] Smiller193 commented on #949
Thank you I should be able to do that easily with the knowledge gained from conversing with you guys

[2017-09-26 10:21] ChristianLysne opened #951 "Multiple rows with horizontal scroll"
I was't able to find an answer to this, but apologies if this has been answered before or I have misunderstood the documentation.

After experimenting with the example projects, I tried to make the `Nested Adapter` support having 2 rows in the horizontally scrollable section, instead of 1.

With a default `UICollectionView` with horizontal scroll and `cellHeight < (collectionViewHeight - insets) /

[2017-09-26 10:33] heumn commented on #951
If I understood you correctly you need to use / create a collection view layout that supports this :) The one in the example will not

[2017-09-26 10:47] ChristianLysne commented on #951
Thanks @heumn 😄 Was hoping to not use a custom flow layout when the default works without `IGListKit`, but this works as a backup solution 👍

[2017-09-26 13:56] rnystrom commented on #951
@ChristianLysne we just added horizontal support to `IGListCollectionViewLayout`, but tbh I don't recall the stacking-fit behavior. It _might_ work like this (cc @edmonston for details).

[2017-09-26 14:57] Smiller193 commented on #949
Sorry is there an example that just creates the header without attaching some sort of object or ListDiffable Model to it.

//
//  CommentsHeaderSectionController.swift
//  Eventful
//
//  Created by Shawn Miller on 9/26/17.
//  Copyright © 2017 Make School. All rights reserved.
//

import UIKit
import IGListKit

class CommentsHeaderSectionController: ListSectionController {
    override init(){

[2017-09-26 15:18] rafalszastok opened #952 "Wrong index in sizeForItem"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): iOS 10 & iOS 11
- Carthage vers

[2017-09-26 16:41] Smiller193 commented on #949
Would I just do a check for the object and then return the sectionController in this method

      func listAdapter(_ listAdapter: ListAdapter, sectionControllerFor object: Any) ->
    ListSectionController {
            //the comment section controller will be placed here but we don't have it yet so this will be a placeholder
            return CommentsSectionController()
       }

[2017-09-26 16:41] Smiller193 commented on #949
@rnystrom

[2017-09-27 02:04] edmonston commented on #951
Hi @ChristianLysne, as far as I can tell, the screenshot you show of the Nested Adapter uses `UICollectionViewFlowLayout` for its `EmbeddedCollectionViewCell`s, so you wouldn't get the benefit of the horizontal support that we just added to `IGListCollectionViewLayout` that @rnystrom mentions.

But `IGListCollectionViewLayout` should do want you want with little or no customization -- I have an ex

[2017-09-27 09:39] weyert commented on #949
In my project I was using a `private let addStore = "addStore" as ListDiffable` and then:

[code]

[code]

[2017-09-27 13:53] ChristianLysne commented on #951
Thanks! Worked great and is exactly what I wanted ❤️

[2017-09-27 13:53] #951 closed

[2017-09-27 14:29] Smiller193 commented on #949
Thanks that worked perfectly. Now I just have to go back and make the button work again @weyert

[2017-09-27 17:35] DarrenAndes commented on #873
Running the project above in Xcode 9 w/ iPhone X simulator and scrolling up also shows another bug where the sticky Header appears underneath the new UINavigationBar.

![iphone_x](https://user-images.githubusercontent.com/11096380/30928014-4b2041ca-a388-11e7-8253-0aa6050df0eb.png)

[2017-09-27 18:00] rnystrom commented on #873
@DarrenAndes can you open a new issue for that? Include what collection view layout you’re using.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-27 18:03] marcuswu0814 commented on #873
@rnystrom

I think it my demo project and used `IGListCollectionViewLayout`, and the `topContentInset` is hard code 64 cause this issue.

[2017-09-27 20:40] Smiller193 commented on #949
Sorry but can I maybe ask one more thing

[2017-09-28 10:16] weyert commented on #949
Of course :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-28 14:46] Smiller193 commented on #949
So I understand how to make use of protocols to communicate that a button was pressed in another class. Now I have this function in my NewCommentsViewController that is supposed to handle all things related to that comment; both flagging and deleteing.

This function is listed below

       func flagButtonTapped (from cell: CommentCell){
            guard let indexPath = self.collectionView.indexP

[2017-09-29 21:20] tyyou77 opened #953 "Background Color"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2017-09-29 22:34] rnystrom commented on #953
The default background for `UICollectionView` is black. Have you tried setting it to white?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-30 15:21] Smiller193 commented on #949
@rnystrom @weyert

[2017-09-30 17:26] weyert commented on #949
I normally handle it all in the section controller but you can handle it in your VC if you want by just passing the delegate in the section controller e.g. as shown in `GitHawk` repo: https://github.com/rnystrom/GitHawk/blob/f8d0cc7f12c6adebfff723ea6029feffa08ee9ac/Classes/Issues/IssuesViewController.swift#L410

If you want to handle it in the section controller you should be able to access the vi

[2017-10-01 12:49] Smiller193 commented on #949
So when I delete my comment it does not disappear from the section controller for some odd reason like it is gone from my database but my controller does not recognize this how would I simulate a real time deletion using this?

[2017-10-01 12:50] Smiller193 commented on #949
@weyert @rnystrom

[2017-10-01 18:21] weyert commented on #949
Did you make sure the data source got updated and you call the update on the IGListKit's adapter?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-01 19:04] Smiller193 commented on #949
Um am I able to call that via the section controller?

[2017-10-01 19:04] Smiller193 commented on #949
@weyert

[2017-10-01 19:16] Smiller193 commented on #949
//will fetch the comments from the database and append them to an array
        fileprivate func fetchComments(){
            messagesRef = Database.database().reference().child("Comments").child(eventKey)
            print(eventKey)
            print(comments.count)
            messagesRef?.observe(.childAdded, with: { (snapshot) in
                print(snapshot)
                guard let commen

[2017-10-01 20:00] kimdv commented on #819
@rnystrom have pushed Swift 4 examples in commit f7220b5cfe2270fabd82bf2c45975c8e9e2253c9

[2017-10-02 10:50] weyert commented on #949
Yes, I think via the collectionContext property of the section controller.  If I were you would just go the easy way and go for the delegate pattern. Pass a delegate to your comments section controller and then when the Item needs to be deleted do it through this delegate and implement it in your VC so you can reuse your existing code.

If this doesn't make sense can you make a demo/example projec

[2017-10-02 13:03] Smiller193 commented on #949
So, for example,If I am understanding correctly I would add a protocol/delegate to this function. Which is the comments section controller

    import UIKit
    import IGListKit
    import Foundation

    class CommentsSectionController: ListSectionController,CommentCellDelegate {
        var comment: CommentGrabbed?
        var eventKey: String?
        override init() {
            super.init()

[2017-10-02 13:20] weyert commented on #949
Yes, correct which then will trigger your code for removing the comment from your data source and then doing a refresh of the `IGListKit` by calling: `self.adapter.performUpdates(animated: true)` :)

[2017-10-02 13:29] Smiller193 commented on #949
Okay cool thanks ill put that into practice and let you know how it goes

[2017-10-03 04:39] Smiller193 commented on #949
This is my section controller

    import UIKit
    import IGListKit
    import Foundation

    protocol CommentsSectionDelegate: class {
        func CommentSectionUpdared(sectionController: CommentsSectionController)
    }
    class CommentsSectionController: ListSectionController,CommentCellDelegate {
        weak var delegate: CommentsSectionDelegate? = nil
        var comment: CommentGrabbed?

[2017-10-03 06:59] weyert commented on #949
Yes, you aren't setting the `delegate`-property when creating the instance of `CommentsSectionController` try:

[code]

You could also change the code a bit so that this section controller accepts a `delegate`-parameter in it's initialiser so the code would become: `return CommentsSectionController(delegate: self)`.

[2017-10-03 09:16] Smiller193 commented on #949
Where would this code be inside of?
would creating a new instance everytime not create a memory leak?

[2017-10-03 09:20] Smiller193 commented on #949
oh inside the listadapter function

[2017-10-03 09:28] Smiller193 commented on #949
So the updated version should look like this

    import UIKit
    import IGListKit
    import Foundation

    protocol CommentsSectionDelegate: class {
        func CommentSectionUpdared(sectionController: CommentsSectionController)
    }
    class CommentsSectionController: ListSectionController,CommentCellDelegate {
        weak var delegate: CommentsSectionDelegate? = nil
        var comment:

[2017-10-03 09:31] Smiller193 commented on #949
The comment still seems to be there how would I update screen and datasource

[2017-10-03 09:46] weyert commented on #949
Can you please make a reproducible version of your problem in a git repo so we can have a look at it?

[2017-10-03 10:09] Smiller193 commented on #949
https://github.com/Smiller193/EventfulApp1

[2017-10-03 10:10] Smiller193 commented on #949
Those two files are in there

[2017-10-03 11:17] weyert commented on #949
@Smiller193 Looks like you are only calling `CommentSectionUpdared` in the section controller but not actually deleting the comment anywhere? You probably need to call `fetchComments` again or just filter out the deleted comment from the `comments`-variable.

If this array doesn't change it won't disappear from the list when you call `self.adapter.performUpdates(animated: true)`.  As `IGListKit` i

[2017-10-03 12:04] Smiller193 commented on #949
well I know what the problem may be
it seems to not even be deleting it from firebase

[2017-10-03 14:27] Smiller193 commented on #949
Got it to work?

[2017-10-03 14:59] weyert commented on #949
Great! Happy to hear that 💃

[2017-10-03 15:05] Smiller193 commented on #949
Thanks for everything there is one other issue I can't seem to solve but it is not related to IGListKit haha

[2017-10-03 22:24] tyyou77 commented on #953
Yes I have but it still has that greyish color.

[2017-10-04 04:25] rnystrom commented on #953
@tyyou77 so you have an example that reproduces the issue? A little hard to debug this at the moment. It doesn’t sound like an IGListKit issue though 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-04 04:33] tyyou77 commented on #953
@rnystrom hmm.. it's a bit strange because we have two views that utilize the tab bar except on the view that doesn't use IGListKit, the tab bar (with the translucent option on) remains clear/white. However, on the view that utilizes IGListKit(ListAdapater), the tab bar is grey even though we set the background of the collection view white.

[2017-10-04 08:52] weyert commented on #953
Really strange indeed, if you could reproduce the problem in a example project and post the repo here then we can have a look at it :)

[2017-10-04 14:24] #949 closed

[2017-10-04 19:44] weyert opened #955 "Usage Xcode 9's recommended project settings causes warnings"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: `master`
- iOS version(s): N/A
- CocoaPods/Carthage ver

[2017-10-04 21:33] weyert commented on #955
Already fixed in an existing PR #942. Closing ticket

[2017-10-04 21:33] #955 closed

[2017-10-05 09:34] rafalszastok commented on #952
After futher investigation, I found the reason of my crashes. In short: we change `collectionView` in adapter in `SectionController` that creates `EmbeddedTableViewCell`:
[code]

## Debugging process

I prepared function that periodically and every second returns 3, 4 or 8 elements. After few updates I receive crash:
[code]

## Under the hood

Function `numberOfSectionsInCollectionView` in `IGList

[2017-10-05 11:54] rnystrom commented on #952
Gives me more support to create a first-class embedded controller...

@rafalszastok I’ll take a look at the example when I’m back in town.

I’ve seen similar crashes in Instagram when updating a collection view on a reused cell. Looks very similar.

Given your investigation and repro on the example, do you consider this a bug in IGListKit or just confusing to setup?

<sub>Sent with <a href="http:/

[2017-10-05 14:12] Krishna commented on #712
I'm going to have a go at organizing the example projects in a shallow structure. I'm trying to learn about IGListKit, so I think it will be helpful for me and other newcomers to the project.

[2017-10-05 16:39] rnystrom commented on #953
To be clear, IGListKit isn’t doing anything with view controllers or how a collection view gets laid out. It sounds to me like some layout or insetting issue. But again really hard for me to debug without seeing it in action.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-06 03:35] sree127 opened #958 "Instagram mock layout - Clarity needed on best practices"
Hi,

Below is an example of what I'm trying to do:

<img width="288" alt="screen shot 2017-10-06 at 8 40 31 am" src="https://user-images.githubusercontent.com/3157263/31261470-0df8e6e4-aa72-11e7-81ae-aef393af516f.png">

I could achieve something similar but I'm not sure whether its the right way to do that. Below is a rough structure of what I'm following:

Models:
[code]

[code]

[code]

**I'm no

[2017-10-06 06:44] haitham-reda commented on #952
@rafalszastok i'am having the same issue now, any progress to make them in sync ?

[2017-10-06 08:32] rafalszastok commented on #952
Because collection view contains logic to insert and remove items with animations it can't be treated like reusable component. I'm not sure if diff mechanism allows that, but using unique identifier for each cell that contains collectionView (`EmbeddedCollectionViewCell`) might solve problem. I already tried several approaches but still I can't find the solution or workaround that satisfy me.

[2017-10-08 05:36] Smiller193 opened #960 "Scroll to Bottom When Keyboard Toggled Causes Crash"
Well, I have successfully implemented IGLisrKit. Only thing is that I had this function where it scrolls to the bottom of the content when the keyboard is toggled.

Here is my code for that method:

     @objc func handleKeyboardNotification(notification: NSNotification){
            if let userinfo = notification.userInfo{

                let keyboardFrame = (userinfo[UIKeyboardFrameEndUserInfoK

[2017-10-08 05:38] rnystrom commented on #960
Can you repro this in an example app we can debug? There isn’t enough information for us to action yet.

You might also want to use the scrolling APIs on `IGListAdapter` instead.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-08 06:09] Smiller193 commented on #960
Ill take a look at that however this is my github repo
https://github.com/Smiller193/EventfulApp1
and this is a sample login
shawn@Makefool.com
Gohan114
Select one of the pictures and go click the comment/message bubble image and toggle the keyboard that will reproduce the error

[2017-10-08 13:31] weyert commented on #960
[code]

You need to be sure that indexPath is valid before scrolling.

[2017-10-08 13:42] Smiller193 commented on #960
Okay i found the scroll(toObject) method thanks ill look into it

[2017-10-08 18:01] yusuftor opened #962 "Latest iOS Examples project doesn't build in Xcode 9"
I downloaded the latest version of the IGListKit project, and when I try to run it in Xcode 9, it gives the following error:

`'IGListArrayUtilsInternal.h' file not found`

As well as some warnings.

[2017-10-08 19:38] weyert commented on #962
@yusuftor You can resolve this issue by running `./pod_setup.sh` in the Examples directory

[2017-10-09 13:22] rnystrom opened #963 "Danger error when editing docs/ dir"
We should error w/ Danger when someone edits the `docs/` directory w/out a special tag like "#docgen" in the title. See:

https://github.com/Instagram/IGListKit/pull/961#pullrequestreview-67979889

Will save us some review time.

[2017-10-09 16:44] #962 closed

[2017-10-10 03:27] Smiller193 commented on #960
listAdapter.scroll(to: <#T##Any#>, supplementaryKinds: <#T##[String]?#>, scrollDirection: <#T##UICollectionViewScrollDirection#>, scrollPosition: <#T##UICollectionViewScrollPosition#>, animated: <#T##Bool#>)

So how would this method trigger on keyboard toggle when the current object is in the listAdapter datasource function

[2017-10-10 08:37] tunidev commented on #30
@rnystrom The empty view in conflict when you using something like this:
https://github.com/aschuch/StatefulViewController

so I hope that wether you provide a "Loading", "Error" and "Empty" views or just remove "emptyView" or keep it optional

[2017-10-10 09:10] weyert commented on #30
How would it conflict with it? I thought `StatefulViewController` doesn't mess around with the `UICollectionView`?

[2017-10-10 09:26] tunidev commented on #35
is this still the way to go ? any full example please ?

[2017-10-10 10:19] tunidev commented on #30
@weyert sorry for not being clear, I mean when I will use `StatefulViewController` I will not need the `emptyView` of `IGListKit`

[2017-10-10 10:48] weyert commented on #30
Yes, so you can just return `nil` there?

[2017-10-10 11:22] tunidev commented on #30
@weyert  sure, but it will be confusing to have two different logic to handle empty state, hence the suggestion to make it optional like suggested in the initial issue

[2017-10-10 11:51] weyert commented on #30
I think the idea is to switch away from optional's in the code base (@rnystrom correct?) so maybe it's better to have a default implementation which returns nil

[2017-10-10 15:34] Smiller193 commented on #960
@rnystrom @weyert

[2017-10-10 18:15] weyert commented on #960
That's an implementation detail on your end?

[2017-10-11 01:02] Smiller193 commented on #960
Um well, the thing I copy and paste is just the function that comes when you attempt to use that function. Yeah, Im just trying to figure out where this function would fit in at.

[2017-10-11 01:03] Smiller193 commented on #960
Based on the function I had to accomplish goal to scroll to the bottom

[2017-10-11 23:33] Smiller193 opened #965 "IGListKit Caching Data?"
I have used IGListKit to load content. However, it seems to be caching data like when I go to a controller with no comments it seems to load the comments from a previous controller. I have opened previous issues and done what was instructed of me but this is beyond me.

I'm including my controller maybe somebody will notice something that I did not...

    //
    //  NewCommentsViewController.swif

[2017-10-11 23:37] Smiller193 commented on #965
really sorry i keep bothering you guys btw

[2017-10-12 12:11] tunidev opened #966 "Cell variants with `IGListKit`"
## New issue checklist
- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information
- `IGListKit` version: 4.0.0
- iOS version(s): iOS 11
- CocoaPods/Carthage versi

[2017-10-12 12:38] weyert commented on #966
You still need to return the cell so while creating the cell, can't you set a property there and ensure the constraints get updated when this property change?

[2017-10-12 12:59] tunidev commented on #966
@weyert that's an option, after dequeue a cell do something like `updateLayout(option:_)` but I was looking for something while the cell inited. For example I see that we can't use identifier to dequeue the cells since it has always a default identifier

[2017-10-12 22:30] rnystrom commented on #965
@Smiller193 IGListKit has absolutely no caching mechanisms in it. It sounds like there might be a bug in your networking or data later 😕

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-13 11:59] andre1720 opened #967 "Manual Install"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s): All
- CocoaPods/Carthage version: 1.2

[2017-10-14 02:25] #965 closed

[2017-10-14 02:28] rnystrom commented on #967
@andre1720 you’re using CocoaPods right? You can use IGListKit as a static or dynamic lib just fine. Installing manually works too, just drag the xcodeproj file into your workspace.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-14 11:34] andre1720 commented on #967
Hi @rnystrom thank you for your answer.
How can I add it as a static? I haven't to add !use_framework? Because if I add it without !use_framework, Xcode say me 'module not found' :(
What have I to import? Only IGListKit.xcodeproj?

Thank you!

[2017-10-14 17:24] rnystrom commented on #967
Hmm it should work with and without `use_frameworks` to my knowledge. Yes, you can just drag IGListKit.xcodeproj into your workspace.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-16 06:47] iOSUser110 opened #968 "Not working on xcode 9, swift 4"
Not working with swift 3.2 or swift 4, getting many errors,
but i can run the example app using xcode 9.

my project i can not able to run ,even i have tried  manual installation for IGListKIt

[2017-10-16 08:44] weyert commented on #968
Could you share some more details what kind of errors? The library is actively used by the GitHawk project and at work I don't experience any issues with xcode 9.

[2017-10-16 13:00] rnystrom commented on #968
Yup @iOSUser110 I’ve been using IGListKit with Xcode 9 and Swift 4 for a couple weeks now. Definitely need more information Before we can help.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-16 15:17] andre1720 commented on #967
Thanks, it works 👍 💯

[2017-10-16 15:17] #967 closed

[2017-10-17 13:13] tunidev opened #969 "Update button selected state in embedded section controller"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### Question

Here is my layout:

![embded](https://user-images.githubusercontent.com/4885143/31665902-

[2017-10-17 19:52] tunidev commented on #242
What the status of this ?

[2017-10-17 20:07] tunidev commented on #31
any news about that

[2017-10-18 11:19] cpromise opened #971 "I have a question about Follower List in instagram"
Hello, I am using IGListKit these days and really like it!!
Thank you for sharing.

Actually, what I wanna say is not an issue but just one question.
Does this ```CollectionView``` has one ```section``` and multiple ```cells```?
Or, does it have multiple ```sections``` and each section has one ```cell```?

![img_6dcce5320b8d-1](https://user-images.githubusercontent.com/5927910/31715856-6abd38da-b4

[2017-10-18 13:11] #969 closed

[2017-10-18 13:12] #966 closed

[2017-10-18 13:46] tunidev opened #972 "Embedded SelfSizing CollectionView cell size bug after update"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### Requirement

- I have an `EmbeddedSelfSizingCollectionViewCell` that contains a horizontal `UIColle

[2017-10-19 10:21] tunidev opened #973 "Pager layout with dynamic cell height"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### Question

Please help me figuring out how to use IGListKit to create this layout :

<img width="699

[2017-10-19 13:06] rnystrom commented on #973
@tunidev you'll want to use a custom `UICollectionViewLayout` in order to do this. IGListKit will work just fine for this, but we don't provide any layouts that do this.

The horizontal+vertical scrolling might make it a little complicated too. You could possible use a horizontal scroll `IGListAdapter` and put a `UIScrollView` inside each cell?

However I'm going to close this out since its beyond

[2017-10-19 13:06] #973 closed

[2017-10-19 13:07] rnystrom commented on #972
Closing this in favor of tracking all self-sizing cell issues in #516. Our recommendation is to not use the self-sizing cell's b/c of their bugs and inconsistencies 😢

[2017-10-19 13:07] #972 closed

[2017-10-19 13:08] rnystrom commented on #971
Those are all individual models in their own `IGListSectionController`s (sections). Definitely the way to go!

[2017-10-19 13:08] #971 closed

[2017-10-19 14:30] pjr0001 commented on #872
just a follow up for anyone reading this. List binding section controller has solved all of the issues I've been having. Specifically for cases where I have something like a post object with a lot of nested objects (i.e. comments, tags, etc...) This example helped me out a lot too. https://github.com/Instagram/IGListKit/blob/master/Guides/Modeling%20and%20Binding.md

[2017-10-19 14:30] #872 closed

[2017-10-20 07:05] svara commented on #937
@CocoaPriest @rnystrom I've got the same crash and found the reason for it. You are probably returning NaN from `(CGSize)sizeForItemAtIndex:(NSInteger)index`. The assert in `IGListAdapter` doesn't help in this case. You have to check if the returned size contains NaN with `isnan(x)`.

[2017-10-20 17:21] rnystrom commented on #937
@svara mind opening an issue for this? Would be a great addition to the assert.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-21 01:23] otymartin commented on #968
@rnystrom Have you been using target ios11 or ios10? I see a number of warnings as well.
Please excuse the image but just quick snapshot of what im seing

![screen shot 2017-10-20 at 9 22 07 pm](https://user-images.githubusercontent.com/2222881/31846686-dcefa800-b5dc-11e7-935d-467ca3573b5a.png)

[2017-10-21 02:14] rnystrom commented on #968
@otymartin Did you automatically update Xcode project settings? Those warnings show up with various Xcode 9 Settings. They’re also totally harmless and covered. I have a PR up to fix the block warnings tho.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-21 02:20] otymartin commented on #968
@rnystrom yes I blindly clicked all those recommended xcode settings <- is that the culprit?

[2017-10-21 08:56] cpromise commented on #971
I appreciate your kindness.

[2017-10-21 13:04] rnystrom commented on #968
Yup!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-21 14:04] svara commented on #937
@rnystrom Sure thing.

[2017-10-21 14:27] weyert opened #974 "Example of your latest addition"
@rnystrom I noticed that you have added listening functionality to `IGListKit` in your latest commit and got curious.  I was wondering what the use case would be. For example, how or when would you use this?

Let me ask it differently, would you ever use it in `GitHawk` and why?

[2017-10-21 14:54] rnystrom commented on #974
I’ll add a bit more explanation later, but this was an internal feature request. We have a lot of stuff that triggers after content finishes updating

So instead of adding tons of lines to the completion block in every view controller, we can compose a bunch of objects that listen to this event and do work.

Lets us reuse more code, less boilerplate.

<sub>Sent with <a href="http://githawk.com">Gi

[2017-10-23 07:17] broccolii opened #975 "I do not quite understand that readme never calls performBatchUpdates (_ :, completion :) or reloadData ()"
I still need to manually call the Adapter `- (void)performUpdatesAnimated:(BOOL)animated completion:(nullable IGListUpdaterCompletion)completion;` or IGListBindingSectionController `- (void)updateAnimated:(BOOL)animated completion:(nullable void (^)(BOOL updated))completion;`

I do not quite understand that readme never calls performBatchUpdates

[2017-10-24 05:04] jverdi commented on #291
^ Took a shot at it. A bit of a work in progress, but hopefully it gets the ball rolling.

[2017-10-24 07:51] svara opened #977 "Negative sizes are not supported in the flow layout crash"
### General information

- Reproducible in the demo project? (Yes/No): Yes
- Related issues: #937.

To reproduce the crash, return a size with NaN values from `(CGSize)sizeForItemAtIndex:(NSInteger)index.`  The assert in IGListAdapter doesn't help in this case.
To guard against this, you have to check if the returned size contains NaN with isnan(x).
This crash is not caused by IGListKit, but as su

[2017-10-24 09:29] rafalszastok commented on #952
@rnystrom Any updates?

[2017-10-24 12:36] mlight3 opened #978 "performUpdate without moveItems"
Calling `performUpdate` execute insertions, deletions and moves.
When I have a large data, sometimes bottom cell is moving to top too fast.
I think I looks bad for ux, so how can I animate cells only using insertion and deletions without move?

[2017-10-24 13:18] rnystrom commented on #978
Yup! Just enable this flag on your updated:

https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdater.h

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-24 13:18] #978 closed

[2017-10-24 15:43] mlight3 commented on #978
Thanks! 👍

[2017-10-24 19:00] rnystrom commented on #952
Sorry, this is on my radar but really low pri vs some other projects right now. Not forgotten.

[2017-10-24 22:47] stevejcox opened #979 "Preventing a cell getting removed when scrolling off of the screen"
Hi There,

I have a vertical list, with various different types of cells.

The first cell is a custom view with a colored background that extends below the size of the cell. This cell has clipToBounds = false, to bleed the background into the next cell beneath it.

This works fine until the first cell starts to go off screen. Once the bounds are off the cell is removed and the colored background t

[2017-10-24 23:57] jessesquires commented on #979
Hey @stevejcox !

This generally sounds like it's probably not a great idea.

You could try to retain the cell or something but that's going to require a lot of bookkeeping and probably introduce more (and worse) bugs. I'd ask myself: why do you need this behavior? is there another way to achieve this? etc.

It sounds like this view is purely decorative. If so, I'd consider using decoration views

[2017-10-24 23:57] #979 closed

[2017-10-25 00:16] rnystrom commented on #979
@stevejcox you probably want to write your own layout to do this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-25 11:17] mlight3 opened #980 "NestedAdapter for Horizontal CollectionView and List"
My view has horizontal collection view and list like search tab on instagram.
I made a Section model and section controller for each type. For horizontal collection view, I referenced example code of `NestedAdapterViewController`. For list, I just created simple SectionController.
But the problem is when I'm updating data with `performUpdates`, horizontal section works fine but error occurred on l

[2017-10-25 15:32] mustafa96m opened #981 "[index 0 beyond bounds for empty array] in IGListAdapterUpdater"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 9.3.2 (13F69)
- CocoaPods/Carthag

[2017-10-25 17:30] rnystrom commented on #952
Ok, so there is something wrong here. The cached data inside `UICollectionView` has gotten out of sync w/ what the `collectionView.dataSource` reports. Take a look at this debugger output:

[code]

I can confirm this happens on both iOS 11 and 10.3.

If you update [this line](https://github.com/rafalszastok/IGListKit/blob/crash-on-embedded-cells-2/Examples/Examples-iOS/IGListKitExamples/SectionCon

[2017-10-26 16:25] rnystrom commented on #980
@mlight3 It's a little unclear where the error might be, but you definitely need to propagate any model changes to the nested adapter.

However if you connect the nested cell's `UICollectionView` to the nested `IGListAdapter` [like this](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/HorizontalSectionController.swift#L39), then everyth

[2017-10-26 16:28] rnystrom commented on #981
This is going to be basically impossible to debug w/out a repro or sample project. What I can tell from the trace is that the crash happens inside `UICollectionViewFlowLayout` when updating its layout data cache. Weird issues like this might be from returning negative or NaN cell sizes. Without seeing all of the section controller code, or knowing which one is causing the issue, this will be prett

[2017-10-26 16:30] rnystrom commented on #975
@broccolii can you be more specific about what is wrong? Are you saying there is something incorrect or missing in our documentation?

What do you mean you have to manually call the perform updates methods? What do you expect to be automatic?

[2017-10-26 18:01] #963 closed

[2017-10-26 18:09] jessesquires commented on #927
closing due to inactivity

[2017-10-26 18:09] #927 closed

[2017-10-26 18:10] jessesquires commented on #886
closing due to inactivity.

[2017-10-26 18:10] #886 closed

[2017-10-26 18:10] jessesquires commented on #887
closing due to inactivity

[2017-10-26 18:10] #887 closed

[2017-10-26 18:11] jessesquires commented on #968
looks like this is resolved? going to close

[2017-10-26 18:11] #968 closed

[2017-10-26 18:32] jessesquires commented on #981
Ha 😅 So it looks like @benasher44 is seeing this in the PlanGrid codebase. (We don't use `IGListKit`.)

Sounds like this might be a bug in UIKit? @rnystrom time to send a love letter to Steve 💌

[2017-10-26 18:35] benasher44 commented on #981
it's very similar!
[code]

[2017-10-26 19:22] rnystrom commented on #923
Closing due to inactivity

[2017-10-26 19:22] #923 closed

[2017-10-26 19:25] rnystrom opened #982 "IGListAdapter.h/m new header doc format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListAdapter.h and IGListAdapter.m files need new header format

[code]

[2017-10-26 19:26] rnystrom opened #983 "IGListAdapterUpdater.h/m new header doc format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListAdapterUpdater.h/m files need new header format

[code]

[2017-10-26 19:28] rnystrom opened #984 "File header format has extra whitespace"
Follow up from #882, need to trim one of the 2 newlines at the end of the template

Maybe just put [these lines](https://github.com/Instagram/IGListKit/blob/master/IGListKit.xcworkspace/xcshareddata/IDETemplateMacros.plist#L19-L20) on the same line?

Make sure to test in Xcode!

[2017-10-26 19:28] rnystrom opened #985 "IGListAdapterDataSource.h files need new header format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListAdapterDataSource.h files need new header format

[code]

[2017-10-26 19:29] rnystrom opened #986 "IGListAdapterUpdaterDelegate.h files need new header format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListAdapterUpdaterDelegate.h files need new header format

[code]

[2017-10-26 19:29] rnystrom opened #987 "IGListBatchContext.h files need new header format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListBatchContext.h files need new header format

[code]

[2017-10-26 19:30] rnystrom opened #988 "IGListBindable.h files need new header format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListBindable.h files need new header format

[code]

[2017-10-26 19:31] rnystrom opened #989 "IGListBindingSectionController.h/m files need new header format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListBindingSectionController.h/m files need new header format

[code]

[2017-10-26 19:31] rnystrom opened #990 "IGListBindingSectionControllerDataSource.h files need new header format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListBindingSectionControllerDataSource.h files need new header format

[code]

[2017-10-26 19:31] rnystrom opened #991 "IGListBindingSectionControllerSelectionDelegate.h files need new header format"
⚠️ OSS Workshop issue. Please do not action unless at my workshop.

IGListBindingSectionControllerSelectionDelegate.h files need new header format

[code]

[2017-10-27 14:23] rnystrom commented on #981
@benasher44 lmk if you solve! Seems my hunch is still some unexpected layout values messing up, but idk.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-29 07:38] yemodin commented on #815
@rnystrom Hello, looks like even NSNumbers can appear 2+ times if the data source has objects with the same diffIdentifier on initial setup. I can see assert for such duplication, but it will check it only on DEBUG and looks like better to trigger "objectsWithDuplicateIdentifiersRemoved" for initial objects, with logs of such duplicates.

[2017-10-29 16:35] rnystrom opened #994 "Better test names for IGListAdapterUpdaterTests"
These were WIPs that got committed.

https://github.com/Instagram/IGListKit/blob/a6f264fc12a802bcf54c103ec40202474aa3067b/Tests/IGListAdapterUpdaterTests.m#L511-L580

[2017-10-30 09:23] omerfarukyilmaz opened #996 "CollectionView has left padding on Landscape iPad (similar to tableview.cellLayoutMarginsFollowReadableWidth)"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: **3.1.1**
- iOS version(s): **iOS 11**
- CocoaPods/Cart

[2017-10-30 10:01] weyert commented on #996
I think this has to do that the cells don't get resized correctly when rotating the device so you sometimes end up the 'portrait' cell sizes while the device in landscape. Can you try to invalidate the layout while rotating?

Try doing something like the code below in `func viewWillTransition(to size: CGSize, with coordinator: UIViewControllerTransitionCoordinator)`:

[code]

[2017-10-30 10:17] omerfarukyilmaz commented on #996
Well, that actually freaking solved it. That was very quick and helpful. Thank you very much @weyert.

 I'll close the issue because it does not seem like a problem of IGListKit. So no need to clutter up here.

[2017-10-30 10:17] #996 closed

[2017-10-30 10:31] weyert commented on #996
Great!

[2017-10-30 10:34] rafalszastok commented on #952
@rnystrom Until we didn't check the number of items inside `sizeForItem(at:` the number of crashes was hundred of times lower.

[2017-10-30 15:04] rnystrom commented on #952
@rizwankce that still doesn’t fix the data inconsistency issue. That will avoid the crash, but you might still see wrong or incorrectly sized information.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-30 15:13] mlight3 commented on #980
@rnystrom I found what I am doing wrong. Here is my models.

[code]

When I changed `isEqual` func to this code, it works well!

[code]

Is it a good approach? or I'm doing wrong?

BTW the other problem is occurred.
I have a header view inside each section controller.
If I changed section items not key and title, the adapter is updating not only items but "section header". Header view is slightly

[2017-10-30 19:34] rnystrom opened #997 "Add header docs to listener API in IGListAdapter"
[These methods](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.h#L265-L267) were accidentally not documented in 5cf01cc0a7c41d370600df495aff91d1099fa0bc.

[2017-10-31 14:58] mlight3 commented on #980
I tested with `SupplementaryViewController` in Example, header is also flashing when update.

[code]

[2017-10-31 15:25] tunidev opened #998 "Scroll to end of the collectionView when using EmbeddedSectionController"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### Help Needed:

I have a horizontal collectionView embedded in a vertical collectionView just like ht

[2017-11-01 06:32] YasinZhou opened #999 "IGListBindingSectionController updateAnimated have copy BUG"
IGListBindingSectionController.m
- (void)updateAnimated:(BOOL)animated completion:(void (^)(BOOL))completion{}
[code]
and late
[code]

if `self.viewModels` is a NSMutableArray and just removeAllObjects and change the all value,
`result = IGListDiff(oldViewModels, self.viewModels, IGListDiffEquality);` is NOT right
so i think , oldViewModels need copy the self.viewModels([self.viewModels copy]) or

[2017-11-01 16:10] rnystrom commented on #999
Thanks for investigating @YasinZhou! We [deduplicate](https://github.com/Instagram/IGListKit/blob/master/Source/IGListBindingSectionController.m#L64-L66) the models returned from the data source, so even if a mutable array is returned, it should be totally safe.

You made me double check everything though, and I did come across [this](https://github.com/Instagram/IGListKit/blob/master/Source/IGLis

[2017-11-02 02:38] joseph-francis opened #1001 "How should I design my ListSectionController model if I want to return dynamic cells"
Let's say I have a `Post` model. `Post` has `image`, `title`, `comment` properties. Comment property is optional. So, in my `PostSectionController` (section controller that manages post model), how many `numberOfItems`, `cellForItem`, `sizeForItem` do I return?  So if comment is an empty string, how should I model the code?

[2017-11-02 16:19] stevejcox opened #1002 "Best way of invalidating layout"
Hi There,

I have cells with dynamic heights (I know, it's a minefield).
For the most part it's working fine. I am using preferredLayoutAttributesFitting.

However, to make things complicated I am loading in images dynamically and the cells are not resizing as I would expect. I've tried calling the following on image load completion:
[code]
But preferredLayoutAttributesFitting is not called again.

[2017-11-02 16:52] rnystrom commented on #1001
Hey @joseph-francis, check out our demos, we have something almost exactly like this. You can also check out `IGListBindingSectionController` which does a lot of the dynamic stuff for you. There’s a demo for that too!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-03 10:09] aleksanderaleksic opened #1003 "MinimumInteritemSpacing not working in sectionController"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11.01
- CocoaPods/Carthage vers

[2017-11-03 17:16] #1002 closed

[2017-11-03 17:21] stevejcox commented on #981
I'm coming across the same error which I think is related.

In my case I am loading in an image within a cell. On completion it dispatches an event that triggers:
``self.collectionContext?.invalidateLayout(for: self)`` from within the SectionController to resize the cell with the correct dimensions.

However each time it crashes with
``*** Terminating app due to uncaught exception 'NSRangeExceptio

[2017-11-03 20:41] #997 closed

[2017-11-03 22:40] SerhiiMatvieiev opened #1004 "When i scroll feed first time it jerks"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 11.01
- CocoaPods/Carthage versio

[2017-11-05 07:59] frenkelor commented on #550
Hi @FengDeng can you elaborate more about your solution I'm trying to implement something similar but the app crashes.
`libc++abi.dylib: terminating with uncaught exception of type NSException`
Removing the WKWebView delegate from the sell solves the crash but I'm not sure why.

Are you using self-sizing cells?

initializing the webview
[code]

[2017-11-05 22:50] rnystrom commented on #1004
@SerhiiMatvieiev how are you sizing your cells? This sounds like a layout issue.

[2017-11-05 22:51] rnystrom commented on #981
@stevejcox do you have a stack trace? Is it the same as above?

[2017-11-05 22:57] rnystrom commented on #1003
@aleksanderaleksic when you do

[code]

You're accessing the [value on the layout itself](https://developer.apple.com/documentation/uikit/uicollectionviewflowlayout/1617706-minimuminteritemspacing?language=objc) and **not** the response from the delegate. If you're going to subclass the flow layout, you need to do something like this to ask the delegate for the item spacing at each section:

[code

[2017-11-06 05:57] SerhiiMatvieiev commented on #1004
All my cells has fixed size. For example:

    override func sizeForItem(at index: Int) -> CGSize {
        guard let context = collectionContext else { return .zero }
        let width = context.containerSize.width
        return CGSize(width: width, height: 420)
    }

I cache only the size where i do some calculations

[2017-11-06 14:28] aleufms commented on #1004
This is happening to me this too. Using version 3.1.1 and xcode 9.1. Anybody else?

[2017-11-06 15:57] rnystrom commented on #1004
@SerhiiMatvieiev you’re saying they all have fixed sizes but some cells have calculations? So are they not all fixed sizes?

It sounds like it might be a performance issue. Have you don’t any profiling to understand where the bottle neck is?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-06 15:57] rnystrom commented on #1004
@aleufms is it a performance stutter? Like jerky scrolling? If so, can you do a time profile to find out where the issue is?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-06 17:22] stevejcox commented on #981
Thanks for the reply @rnystrom - I don't have the stack trace at the moment, I switched to using:

[code]

I do remember the stack trace was very similar to the above, though.

[2017-11-06 18:05] aleufms commented on #1004
@rnystrom nevermind, I've have found the culprit and it is not the iglistkit.

[2017-11-06 20:17] SerhiiMatvieiev commented on #1004
@rnystrom Yes, you are right, one cell has calculation, but even without this cell i have this problem (

One more thing ) I tried to do some trick, before i do updating i set height collectionView 2000, and after 0.5 sec i return height to normal size. After this trick scroll very smooth, but i think it's not good solution :)

[2017-11-07 15:16] rnystrom commented on #1004
@SerhiiMatvieiev are you able to reproduce this in an example issue? It sounds _very_ bizarre and something that I've never seen before. At the moment there isn't enough information for me to be helpful 😢

[2017-11-07 16:24] zdenektopic opened #1006 "[IGListDiff] How to get actual steps"
Hello,
I would like to use diffing algorithm from `IGListKit` for my project and I am missing an information how to use it to get actual steps to get from original array to new one. There are moves, updates, deletes and inserts, but how do I apply them, what order. I would really appreciate this information as it is vital for what I need to do with it.

[2017-11-07 16:51] tapi opened #1007 "IGListAdapter methods accepting & returning `id`/`Any` when they could be marked as `IGlistDiffable`"
Apollogies in advanced if this is been asked previously, I looked in open and closed requests but couldn't find anything.

There are a number of methods on `IGListAdapter` (and other classes but im concerned with IGListAdapter at the moment) that could accept or return `id` values that are imported as `Any` in Swift. The following are

* `- (void)reloadObjects:(NSArray *)objects;`
* `- (__kindof I

[2017-11-07 17:21] weyert commented on #1006
Have a look at the example macOS where we are using the `ListAdapter` to drive a `NSCollectionView`

[2017-11-07 17:28] Marcocanc opened #1008 "Reloading ListSectionController inside ListStackedSectionController reloads entire StackedSectionController"
When reloading a ListSectionController inside a ListStackedSectionController, the entire ListStackedSectionController is reloaded.

*Note: `self` refers to a ListSectionController which is inside a ListStackedSectionController*
[code]

### General information

- `IGListKit` version: 3.1.1

[2017-11-07 17:37] zdenektopic commented on #1006
What should this tell me? I dont understand.
My use case is I have two arrays. I will call `ListDiff` and then I need to use it somehow to get from array A to array B by applying insertions, deletions and moves on it.

[2017-11-07 17:51] weyert commented on #1006
Can you tell me what you exactly want to do? I understand you have array A and B and you use `ListDiff` to determine the changes, all the inserts, movements, deleted etc. This data is used the above example to animate the differences in `NSCollectionView` through `performBatchUpdates`

[2017-11-07 17:56] zdenektopic commented on #1006
I just need to know what actions/steps to perform to get from that array A to B ... Meaning how to apply those insertions, deletions etc. In what order lets say.

[2017-11-07 18:14] weyert commented on #1006
Delete, Insert, Move, Inserts

[2017-11-07 18:27] jessesquires commented on #1007
This was a limitation with Swift 3. It may be fixed in Swift 4. If so, please feel free to submit a PR 😄

Related discussions: #35, #349, #809

[2017-11-07 18:36] rnystrom commented on #1006
@zdenektopic I'm a little confused why if you already have array `B` why you need to replay those steps. Can you described a little more what you're trying to achieve?

Replaying the mutations will be tricky as deletes and inserts will mutate the array as you're editing them. But something like:

- Create a mutable copy `A1`
- Do all reloads
- Delete from array `A1` in descending order
- Perform i

[2017-11-07 18:45] jessesquires commented on #866
Closing old issues that seem to be resolved or are inactive. 😄

If this isn't resolved and you still need/want help, please re-open! 😊

[2017-11-07 18:45] #866 closed

[2017-11-07 18:46] jessesquires commented on #975
Closing old issues that seem to be resolved or are inactive. 😄

If this isn't resolved and you still need/want help, please re-open! 😊

[2017-11-07 18:46] #975 closed

[2017-11-07 18:46] zdenektopic commented on #1006
I am trying to modify view hierarchy. I have view with subviews, some of those subviews have also subviews. And I want to do diff of two hierarchies and apply the patch.

[2017-11-07 18:46] jessesquires commented on #960
Closing old issues that seem to be resolved or are inactive. 😄

If this isn't resolved and you still need/want help, please re-open! 😊

[2017-11-07 18:46] #960 closed

[2017-11-07 18:47] jessesquires commented on #958
Thanks @sree127 !

StackOverflow is probably a more appropriate place for this question. 😄

[2017-11-07 18:47] #958 closed

[2017-11-07 18:47] jessesquires commented on #953
Closing old issues that seem to be resolved or are inactive. 😄

If this isn't resolved and you still need/want help, please re-open! 😊

[2017-11-07 18:47] #953 closed

[2017-11-07 18:47] jessesquires commented on #936
Closing old issues that seem to be resolved or are inactive. 😄

If this isn't resolved and you still need/want help, please re-open! 😊

[2017-11-07 18:47] #936 closed

[2017-11-07 18:48] jessesquires commented on #926
Closing old issues that seem to be resolved or are inactive. 😄

If this isn't resolved and you still need/want help, please re-open! 😊

[2017-11-07 18:48] #926 closed

[2017-11-07 18:48] jessesquires commented on #902
Closing old issues that seem to be resolved or are inactive. 😄

If this isn't resolved and you still need/want help, please re-open! 😊

[2017-11-07 18:48] #902 closed

[2017-11-07 18:50] rnystrom commented on #1006
You should be able to use the above steps to perform the operations. You'll also need some sort of in-order "pool" of new stuff to pull from for inserts.

Are you diffing like a virtual view hierarchy or something? Where do the new views come from?

[2017-11-07 18:51] rnystrom commented on #1007
Ya a PR would be lovely!

[2017-11-07 18:55] zdenektopic commented on #1006
Yep, it should be virtual view hierarchy. The current one vs the new one. Working on a little framework, something similar to React. Also using Yoga for layout.

[2017-11-07 19:06] rnystrom commented on #1006
Super cool. Let me know where you end up!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-07 22:20] rnystrom opened #1009 "Update Travis to use latest Xcode + Sims"
Flaky failures:
https://travis-ci.org/Instagram/IGListKit/jobs/298028485

[2017-11-08 00:37] vicki15 opened #1010 "Sticky Headers with ListBindingSectionController"
I am trying to create a ListBindingSectionController with sticky headers. I followed the ModelingAndBinding example and was able to get my list working with the headers as a cell, represented by their own DataModel, however I would like to take advantage of sticky headers per section. I looked at the example code for SupplementaryViewController, with the FeedItemSectionController, to see how to us

[2017-11-08 11:03] weyert commented on #1010
If you are using `ListBindingSectionController` you will have a property named `object` which will have the view model you are binding. Together with the `viewModels`-property you should be able to get the appropriate data to set the cell. The  `ListBindingSectionController` and `ListGenericSectionController` both are automatically calling `didUpdateToObject` which sets the `object`-property (basi

[2017-11-08 12:00] #1003 closed

[2017-11-08 13:16] tapi commented on #1007
👌

[2017-11-08 15:56] rnystrom commented on #1010
@vicki15 `IGListBindingSectionController` is still just a section controller. You can attach a `supplementaryViewSource` just like you're doing.

Is your question mostly around _updating_ the header view after something changes? If so, that's definitely a limitation. I'm tempted to bump min OS support to iOS 9 so that we can take advantage of some of `UICollectionView`'s supplementary querying API

[2017-11-08 15:59] rnystrom commented on #1008
@Marcocanc ya this is intended behavior atm. Can you tell me what behavior you would expect?

[2017-11-08 16:01] rnystrom commented on #980
@mlight3 sorry I'm having a little trouble understanding what the problem is. Can you give me some steps to using the code you provided so I can reproduce the issue?

[2017-11-08 16:05] sheinix commented on #242
The library has been deprecated, but still, anyone with a solution for this?

[2017-11-08 16:17] darrarski commented on #242
@sheinix yes, please check out my comments above and this repo: [Messages-iOS](https://github.com/darrarski/Messages-iOS). You should be able to get the same behaviour without `IGListKit`, just check out my implementation.

[2017-11-08 17:04] sheinix commented on #242
@darrarski you have` listAdapter.performUpdates(animated: false)` that it isn't on JSQMessagesViewController. Are you suggesting to use `self.collectionView.performBatchUpdates` ?

[2017-11-08 18:14] darrarski commented on #242
@sheinix it doesn't matter how you update your collection, you can do it using plain `UIKit` API or use `IGListKit` or other library to do it for you. The topic is about preserving scroll position when updating the collection which my implementation somehow solves (perhaps not it all possible cases).

[2017-11-08 18:58] Marcocanc commented on #1008
@rnystrom
Here's an example `ListStackedSectionController`:
[code]
calling `reload(self)` from the `ContentSectionController` I would expect only that controller to reload. Instead the other two are reloaded as well

Is there another way to only reload all cells inside a nested `ListSectionController`?

[2017-11-08 19:41] vicki15 commented on #1010
Awesome thank you! The object property is what I was looking for. I was confused because in the regular section controller, I accessed the data by having a variable
`data: Data!`
And setting it in the didUpdate function. Thank you for the help! Fortunately I don't have to update the header, other than removing it along with the section when there is no data in that section. Although now that I men

[2017-11-08 19:41] #1010 closed

[2017-11-09 02:54] 623637646 opened #1012 "IGListKit is BSD-licensed. We also provide an additional patent grant."
can IGListKit change the license from "BSD+ Patent" to "BSD"?

[2017-11-09 03:22] rnystrom commented on #1012
At the moment it cannot. We’re always in talks with FB legal about this, so I will forward the request to them!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-09 03:26] #1012 closed

[2017-11-09 14:06] chadpav commented on #533
Just came here and wanted to say that I also misunderstood the mapping between section controllers and models. I'm having trouble with diff'ing and cells not updating which landed me here.

In addition to the last bullet under Best Practices, there is also this line in the FAQ that I think contributed to my misunderstanding:

[2017-11-09 14:20] rnystrom commented on #533
@chadpav can you let me know what about that bullet is confusing, and how you would change it to be more clear?

[2017-11-10 08:03] js opened #1013 "trait collections and ListSectionControllers"
Has anyone done anything with changing trait collections (eg iPad splitviews) and section controllers and maybe formed some best practices or neat solutions around it?

In particular, I often need to update the minimum{Interitem,Line}Spacing values depending on the trait collection. So I made the following protocol:

[code]

I could make the IGListSectionControllers conform to `UITraitEnvironment`

[2017-11-10 12:10] yusuftor opened #1014 "Difference between ListStackedSectionController and ListBindingSectionController"
Please could someone explain to me the difference between ListStackedSectionController and ListBindingSectionController and when you would choose one over the other? I've been looking at the documentation and it's a bit ambiguous to me?
Thanks!

[2017-11-11 16:48] levi commented on #35
Chiming in here. Would be fantastic to simply use `Hashable` conformance on the Swift side in place of `ListDiffable`, since it provides both identity and equality comparison. Much easier said than done, however, since `ListDiffable` a core type of the diffing algorithm. Not much flexibility off the top of my head without either constructing a DiffableBox like @jessesquires above or maintaining a

[2017-11-13 02:12] richgabrielli opened #1015 "'IGListKit/IGListAdapterUpdateListener.h' file not found"
I am trying to get started with IGListKit. I am trying to run the example and am stuck at a build error: 'IGListKit/IGListAdapterUpdateListener.h' file not found (see image).

All help is appreciated.

## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have sear

[2017-11-13 05:12] nanjundas opened #1016 "Reload a specific section"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): 11
- Xcode version: 9.0

Based on

[2017-11-13 09:56] vasilenkoigor commented on #898
@rnystrom Hi! There're progress for this enhancement? In my project I use IGListCollectionViewLayout and need footers :D

I can do it and make PR, if you are doesn't have a time for that feature

[2017-11-13 12:52] rnystrom commented on #898
@vasilenkoigor we’d very much accept a PR with footer support! It’s not on my roadmap at the moment.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-13 12:56] vasilenkoigor commented on #898
@rnystrom Thanks for response! Well, I'll try to do it today or before the end of this week.

[2017-11-13 22:42] vasilenkoigor commented on #898
@tapi welcome to test enhancement 🕺

[2017-11-14 04:24] chadpav commented on #533
@rnystrom first, thanks for contributing this back to the community. I'm really loving how IGListKit enables me to build more complex/flexible lists with a maintainable architecture.

I keep rereading the docs and I think the misleading part for me is the "1:1 *instance* mapping between objects and section controllers". When I read that I hear "create 1 instance of a section controller for each in

[2017-11-14 13:41] richgabrielli commented on #1015
Ran "pod update" in Examples-ios directory. Works fine now.

[2017-11-14 13:41] #1015 closed

[2017-11-14 14:11] rnystrom commented on #1015
Gonna follow up on this, the whole project should be usable after cloning 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-14 14:50] richgabrielli commented on #1015
Great. Let me know if I can do anything to help.

[2017-11-14 15:01] richgabrielli commented on #1015
BTW - the Demos are super slick. I can’t wait to dive in and explore how to use in my apps.

[2017-11-14 16:03] jlanesmith opened #1018 "Scrolling is slightly choppy"
I integrated IGListKit into an app but the scrolling is slightly choppy/jerky, even after all the cells have loaded. This "choppiness" wasn't an issue when just using UICollectionView. The sizes of the cells are all constant. Suggestions?

## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.

[2017-11-14 17:10] rnystrom commented on #1018
@jlanesmith have you run Time Profiler to see what the issue is?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-15 16:14] jlanesmith commented on #1018
In the cellForItem() function, each cell needs to load several images, which takes time. Is there anything that IGListKit can do to improve this?

[2017-11-15 18:34] rnystrom commented on #1018
@jlanesmith image loading is beyond the scope of what IGListKit does (trying to keep the lib very focused). Some thoughts:

- Make sure all of your loading is happening off of the main queue
- Look into libraries that do image loading, my fav is [SDWebImage](https://github.com/rs/SDWebImage)
- Here's a more complicated example used in [GitHawk](https://github.com/rnystrom/GitHawk/blob/master/Class

[2017-11-15 18:34] #1018 closed

[2017-11-15 19:27] #815 closed

[2017-11-17 07:25] StormXX commented on #87
I have the same issue when I use displayDelegate and scroll the list so fast.
I dont't have a UISearchBar

[2017-11-17 20:13] rnystrom commented on #87
@StormXX mind opening a separate issue w/ more information about your issue? This is over a year old.

[2017-11-19 23:20] ChrisGaddes opened #1019 "Who should I contact?"
I realize this is not the right place to post this but as a fellow GitHub user I thought you guys might be willing to help me out...

I accidentally clicked the "remove email associated with account" link on an email from Instagram. When I try to login now it says "We Detected An Unusual Login Attempt. To secure your account, you need to request help logging in." Do you know of someone at Instagra

[2017-11-20 00:47] rnystrom commented on #1019
https://help.instagram.com/

[2017-11-20 00:47] #1019 closed

[2017-11-20 00:52] ChrisGaddes commented on #1019
Thanks, but help.instagram.com doesn't have a solution to my question. Oh well, thanks anyways, and have a good one

[2017-11-21 17:25] rnystrom opened #1021 "Upgrade Danger to 2.0"

[2017-11-21 17:26] rnystrom opened #1022 "Add Danger step when adding files to Source/ to run pod_setup.sh"
Faster turnaround and help keep the examples from breaking.

[2017-11-21 20:45] #898 closed

[2017-11-23 13:42] brurend opened #1023 "IGListBindingSectionController with dynamic size cell"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.1.1
- iOS version(s): 11.1.2
- CocoaPods/Carthage ver