[2016-09-07 09:11] rnystrom opened #1 "Support cells created from nibs"
The adapter registers and dequeues cells by converting the class name to a string as the reuse identifier. That means that we can only register class+identifier pairs and not use `-[UICollectionView registerNib:forCellWithReuseIdentifier:]`. Even though we don't use nibs in Instagram.app, it doesn't mean that we support this. It shouldn't be too difficult to add.

[2016-09-07 09:16] rnystrom opened #2 "Add jazzy docs"
Let's generate [jazzy docs](https://github.com/realm/jazzy) from all of the header docs that we already have. We should also make sure Dash import works.

[2016-09-07 16:09] rnystrom opened #3 "Add a UICollectionViewLayout similar to flow layout that doesn't newline sections, a section-based grid layout"
If you use `UICollectionViewFlowLayout` and your item controllers return individual cells that should be in a grid (see Instagram Explore tab), they will stick vertically in new rows instead of fitting into rows/columns as if they were all in the same section.

We have this internally for our Explore product (which uses `IGListKit`) but the layout is pretty specific for that instance. It'd be amaz

[2016-09-07 23:40] jessesquires opened #4 "Issue and PR templates"
In addition to a `CONTRIBUTING.md`, we should add issue and pull request templates:

https://github.com/blog/2111-issue-and-pull-request-templates

And put all of these in `.github/`

[2016-09-07 23:41] rnystrom opened #5 "Add a README and legal docs"
Need some "getting started" documentation as well as license, patents, and contributing (for CLA).

[2016-09-08 09:20] rnystrom opened #6 "RFC: Stock cell with UITableViewCell styles"
Building custom cells isn't a lot of work, but since we don't support `UITableView` I wonder if it's worth adding an `IGListTableCell` or something that supports all (most?) of the default cell styles.

[UITableViewCell style docs](https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/TableView_iPhone/TableViewCells/TableViewCells.html)

![image](https://cloud.githubuserc

[2016-09-08 09:39] rnystrom opened #7 ".gitignore file"
I think we should ignore:
- `.xcworkspace`
- Cocopoads generated stuff
  - e.g. lock file, `Pods` dir

Anything else?

[2016-09-08 09:45] rnystrom opened #8 "Sample project"
I've got the samples built, but need to add them along w/ a readme, similar to [this](https://github.com/facebook/componentkit/tree/master/Examples).

[2016-09-08 16:59] rnystrom opened #9 "Setup travis CI"
Should just need a `.travis.yml` file w/ steps to generate the tests w/ Cocoapods. Would be nice to build the sample app too so we can make sure that's always building.

[2016-09-09 16:10] #7 closed, assigned to rnystrom

[2016-09-09 21:16] rnystrom opened #13 "Add Carthage support"
Probably worth adding this (mentioned in #9). Shouldn't be too difficult and we can keep an eye on it via Travis.

[2016-09-09 22:08] jessesquires opened #14 "Add a CHANGELOG.md"
Should add a `CHANGELOG.md`. Generally considered good practice.

Entry for `1.0` can just say "initial release". Then, for PRs, we can ask that contributors include an update to the changelog. 👍  (Then writing release notes is easy.)

---

Example:
https://github.com/Alamofire/Alamofire/blob/master/CHANGELOG.md

[2016-09-12 17:59] #14 closed, assigned to jessesquires

[2016-09-13 21:14] #5 closed, assigned to rnystrom

[2016-09-13 21:58] rnystrom opened #22 "Add Changelog"
Mostly for documentation purposes. See @jessesquires examples:

https://github.com/jessesquires/JSQMessagesViewController/releases/tag/7.3.0

Changes are also picked up on Cocoapods

https://cocoapods.org/pods/JSQMessagesViewController#changelog

[2016-09-13 22:04] rnystrom opened #23 "Unit test -[IGListAdapter scrollToItem:...]"
This method is only tested manually and not backed by any type of automation. We should get a test up to make sure that all conditions pass:
- Vertical/horizontal scrolling
- No supplementary view
- Single supplementary view
- Multiple supplementary views
- Empty feed
- Item not in feed

(flagging as a bug since unit test coverage should be a requirement)

[2016-09-13 22:15] #22 closed, assigned to nobody

[2016-09-13 22:17] rnystrom opened #24 "Setup Cocoapods"
- Add podspec file
- Add to Cocoapods.org
- Tag `1.0.0`
- Push to pod repo

[2016-09-13 22:25] rnystrom opened #25 "RFC: Support NSCollectionView"
Suggestion from an attendee of [iOSDevUK](http://iosdevuk.com/) where we announced the project. Wanted to record it.

I've never done any macOS work before, so I'm not sure how difficult this would be. But I know that `NSCollectionView` was modernized recently to mimic `UICollectionView`.

Open for discussion.

[2016-09-15 19:44] #2 closed, assigned to jessesquires

[2016-09-16 14:51] rnystrom opened #29 "Remove -didDeselectItemAtIndex: API"
Unused internally, and I haven't seen a solid use-case for it yet. We've discussed moving all interaction APIs to an `interactionDelegate` (similar to `displayDelegate`) on `IGListItemController` to make the base class boilerplate even simpler.

[2016-09-16 14:54] rnystrom opened #30 "Move emptyView API to a property on IGListAdapter"
There's really no need for this to be a required method on `IGListAdapterDataSource`. It could simply be a property, defaulted to `nil`. When you set the property we use it when the adapter is empty.

Not sure if we need to bother what happens if you set the property _after_ everything has been updated.

[2016-09-17 22:44] #29 closed, assigned to nobody

[2016-09-19 20:12] rnystrom opened #31 "Provide IGListCollectionSectionController [inception]"
Create a stock horizontal or vertical scrolling item controller. This is a pretty loaded RFC b/c the API would have to be _really_ thought out. Some questions come to mind:
### Subclassing?

Since the infra requires subclassing `IGListItemController` and conforming to `IGListItemType`, if we provide a new item controller for this it would have to follow the same pattern as the stacked or single it

[2016-09-20 20:42] rnystrom opened #32 "Rename IGListItemController to IGListSectionController"
I've already caused a little confusion on how the infra maps to `UICollectionView`, so let's do away with calling these "item controllers" and instead call them "section controllers" so that it is more inline w/ how it works.

[2016-09-21 19:44] #8 closed, assigned to nobody

[2016-09-21 22:15] #32 closed, assigned to rnystrom

[2016-09-25 14:05] rnystrom opened #33 ""deque" spelling error, should be "dequeue""
`dequeReusableCell...` should be `dequeueReusableCell...`

e.g. https://developer.apple.com/reference/uikit/uicollectionview/1618063-dequeuereusablecell

[2016-09-29 13:59] #33 closed, assigned to nobody

[2016-09-29 14:25] rnystrom opened #34 "Objects with duplicate diffIdentifiers but different values break updates"
This is a really weird case that I haven't spent a ton of time thinking about a fix. Without trying to explain too much, let me just paste a failing unit test added to the [e2e tests](https://github.com/Instagram/IGListKit/blob/master/Tests/IGListAdapterE2ETests.m).

[code]

This throws within `-[UICollectionView performBatchUpdates:completion:]`:

[code]

This makes sense because the update that

[2016-09-29 14:46] rnystrom opened #35 "[Swift] reference type and value type conformances to IGListDiffable"
The handy `NSObject+IGListDiffable` category doesn't really help with Swift objects like `String` and `Int`. This seems a little tricky because `String` is a `struct` but is convertible to an `NSString`. Doing that conversion gives us the `NSObject<IGListDiffable>` conformance, but that's kind of lame. I wonder if there's a way we can get this to work a little better?

For example, the Swift 3.0 c

[2016-09-30 13:14] rnystrom opened #36 "Breaking-changes workflow"
This is mostly for @jessesquires but figured we could ideate in the open on this.

What is the best strategy for making breaking changes to IGListKit, while:
- We always use the latest master
- Cocoapods users always use a stable version
- Breaking changes should happen in one "major" update

We're launching with IGListKit 1.0, so should we store up all breaking changes in IGListKit 2.0? My only f

[2016-09-30 15:14] #36 closed, assigned to jessesquires

[2016-09-30 15:59] #9 closed, assigned to rnystrom, jessesquires

[2016-10-01 00:22] rnystrom opened #37 "Code coverage service"
Maybe Codecov.io. Need to get approval and setup.

[2016-10-02 19:12] rnystrom opened #38 "RFC: View-model, auto diffing section controller"
We generate view models to drive all of the cells in a particular section controller on Instagram. These models are derived from a top-level model that is created from server data. The view models are then used to configure things like image and text cells within a section controller.

We can represent this transformation:

[code]

We could create a section controller that diffs its own array of `

[2016-10-02 19:15] rnystrom opened #39 "Storyboard support"
I thought that storyboards would work out-of-the-box, but they don't. The adapter will attempt to register the cells, which probably writes over the cell registered as a prototype in the storyboard.

I think all we need to do is provide a dequeue method specifically for storyboards. This would skip checking and registering the cells. Something like:

[code]

Note that we don't need to provide a ce

[2016-10-03 00:55] #30 closed, assigned to nobody

[2016-10-03 12:27] rnystrom opened #40 "Reusable identifier methods should be c functions"
[These methods](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L447-L453) should just be C functions since they don't use any state on `self`. Would be awesome to just have a single function too to generate an identifier given a class and element kind. We will also probably use this when registering cells from `UINib`s, so consider a nib-name param.

[2016-10-04 00:14] #34 closed, assigned to rnystrom

[2016-10-04 02:07] #6 closed, assigned to nobody

[2016-10-04 18:44] #4 closed, assigned to rnystrom

[2016-10-11 14:38] rnystrom opened #42 "Add a method on diff results that is "safe for batch updates""
New method should:
- Convert reloads+moves to insert+deletes
- Convert reloads to insert+deletes
  - This is proven to not be safe for `performBatchUpdates:completion:`

[2016-10-11 21:18] KrauseFx opened #47 "Disable Wiki"
Similar to https://github.com/KrauseFx/xcode-install/issues/118, according to @jhersh, all internet tubes are clogged 👍

[2016-10-11 22:16] jessesquires commented on #24
🎉  done

[2016-10-11 22:16] #24 closed

[2016-10-11 22:17] jessesquires commented on #13
All good here.

Just confirmed that `carthage build --no-skip-current` succeeds on `master`.

[2016-10-11 22:17] #13 closed

[2016-10-12 01:23] rnystrom commented on #47
Proposal tag just for you @KrauseFx

[2016-10-12 01:36] KrauseFx commented on #47
Haha, the downvote is just by the troll @neonichu, and as long as there is no content in the Wiki, we can disable it 👍

[2016-10-12 01:42] jessesquires commented on #47
+1

[2016-10-12 02:15] rnystrom commented on #47
done!

[2016-10-12 02:15] #47 closed

[2016-10-12 02:21] KrauseFx commented on #47
Thanks, finally! Feels much faster again 🚀

[2016-10-12 02:49] benasher44 opened #52 "Add analyze action to .travis.yml xcodebuild calls"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### Steps

- Fix remaining analyzer warnings.
- Add the analyze action to `xcodebuild` calls in .travis

[2016-10-12 02:49] benasher44 commented on #52
Fixed on analyzer issue in #51

[2016-10-12 04:10] insidegui opened #53 "Make diff code available as a separate component"
It would be useful to have just the diff algorithm implementation and related protocol used in IGListKit available as a separate component to be used for other purposes (i.e. table views, existing apps that don't want to migrate to IGListKit but want the diffing).

[2016-10-12 11:01] svenbacia opened #55 "Error when running ./build_docs.sh"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information
I just tried to build a new version of the documentation but I ran into the fol

[2016-10-12 14:02] rnystrom commented on #55
Ya, this is a known issue. realm/jazzy#667 is tracking the bug for jazzy docs.

We can get it to work by doing:

[code]

Pretty hacky though. If the issue w/ jazzy isn't addressed maybe we can just add the swap/restore to the script?

@jessesquires whatcha think?

[2016-10-12 14:07] rnystrom commented on #53
@insidegui you're in luck, it already is!

If you add IGListKit to your app you can use the diffing by itself. There's an example [in the readme](https://github.com/Instagram/IGListKit#diffing) for this, but basically:

[code]

Then you can use the result objects to update the `UICollectionView` or `UITableView`.

Now if you want to use the diffing w/out importing the rest of IGListKit (which is a

[2016-10-12 14:37] rnystrom commented on #52
Nice, this sounds really helpful. I imagine once the build is working we need to squish all the analyzer warnings before adding it to the `.travis.yml` file, so builds are green? Or add it first and try to fix the build?

[2016-10-12 14:48] benasher44 commented on #52
Yep! On master when I checked yesterday, there were 2. There's only the one left after #51. The other one seemed non-trivial to fix.

[2016-10-12 15:35] insidegui commented on #53
Awesome! I think it would be useful to have a separate spec, especially since the framework doesn't support macOS yet but the diff code does.

[2016-10-12 15:37] rnystrom commented on #53
Good point re: macOS

[2016-10-12 16:18] jessesquires commented on #55
👍 Yeah, let's just add this to the script with a comment and link to this issue

[2016-10-12 20:06] pgherveou opened #61 "IGListDiffable and Non-class type"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information
Is there any reason IGListDiffable could not be implemented on Struct?
the foll

[2016-10-12 21:03] iwasrobbed opened #62 "Optional protocol conformance"
## Issue

Where possible, protocols should allow for optional conformance to avoid having empty implementations.

This is seen in the example app as:

[code]

or

[code]

Seems this is partially complicated by ObjC to Swift bridging that creates ambiguous method / argument namings.

## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/READ

[2016-10-12 21:05] jessesquires commented on #61
Thanks @pgherveou !

See the discussion in #35.

In short, this is a limitation in the Swift compiler when bridging *from* Objective-C *to* Swift. It's difficult (or impossible) to determine if reference semantics are required, or not. Thus, protocols are imported as `@objc` which requires a reference (`class`) type.

[2016-10-12 21:05] #61 closed

[2016-10-12 21:14] jessesquires commented on #62
Thanks @iwasrobbed ! 😄

This design is intentional.

Using `@optional` protocol methods are bad practice in Objective-C (not safe, no  static compiler checks, etc.) and as you noted, this makes bridging to Swift painful.

This is why we've opted to breakup protocols into multiple different ones to mitigate "do nothing" methods as much as possible.

Ash Furrow has a great post about this: https://a

[2016-10-12 21:14] #62 closed

[2016-10-12 21:23] jessesquires opened #63 "Add #51 to CHANGELOG"
Need to note #51 in the changelog for next release.

[2016-10-12 21:31] iwasrobbed commented on #62
Thanks @jessesquires. Once you all convert the protocols over to Swift one day, you may want to consider using default protocol implementations so it will avoid the empty calls (as well as the optionality)

[2016-10-12 22:44] iwasrobbed opened #65 "NSObject equality naming conflict"
## Issue

Since this project extends `NSObject` to make it conform to `IGListDiffable` and that protocol has a method with a similar `isEqual` signature as the standard `NSObject` one, it is creating naming conflicts with other, completely unrelated, objects in the project that use the vanilla `isEqual` comparison.

<img width="1082" alt="screen shot 2016-10-12 at 3 42 44 pm" src="https://cloud.gi

[2016-10-12 23:30] jessesquires commented on #65
Hey @iwasrobbed ! 😄

It looks like your error is with `override`. Removing this should fix that. However, `isEqual:` changed in Swift 3. It should be `isEqual(object: Any?) -> Bool`. (Note: **not** `AnyObject`.) Are you using Swift 2.3 or 3.0? (We're only supporting 3.0)

[2016-10-12 23:31] jessesquires commented on #62
Definitely! 👍

[2016-10-12 23:38] bonzoq opened #66 "Sections with different flow layouts"
I hope it is ok to ask this here. Otherwise, please feel free to delete this issue.

I'm playing with the examples and am wondering what's the best way to create a collection view with sections that scroll in different directions. So for example let's say there are two sections, the first has items that scroll horizontally, but it also scrolls vertically along with the second section.

So far I've

[2016-10-12 23:47] iwasrobbed commented on #65
This is Swift 2.3 code, but the same issue would possibly exist in a Swift 3.0 project unless they made compiler fixes for these sorts of ambiguity.

This is actually existing code, not something I added after adding IGListKit, and the class it's on inherits from `NSObject` so it's technically an override. The class in question has nothing to do with IGListKit whatsoever which strikes me as side e

[2016-10-13 00:21] jessesquires commented on #65
Can you annotate the func with `@nonobjc` ?

[2016-10-13 00:21] jessesquires commented on #65
Oh — and if you can fork and reproduce this in the demo project, that would be great! 👍

[2016-10-13 00:27] jessesquires commented on #31
To clarify a bit:

What we want to achieve is to have multiple sections with horizontal scrolling that together scroll vertical. Essentially, a ListKit version of https://github.com/ashfurrow/AFTabledCollectionView.

Correct, @rnystrom ? (At least, that's *part* of this proposal)

[2016-10-13 00:30] jessesquires commented on #66
Hey @bonzoq !  Definitely ok 😄 👍

This is how we currently handle this for our own uses. (Except we put a collection view inside collection view cells — since ListKit is only for collection views.)

We want to provide this functionality "out-of-the-box", but currently don't have a solution. We're tracking this at #31. Let's move this conversation there. 😊

This would definitely be out-of-scope for

[2016-10-13 00:30] #66 closed

[2016-10-13 01:02] iwasrobbed commented on #65
re: `@nonobjc`: Ultimately, the compiler is not able to find the vanilla `isEqual` method since it's being overwritten by the diffable version, so the annotation doesn't help unfortunately.

Looks to be fixed in Swift 3.0 since it disambiguates the two equality functions.

Feel free to close, but I imagine a lot of people will be stuck on Swift 2.3 for a bit longer. At the very least, may be worth

[2016-10-13 01:46] rnystrom commented on #65
This was something that @ryanolsonk and I discussed a while back. We landed on overriding `isEqual:` for simplicity's sake. Also we had a bunch of models that had custom equality methods, so the change was easy.

The other problem that we have with `-isEqual:` is that it basically [requires implementing -hash](https://www.mikeash.com/pyblog/friday-qa-2010-06-18-implementing-equality-and-hashing.ht

[2016-10-13 06:20] bonzoq commented on #66
Thank you for answering this so quickly @jessesquires 👍 ❤️

[2016-10-13 18:14] #63 closed

[2016-10-14 13:20] valeriyvan opened #68 "Conversion from value of type NSIndexPath* to incompatible type IGListMoveIndexPath*"
XCode's static analyser shows issue:
/Users/someuser/somepath/IGListKit/Source/IGListDiff.mm:179:13: Conversion from value of type 'NSIndexPath *' to incompatible type 'IGListMoveIndexPath *'
## New issue checklist

- [*] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [*] I have searched [exis

[2016-10-14 13:53] rnystrom commented on #68
Interesting, I think this is a false-positive from the static analyzer.

- A move is generated (for an index _or_ index path) [here](https://github.com/Instagram/IGListKit/blob/master/Source/IGListDiff.mm#L245)
- There is a value for param `obj`, so it adds the object to the collection [here](https://github.com/Instagram/IGListKit/blob/master/Source/IGListDiff.mm#L175-L176)

It looks like we need

[2016-10-14 20:03] rnystrom commented on #68
Closed as of #69

[2016-10-14 20:03] #68 closed

[2016-10-16 05:27] namsoila opened #73 "Compile Error In Examples"
Error in SpinnerCell.swift

[code]

Error in SingleSectionViewController.swift

[code]

Xcode suggests fix using casting that allows project to build so that line goes from:

[code]

To:

[code]

and from:

[code]

To:

[code]

However, this causes crash once the Single Section Controller or Tail Loading sections are accessed.

## New issue checklist

- [+ ] I have reviewed the [`README`](https://

[2016-10-16 16:44] rnystrom commented on #73
Hey @namsoila I'm not able to reproduce any compilation errors on `master` or `stable`. Can you try pulling `master` and building again? Also make sure you're opening `Example/IGListKitExamples.xcworkspace`.

[2016-10-16 16:52] rnystrom opened #75 "Convert reloadIndexPath when inside batch updates to delete+insert"
Calling `reloadSections:` and `reloadIndexPaths:` on a `UICollectionView` while executing the update block in `-[UICollectionView performBatchUpdates:completion:]` is proven to be dangerous. Instead, we should **always** delete+insert. We converted this for sections already, but its still around for index paths.
- Remove the `reloadIndexPaths` mutable container from `IGListAdapterUpdater`
- Add in

[2016-10-16 17:31] rnystrom opened #76 "Diffing challenge: Swift vs Objective-C++"
I'm proposing this mostly for fun/learning. We spent a _lot_ of time optimizing our diffing algorithm in Objective-C++ (e.g. custom `unordered_map`, tables, structs). It's blazing fast, but I'm really curious how it would perform in Swift.

Parameters:
- Test with and without `@objc protocol IGListDiffable { ... }`
  - A big bottleneck in the diffing algorithm is `objc_msgSend(...)` for `diffIdent

[2016-10-16 18:35] AndrewSB commented on #76
@rnystrom is there a write-up for what the algorithm is? I can look through the `.mm` source if not, but this does look fun and it would be cool if you guys wrote about it 😄

[2016-10-16 18:39] AndrewSB commented on #76
@rnystrom IMHO it would also be really cool to have the diffing engine as a dependency to IGListKit, that way it can be used for other applications - diffing is useful in a number of other places, and especially when it's computable in `O(n)`

[2016-10-16 18:50] rnystrom commented on #76
@AndrewSB all the diffing is actually independent of the rest of the framework, just bundled w/ it so we aren't managing 2 projects where one depends on the other. In fact, they used to be separate projects internally!

We're tracking making a sub-podspec in #53 as well. Should be pretty easy.

I like the idea about switching the algos on the fly though! Would be pretty cool.

[2016-10-16 18:58] AndrewSB commented on #76
@rnystrom that makes sense for including just the diff engine in other projects, or `IGListKit` on `macOS`

I'm going to take a shot at the implementation in Swift over the next couple days - will be at GitHub.com/AndrewSB/Diff.
I would love to have you guys measure and test it for efficiency, and I'm completely willing to work with you guys to either improve what I end up writing or helping out w

[2016-10-16 19:04] rnystrom commented on #76
Amazing. I'll keep an eye on it, and if you run into issues or have questions, ping me on an issue there (or here). Happy to help out!

[2016-10-16 19:40] ishabazz opened #77 "IGListKitCrashes when used in an iMessages Extension"
## New issue checklist
- [ x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate
### General information
- Library version(s):1.0.0
- XCode:8.0
- iOS version(s):10.0.x
- Devices/Simula

[2016-10-16 19:52] rnystrom commented on #77
I've definitely seen this error before, but that was using a non-Swift library in a Swift app using Buck for dep management. Might be something similar though.

[2016-10-16 22:01] jessesquires commented on #77
Not clear if this is:

1. a bug in IGListKit
2. a bug in CocoaPods
3. a issue with project setup

[2016-10-16 22:12] jessesquires commented on #76
Not sure what you mean by this.

1. Using `objc_msgsend` / inheriting from `NSObject` means using the ObjC runtime. In this case, Swift is just "Objective-C with a new syntax". I wouldn't expect to see many differences. If you use the Swift stdlib, then you're kind of just measuring that against C++ STL, right?
2. Do you mean static vs dynamic dispatch? In this case, if everything is `protocol P`,

[2016-10-16 22:18] jessesquires commented on #76
Also: optimization levels should be the same:

- none: `-O0`
- fast: `-O`
- fastest, smallest: `-Os`
- fastest, most agressive: `-Ofast`

Note that `-Ofast` will remove all safety (overflow-checking, etc.) from Swift. This is only recommended for hot, well-tested code paths. I would bet that this has *a chance* of out-perfoming the ObjC++ version.

[2016-10-16 22:36] rnystrom commented on #76
I think #2?

I was more talking about using a protocol that called Objective-C methods on `NSObject` subclasses (resulting in `objc_msgSend(...)`) vs just calling Swift functions on a Swift-only protocol. So ya I think static dispatch is what I was after.

[2016-10-16 22:49] rnystrom commented on #77
Off the bat I get an Xcode warning in the sample project:

[2016-10-16 23:07] rnystrom commented on #77
After `$ pod install` I see some weird CocoaPods warnings:

[code]

[2016-10-16 23:47] ishabazz commented on #77
Ok.  To recap, you removed it from the Podfile, ran pod install and  manually installed the framework?

[2016-10-16 23:51] rnystrom commented on #77
@ishabazz I actually didn't remove it from the Podfile at first, just added to Linked Libraries and Frameworks. Then I built, got compiler errors, removed the framework from Linked Libraries and Frameworks, then did `$ pod install` again. This definitely isn't the answer but might be a clue to what's going on.

[2016-10-17 00:01] ishabazz commented on #77
I looked into that initial compiler warning and it leads here https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/ExtensionOverview.html#//apple_ref/doc/uid/TP40014214-CH2-SW6

[2016-10-17 00:03] rnystrom commented on #77
Fixing the warning in #79

[2016-10-17 00:13] rnystrom commented on #77
@ishabazz ok now I can't get it to happen at all anymore. I ran

[code]

It works and installs on multiple simulators and device.

I believe my Podfile is unchanged from what you originally sent:

[code]

[2016-10-17 00:22] ishabazz commented on #77
hmm...tried that but mine still crashes. Your Podifle is the same as mine

[2016-10-17 00:52] rnystrom commented on #77
@ishabazz a couple other configs I tried that seemed to work:

- Remove `IGListKit` from the main target since its empty
- Remove `use_frameworks!`

[2016-10-17 01:42] ishabazz commented on #77
Progress!  I can get the demo project to run without crashing.  I get a compiler error when trying "import IGListKit" though.

[2016-10-17 07:52] namsoila commented on #73
Thanks @rnystrom ! Pulled current master with addition of single section controller using alerts and is fine.

[2016-10-17 07:52] #73 closed

[2016-10-17 10:06] sunbohong opened #80 "Does not work with collection view self-sizing cells (.estimatedItemSize)"
- [✅ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [✅ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate
- Library version(s):1.0.0
- Xcode Version(s):8.0
- iOS version(s):10.0
- Devices/Simulators affected:Simulators
- Reproducibl

[2016-10-17 10:09] sunbohong commented on #80
You can see this when you select `Mixed Data` cell.

[2016-10-17 15:47] jessesquires commented on #80
Thanks @sunbohong ! 😄

It's hard to say if this is actually a ListKit bug or not.

1. What errors do you see? What happens?
2. Can you reproduce this in the sample projects?

[2016-10-18 23:48] rnystrom commented on #80
Sample project would be helpful. We don't use the estimated sizing methods at all, and `IGListAdapter` implements the `UICollectionViewFlowLayoutDelegate` methods for sizing. I'm not sure how all those play together.

[2016-10-19 02:11] sunbohong commented on #80
@jessesquires  @rnystrom

https://github.com/sunbohong/IGListKit/commit/4cf113c39ef5f1ffd75a570cf86716c8efc79db0

this commit is the sample project.

[2016-10-19 07:01] sanboxapps opened #84 "Add an example for `workingRangeSize`"
Currently in the read.me the `workingRangeSize` value proposed is a double (0.5), while the method actually requires an `UInt`, could you please add an example to show how it is properly used?

[2016-10-19 07:06] ElizabethmParker commented on #84
Please help not sure whsts going on

[2016-10-19 07:08] rnystrom commented on #84
@sanboxapps good eye, our documentation got out of sync w/ the project. 0.5 isn't a valid value so we need to clean up the readme along w/ adding a sample. On it!

[2016-10-19 07:10] sanboxapps commented on #84
@rnystrom Thanks for the quick reply, and thanks for this fantastic library, I love it.

[2016-10-19 07:21] ElizabethmParker commented on #84
On Oct 19, 2016 1:10 AM, "sanboxapps" <notifications@github.com> wrote:

library, I love it.

[2016-10-19 12:41] modLX4 opened #86 "Can IGListKit be used with AsyncDisplayKit?"
Can IGListKit be used with AsyncDisplayKit
https://github.com/facebook/AsyncDisplayKit

[2016-10-19 19:45] bonzoq opened #87 "'Search autocomplete' example crashes with 'Section controller nil for cell'"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- Library version(s): 1.0.0
- iOS version(s): 10.1
- Devices/Simulators affect

[2016-10-19 20:02] avalanched commented on #87
the issue is easily reproducible by typing and scrolling at the same time.

[2016-10-19 21:05] jessesquires commented on #87
Thanks @bonzoq ! 👍

[2016-10-19 21:09] jessesquires commented on #87
Here's the assert that's firing:

https://github.com/Instagram/IGListKit/blob/ce4b851da343940513a074342fab6f5a7e67125d/Source/IGListAdapter.m#L341

Sounds like `_cellSectionControllerMap` is getting out of sync:

https://github.com/Instagram/IGListKit/blob/ce4b851da343940513a074342fab6f5a7e67125d/Source/IGListAdapter.m#L513-L516

[2016-10-20 02:00] rnystrom commented on #80
@sunbohong ok I think I figured out what is going wrong here, to use estimated sizing cells you need to implement `preferredLayoutAttributesFitting(...)` in your custom cell when not using auto layout to do the sizing. I added this line to `CollectionCell.swift` and it works:

[code]

Can you give this a try? If this works for you, can you close this issue. I'll open a new issue on how to use `IGL

[2016-10-20 02:08] rnystrom commented on #86
@modLX4 great question, and absolutely yes it can! In fact, I'm planning on adding an example using [ComponentKit](http://componentkit.org/), [AsyncDisplayKit](http://asyncdisplaykit.org/), `UIKit`, and even `WKWebView` **all within the same list**. IMO that's the power of what we're using.

Now to use this with `AsyncDisplayKit` there are a few caveats:

- You cannot use [`ASCollectionView`](http

[2016-10-20 02:12] rnystrom commented on #87
Nice find. I can get this to happen on the first try if I:

1. Search autocomplete example
2. Type "a"
3. Hit the "X" cancel button
4. Scroll halfway down
5. Tap the status bar to go to top

Digging

[2016-10-20 02:21] rnystrom commented on #87
Wooooooooow. So on iOS 10, a cell can end up in `-[UICollectionView visibleCells]`**before** it calls `collectionView:willDisplayCell:forItemAtIndexPath:`. Crazy! This is probably radar worthy b/c a cell shouldn't be "visible" before the delegate is notified.

Now this only happens if you search, meaning that `-[UICollectionView performBatchUpdates:completion:]` is called. The search bar cell is n

[2016-10-20 02:27] rnystrom commented on #87
I commented out the line `-[IGListAdapter removeMapForCell:]` and it doesn't crash anymore. However, if I scroll back up to the top, I see this:

![simulator screen shot oct 20 2016 10 23 37 am](https://cloud.githubusercontent.com/assets/739696/19544198/bf9776f4-96af-11e6-929b-a7cb97eaf45d.png)

[2016-10-20 02:32] rnystrom commented on #87
Ok its to do with the `UISearchBar` remaining the first responder. This is both a bug in the sample app and a bug w/ `UIKit`.

Before OSS launch, there was no `scrollDelegate` for section controllers. We had a scroll method as part of the `displayDelegate`. After we split out scrolling to a new delegate, this silently broke the example. That means [this code never executes](https://github.com/Inst

[2016-10-20 02:37] rnystrom commented on #84
Reopening since updating the docs doesn't totally satisfy this.

[2016-10-20 02:39] rnystrom commented on #77
@ishabazz any update on this? Not really sure what to do here :/

[2016-10-20 02:47] ishabazz commented on #77
Still a problem. Compiles fine until you try to import IGListKit, then doesn't compile and gives a "No such module 'IGListKit' found"  Did it work for you?

[2016-10-20 03:11] sunbohong commented on #80
@rnystrom

  if we return layoutAttributes directyly,the crazy log will disappear;but,the layout will **incorrect**.

[code]

  if we use super's preferredLayoutAttributesFitting method,the crazy log will **not disappear**.

[code]

[2016-10-20 03:46] sunbohong commented on #80
@rnystrom  i add one unsafe Constraint to cell.contentView,the crazy log will disappear;but,the layout will **incorrect** when we select the `CollectionCell`.

            cell.contentView.snp.makeConstraints({ (make) in
                make.width.lessThanOrEqualTo(collectionContext!.containerSize.width)
            })

[2016-10-20 04:24] rnystrom commented on #80
@sunbohong I think we need to find an example of a project using:

- `UICollectionViewFlowLayoutDelegate` and returning actual sizes from the delegate method
- Setting `estimatedSizes` on the layout
- Not using storyboards or nibs

I'm honestly just not all that familiar w/ the estimated cell sizing and how the `estimatedSize` property plays with the layout delegate values. As I understand it the

[2016-10-20 05:53] sunbohong commented on #80
@rnystrom

I have upload a new demo.

https://github.com/sunbohong/Demo-Collection/commit/e2273de157e45d9d05250390b95b34cce52b3a17

[2016-10-20 06:26] rnystrom opened #91 "Add more asserts for view dequeueing in IGListAdapter"
Noticed this in #90, it looks like there are some asserts that should be cleaned up:

- Assert `elementKind.length > 0` for supplementary views
  - https://github.com/Instagram/IGListKit/blob/ce4b851da343940513a074342fab6f5a7e67125d/Source/IGListAdapter.m#L746
- Assert `index > 0`
  - https://github.com/Instagram/IGListKit/blob/ce4b851da343940513a074342fab6f5a7e67125d/Source/IGListAdapter.m#L714

[2016-10-20 06:29] #84 closed

[2016-10-20 06:29] #87 closed

[2016-10-20 13:36] #1 closed

[2016-10-20 13:37] #40 closed

[2016-10-20 14:59] jessesquires opened #94 "Add examples for ASDK, ComponentKit, etc."
Follow up task from #86.

Add examples using:
- [ ] ComponentKit
- [ ] AsyncDisplayKit
- [ ] UIKit
- [ ] WKWebView

[2016-10-20 14:59] jessesquires commented on #86
🎉

Let's track that work at #94 👍

[2016-10-20 14:59] #86 closed

[2016-10-20 15:47] yusuftor opened #97 "How to deal with JSON data?"
Hi,
Firstly, I think this IGListKit is awesome and so useful!

This is more of a question than an issue, but I have JSON data returned from my servers that I want to populate my list with. Usually I would use [SwiftyJSON](https://github.com/SwiftyJSON/SwiftyJSON) to handle the data, and everytime `-cellForItemAt` is called, use something like `data[indexPath.row]["text"].stringValue` to retrieve t

[2016-10-20 15:50] jessesquires commented on #77
Hm... 🤔 Sounds like this is probably a project setup issue... ?

[2016-10-20 15:56] jessesquires commented on #97
Hey @yusuftor ! 😄

I would definitely parse out the JSON into model objects. It sounds like you're just using raw JSON? That's probably not the best practice. 😅

The flow should be something like this:

1. Network request
2. Request completes, gives JSON to a parser object
3. Parser returns array of parsed model objects (that conform to `IGListDiffable`)
4. Return this array in `-objects(for:)`
5.

[2016-10-20 16:29] #55 closed

[2016-10-20 19:15] AndrewSB commented on #76
@rnystrom I mentioned you on an issue I was having https://github.com/AndrewSB/Diff/issues/1

I've implemented a pretty naive version of Paul Heckel's algorithm in [Diff.playground](https://github.com/AndrewSB/Diff/blob/master/Diff.playground/Contents.swift). There are a number of speed ups I know of already, but I wanted to get the algorithm outputting `Edit`s before I started making it more comp

[2016-10-21 00:11] jessesquires opened #99 "[Gardening] Fix comment headers in IGListKitExamples/ project files"
Some files in `IGListKitExamples/` have incorrect comment headers, like:

https://github.com/Instagram/IGListKit/blob/master/Example/IGListKitExamples/ViewControllers/WorkingRangeViewController.swift#L1-L7

Should be:

https://github.com/Instagram/IGListKit/blob/master/Example/IGListKitExamples/ViewControllers/DemosViewController.swift#L1-L13

cc @rnystrom 😏

[2016-10-21 00:34] rnystrom commented on #99
😬

[2016-10-21 02:29] #99 closed

[2016-10-21 07:04] rnystrom opened #103 "Assert sizeBlock param in single section controller is not nil"
[These initializers](https://github.com/Instagram/IGListKit/blob/master/Source/IGListSingleSectionController.m#L30) are missing `IGParameterAssert(sizeBlock != nil)`. That param should never be nil.

[2016-10-21 09:09] rnystrom commented on #103
Fixed in #92

[2016-10-21 09:09] #103 closed

[2016-10-21 09:44] yusuftor opened #104 "Cannot create cells from Nib in Cocoapods release"
Hi,

I saw that in your example project, you have the following code for creating a cell from a nib:

[code]

However, in the version of IGListKit downloaded from Cocoapods, the function is no where to be seen. Would it be possible to update the Cocoapods version so that it has this function?
Thanks!

[2016-10-21 13:20] rnystrom commented on #104
@yusuftor we should! I'll bump a 1.1 release and include this

[2016-10-21 13:59] bonzoq opened #105 "'Tail Loading' example doesn't add new cells the second time you pull the table view"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- Library version(s): 2.0.0
- iOS version(s): 10.1
- Devices/Simulators affect

[2016-10-21 14:35] ezrover opened #106 "Getting more done in GitHub with ZenHub"
Hola! @ezrover has created a [ZenHub](http://www.zenhub.com) account for the **Instagram** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboa

[2016-10-21 15:48] jessesquires commented on #104
This needs to be 2.0, not 1.1.

This is a breaking change

[2016-10-21 15:51] jessesquires commented on #104
@rnystrom - we should probably wait until current PRs are merged.

Since this is a breaking release, we should pack-in as many breaking changes as we can.

There's a 2.0 draft at https://github.com/Instagram/IGListKit/releases

[2016-10-21 15:51] jessesquires commented on #104
@yusuftor you can track our progress for the next release here:

https://github.com/Instagram/IGListKit/milestone/1

[2016-10-21 15:53] jessesquires commented on #105
Thanks @bonzoq ! 👍

[2016-10-21 15:55] jessesquires commented on #106
Thanks @ezrover ! I think we'll pass on this for now. 😄

[2016-10-21 15:55] #106 closed

[2016-10-21 16:20] benasher44 commented on #52
The final analyzer warning was fixed by #69, which is a pretty awesome patch btw @valeriyvan! This ticket is unblocked now.

[2016-10-22 02:24] rnystrom commented on #104
@jessesquires actually #56 wasn't breaking, I meant cutting a 1.1.0 and picking the nib feature before we cut 2.0.0. What do you think?

[2016-10-22 02:59] #91 closed

[2016-10-22 14:46] Sherlouk commented on #77
Created a very basic example over on my fork ([here](https://github.com/Sherlouk/IGListKit/tree/multiple-schemes)) of an iMessage extension.

I've also downloaded your demo repository and found the issue: In your "Build Phases" tab you have a run action for '[CP] Copy Pods Resources' but not one for '[CP] Embed Pods Frameworks' hence the error.

I will create a pull request on your demo repository

[2016-10-22 16:17] Sherlouk commented on #77
@rnystrom Relating to my previous comment, how would you feel about adding extension examples into this repo? Happy to make modifications/make them more useful!

[my fork](https://github.com/Sherlouk/IGListKit/tree/multiple-schemes) contains an example for both a Today Extension and an iMessage Extension.

[2016-10-22 18:45] lxcid commented on #76
I went for the talk of Ryan in Singapore (great talk btw) and tried porting it to Swift.
It was quite fun and I think I got an identical implementation. I passed most of the relevant unit tests which are also ported.

https://github.com/lxcid/ListDiff

This is done is Swift 3 and depends only on Foundation. Its in [a single file](https://github.com/lxcid/ListDiff/blob/master/Sources/ListDiff.swift

[2016-10-22 19:21] ishabazz commented on #77
Thanks  @Sherlouk!

[2016-10-23 02:35] rnystrom commented on #77
@Sherlouk yes yes yes yes yes! That would be amazing! Should we clean up and add your fork to the example or should we make something new?

[2016-10-23 02:59] #52 closed

[2016-10-23 03:03] rnystrom commented on #94
@jessesquires are you gonna work on this? I have 24 hours of travel tomorrow and can get started.

[2016-10-23 03:29] rnystrom commented on #76
@lxcid can you do `===` for pointer comparison then `==` for equality? Just means diffed items have to conform to `Equatable`.

Algorithm looks good tho! Funny how it looks basically the same considering its C++ and Swift.

[2016-10-23 04:57] lxcid commented on #76
Thanks! Yeah, it was a direct port from IGListKit, much of the structural part of the code was kept similar. 😅

Was surprise to see that the `===` operator only work with class though, which make it tricky now.

![screenshot 2016-10-23 12 25 33](https://cloud.githubusercontent.com/assets/297156/19624149/d25acff2-991b-11e6-8f41-0f657bcfdb89.png)

A workaround is to drop support for `pointerPersonal

[2016-10-23 05:26] rnystrom commented on #76
@lxcid re: pointer personality, that makes sense! I guess we could just stick to `==` and expect classes to check their pointers first, then values. Something like:

[code]

Then structs are always just value comparisons.

[2016-10-23 15:09] lxcid commented on #76
Ahhh didn't thought about that. I agree!
I have made the suggested changes and port the associated tests at https://github.com/lxcid/ListDiff/pull/1

[2016-10-24 00:21] rnystrom opened #113 "More descriptive assert messages when collectionView is nil"
A lot of our `IGAssert` message strings are copy/pasted. Would be great to have more descriptive asserts about what is happening instead of just "Reloading collection view" etc, etc.

[Example](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L720)

[2016-10-24 00:29] #37 closed

[2016-10-24 00:32] rnystrom opened #114 "Config file organization"
Does anyone have a better idea on how to structure all these `.yml`, `.md`, etc files? Not the biggest issue, but its pushing the README further and further down on desktop.

<img width="236" alt="screen shot 2016-10-24 at 8 30 33 am" src="https://cloud.githubusercontent.com/assets/739696/19630797/561a79d4-99c4-11e6-8879-6c8886ad6936.png">

cc @jessesquires

[2016-10-24 00:44] #105 closed

[2016-10-24 06:35] romankl commented on #113
If this one is still free/ not assigned, could I take a look at it?

[2016-10-24 16:43] jessesquires commented on #104
Ahhh.. I see.

At this point, I think it's more valuable (and simpler) to just pack up everything into `2.0` and release that. Do we foresee any other major breaking changes coming up?

[2016-10-24 16:47] jessesquires commented on #94
lol. didn't mean to self-assign

[2016-10-24 16:52] jessesquires commented on #114
`CONTRIBUTING` can move to `.github/`

[2016-10-24 16:52] jessesquires commented on #114
unfortunately, i don't think we can do much else

[2016-10-24 23:06] ishabazz commented on #77
By the way.  When trying to submit the build to TestFlight I ran into this issue  http://stackoverflow.com/questions/40005130/error-itms-90685-cfbundleidentifier-collision-there-is-more-than-one-bundle

Still working on a resolution

[2016-10-24 23:33] rnystrom commented on #104
No I don't think so

[2016-10-24 23:34] rnystrom commented on #113
@romankl all yours!

[2016-10-25 02:25] jessesquires opened #118 "CocoaPods tvOS support"
We should be tvOS-compliant (AFAIK)

- [x] Add tvOS target to xcodeproj
- [x] Add shared scheme + build on travis
- [x] Update `.podspec` to declare tvOS 9.0+ support

[2016-10-25 02:28] jessesquires commented on #104
Also, it's only been 13 days since `1.0` 😄

I say we wait another week or two, keep merging PRs, then tag and release 2.0.

And honestly, `master` is pretty stable. If anyone needs those features *right now*, then can point CocoaPods/Carthage there for now.

[2016-10-25 02:30] jessesquires commented on #77
@ishabazz -- This should be fixed with CocoaPods 1.1

http://blog.cocoapods.org/CocoaPods-1.1.0/

[2016-10-25 08:43] sanboxapps opened #121 "UITextView contained in IGListSectionController"
[code]

this code shows an `UITextView` inside an `IGListSectionController`
uncommenting the following line `newTextView.userInteractionEnabled = false` fires `func didSelectItemAtIndex(index: Int)` correctly but doesn't show the keyboard, enabling user interactions shows the keyboard but doesn't notify the section controller of item selection.
Is that an unintended use case, or did I miss somethi

[2016-10-25 09:45] Sherlouk commented on #121
As far as I'm aware that's the base functionality internally, UITextViews will intercept the touch action before it gets to the cell due to its ability to be edited.

By turning `userInteractionEnabled` to false you're telling the textview to no longer accept touch actions and therefore the cell receives it (triggering the `didSelectItemAtIndex`)

If you're wanting to detect when a user starts to

[2016-10-25 09:54] yusuftor commented on #104
Ok so which branch should I be directing Cocoapods to to access those features?

[2016-10-25 10:06] Sherlouk commented on #104
@yusuftor
Adding the following:
```pod 'IGListKit', :git => 'https://github.com/Instagram/IGListKit.git', :branch => 'master'```
to your `Podfile` should enable it to get the latest version of Master from the repository.

[2016-10-25 15:54] jessesquires commented on #121
Thanks @Sherlouk ! 🎉

Also, your SectionController could be the `UITextViewDelegate`.

@sanboxapps - let us know if this helps 😄

[2016-10-25 15:55] jessesquires commented on #104
Yep -- although master is pretty stable (and tested), it should be used with caution 😄

[2016-10-25 15:56] jessesquires commented on #104
Going to go ahead and close this out

[2016-10-25 15:56] #104 closed

[2016-10-25 16:40] rnystrom commented on #118
@timonus wanna poke around at this? 😄

[2016-10-25 17:13] sanboxapps commented on #121
Thanks for the help, the initial intention is to have the sectionController recognize which item (I forgot to mention there could be a multitude of them) was tapped so that when the text changes it knows how to handle the change based on the item. I think 2 possible ways around that would be as @Sherlouk mentioned to rely on the text view'a delegate (in my case by wrapping it in another delegate t

[2016-10-25 18:16] timonus commented on #118
Sure, I can take a look! Pretty busy for the next few weeks but will take a crack at it when I can.

[2016-10-25 19:32] zhubofei commented on #25
Seems doable if we only support macOS 10.11+

[2016-10-25 20:33] Sherlouk commented on #121
So it depends what information you really need, it's possible to get the index of a UICollectionViewCell by using the `collectionContext?.index(for cell: UICollectionViewCell, sectionController: IGListSectionController) -> UInt` function.

If you were to have the `UITextViewDelegate` in the cell it self, which then forwards a message onto the section controller (see our `RemoveSectionController` f

[2016-10-25 21:47] yusuftor commented on #23
I'm trying to use this -[IGListAdapter scrollToObject:...] function (I assume it's the same one you're talking about?). I'm testing it in my view and it just doesn't scroll to any item at all. My code is:

`adapter.scroll(to: model.content.last, supplementaryKinds: nil, scrollDirection: .vertical, animated: true)`

Where model.content.last is an object being displayed in a section.

[2016-10-26 01:57] zhubofei commented on #39
@rnystrom Shall we close this issue?

[2016-10-26 03:06] #39 closed

[2016-10-26 04:24] zhubofei commented on #31
@rnystrom IGListItemController was renamed to IGListSectionController right?

[2016-10-26 06:01] jessesquires commented on #31
@zhubofei - correct 😄 We should update the initial comment

[2016-10-27 03:37] saucym commented on #80
@rnystrom

[2016-10-27 03:45] saucym commented on #80
@rnystrom
if we use self-sizing and call performUpdates  the Animation is not perfect.
this function is not Optional. -> public func sizeForItem(at index: Int) -> CGSize
Is there any way to perfect support self-sizing?  Especially the animation.

[2016-10-27 15:26] zhubofei commented on #3
@rnystrom Do you mean we should let cells from different sections be in the same row if width permitted?

[2016-10-27 16:04] jessesquires commented on #3
@zhubofei - this would be a "section-based" grid layout.

If you have square thumbnail cells with 1 item per section and use `FlowLayout`, each cell will be in its own section. (So you would have a lot of whitespace on the right.)

This layout would allow you to have a grid like Photos.app, except instead of 1 section with many items, it would be many sections with 1 item.

[2016-10-27 16:11] jessesquires commented on #3
I think "row" implies "full-width" -- these cells would **not** be full-width, but a grid like Photos.app with 1 cell in each section 😊

[2016-10-27 16:19] rnystrom commented on #3
@zhubofei yup what @jessesquires. Think a grid layout where each column is a different section. We might be able to cleanup and open one of our layouts but they are all pretty specific. I've seen some other open source layouts that do this, but haven't taken the time to find "the one".

If there's a great layout out there we could just link to and recommend they use it, but bundling one w/ `IGList

[2016-10-27 16:28] rnystrom commented on #80
@saucym so to use `estimatedSize` cells we can't implement `collectionView:layout: sizeForItemAtIndexPath:`?

[2016-10-27 18:26] rnystrom opened #126 "Rename "*ItemController" unit tests to "SectionController""
Leftover file names from renaming before release.

[2016-10-27 18:55] jessesquires commented on #80
@rnystrom - that doesn't sound correct. Layout should still query this method to get the final, actual size... (i think)

Or maybe is does just use `preferredLayoutAttributesFitting:...` 🤔

[2016-10-27 20:55] jessesquires opened #127 "Provide clients with (optional) diffing notifications"
Internally, we've come across a case where we need to know the results of the diffing. (Specifically, we need to know what was re-ordered in a list.)

We *could* using the diffing components separately to figure this out, but that doesn't make sense since `ListAdapter` will be "re-doing" this work.

We could add a `nullable id<IGListDiffingNotificationDelegate>` (or something similar) that clients

[2016-10-27 20:56] jessesquires commented on #127
cc @rnystrom - thoughts?

[2016-10-27 21:16] rnystrom commented on #127
Could we use the `IGListAdapterUpdaterDelegate` for this?

https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdaterDelegate.h#L31-L39

https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdater.h#L32

Maybe we split apart the delegate, or make it one-to-many by importing the announcer stuff.

[2016-10-27 21:18] rnystrom opened #128 "IGListAdapterUpdaterDelegate docs are missing a param"
https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdaterDelegate.h#L31-L39

The batch update data is missing! 😭

[2016-10-27 21:18] rnystrom commented on #128
Discovered by @jessesquires in #127

[2016-10-27 21:26] jessesquires commented on #127
Ahh 👍  Looks like `IGListBatchUpdateData` contains everything we would need.

However, I agree that `IGListAdapterUpdaterDelegate` is way too large.

I see 5 distinct groups of notifications that clients might want to listen for independently:

- `batchUpdateDelegate`
- `insertUpdateDelegate`
- `deleteUpdateDelegate`
- `reloadUpdateDelegate`
- `crashDelegate`

------

Note: we could still keep `IG

[2016-10-27 21:27] jessesquires commented on #127
Maybe we could combine `insert` / `delete` if 5 is too much

[2016-10-27 21:35] kwstasna commented on #97
@jessesquires Thanks a lot for your help and explaining. But would it be difficult for you, with all my respect, to show us a legit example with a simple json example and how can we make a model that conforms to `IGListDiffable` ?
Again, thanks a lot 😃

[2016-10-27 21:40] rnystrom commented on #97
@kwstasna Check out the latest demo that we added for an example custom model that conforms to `IGListDiffable`:

https://github.com/Instagram/IGListKit/blob/master/Example/IGListKitExamples/ViewControllers/DiffTableViewController.swift#L18-L39

For doing JSON-to-`Person` and diffing, imagine something like:

[code]

[2016-10-27 21:42] Sherlouk commented on #97
If people would find it handy, I'm more than happy to create a JSON example which takes a local json file parses it into objects and displays a mixed data view?

Feel free to assign this to me!

[2016-10-27 21:43] rnystrom commented on #127
Ya, its a bit much. We could def split it out. Right now we use this for custom exception handling to find bad diffs. I was thinking too that a `UICollectionViewLayout` object could conform to the updates and do custom invalidation or something. Maybe we keep the granular updates as one delegate, a begin/end delegate, then a crash delegate?

[2016-10-27 21:59] kwstasna commented on #97
@rnystrom ok I think i got it now.
@Sherlouk I would be glad just to know that I'm doing it right 😄

[2016-10-27 22:10] jessesquires commented on #127
cc @lichen19853

[2016-10-27 22:14] jessesquires commented on #97
💯  🎉

[2016-10-27 22:14] #97 closed

[2016-10-28 01:14] saraswatayu commented on #94
In #86, @rnystrom mentions using ComponentKit, AsyncDisplayKit, UIKit, and WKWebView within the same list. Is that still the goal or should four different lists be created, each using one of the aforementioned frameworks?

[2016-10-28 14:44] #128 closed

[2016-10-29 03:10] shuhrat10 opened #133 "Bug: Nested CollectionView"
![2](https://cloud.githubusercontent.com/assets/62485/19826845/ce075366-9d63-11e6-95a4-f93537c41689.jpg)
If you add more nested CollectionView's to Nested Adapter example, you will notice that the horizontal scroll will be broken. Pod installed from master branch (https://github.com/Instagram/IGListKit).
- Xcode 8.0

[2016-10-29 04:20] jessesquires commented on #133
Thanks @shuhrat10 ! 😄 Can you provide more info or a link to the modified demo project?

cc @rnystrom

[2016-10-29 04:26] shuhrat10 commented on #133
Just replace data array in NestedAdapterViewController.swift file.

let data = [
        "Ridiculus Elit Tellus Purus Aenean",
        "Condimentum Sollicitudin Adipiscing",
        14,
        "Ligula Ipsum Tristique Parturient Euismod",
        "Purus Dapibus Vulputate",
        6,
        "Tellus Nibh Ipsum Inceptos",
        2,
        43,
        15,
        20,
        15,
        "a",

[2016-10-29 04:27] shuhrat10 opened #134 "IGListStackedSectionController example"
Can you add example how to use IGListStackedSectionController?

[2016-10-29 08:52] zhubofei commented on #23
@rnystrom Can you change the bulleted list into a task list 🤔. So that we can work these out in separate PRs.

[2016-10-29 10:02] Sherlouk commented on #133
Tested on iPhone 7+ (iOS 10) and didn't do it, but tried on the same device as the screenshot iPhone 5s (iOS 9.3) and it does it (using the modified data type)

Looks to me like a simple case of when a UICollectionViewCell is reused then the scrollview is not reset. Adding in a `prepareForReuse` fixes this, PR open.

[2016-10-29 10:17] Sherlouk commented on #134
Never knew this was even a thing, looking into the documentation for it now and will try to create a simple example! :)

[2016-10-29 10:50] Sherlouk commented on #134
Started to make an example with this but reached a bit of a stumbling point with getting the correct object to the section controllers in the stack.

Will wait for someone with knowledge to respond on this!

[2016-10-29 14:42] shuhrat10 commented on #133
@Sherlouk The fixes looks good until you do not need to keep contentOffset for previous collectionview. I think we need to store contentOffset in OrderedSet for existing collectionview, and pass this value to prepareForReuse if it exist.

[2016-10-29 14:46] Sherlouk commented on #133
@shuhrat10 I already mentioned that in the PR, but not sure how deep we want to get with functionality based on what the example is trying to show (being that you can nest collection views)

Happy to leave this discussion open, and if we want to store offsets then that's a simple addition!

[2016-10-29 14:56] shuhrat10 commented on #133
Will be great if IGListKit will store offsets out-of-box. @Sherlouk cc @rnystrom

[2016-10-29 15:57] rnystrom commented on #133
@shuhrat nice find! I think this also reinforces that we need to provide a stock embedded collection view section controller like we proposed in #13.

[2016-10-29 16:10] rnystrom commented on #31
Noting from #133 that we want to store and reset the content offset of the collection view when it is reused.

[2016-10-29 16:11] rnystrom commented on #134
Ah yes! We had an internal example that I forgot to port. Let me get that working.

[2016-10-29 16:19] rnystrom commented on #23
@yusuftor could you create a new issue for this with an example?

@zhubofei sure thing! That will make it way easier to track.

[2016-10-29 18:21] jessesquires commented on #118
Done in #137

[2016-10-29 18:40] timonus commented on #118
Nice

[2016-10-29 18:54] Sherlouk commented on #118
@jessesquires Assuming you haven't, would you mind if I had a look at creating a snazzy example for this?

[2016-10-29 18:59] jessesquires opened #138 "Add tvOS example project"
Depends on #118 and #137.

Let's get a basic tvOS example setup.

Let's put this in a top-level dir, `Examples-tvOS/`

[2016-10-29 19:00] jessesquires commented on #118
@Sherlouk 👍 That would be 💯

Opened #138 to track. Let's discuss there 😄

[2016-10-29 19:01] jessesquires commented on #138
You'll need to branch off of `tvOS-support` until #137 is merged.

https://github.com/Instagram/IGListKit/tree/tvOS-support

[2016-10-29 19:03] Sherlouk commented on #138
Sounds like a plan!

Currently working on creating the base project, will push that and link once that step is done

[2016-10-29 19:04] Sherlouk commented on #138
@jessesquires Yes/No to renaming 'Examples/' to 'Examples-iOS/'?

[2016-10-29 19:19] Sherlouk commented on #138
For visibility: https://github.com/Sherlouk/IGListKit/tree/tvOS-example

[2016-10-29 19:25] jessesquires commented on #138
👍

Yeah, I was going to suggest that -- `Examples-iOS/` -- let's do that in a separate PR. cc @rnystrom

[2016-10-29 20:05] Sherlouk commented on #138
Idea 1 foiled by the lack of #3! Gutted!

Over to plan B haha

[2016-10-29 20:51] yusuftor commented on #23
@rnystrom False alarm! I realised that I needed to unwrap model.content.last and then it worked. However, I have noticed that it scrolls the item to the top of the view, with no option to specify whether you want it at the top or at the bottom. I'll create a new issue with that as a suggestion.

[2016-10-29 20:58] yusuftor opened #139 "Specify end position for -scrollToObject"
The current implementation of -scrollToObject doesn't allow you to specify where you would like the section to be positioned at the end of the scroll. With Apple's implementation of -scrollToItem for a collectionView, they have a parameter called scrollPosition. This allows a user to specify whether the item should be positioned at the top, bottom, center etc. of the view.

It would be great if th

[2016-10-29 21:03] Sherlouk commented on #138
@jessesquires https://github.com/Sherlouk/IGListKit/tree/tvOS-example

Created a Demo Chooser interface as well as a 'Nested Adapter' example.
Took the concept of the TV show chooser with carousels (would usually have images, but just a label for now).

Mind having a look and giving feedback please? Thanks!

cc: @rnystrom

[2016-10-29 21:16] Sherlouk commented on #3
For what it's worth I've previously used this:
https://github.com/rhodgkins/RDHCollectionViewGridLayout

Been a while since I looked but it used to work very well!

[2016-10-29 21:17] rnystrom commented on #139
Absolutely. I've had this request internally too. We'll have to decide on whether or not this is a breaking change or not. Also we should get all the tests from #23 in place before doing this.

[2016-10-29 21:19] #126 closed

[2016-10-29 21:44] #114 closed

[2016-10-29 21:44] #118 closed

[2016-10-30 04:27] zhubofei commented on #3
@rnystrom @jessesquires  I created a half-baked flow layout. Posted a PR just want to make sure that I am on the right track.

[2016-10-30 04:28] zhubofei commented on #3
@Sherlouk Unfortunately, RDHCollectionViewGridLayout seems only support fixed width & height.

[2016-10-30 18:36] rnystrom opened #142 "IGListSectionController background view API"
Random thought I had today working on a tutorial for IGListKit.

What if we had an API to give `IGListSectionController`s a `backgroundView` property sort of like `UICollectionView` has? This would make putting background/border views around a section pretty easy.

As for how it'd work, we could put the views in the `IGListCollectionView` itself and manage positions.

[2016-10-30 18:37] rnystrom commented on #142
Also I'm open to hearing how to provide better section-border support natively too.

[2016-10-30 19:29] fazilakhter opened #143 "Collection Controller with Storyboard"
## New issue checklist

Can i use CollectionView from storyboard with multiple Cells rather SingalStoryboardCell.
i want to have Storyboard CollectionView with Multiple Cells of Autolayouts?
Or i have to create all layouts myself in CollectionViewCells?

Also Pod file have different implementation than Master branch. may be need to update pod.
e.g dequeueReusableCellFromStoryboard not found in pod

[2016-10-30 19:30] fazilakhter commented on #143
Question regarding Autolayouts and Storyboard CollectionView.

[2016-10-30 19:49] zhubofei commented on #143
@fazilakhter You can have as many cells from storyboard as you want. Just put a `switch `in`IGListSectionController`'s `cellForItem(at index: Int)` and dequeue different cell prototype based on index (you can also assign a different `IGListSectionController` for each cell prototype). There is a `StoryboardViewController` in examples. You can refer to it.

[2016-10-30 20:25] zhubofei commented on #3
@jessesquires For this layout, can I assume that each section only has one item?

[2016-10-30 22:14] zhubofei commented on #80
I found this http://stackoverflow.com/a/25896386/2977647. Hope it helps.

[2016-10-30 23:54] zhubofei commented on #80
@sunbohong To use` estimatedSize` you need to override the `frame` size  in `preferredLayoutAttributesFittingAttributes`, like this post http://stackoverflow.com/a/25896386/2977647 did.

[2016-10-30 23:59] zhubofei commented on #80
@jessesquires After reading https://developer.apple.com/reference/uikit/uicollectionviewflowlayout/1617709-estimateditemsize?language=objc, I think if we set `estimatedSize` to a non-zero value, the layout will only ask `preferredLayoutAttributesFittingAttributes` for item size.

[2016-10-31 05:50] ishabazz commented on #142
What's the current way to set the section background?

[2016-10-31 09:07] Sherlouk commented on #143
@fazilakhter With reference to your issue with Cocoapods there was a discussion about this in #104

tl;dr - The team is working on a 2.0.0 release but in the meanwhile if the changes are important then master is pretty stable so you could use that.

[2016-10-31 13:15] fazilakhter commented on #143
@zhubofei  Thanks for the input , But what will happen in case of Autolayouts  ,
Do i need to calculate size mysellf in **sizeForItem** ?
i want to give Cell Size according to AutoLayouts , Can you give me some pointers on this ?
what will be the best way to use Autolayouts Storyboard Cells  with Correct Size  e.g Image and Dynamic Text inside

[2016-10-31 13:34] zhubofei commented on #143
UICollectionViewFlowLayoutAutomaticSize only works on iOS10+. I think use sizeForItem maybe a better choice.

[2016-10-31 13:53] fazilakhter commented on #143
@zhubofei  So you suggest , i calculate and give proper size myself in sizeForItem of Cells?

[2016-10-31 13:54] zhubofei commented on #143
@fazilakhter Yes. And I think you can rely on autolayout with the cell one you set the correct size of the cell.

[2016-10-31 16:19] rnystrom opened #144 "Provide object in IGListSingleSectionController size block"
Working on a tutorial, I found not having access to the `object` in the size block of a single section controller pretty limiting (e.g. dynamically sized text). We should include the object as a parameter in the block.

_This will be a breaking change_

[2016-10-31 16:20] rnystrom commented on #142
@ishabazz there isn't one 😄

I'm not sure how valuable this would be, and it could be pretty complicated keeping up w/ `UICollectionView` changes, so this might not be worth it.

[2016-10-31 16:30] rnystrom opened #145 "Add -[IGListCollectionContext moveInSectionController:fromIndex:toIndex:] API"
We lack the ability to move cells in a section controller. Right now you could delete+insert but that's pretty lame since we support section moving via diff results.

Blocks #38

[2016-10-31 16:35] rnystrom commented on #38
This would really be _one-way data flow_ once built:

1. Top-level data in `IGListAdapterDataSource`
2. Section controller transforms data into an array of view models
3. View-model to cell class
4. "Bind" view model to cell (e.g. config)

Don't want to lock down the API too much though, for instance cell selection should still be handled manually I think.

[2016-10-31 16:42] jessesquires commented on #144
👍 Let's get this into 2.0

[2016-10-31 16:46] jessesquires commented on #3
Yes. In fact, one thing we want here is a "Grid Layout" specifically.

@rnystrom -- was your intent here for a grid, or just a "no newline", section-based layout.. ?

in any case, it would probably be simpler to start with a grid (cells fixed width/height)

[2016-10-31 16:50] jessesquires commented on #38
This is "too late" in the flow.

Where we use view models, we're returning them in `-itemsFromListAdapter:`. The view models need to be **the items** that are diff'd.

[2016-10-31 16:54] rnystrom commented on #38
@jessesquires I mean use a top-level array of objects to drive sections, then a view-model array to drive `numberOfItems`. Then the section controller does diffing for its view models when the top-level model changes.

Not sure if that makes sense.

(basically what we do for feed items tho)

[2016-10-31 17:08] rnystrom opened #146 "Better Swift interop for -[IGListDiffable diffIdentifier]?"
B/c the return type of `diffIdentifier` is `id<NSObject>`, we end up with Swift that looks like this:

[code]

I'm not crazy about this. Could we change the method to `- (id)diffIdentifier`? I'd imagine we end up w/

[code]

Right? The `AnyObject` docs say:

So if `AnyObject` is meant for interop w/ ObjC, and all ObjC objects respond to `hash` and `isEqual:` (which is [what the diffing algo uses](

[2016-10-31 18:13] jessesquires commented on #146
Not quite: `id` now bridges to `Any` in Swift, so you would end up with

`func diffIdentifier() -> Any`

Then, I imagine you'd get `does not respond to selector` crashes.

Have you tried this yet?

[2016-10-31 19:18] zhubofei commented on #146
Can we rewrite the objective-c++ in swift? Will there be a performance drop?

[2016-10-31 20:12] rnystrom commented on #146
@zhubofei no, not for apps that don't want to bundle the Swift runtime (e.g. Instagram.app)

@jessesquires Ah, ok. I'll play around w/ this and see what happens. Really just anything bridgeable to an ObjC object is fine.

[2016-10-31 20:40] zhubofei commented on #3
<img width="618" alt="screen shot 2016-10-31 at 4 38 08 pm" src="https://cloud.githubusercontent.com/assets/770482/19870792/810d14c0-9f88-11e6-8d19-05bcf5a6b1e3.png">
@jessesquires The layout I wrote dose something like this. It is too much?

[2016-10-31 21:02] zhubofei commented on #142
@rnystrom IMHO the standard way of adding backgrounds to `UICollectionView` is through Decoration View.

[2016-11-01 05:52] jessesquires commented on #3
@zhubofei 😍 💯

[2016-11-01 13:18] fazilakhter commented on #143
@zhubofei  : So i want to go with Autolayout and Give Correct Size of eachCell .

**Problem** :
I want to get size of cell in  sizeForItem function to give proper size.

so i cannot get cell size properly. So i am thinking to reload but it can be expensive/hack  or some other efficient solution to tackle this problem to get Cell Height properly.

[2016-11-01 13:47] zhubofei commented on #143
@fazilakhter I find this workaround. https://github.com/honghaoz/Dynamic-Collection-View-Cell-With-Auto-Layout-Demo/blob/master/README.md
But I have to admit it is not that elegant. You can also use `estimatedSize` + `preferredLayoutAttributesFittingAttributes` though.

[2016-11-01 14:32] rnystrom opened #149 "Self-sizing cell example"
Both #80 and #143 show that self-sizing cells with `IGListKit` is a little hard to follow. I think we need to get a working example. Some things that would be great to see:

- Setting up self-sizing cells **in code**
- Using storyboards

[2016-11-01 15:29] Sherlouk commented on #77
@rnystrom @ishabazz Flagging to be closed?

There's now an example in the pack, and the issue at hand was seemingly resolved.

[2016-11-01 16:25] jessesquires commented on #77
👍

will re-open if needed

[2016-11-01 16:25] #77 closed

[2016-11-01 17:30] rnystrom commented on #143
@fazilakhter you're running into a pretty common `UICollectionView` issue. Sort of a "chicken & egg" problem where you don't have the cell yet, but you have to give it the size based on data+constraints in the cell.

At Instagram we create size generators for each of our cell types to figure out how big a cell should be, given a constraining width. Though its super performant, its a very manual pr

[2016-11-01 17:59] #144 closed

[2016-11-02 00:38] zhubofei opened #152 "Podfile in Example is broken?"
When I try to do a `pod install ` in Example folder, I see this error message.
[!] Unable to integrate the following embedded targets with their respective host targets (a host target is a "parent" target which embeds a "child" target like a framework or extension):

- IGListKitExamples (iOS 8.0) and IGListKitMessageExample (iOS 10.0) do not use the same platform.
- IGListKitExamples (iOS 8.0) and

[2016-11-02 01:16] rnystrom commented on #152
@zhubofei are you using CocoaPods 1.1?

[2016-11-02 01:18] zhubofei commented on #152
@rnystrom I've tried both 1.1 and 1.2beta. Neither worked.

[2016-11-02 11:54] fazilakhter commented on #143
yes @rnystrom  its like Freaking up problem ...  Yes i am working on it. if i find a better solution i will fork and do a pull request with Example so you can use it later.

Btw , how did you do the generator ? like manualy calculating all heights or loading from Xib and then use that size.  Also ,  i have notice , once all cells are there then you can do what every size you want , so  reload can

[2016-11-02 20:41] shuhrat10 opened #153 "Example of using SupplementaryView"
Can you provide example how to use SupplementaryView? Will be great if you could apply SupplementaryView to first item in Mixed data example. cc @rawlinxx, @Sherlouk

[2016-11-02 20:59] #42 closed

[2016-11-02 21:05] Sherlouk commented on #153
Definitely think we need to get an example of some sort, been on my to-do list for a while
May take a look this weekend, just waiting for other pull requests to get feedback so I'm not doing  too much at once!

[2016-11-02 21:08] chrismcs commented on #65
It looks like you closed this in favor of just saying that it requires Swift 3.  However, this creates problems for us in Objective-C.  We use`isEqual:` to test what you call `diffIdentifier`.  This made it handy for us to use common `NSArray` methods (like `containsObject:`, `removeObject:`, `indexOfObject:`, etc) - such that when we got a new array of updated objects, we could simply call `remov

[2016-11-02 21:12] Sherlouk commented on #65
Across the same lines I'm currently using it in a few Swift 2.3 projects, and I'm constantly getting bit in the ass by the fact CoreData refuses to let you override `isEqual:` and based on the way my processes work (and have done for ages) that one will return false even if they're the same object.

This issue may still be in Swift 3 as well, not been able to test it.

[2016-11-02 21:14] rnystrom commented on #65
@chrismcs this isn't closed yet (just ref'd from a closed PR).

Ya there are definitely issues w/ this when used w/ ObjC, esp if you aren't careful (see my note above about `-hash`). It's pretty easy to break things and the compiler wont have your back.

I think I'm set on changing the protocol to `-isEqualToDiffableObject:`. Been meaning to grab @ryanolsonk's opinion on this b/c he was influentia

[2016-11-02 21:49] jessesquires commented on #65
@rnystrom +1 for `isEqualToDiffableObject:`

[2016-11-02 23:59] jessesquires commented on #42
not needed anymore?

[2016-11-03 00:11] shuhrat10 commented on #153
I'm using IGListKit for one of my project and I need to use SupplementaryView. I will be happy see example how to use it.

[2016-11-03 13:01] dekelm8 opened #154 "could not build Objective-C module 'IGListKit'"
Hi
I'm handling weird problem, i have started new project in xcode8 swift3, and in the beginning every thing works good, but after several pod installs (was need to add other pods) I'm getting the error
**could not build Objective-C  module 'IGListKit'**
And also error:
**'IGListAdapter.h' file not found**
But after delete the **import IGListKit** line the errors disappear and project complied

Th

[2016-11-03 14:03] rnystrom commented on #154
Hey @dekelm8, bummer. I'm not totally sure what could be going wrong. Do you have an example project we could take a look at? What does your Podfile look like?

[2016-11-03 14:04] rnystrom commented on #42
@jessesquires added in b5aa5e39002854c947e777c11ae241f67f24d19c forgot to ref this issue

[2016-11-03 14:46] jessesquires commented on #154
Latest CocoaPods is 1.1.1

[2016-11-03 15:04] rnystrom opened #156 "Mark all example classes final"
We avoid subclassing on basically everything with IGListKit ([example](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.h#L36-L37)) and want to encourage good patterns in our examples too. We should use Swift's `final` on all of our example classes, I think.

[2016-11-03 15:20] jessesquires commented on #156
👍

lol, I've been meaning to do this

[2016-11-03 15:41] Sherlouk commented on #156
Sorreh :(

[2016-11-03 15:42] rnystrom commented on #156
@Sherlouk all good! I totally forgot that we can do `final` in Swift at all.

[2016-11-03 16:52] zhubofei commented on #152
@rnystrom #155 fixed this issue. And I do think we should add `@available(iOSApplicationExtension 10.0, *)` to Example/IGListKitTodayExample/TodayViewController.swift instead of having a different version of pod installed.

[2016-11-04 10:21] ishabazz opened #158 "Setting content offset to hide top section (search bar)"
## New issue checklist

- [X ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 1.0.0
- iOS version(s):10.x
- CocoaPods/Carthage vers

[2016-11-04 14:21] rnystrom commented on #158
@ishabazz Couple ideas:

For the search bar, you can follow the setup we have in the [SearchViewController example](https://github.com/Instagram/IGListKit/blob/master/Example/IGListKitExamples/ViewControllers/SearchViewController.swift) with the token+section controller

For initializing the view w/ a shifted content offset, there's a couple things you could try. The simplest might be using the [s

[2016-11-04 14:26] yusuftor opened #159 "Display Delegate Example"
It would be great to have an example that shows how to use the displayDelegate. This would be particularly useful for (like in Instagram) playing and stopping videos within cells.

I also noticed you have to implement both `-listAdapter:willDisplaySectionController:`and `-listAdapter:willDisplaySectionController:cell:atIndex:` (and the same for didEndDisplaying). Both versions of the functions get

[2016-11-04 14:33] jessesquires commented on #159
Thanks @yusuftor ! 😄

Agreed, we should add an example. Even if it just logs the method calls.

@rnystrom -- This is a good point. Do we need `*displaySectionController:` **and** `*displaySectionController: cell:` ?

[2016-11-04 14:35] jessesquires commented on #159
Oh nevermind.

@yusuftor

1. `*displaySectionController:` -- these methods provide *section*-level notifications
2. `*displaySectionController: cell:` -- these methods provide *item*-level notifications

[2016-11-04 14:36] rnystrom commented on #159
But +1 on the display delegate example. I've got a queue of examples to get up! All very useful though.

[2016-11-04 14:37] jessesquires opened #160 "Clarify / cleanup docs for IGListDisplayDelegate"
These docs could be improved:
https://github.com/Instagram/IGListKit/blob/master/Source/IGListDisplayDelegate.h

Background:
https://github.com/Instagram/IGListKit/issues/159#issuecomment-258447813

[2016-11-04 14:38] yusuftor commented on #159
Ahh yes, that makes sense! Thanks.

[2016-11-04 17:18] yusuftor opened #161 "Retrieve frame of section/cell in collection view"
I want to be able to retrieve the frame of a section in the collection view, however, I can't see a way to do that at the moment. Normally I would use the following code to retrieve the frame and check if it's "visible enough" so that I can play a video:

`let attributes = collectionView.layoutAttributesForItem(at: indexPath)!`
`let cellRect = attributes.frame`
`let cellRectInSV = collectionView.c

[2016-11-04 17:29] rnystrom commented on #161
Hmm this could be easier w/ a helper method on `IGListAdapter`.

But I think you could just do:

[code]

Granted this doesn't include supplementary views or section insets.

[2016-11-04 21:43] shuhrat10 opened #163 "UICollectionElementKindSectionHeader"
I need to add CollectionView to UICollectionElementKindSectionHeader. How can I pass object and then control it from there? I can't make it sticky header if I'm putting this CollectionView to the cell.

[2016-11-04 22:03] rnystrom commented on #163
This might be more helpful once we push an example for #153, I think it'll make more sense. Maybe we should move this there?

It sounds like you're trying to configure a supplementary view based on the `object`, right?

[2016-11-04 23:16] shuhrat10 commented on #163
yes, and I want to pass array object with items and then render cells in
UICollectionView located in UICollectionElementKindSectionHeader.

On Fri, Nov 4, 2016 at 6:03 PM, Ryan Nystrom <notifications@github.com>
wrote:

[2016-11-06 00:00] dekelm8 commented on #154
pod file:
`platform :ios, '9.0'

target 'WallaHamal' do

  use_frameworks!

  pod 'Firebase/Core'
  pod 'Firebase/Database'
  pod 'Firebase/Messaging'
  pod 'Firebase/Auth'
  pod 'IGListKit'
  pod 'Alamofire', '~> 4.0'

end`

[2016-11-06 01:39] #152 closed

[2016-11-06 09:54] zhubofei commented on #159
@rnystrom @jessesquires Shall we add a `@optional` directive to this protocol?

[2016-11-06 10:45] yusuftor commented on #161
Yep that works, cheers!

[2016-11-06 10:45] #161 closed

[2016-11-06 12:25] yusuftor commented on #159
@zhubofei I also think it would be good to go through all the protocols and add `@optional` to all methods that aren't required, would save a lot of space taken up by blank functions! However, this has already been mentioned in #62.

[2016-11-06 17:32] jamieQ commented on #161
This seems like a good solution for this case, but note that for a standard `UICollectionViewFlowLayout`, the union of the first and last item frames within a section will not in general produce a region that intersects all item frames within the section. As an example, consider a 2-column grid with 3 items, the first 2 of which are in the first row. The union of first and last item frames produce

[2016-11-06 18:12] rnystrom opened #164 "Add a -[IGListAdapter visibleObjects] API"
It's easy to get the visible objects, but a little cumbersome. Would be a nice convenience API to be able to see what all items are currently visible.

[2016-11-06 19:57] rnystrom commented on #164
Removed starter, adding this internally

[2016-11-06 20:24] rnystrom commented on #65
Working on this, got a question for everyone. I want to keep the default `NSObject<IGListDiffable>` [category](https://github.com/Instagram/IGListKit/blob/master/Source/NSObject%2BIGListDiffable.h).

We also include this category in the [umbrella header](https://github.com/Instagram/IGListKit/blob/master/Source/IGListKit.h#L45). When I changed the protocol method to `isEqualToDiffableObject:` ever

[2016-11-06 20:44] dekelm8 commented on #154
Ok so after install cocoapods 1.1.1 still not working, but after return back to 1.1.0 it's work weird (But at least its working now :) )
Thanks for the support

[2016-11-06 20:46] dekelm8 opened #166 "Can't make space between section and cells"
Hi
How i can make spaces between sections?
i'm using collectionview on storyboard, but inset parameters not working, there's special way to do it with IGListKit?

[2016-11-06 20:50] rnystrom commented on #166
Hey @dekelm8, try changing the `inset` of your section controller, like:

[code]

Are you setting the insets on `UICollectionViewFlowLayout`? We had a suggestion to get global section insets working once, maybe we should revisit that.

[2016-11-06 20:53] rnystrom commented on #154
😕 weird. I'll go ahead and close this out for now and consider it an Xcode fluke. Will definitely keep an eye on these if they keep popping up.

[2016-11-06 20:53] #154 closed

[2016-11-06 21:01] rnystrom commented on #159
Ya we have a pretty firm anti-`@optional` stance here in favor of the compiler catching our bugs for us.

[2016-11-06 21:34] yusuftor opened #168 "Remove IGListSectionType protocol and absorb methods into IGListSectionController superclass"
It's not possible to access the numberOfItems() function on an IGListSectionController unless it is type cast to a specific IGListSectionController subclass. Is there a reason for this?

For example:

`let sectionController = adapter.sectionController(for: content.last!)`
`let numberOfItems = sectionController.numberOfItems()` <- Doesn't work

`let numberOfItems = (sectionController as! SectionCon

[2016-11-06 21:52] rnystrom commented on #168
@yusuftor I wonder if Swift interop is messing up here. The interface is declared as:

[code]

I wonder if the `__kindof` is where it breaks. Maybe we remove that?

[2016-11-06 21:59] yusuftor commented on #168
I'm not strong on Objective-C, but I guess it must be a Swift interop problem if it works fine in Objective-C. The other protocol functions aren't accessible either, but the properties seem to be accessible, e.g. scrollDelegate, workingRangeDelegate.

[2016-11-06 22:07] rnystrom commented on #163
Take a look at #169 for an example of using header supplementary views. Will be merged soon!

[2016-11-06 22:37] shuhrat10 commented on #163
Great example, I did the same way a few days ago.
I think I will share my example later this month.

Thank you for providing this example in a short time.

On Sun, Nov 6, 2016 at 5:07 PM, Ryan Nystrom <notifications@github.com>
wrote:

[2016-11-06 22:38] jessesquires commented on #164
@rnystrom - don't forget a changelog

[2016-11-06 22:40] jessesquires commented on #65
Yeah, I would. This is why we have a changelgo + release notes. 😄

Definitely not, IMO.

---------------------

Another option: don't include that category header in the umbrella header. Force clients to import that manually if they want it.

[2016-11-06 22:44] jessesquires commented on #168
@rnystrom -- I'm gonna say this is a bug. Let's see if we can adjust the return type to be more Swift-friendly.

[2016-11-06 22:44] jessesquires commented on #163
Sounds like we're good here 👍

[2016-11-06 22:44] #163 closed

[2016-11-06 23:05] dekelm8 commented on #166
Thanks that's work.
Really want to say thanks for the great support guys, It's really feel like IG team are full committed for this amazing framework
Thanks Again

[2016-11-06 23:05] #166 closed

[2016-11-06 23:27] shuhrat10 commented on #163
Yep

[2016-11-07 00:27] rnystrom commented on #164
@jessesquires whoops good call

[2016-11-07 08:15] TongBig opened #170 "Apple LLVM 8.0 error"
clang: error: no such file or directory: '/Volumes/T/swift3.0/IGListKit/Source/Internal/NSIndexSet+PrettyDescription.m'
clang: error: no input files

[2016-11-07 12:35] rnystrom commented on #170
@TongBig can you provide a little more detail here? Is this the sample app? Are you importing master to a project?

[2016-11-07 12:52] TongBig commented on #170
Run the demo (IGListKitExamples) error, prompt can not find "NSIndexSet + PrettyDescription. M" file

[2016-11-07 13:06] zhubofei commented on #170
@rnystrom The last commit removed "NSIndexSet + PrettyDescription.m" from source. Might need to `pod install` again in the Example folder to remove the reference.

[2016-11-07 13:51] rnystrom commented on #170
@zhubofei ah yup! Looks like Travis runs `pod install` each time so the build wont fail. I might tweak that a little bit. Got it covered in #169. Looks like we have the answer so I'm going to close this.

[2016-11-07 13:51] #170 closed

[2016-11-07 14:44] #153 closed

[2016-11-07 15:03] rnystrom opened #171 "Remove all @discussion from documentation"
`@discussion` is not supported by Jazzy docs. Instead we should use `@note`

e.g.: https://instagram.github.io/IGListKit/Classes/IGListSectionController.html#/c:objc(cs)IGListSectionController(py)viewController

Better: https://instagram.github.io/IGListKit/Protocols/IGListCollectionContext.html#/c:objc(pl)IGListCollectionContext(im)dequeueReusableSupplementaryViewOfKind:forSectionController:class

[2016-11-07 15:29] #164 closed

[2016-11-08 10:03] rotemdoron commented on #149
hi guys we are working on a new project that really needs self sizing cells, any working example somwhere yet?

[2016-11-08 12:32] akaralar commented on #149
I have the same problem, on first launch the cells are animating from zero size to current size. I was using `layout.estimatedItemSize = UICollectionViewFlowLayoutAutomaticSize` and laying out cells with auto layout. Later I created dummy cells to get the height of the cells when they are laid out and return that in `sizeForItem(at index:)` but still initial animation persists.

[2016-11-08 13:18] yusuftor opened #175 "CollectionContext sometimes returns nil for cell in sectionControllerWillEnterWorkingRange"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 1.0 Master branch
- iOS version(s): 10
- CocoaPods/Cart

[2016-11-08 13:30] yusuftor commented on #175
Ok I'm an idiot, sorry.

Just realised that because they're not on screen they're not going to be in the collection context! So if anyone is wondering the solution is to have an "attributedString" parameter that is set when you retrieve the caption. That way, when the cell is loaded on screen by using cellForItem(), it can check to see if the attributedString parameter has been set and then use th

[2016-11-08 13:30] #175 closed

[2016-11-08 16:57] rnystrom commented on #149
@rotemdoron @akaralar check out #176, got it working with both nibs and just code. Hopefully this helps!

[2016-11-08 18:43] yusuftor opened #177 "Crash when calling performUpdates with workingRangeDelegate"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 1.0 Master Thread
- iOS version(s): 10
- CocoaPods/Cart

[2016-11-08 20:05] rnystrom commented on #177
@yusuftor why are you accessing the cell in `-sectionControllerWillEnterWorkingRange:`? If you just entered the range you shouldn't have a cell yet. If you remove that line does it still repro?

[2016-11-08 20:30] #156 closed

[2016-11-08 20:30] #142 closed

[2016-11-08 20:33] rnystrom commented on #143
@fazilakhter take a look at #176 for an example using nibs and self-sizing cells. The same should apply to cells prototyped in a storyboard.

We mostly do height calculation in code. There's an example of that in our sample project too:

https://github.com/Instagram/IGListKit/blob/master/Example/IGListKitExamples/Views/LabelCell.swift#L26

https://github.com/Instagram/IGListKit/blob/master/Example

[2016-11-08 20:33] rnystrom commented on #121
@sanboxapps are we ok to close this issue? Looks like it's answered.

[2016-11-08 20:34] #113 closed

[2016-11-08 22:01] yusuftor commented on #177
Ok I'm a bit confused then.

In the WorkingRangeSectionController in the example project, it accesses the cell in `-sectionControllerWillEnterWorkingRange:` using the same code as I just tried to use. It does that to set the image in the cell, and I'm also trying to set something within the cell. But if you say that you shouldn't have access, why does the example project access it?

And no it does

[2016-11-08 22:23] rnystrom commented on #177
@yusuftor the idea in that project is that if in the time since you started downloading, a cell exists, then assign the image data to that cell's image view. (your fourth paragraph is spot on)

It does seem like there is a real crash/issue in here though. I'll get the sample into the config that you outlined and see what is going on. Either a `UICollectionView` annoyance that we can avoid by retur

[2016-11-08 22:31] yusuftor commented on #177
@rnystrom That makes sense. That's why I've been trying to access the cell to update it, but the occasional crash issue has prevented me from doing that.

No worries, if you need any extra info from me let me know!

[2016-11-09 02:39] sanboxapps commented on #121
@rnystrom sure

[2016-11-09 10:29] rotemdoron commented on #149
hi rnystrom thank you! the problam is we are waiting for data from a web service as you probably do. so we do the performUpdates which with self sizing cells make the collectionview very "jumpy" animating all cells at once and animating from 0 to the size in first load. any idea's how to solve this? (happens also without performUpdates with animate, still jump just without the animation)

[2016-11-09 17:00] rnystrom commented on #149
@rotemdoron Hmm, that's an interesting example. First simple idea is to do `adapter.performUpdates(animated: false)` if its the first load?

[2016-11-09 17:00] #121 closed

[2016-11-09 23:18] zhubofei commented on #25
@rnystrom Since there is no `typealias` in obj-c (we can use it in swift to switch type between different OS, I think it is a very elegant way to do cross-platform support), I think we will need a lot of
[code]
To switch between NSClasses and UIClasses. I'm not sure if you want this in the source code.

[2016-11-09 23:23] zhubofei commented on #25
If you are OK with it, I think I can go on and work on this one.

[2016-11-09 23:29] #149 closed

[2016-11-09 23:33] rnystrom commented on #25
@zhubofei let's hold on this for now, not sure its something we want to fully support yet. Issue is open as a discussion point more now than anything.

[2016-11-10 04:21] shuhrat10 opened #180 "Issue with UICollectionReusableView"
I noticed, when I'm using UICollectionReusableView from storyboard I'm getting additional view on top of mine. This second UICollectionReusableView is not allowing me to use gesture correctly.

![1](https://cloud.githubusercontent.com/assets/62485/20164436/eb4375d6-a6d2-11e6-96ba-4df81fd662b9.jpg)

[2016-11-10 05:29] zhubofei commented on #139
@rnystrom This may be a silly question. But what is the reason that we need to calculate the cell position manually inside `-scrollToObject` instead of calling
`-scrollToItemAtIndexPath:atScrollPosition: animated;` directly?

[2016-11-10 07:03] matthewcheok commented on #35
Is there still no way we have a swift struct conform to `IGListDiffable`?

[2016-11-10 08:17] rotemdoron commented on #149
@rnystrom still happens just without the animation, it jumps to the size instead of animating to it also looks bad. performUpdates updated the entire list though and not only the "diffable" changed object, when using estimatedSize i mean.

[2016-11-10 16:08] rnystrom commented on #35
@matthewcheok nope 😕  when using Swift objects have to be a `class`. I'm sure there's a good pattern by boxing with something like `Box<StructType>` where `Box` is a `class` conforming to `IGListDiffable`.

[2016-11-10 16:10] rnystrom commented on #149
@rotemdoron that sort of sounds expected though since you start w/out any data and then go to having data. Is there a chance you could provide an example setup that has the behavior you're seeing?

[2016-11-10 16:12] rnystrom commented on #180
@shuhrat10 What is the `UICollectionReusableView` for? A supplementary header view? Your storyboard looks like there's an extra view put in the collection view. Is that a prototype cell or an actual view?

[2016-11-10 16:13] rnystrom commented on #139
@zhubofei in the case that you have a supplementary view at the beginning/end of your section and you want to scroll to the top of it. This happens in Instagram when we want to scroll to an item but align the top offset at the beginning of the supplementary view.

We could probably simplify a lot of this API though, or maybe split it out into other parts.

[2016-11-10 16:29] rnystrom opened #181 "Regen documentation before 2.0.0 cut"
Creating a reminder issue to regen docs before cutting 2.0.0.

@jessesquires do we want to change the style? Or are we happy w/ current: https://instagram.github.io/IGListKit/

[2016-11-10 16:37] shuhrat10 commented on #180
Header and Footer is UICollectionReusableView. I noticed when you added header or footer to CollectionView via storyboard and then debug this ViewController via "Debug view hierarchy" you will see addition UICollectionReusableView. I don't figured out yet why is it happening. It's not issue in IGListKit. @rnystrom

[2016-11-10 16:40] rnystrom commented on #180
Hmm, ya if its not a prototype cell I bet the view is actually being created and inserted into the collection view's hierarchy. You probably want to create a prototype cell (it'll be `UICollectionViewCell`) and then use that cell class+identifier for your supplementary views.

If this isn't an issue w/ IGListKit, can we close this issue?

[2016-11-10 16:45] jessesquires commented on #181
What do you mean, style? The theme?

I think it's good for now. 👍 We can always update visuals later.

Let's get this to 100% too. Currently at 79%. Actually, I wanted to take a full pass at docs to review before `2.0.0`. Will try to do that soon.

Also be sure to get the latest version of `jazzy`.

[2016-11-10 16:45] jessesquires commented on #181
Mind if I steal this issue?

[2016-11-10 16:47] jessesquires commented on #175
Thanks @yusuftor !

[2016-11-10 16:49] jessesquires commented on #180
👍

[2016-11-10 16:49] #180 closed

[2016-11-10 16:50] rnystrom commented on #181
Yup theme, that's what I meant. Other option is the "full width" which is kind of nice http://reduxkit.github.io/ReduxKit/master/

++ doc coverage to 100%. Let's do it. If you want to knock some out go for it, happy to help too, and we can `starter-task` parts.

[2016-11-10 17:04] shuhrat10 commented on #180
When you start using SupplementaryView for header or footer, xCode will added one more to the view hierarchy. I think it's a bug in xCode.

![bug](https://cloud.githubusercontent.com/assets/62485/20186313/78f51302-a73d-11e6-9215-9ef9d8078810.jpg)

So if you want change zIndex SupplementaryView in order to hide behind the cell, don't do it. Instead, change zIndex for the cell.

Yes, you can close t

[2016-11-10 17:05] zhubofei commented on #181
Have to say Full Width looks great!

[2016-11-10 18:14] #171 closed

[2016-11-10 18:29] rnystrom opened #183 "Refactor unit test helper macros and functions into single file"
Lots of stuff that we use in multiple places that I think should be cleaned up throughout the test suite

- https://github.com/Instagram/IGListKit/blob/master/Tests/IGListAdapterE2ETests.m#L22-L25
- https://github.com/Instagram/IGListKit/blob/master/Tests/IGListBatchUpdateDataTests.m#L25-L39
- https://github.com/Instagram/IGListKit/blob/master/Tests/IGListDiffTests.m#L25-L28

We also have a simila

[2016-11-10 23:05] #143 closed

[2016-11-10 23:38] rnystrom commented on #158
@ishabazz any update here?

[2016-11-11 00:14] jessesquires commented on #183
:100: Yes, we should. Lowers barrier for writing tests. Less boilerplate == more likely to write tests. :smile:

[2016-11-11 00:25] rnystrom opened #184 "Multi-selection"
Been asked this quiet a lot internally. It's easy to do but different than traditional `UICollectionView`. The whole "deselect" API is _not_ what we want to be using for this.

[2016-11-11 00:59] #65 closed

[2016-11-11 14:29] rnystrom opened #185 "Unit test IGListReloadDataUpdater"
https://coveralls.io/builds/8776307/source?filename=Source%2FIGListReloadDataUpdater.m#L41

We probably just need to use this in a few more `IGListAdapterTests` tests, I think? This updater does everything synchronously w/ `reloadData`, so covering the remaining areas should be simple.

[2016-11-11 14:31] rnystrom opened #186 "Unit test IGListAdapterProxy invocation overrides"
https://coveralls.io/builds/8776307/source?filename=Source%2FInternal%2FIGListAdapterProxy.m#L67

We had one or two issues with these early on. Basically testing when the targets deallocate (they are all `__weak` ivars). Also would be good to test scroll view vs collection view targeting for each method we proxy.

[2016-11-11 14:33] rnystrom opened #187 "[EZ] Test IGListMoveIndexPath equality and using in containers"
https://coveralls.io/builds/8776307/source?filename=Source%2FIGListMoveIndexPath.m

This one should be really easy. Basically test that `isEqual:` works w/ pointer comparison as well as comparing to objects that aren't `IGListMoveIndexPath`.

Ignore testing `description` tho.

[2016-11-11 14:35] rnystrom opened #188 "[EZ] Test IGListMoveIndex equality and using in containers"
https://coveralls.io/builds/8776307/source?filename=Source%2FIGListMoveIndex.m

Another super easy test. Test that isEqual: works w/ pointer comparison as well as comparing to objects that aren't IGListMoveIndex.

Ignore testing description tho.

[2016-11-11 14:40] rnystrom opened #189 "Test reloadData on IGListAdapter without a dataSource or collection view"
https://coveralls.io/builds/8776307/source?filename=Source%2FIGListAdapter.m#L246

Small edge case that we fixed (does happen to us) but looks like our tests didn't totally cover this case. Definitely needs covered.

[2016-11-11 14:41] rnystrom opened #190 "Test -[IGListAdapter sectionForObject:]"
https://coveralls.io/builds/8776307/source?filename=Source%2FIGListAdapter.m#L313

The underlying call to the map is tested, but we need this method covered so the public API does not regressed if changed.

[2016-11-11 14:57] zhubofei commented on #190
@rnystrom Also may need to change return type from NSUInteger to NSInteger for swift.

[2016-11-11 14:59] rnystrom commented on #190
I'm putting up a PR for this test right now, I'll include that!

[2016-11-11 15:33] rnystrom opened #192 "Unit test cell selection events forwarding"
https://coveralls.io/builds/8776307/source?filename=Source%2FIGListAdapter.m#L580

Looks like we don't have any tests setup to check that cell selection events are forwarded to:

- The correct section controllers
- The `collectionViewDelegate`

[2016-11-11 15:34] rnystrom opened #193 "Unit test scroll events forwarding"
https://coveralls.io/builds/8776307/source?filename=Source%2FIGListAdapter.m#L640

We also don't have any tests around scrolling events forwarded to:

- Section controllers
- The `scrollViewDelegate`

[2016-11-11 15:45] yusuftor commented on #177
I just encountered this same error again. I decided to investigate and the place where it crashes is in `IGListAdapter.m` in this function:

[code]

Specifically on the line: `UICollectionViewCell *cell = [self.collectionView cellForItemAtIndexPath:indexPath];`. I tried printing out the number of sections in the collectionView and it correctly prints out the number that should be in the collection

[2016-11-11 16:59] cdoncarroll commented on #184
I obviously don't have the proper context into why we don't want to use `UICollectionView`'s deselection API. Can you elaborate?

[2016-11-11 18:35] rnystrom commented on #184
@cdoncarroll It's not a bad API, but `UICollectionView` does a lot of (private) state preservation for you, and all the state it saves revolves around "index paths".

I whipped up a sample project illustrating a few of these ideas: [UICollectionViewDeselection.zip](https://github.com/Instagram/IGListKit/files/586510/UICollectionViewDeselection.zip)

Where you have `-[UICollectionViewCell selected]

[2016-11-12 01:38] zhubofei opened #195 "Travis bug"
Each time Travis finishes his work, Coverall posts a message. So we always end up with two same messages from Coverall 😂. Something wrong with the setup maybe?

[2016-11-12 02:00] zhubofei commented on #193
@rnystrom We have to use UI Testing for this, right?

[2016-11-12 17:01] rnystrom commented on #193
@zhubofei shouldn't have to, we should be able to mock the protocol and verify that it receives events. Also have to confirm that the section controllers (that are "on screen") receive the events.

[2016-11-12 17:29] #159 closed

[2016-11-12 17:59] #190 closed

[2016-11-12 18:19] rnystrom commented on #195
@zhubofei The settings are basically "post" or "don't post" when things change. We can disable posting entirely but then we have to manually check when coverage increases/drops.

Each commit/push triggers a build. I've found that if I just push once w/ each change it's not as noisy, vs pushing often will trigger a build-per-push (which results in Coveralls posting for each build).

[2016-11-12 21:24] #195 closed

[2016-11-13 08:58] rotemdoron commented on #149
basicly the data array is empty untill data is fetched and when we performUpdates (with self sizing) the entire list jumps in to the size of the cell, it is expected from a collectionview but usually the "jump" is not so ruff, becouse you can use reloadData and not batch update which animate everything.

 func objects(for listAdapter: IGListAdapter) -> [IGListDiffable] {
        return dataArray

[2016-11-13 15:45] rnystrom commented on #149
@rotemdoron but if you use `adapter.performUpdates(animated: false)` (or just `adapter.reloadData()` the update is the same as vanilla collection view, right?

[2016-11-14 03:21] zhubofei commented on #23
@rnystrom @jessesquires We can close this one 😏.

[2016-11-14 03:58] #23 closed

[2016-11-14 06:55] jessesquires commented on #177
@yusuftor -- Can you provide repro steps or a stack trace?

[2016-11-14 10:54] yusuftor commented on #177
@jessesquires Repro steps are the same as in my first post. The stack trace is :

[code]

[2016-11-15 09:16] rotemdoron commented on #149
@rnystrom  adapter.reloadData() makes the layout messy, i dont know why, basically only when im setting sizeForItem and calculating the size my self, its works good, self sizing cells not working so good after performUpdate() (animated or not) and reloadData()

[2016-11-15 10:29] lucabartoletti opened #199 "How to test object equality?"
This is a question about testing of equality. IGListKit use the equality to decide if a section should update or not. I think that implementing a complex section object it would be easy to miss the check of a property in the equality and so miss updates of the section.
Do you have any suggestion on how I could test that the equality is correctly implemented for an object?

[2016-11-15 15:12] rnystrom commented on #199
@lucabartoletti great question. Definitely something that we're trying to firm up on our end. I actually just made a post to our internal group yesterday about equality checking that I'll summarize here:

Here are the basics to writing good `-isEqual:` and `-hash` functions. Note this is all ObjC but translates well to Swift. Also, in IGListKit 2.0.0 we changed the equality method to `-isEqualToDi

[2016-11-15 15:14] rnystrom commented on #199
As far as how to _test_ that the equality checks are correct, I'd write unit tests that compare objects and test what `-isEqualToDiffableObject:` returns. Then you can lock down exactly how your objects will trigger updates.

[2016-11-15 20:12] lucabartoletti commented on #199
Thanks for the detailed reply @rnystrom.

My main concern is that, following your example of the `User` object, it will be easy to break the comparison adding a new property even with unit tests. I'd like to be able to catch errors after the first implementation of a model object.

Let's assume that I already have tests that checks different scenarios of the `User` object equality. Than I add a ne

[2016-11-15 20:15] rnystrom commented on #199
@lucabartoletti you're exactly right, maintenance does become a little tedious. However with that tedious-ness you get a _lot_ of granular control over your object and list behavior.

For more model automation, it might be worth checking out [Facebook Remodel](https://github.com/facebook/remodel) which will do a lot of this via codegen.

[2016-11-15 21:35] jessesquires commented on #160
Fixed in #198

[2016-11-15 21:35] #160 closed

[2016-11-15 21:36] jessesquires commented on #75
@rnystrom what's the status here?

[2016-11-15 21:38] #80 closed

[2016-11-15 21:40] jessesquires commented on #158
Going to close this due to inactivity. Feel free to re-open! 😄

[2016-11-15 21:40] #158 closed

[2016-11-15 21:42] jessesquires commented on #133
Looks like we can close this and follow-up in #31?

cc: @rnystrom

[2016-11-15 21:56] rnystrom opened #200 "Change NSUInteger to NSInteger in public API"
This makes interop w/ Swift tricky. Let's audit and swap all `NSUInteger` to `NSInteger` in the public headers.

e.g. https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.h#L160

[2016-11-15 21:58] rnystrom opened #201 "Add -[IGListAdapter objectForSectionController:] helper method"
I've seen lots of instances where we want the object for a section controller. Typically you have to
[code]
We can do this under the hood to streamline the API and give you:
[code]

[2016-11-15 21:59] #133 closed

[2016-11-15 23:40] jessesquires opened #202 "Fixup Examples directory"
Will need to tweak `.travis.yml` too.

Follow up from #141

[code]

[2016-11-16 03:30] kronik commented on #184
@rnystrom so what's the right way of managing selected cells (setting a state, getting a list of selected) for IGListCollectionView?

[2016-11-16 05:38] saraswatayu commented on #189
Is this ready to be marked as complete? ✅

[2016-11-16 12:54] zhubofei commented on #168
@rnystrom Seems that a type can't be both a protocol and a concrete type at the same time in Swift. Is it possible to expose `IGListSectionType` as a class instead of a protocol (don't know if that make sense at all)?

[2016-11-16 13:29] kronik opened #208 "How to reload only one item in section?"
I'm trying to build something like a standard Camera Roll grid with like/dislike functionality and faced with an issue of updating only one cell. Is there any way of doing this?

[2016-11-16 14:39] yusuftor commented on #177
Would it be possible to look into this bug before v2.0 is released? It seems like a fairly major bug to me as until this is fixed I can't reliably use the working range in production. No worries if not though as I know you guys are working really hard on other issues. As a side note, IGListKit has made the scrolling within my app waaay smoother than before, so thanks for that!

[2016-11-16 15:24] rnystrom commented on #177
@yusuftor I'm on this today, ideally I should be able to make a repro unit test and fix the crash. Very bizarre. Agree tho this should be fixed before 2.0.

[2016-11-16 15:34] rnystrom commented on #208
@kronik sure thing! There are actually 2 ways, you can pick whichever makes the most sense. If this answers your question feel free to close the issue 🙌

### Reloading the whole section

Since it sounds like there is only one cell in each section (e.g. one cell per `object`), you can probably get away w/ reloading the whole section. Something like this:

[code]

### Reloading just the cell

You ca

[2016-11-16 15:35] #189 closed

[2016-11-16 15:39] rnystrom commented on #184
@kronik I'll make sure to get an example up, but for now probably manually tracking selection in the section controllers. The trickier part is then getting a list of selected stuff. There are two options that I've seen work:

- At the VC level, iterate all of your section controllers. Check for your selectable SC type, then check if the SC is marked as selected (again using your custom property)
-

[2016-11-16 16:14] #138 closed

[2016-11-16 16:29] #201 closed

[2016-11-16 17:19] jessesquires commented on #168
Ah, right. @zhubofei is correct.

Currently, Swift does not have a way to express "concrete type + protocol".

I think we'll have to live with this for now.

[2016-11-16 17:20] jessesquires commented on #168
I'm going to leave this open as a bug for now for future reference.

[2016-11-16 22:24] jessesquires opened #210 "Clean up pass for CHANGELOG.md"
This is for me. I want to take a quick pass at this.

- clean up / organization
- mention docs now 100%
- mention tests now 91%

[2016-11-16 22:32] rnystrom opened #211 "Stricter build settings"
Caught during an internal sync where we have mismatched return types enabled. There might be other build settings that we are missing. Any ideas?

- Mismatched return types
- Unused parameters

[2016-11-16 23:31] jessesquires commented on #200
fixed in e2fbb6867056cbaab07acd076a995ad95c5b1dbc

[2016-11-16 23:31] #200 closed

[2016-11-16 23:34] rnystrom commented on #177
Haven't fixed it, but do have my sample project in a setup where this crash occurs.

[2016-11-17 01:46] kronik commented on #208
@rnystrom Thank you!

[2016-11-17 01:46] #208 closed

[2016-11-17 01:49] kronik commented on #184
@rnystrom Got it. Thanks.

[2016-11-17 14:35] lucabartoletti opened #213 "How to disable NSObject+IGListDiffable"
I'd like to not import NSObject+IGListDiffable so that I'll have to adopt that protocol manually, so that i'll get compiler checks on the objects I use in the IGList.
Now I don't see any errors if by mistake I return an object that doesn't implement isEqual. or if they fallback to the generic NSObject implementation.
 Can I import IGListKit without import the NSObject+IGListDiffable category using

[2016-11-17 16:16] rnystrom commented on #213
I'd actually love to get this to work. We could remove `#import <IGListKit/NSObject+IGListDiffable.h>` from the umbrella header and document that it has to be imported manually (including in the Swift bridging header).

However w/ the Swift bridging header, all Swift `NSObject`s will auto conform, so that doesn't help. At least you can create a Swift `class` that conforms to `IGListDiffable` witho

[2016-11-17 16:20] jessesquires commented on #213
I think we should definitely do this. Having all of this implicit conformance is too much "magic" IMO.

In the `IGListDiffable` docs, we should `@note:` that you can use `NSObject+IGListDiffable.h`.

[2016-11-17 16:42] jessesquires opened #214 "Update to travis Xcode 8.1"
https://blog.travis-ci.com/2016-11-15-xcode-81-is-here

[2016-11-17 21:27] david6p2 commented on #1
I download the pod by adding

    pod 'IGListKit'

to my Podfile, and follow the example of the SingleSectionViewController.swift where they create a sectionController by using:

    let sectionController = IGListSingleSectionController(nibName: NibCell.nibName,
                                                          bundle: nil,
                                                          configur

[2016-11-17 22:02] rnystrom commented on #1
@david6p2 you can install the latest master by doing
[code]

[2016-11-17 22:44] jessesquires commented on #1
@david6p2 -- we'll be releasing 2.0 of the library in the coming weeks, which will include this work.

[2016-11-17 23:07] Sherlouk commented on #202
@jessesquires Flagging to be closed

[2016-11-17 23:29] jessesquires commented on #202
fixed in #209

[2016-11-17 23:29] #202 closed

[2016-11-18 01:55] jessesquires commented on #214
fixed in #215

[2016-11-18 01:55] #214 closed

[2016-11-18 02:59] #187 closed

[2016-11-18 04:13] #192 closed

[2016-11-18 14:24] #193 closed

[2016-11-18 14:24] #188 closed

[2016-11-18 15:46] jessesquires opened #221 "Write a migration guide for 1.0 to 2.0"
Add:

`/Guides/migration.md`

[2016-11-18 16:09] rnystrom commented on #211
+ explicit case for each enum in switch statements (found in #196)

[2016-11-18 18:15] #177 closed

[2016-11-18 19:14] #186 closed

[2016-11-18 21:02] rnystrom commented on #210
`+` update # of contributors

[2016-11-18 21:04] rnystrom commented on #221
I should add a "writing good diff identifier + equality" guide

[2016-11-19 15:48] yusuftor opened #226 "isEqual function different on simulator vs on device"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 1.0 master branch
- iOS version(s): 10
- CocoaPods/Cart

[2016-11-19 17:18] jessesquires commented on #221
Ooohhhh 😍  👍

[2016-11-19 17:24] jessesquires opened #227 "Still issues with coveralls reporting"
Ok, so `slather` is fine now. But it looks like coveralls is still having problems.

https://travis-ci.org/Instagram/IGListKit/jobs/177146187#L370-L394

[code]

[2016-11-19 17:26] jessesquires commented on #227
The `IGListKit` scheme "generate coverage" box is checked.

Am I missing something obvious @rnystrom ?

Also -- our `slather.yml` specifies *both* a project and a workspace:
https://github.com/Instagram/IGListKit/blob/master/.slather.yml#L3-L4

Is that correct?

[2016-11-19 17:28] jessesquires commented on #226
Hey @yusuftor 😄

Sounds like you probably need to clean and re-build?

[2016-11-19 19:10] rnystrom commented on #227
Recapping events:

So the last build that succeeded w/ coveralls support was:

https://travis-ci.org/Instagram/IGListKit/jobs/176428331

The next commit was 879260b417fe67ac4b4edc9b04f7729949f3634f which broke builds. Fixed in d6cae084bb1565dcdf9afb7e96d4f0e80ba6e4f0

We got rid of the Gemfile and bundler. Slather was missing, added back in 8c32f2581fcfb19d070d94b76b298799bbf913c8.

Travis runs `g

[2016-11-19 19:23] rnystrom commented on #226
Looks like this might be a Swift bug. Agree cleaning should help

https://bugs.swift.org/browse/SR-1208

https://github.com/apple/swift/commit/e003e5e099b9cf79b581560ff9d494a7722fc465

[2016-11-19 19:39] jessesquires commented on #227
:+1:

[2016-11-19 19:42] jessesquires commented on #226
Ugh.

Are there more bridging features we can use? I vaguely remember some kind of "refined for Swift" ObjC macro or something...

[2016-11-19 19:43] jessesquires commented on #226
Oh also -- can we repro in the demo projects?

[2016-11-19 19:46] rnystrom commented on #226
I never ran into this, but I didn't run on device after refactoring. I still have the demo on my phone I'll run and see what happens.

Just ran it: no repro. Hopefully a one-off?

[2016-11-19 19:59] #211 closed

[2016-11-19 22:34] laptobbe commented on #53
@rnystrom Would having it as a subspec in CocoaPods require it to be a separate workspace? If not, maybe that could be solution?

[2016-11-19 22:55] rnystrom commented on #227
Looks like travis can't find `iphonesimulator10.0`, trying w/ 10.1

https://travis-ci.org/Instagram/IGListKit/jobs/177139270

[2016-11-19 22:57] rnystrom opened #229 "Remove Xcode* files from coverage"
https://github.com/SlatherOrg/slather/issues/195

Add `--ignore "../**/*/Xcode*"` to slather and it'll strip the ObjC, etc stuff from code coverage.

Depends on #227

[2016-11-20 00:13] #227 closed

[2016-11-20 17:35] rnystrom commented on #53
@laptobbe I'm not sure tbh, I'll have to do a little research to see what options we have. The most important things for this will be:

- Not interfering w/ existing IGListKit installations
  - Should stay as simple as `pod IGListKit` or dropping in `IGListKit.xcodeproj`
- Compatible w/ internal setup
  - We use [buck](https://buckbuild.com/) for Facebook dependency management and already _do_ sep

[2016-11-20 18:27] jessesquires commented on #53
CocoaPods subspec should do the trick, without requiring any major changes. The subspec could specify macOS target compatibility too. (As far as I know.)

I think a subspec gets us 90% of the way there. The problem is that this forces clients to use CocoaPods. (But I like CocoaPods, so `¯\_(ツ)_/¯`)

Right, but not on macOS or watchOS. (Because of `UICollectionView`)

[2016-11-20 18:32] jessesquires commented on #229
Fixed in f05ae5b14555fcbfe0cb966484c291a54c5dda27

[2016-11-20 18:32] #229 closed

[2016-11-20 18:32] insidegui commented on #53
I actually made a little [repo](https://github.com/insidegui/IGListDiff) for myself with the diffing part isolated, the only source changes I had to make involved adding `#if TARGET_OS_OSX` checks to the umbrella header and `IGListDiffCore.mm` to import `Cocoa` on macOS and `UIKit` on iOS. I am using Carthage so I didn't make a podspec for it.

[2016-11-20 18:37] jessesquires commented on #53
@insidegui -- It is possible to create cross-platform frameworks. Would you want to submit a PR to do this?

Actually -- we should be able to add a macOS target, guard necessary areas with `#if TARGET_OS_OSX`, and only include the diffing files in the macOS target.

[2016-11-20 18:38] jessesquires commented on #53
An example of a cross-platform ObjC framework:
https://github.com/jessesquires/JSQSystemSoundPlayer

(Slightly different, because this doesn't use UIKit or any iOS specific APIs. But, the general idea is the same.)

[2016-11-20 19:02] insidegui commented on #53
I am working on this, will open the PR soon ;)

[2016-11-20 19:57] insidegui commented on #53
There you go: https://github.com/Instagram/IGListKit/pull/235

[2016-11-21 11:23] yusuftor commented on #226
Solved it. I cleaned the build folder, but then that gave me a lot of other issues to do with Cocoapods. After disintegrating/installing cocoapods a few times it seemed to disappear. Weird, but I can close this issue now!

[2016-11-21 11:23] #226 closed

[2016-11-21 12:42] zhubofei commented on #139
Still need unit test case for horizontal scrolling.

[2016-11-21 15:48] twentyseven opened #237 "Display pagination data from endpoint with IGListKit"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2016-11-21 15:57] twentyseven commented on #237
Hi, firstly thank you for great work on this library!
This is rather a question than an issue, I have to display json data that returned from an endpoint with page/max parameter support, new page data is loading as user scroll, pretty much like many feed page of social apps so I think it should be common case but I cannot figure out how to do this from the example. Can anyone help point the right

[2016-11-21 17:08] jessesquires commented on #226
Thanks @yusuftor !

[2016-11-21 17:09] jessesquires opened #238 "Unit tests for -scrollToObject horizontal end position"
See #139 and #196.

We have unit tests for vertical scroll positions. We need unit tests for horizontally scrolling.

[2016-11-21 17:10] jessesquires commented on #139
Done in #196. Closing.

Unit tests follow-up: #238

[2016-11-21 17:10] #139 closed

[2016-11-21 17:29] #210 closed

[2016-11-21 18:15] lucabartoletti opened #240 "Allow subclassing of IGListCollectionView? Remove IGLK_SUBCLASSING_RESTRICTED?"
In my project I have a CCTransparentTableView

It's a UITableView subclass that takes care to make the topMargin transparent to show what is behind.
I'm trying to substitute one of the CCTransparentTableView with a IGListCollectionView. The problem is that I'd like to reimplement the transparency logic in a CCTransparentCollectionView : IGListCollectionView and use it as IGListCollectionView. But

[2016-11-21 18:45] jessesquires commented on #240
Hey @lucabartoletti 😄

In general, we've taken pretty firm stances against subclassing in the Insta codebase, which is why this macro exists.

1. Can you elaborate on what `CCTransparentCollectionView` does? Could this behavior be achieved *without* subclassing, (or by providing a custom `UICollectionViewLayout`)?
2. I'll leave this open as a proposal. However, this is the first request we've gott

[2016-11-21 20:59] rnystrom commented on #237
Sure thing @twentyseven! We do exactly this in Instagram, using a cursor for the "next page" of data, sending a request w/ that cursor, then loading the data in the feed.

Take a look at the [Load More example](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/ViewControllers/LoadMoreViewController.swift) we included. In Instagram we do something _really_ s

[2016-11-21 21:00] david6p2 commented on #1
Thanks for your help!

[2016-11-21 21:29] #3 closed

[2016-11-21 21:48] jessesquires commented on #25
Relevant to this issue: #235

[2016-11-21 21:50] jessesquires commented on #1
@david6p2 - done. #241

[2016-11-21 21:54] jessesquires commented on #237
🎉

[2016-11-21 21:54] #237 closed

[2016-11-21 21:54] jessesquires commented on #237
@twentyseven - Let us know if this help! 😄

[2016-11-21 22:08] jessesquires opened #242 "Add option to maintain scroll position when performing updates."
Internally, we discussed adding this to the API, as it's likely a common use case.

We've built this for IG Direct, where we keep the scroll position while loading previous messages.

Proposed addition:

[code]

I'm leaning toward **adding** this method, **not** replacing:

[code]

The existing `performUpdatesAnimated:` would call the new one, passing `NO` for `fixedScrollPosition:`

Thoughts?

[2016-11-21 22:09] jessesquires commented on #242
Alternative method spelling:

- `maintainScrollPosition:`
- `keepScrollingPosition:`

?

[2016-11-21 22:14] jessesquires commented on #199
Going to close this as resolved 😄

[2016-11-21 22:14] #199 closed

[2016-11-21 22:16] jessesquires commented on #221
Another idea:

Extract the `README` tutorial stuff into `/Guides/getting_started.md` and link to that in the `README`.

With all of this, we can then pass `/Guides/` to `jazzy` and have everything show up in the sidebar docs. 🎉

[2016-11-21 22:52] rnystrom commented on #242
@jessesquires Ya I agree w/ adding a new method. It'll make upgrading a lot smoother for a method that is going to be used _a lot_.

I think I like "maintainScrollPosition".

Also I don't think we can do `animated:YES maintainScrollPosition:YES` and do an animated update w/ fixed scroll position. Maybe we have `performUpdatesMaintainingScrollPositionWithCompletion:`? Or something like that.

Side

[2016-11-21 23:18] jessesquires commented on #242
@rnystrom lol 😆  yup.

+1 for maintainScrollPosition

Derp. You're right. In Direct, we pass `animated:NO`.

Now it definitely makes sense *add* this as a new method. 💯

[2016-11-21 23:44] #181 closed

[2016-11-22 00:38] zhubofei commented on #181
@jessesquires Shall we tweak the CSS a little bit? The sidebar cuts off the class name like this on my screen. <img width="235" alt="screen shot 2016-11-21 at 7 35 53 pm" src="https://cloud.githubusercontent.com/assets/770482/20506396/c05a8776-b021-11e6-865b-05d39e81c0f8.png">

[2016-11-22 00:44] jessesquires opened #244 "[docs] Working range image broken in docs"
Image here:
https://github.com/Instagram/IGListKit#working-range

is borked on the docs html:

<img width="749" alt="screen shot 2016-11-21 at 4 43 09 pm" src="https://cloud.githubusercontent.com/assets/2301114/20506536/a3287388-b009-11e6-9c79-7091affb90db.png">

We need to use the full `raw.githubusercontent.` URL like we do with the logo.

[2016-11-22 00:46] jessesquires opened #245 "[docs] Update README about NSObject+IGListDiffable category (removed)"
We need to update the last sentence in this section:

https://github.com/Instagram/IGListKit#connecting-a-data-source

[2016-11-22 00:48] jessesquires commented on #181
@zhubofei -- we'll probably keep the jazzy defaults for now 😄

i'd be open to suggestions after 2.0 ships though 👍

[2016-11-22 02:11] twentyseven commented on #237
Yay, I see where to go now, thanks so much great guys!

[2016-11-22 14:44] #238 closed

[2016-11-23 01:04] zhubofei commented on #185
@rnystrom Any suggestions on how to do this one?

[2016-11-23 14:57] insidegui commented on #25
Just FYI: I tried doing what @zhubofei suggested but there are some very significant differences between `NSCollectionView` and `UICollectionView`. On macOS, collection view items are view controllers, not views, just to name one.

There are also major differences regarding view controllers, views and layouts on macOS which make porting the UI part of the project kind of hard. It is definitely doa

[2016-11-23 15:06] zhubofei commented on #25
@insidegui I would say maybe it's better to build a side project specifically for macOS and keep this repo just for iOS&tvOS.

[2016-11-23 15:18] zhubofei commented on #25
@insidegui Wow, I just found out that you're the author of this awesome [article](https://medium.com/@guilhermerambo/why-uikit-for-macos-is-important-ff4e74a82cf0#.92xuy9g2j). If UXKit is to be release in the near future, it will definitely be a good choice for this.

[2016-11-23 15:36] rnystrom commented on #25
@insidegui awesome info, ya I have 0 experience w/ `NSCollectionView`. I'm going to close this out then since it sounds like this is would be pretty out of scope of what we want to achieve. +1 @zhubofei on someone spinning up a new project to do this maybe.

[2016-11-23 15:36] #25 closed

[2016-11-23 17:47] jessesquires commented on #245
Fixed in #252

[2016-11-23 17:47] #245 closed

[2016-11-23 20:24] jessesquires commented on #244
fixed in #248

[2016-11-23 20:24] #244 closed

[2016-11-23 20:26] jessesquires commented on #213
Resolved in 316fbe2b8b2508b58a0f38387c3a343b9c37e282

[2016-11-23 20:26] #213 closed

[2016-11-23 20:47] jessesquires opened #253 "Create new IGListDiffable + isEqual guide"
Copy @rnystrom's internal post on *"IGListDiffable and good -isEqual: methods"* into a new guide.

https://fb.facebook.com/groups/505465172835436/permalink/1208294839219129/

[2016-11-23 20:47] rnystrom commented on #146
Adding to 2.0.0 milestone to make a decision. I think changing this to `id` will give us `Any` in Swift and that should be better to work w/ I think. As long as its an ObjC object that gets returned so we can call `hash` and `isEqual:` on it.

[2016-11-23 20:49] jessesquires commented on #253
How about

`/Guides/Conforming to  IGListDiffable.md`

(note: unfortunately we need spaces in the filename for jazzy to list it correctly in the sidebar)

[2016-11-23 20:52] jessesquires commented on #146
Correct.

There's no way for us to guarantee this. `Any` in Swift means any *value or reference type*. If clients return a `struct` or `enum`, we'll crash when trying to message `hash` and `isEqual:`.

[2016-11-23 20:55] jessesquires commented on #146
I think we're stuck with `id<NSObject>` (swift: `NSObjectProtocol`).

Alternative: introduce a new protocol that defines `hash` and `isEqual:`.

Then we can as for `id<IGListDiffIdentifying>` (swift: `IGListDiffIdentifying`). Swift clients could then return *any* type as long as it conforms to `IGListDiffIdentifying`.

[2016-11-23 21:01] rnystrom commented on #146
Ugh. Dammit Swift. Sounds good then.

[2016-11-23 21:01] #146 closed

[2016-11-24 03:40] HowardCsie commented on #253
Could you please briefly explain the guide? Though reading the comment, i felt a little bit confused.
Or I just wait for 2.0 ?

[2016-11-24 03:58] jessesquires commented on #253
@HowardCsie -- we'll be posting this soon!

[2016-11-24 12:04] keywind opened #255 "Different with ReactJS's diff algorithm"
This is a wonderful library, I just want to know what's the difference of the diff algorithm between IGListKit and ReactJS's virtual dom.

I use Componentkit for one of my apps, so I imagine if I could apply this diff algorithm to ComponentKit and make it automatically change just using reload.

[2016-11-24 17:03] pableiros opened #256 "Getting started page not found"
I tried to find some documentation to getting started and the Getting Started page returns me a http 404 error.

<img width="785" alt="captura de pantalla 2016-11-24 a la s 10 02 33" src="https://cloud.githubusercontent.com/assets/5769029/20606290/2d9bacae-b22d-11e6-85be-de791e0bde50.png">

Link:
https://instagram.github.io/IGListKit/Guides/Getting%20Started.md

[2016-11-24 17:13] zhubofei commented on #256
https://instagram.github.io/IGListKit/getting-started.html

[2016-11-24 17:18] pableiros commented on #256
This is how I get that link.
First I click here in the release page:

<img width="786" alt="captura de pantalla 2016-11-24 a la s 10 14 34" src="https://cloud.githubusercontent.com/assets/5769029/20606566/08c96acc-b22f-11e6-95c8-b7a03a922d99.png">

Then I click on the documentation page the Getting Started link:

<img width="707" alt="captura de pantalla 2016-11-24 a la s 10 14 47" src="https://cl

[2016-11-24 17:51] rnystrom commented on #256
🤔 I wonder if this is a Jazzy issue? The sidebar has the correct link

`https://instagram.github.io/IGListKit/getting-started.html` vs the link in the readme that 404s which is `https://instagram.github.io/IGListKit/Guides/Getting%20Started.md`

+ @jessesquires

[2016-11-24 17:56] rnystrom commented on #255
First off, thanks for the compliment! We worked and continue to work really hard on this. Really appreciate it.

Regarding the ReactJS diff algo, you know I'm not actually sure. I should reach out to whoever maintains is here and do some idea sharing.

I think the ComponentKit reloading is really interesting too. I'm only barely familiar w/ the table/collection infra. On the main Facebook app we h

[2016-11-24 19:24] jessesquires commented on #256
lol

The README link is relative, so it works when clicked from the README.

jazzy generates the html docs, so then that relative link is broken. will fix.

[2016-11-24 21:59] #256 closed

[2016-11-24 23:44] #253 closed

[2016-11-25 01:32] keywind commented on #255
Yes you get the point, this is why I want to apply the diff algo to ComponentKit

[2016-11-25 07:52] PhilCai1993 opened #260 "Self-sizing cells crash bug"
## Self-sizing cells crash bug

### General information

- `IGListKit` version: latest on master
- iOS version(s): iOS 9.3.1 (jailbroken)
- Xcode version: 8.1 from App Store
- Devices/Simulators affected: iPhone 6
- Reproducible in the demo project? Yes

![image](https://cloud.githubusercontent.com/assets/6828315/20617884/e5b6b046-b326-11e6-89ae-efaed2751ffd.png)

![image](https://cloud.githubuser

[2016-11-27 05:23] shuhrat10 opened #261 "Focus is not working properly in tvOS Example"
- tvOS 9.2 horizontal focusing is not working
- tvOS 10.0 when scroll all 3 lines of the horizontal scroll to the end and then navigate between row up and down, horizontal scroll start moving to the left instead stay on the same position.

[2016-11-27 05:30] shuhrat10 commented on #261
![bug](https://cloud.githubusercontent.com/assets/62485/20645841/b955fb8e-b438-11e6-8acc-dce1712fe688.gif)

[2016-11-27 15:22] MarvinNazari opened #263 "Center aligned flow layout"
Hi thanks for this amazing library! loving it so far, the only issue that i have right now is that i need a center aligned collection view layout, is there any way we could add some sort of alignment to the new `IGListGridCollectionViewLayout` so that we could have both left and center alignment?

[2016-11-28 00:59] #261 closed

[2016-11-28 10:42] twentyseven opened #266 "Tail loading data with dynamic cell size issue"
Hi, so what I'm trying to do is to combine the "tail loading" example with "self sizing cell" one to achieve a social feed page-like. I have updated the `SelfSizingCellController.swift` to include the dragging delegate of scroll view to let it able to calculate the distance and fake a load more with duplicated data (please look at the screenshot), but every time after finished loading and update t

[2016-11-28 15:29] rnystrom commented on #266
Hmm, this is honestly probably a limitation with self-sizing cells and `UICollectionView`. If you can provide a sample project we can poke around and try to find a solution, but I remember `UITableView` auto height cells having weird content offset issues too.

[2016-11-28 18:29] zhubofei commented on #263
@jessesquires I can take on this, if you guys approve this api.

[2016-11-29 02:56] twentyseven commented on #266
[Examples-iOS.zip](https://github.com/Instagram/IGListKit/files/617995/Examples-iOS.zip)
Sure, this is the sample project which I combined tail-loading and self-sizing. Previously I make this work by using `UITableView` along with autolayout constraints applied on cells and return the `UITableViewAutomaticDimension` for the cell height delegate, also added a cache of height t o resolve some jumpy

[2016-11-29 07:14] PhilCai1993 commented on #260
After checking [StackOverFlow](http://stackoverflow.com/questions/25895311/uicollectionview-self-sizing-cells-with-auto-layout/25896386)
This can be solved
[code]
```ManuallySelfSizingCell``` and ```FullWidthSelfSizingCell``` can be solved on iOS 9.
But ```NibSelfSizingCell``` behaves a little strange.
@rnystrom

[2016-11-29 18:31] jessesquires commented on #260
Thanks for the update @PhilCai1993 !

[2016-11-30 01:42] jessesquires opened #267 "Add scrolling method to IGListCollectionContext"
#### Scenario

1. There's an "expandable cell" in a list. Tap it to toggle collapse/expand, via `-didSelectItemAtIndex:`
2. After it is expanded, the larger cell isn't completely on screen (it's the last cell)
3. From the `SectionController`, I need to say "scroll to bottom"

There's no way to do this currently, given the `collectionContext` available to `SectionController` objects. However, all t

[2016-11-30 01:43] jessesquires commented on #267
cc @rnystrom -- Thoughts ?

[2016-11-30 16:54] jessesquires opened #270 "macOS support follow-up work from #235"
We added basic macOS support in #235.

Once it's merged, we need to do a few more things:

- [x] Update changelog
- [x] Add a test target, `IGListKit-macOSTests` and existing tests that apply
- [x] Update `.travis.yml` to build and run the macOS targets on travis-ci
- [x] Add an example project in `Examples/Examples-macOS/`
- [x] Update README
- ~~Create a macro in `IGListMacros.h` for the followi

[2016-11-30 16:58] insidegui commented on #270
Let me know if you need help with the example project.

[2016-11-30 16:59] jessesquires commented on #270
Thanks @insidegui !

Because of how our syncing system works, we'll have to setup the basic project internally and push it. After that, we can have contributors help.

[2016-11-30 20:48] rnystrom commented on #267
We could add a method like
[code]
I think its reasonable they have this behavior.

Originally to hide the inner workings. No downside, but at the same time you don't want people knowing the adapter is the context, then internally doing stuff like `[(IGListAdapter *)self.collectionContext visibleSectionControllers]`.

Though its not the end of the world, it'll let global-state creep in.

[2016-12-01 19:36] rnystrom commented on #267
Just chatted w/ folks internally that need this feature now. @jessesquires lmk if you have time to knock it out in the next few days, otherwise I can handle it.

I think a simple API on the context should be fine for now. Can nab the section controller section, create an index path, then just call the `UICollectionView` scroll method.

[2016-12-01 20:06] jessesquires commented on #267
@rnystrom -- Cool, will do this today 👍

[2016-12-01 22:07] rnystrom opened #272 "Create private IGListStackedSectionController method to get relative index"
There are so many calls where we get the child section controller offset and add the index:

https://github.com/Instagram/IGListKit/blob/master/Source/IGListStackedSectionController.m#L164-L165

There should be a method opposite of [localIndexForSectionController:index:](https://github.com/Instagram/IGListKit/blob/master/Source/IGListStackedSectionController.m#L106-L110) that _adds_ the offset and

[2016-12-01 23:18] bmeverett commented on #272
Can I try this?

Do you have a name for the method? `localPlusOffsetForSectionController:index`

So [this](https://github.com/Instagram/IGListKit/blob/master/Source/IGListStackedSectionController.m#L196)
would become `atIndex:[self localPlusOffsetForSectionController:sectionController index:index]`

[2016-12-02 00:14] #267 closed

[2016-12-02 00:16] jessesquires commented on #272
@bmeverett - Definitely! 🙌

Let's name it `offsetIndexForSectionController: localIndex:` ?

@rnystrom - Not really sure. What does "localIndex" mean anyway?

[2016-12-02 00:35] jessesquires commented on #272
Err, maybe :`relativeIndexForSectionController: fromLocalIndex:`

@bmeverett

[2016-12-02 01:40] rnystrom commented on #272
+1 to @jessesquires latter naming suggestion

@bmeverett all you!

[2016-12-02 11:34] bmeverett commented on #272
@rnystrom will I have to do a force push after rebase then? Here's what the log and status look like
<img width="727" alt="screen shot 2016-12-02 at 6 31 15 am" src="https://cloud.githubusercontent.com/assets/3941006/20832621/30d9ea2a-b859-11e6-9ae4-95b753f9f3fc.png">

@jessesquires I pushed another branch [t2](https://github.com/bmeverett/IGListKit/tree/t2) and it looks like it stills has your co

[2016-12-02 14:44] rnystrom opened #276 "Unblock Travis"
Something is going on with Travis as of yesterday. Doesn't seem like any builds are passing, lots of hanging.

https://travis-ci.org/Instagram/IGListKit/builds/180498817 is taking over 3 hours with about half of the builds succeeding in around a minute.

[2016-12-02 14:59] #221 closed

[2016-12-02 15:18] rnystrom commented on #242
@jessesquires Check out internal comments on diff, I'm fine punting on this feature for now, we can pick it into a minor release. Lmk what you think.

[2016-12-02 16:03] dcaunt opened #277 "Init overrides storyboard settings in IGListCollectionView. Should -[IGListCollectionView commonInit] be removed?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 1.0.0
- iOS version(s): 10.1
- CocoaPods/Carthage versi

[2016-12-02 16:26] jessesquires commented on #277
Ah, good find @dcaunt ! 💯

Yeah, let's do that and remove `initWithCoder:`

[2016-12-02 16:27] jessesquires commented on #242
Yep was thinking the same 👍

[2016-12-02 16:30] jessesquires commented on #276
Yep -- known issue. Travis is having some problems:

https://www.traviscistatus.com/incidents/nq0sf0srvx8s

[2016-12-02 16:30] #276 closed

[2016-12-02 20:51] rnystrom opened #278 "Fix "tbd" revisions in changelog just before 2.0"
Reminder for myself

[2016-12-03 16:29] jeffbailey commented on #260
I'm currently using self sizing cells with IGListKit in a client app and had this crash.  I tracked it down to unneeded calls to:

`setNeedsLayout()`
` layoutIfNeeded()`

in preferredLayoutAttributesFitting.  I wasn't able to reproduce the issue in the demo app, but you might want to try removing those methods.

I think it makes sense that these calls aren't needed by systemLayoutSizeFitting to ca

[2016-12-03 16:39] rnystrom commented on #260
@jeffbailey good to know. I should try this out on iOS 9/10, maybe even put a version check in there if the behavior changes. Did you hit this crash on 10?

FYI I pasted the solution from http://stackoverflow.com/a/25896386/940936 and removed the caching bit that @PhilCai1993 called out as fixing iOS 9 b/c I ran into some weird behavior on 10.

[2016-12-03 16:41] jeffbailey commented on #260
Yes, the crash was on 10, but went away as soon as I removed those lines.  I believe it had to do with those methods being called on cells that were about to be reused, but that's just a guess.

[2016-12-03 16:48] jeffbailey opened #279 "IGListStackedSectionController deselectItemAtIndex:sectionController:animated bug"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: Current master
- iOS version(s): 10.1
- CocoaPods/Carth

[2016-12-03 16:49] rnystrom commented on #279
Yikes, yup! Spot on. Definitely a bug w/ stacked section controller.

[2016-12-03 16:50] rnystrom commented on #260
@jeffbailey if you run into it again or are able to make the example project do this I'd love to take a deeper look. I'll play around w/ different setups to see what works best here in the meantime.

[2016-12-03 16:53] jeffbailey commented on #279
Great. IGListKit is brilliant BTW.  Thanks for make it open source.

[2016-12-03 17:08] rnystrom commented on #279
@jeffbailey that means the world to me

[2016-12-04 15:32] Sherlouk opened #280 "Jazzy Guide Formatting"
Super minor but for some reason the formatting isn't working on the migration guide when viewed via Jazzy (it's fine when viewed via GitHub)
Picture of what I'm seeing: [image](https://cloud.githubusercontent.com/assets/15193942/20867194/8be47de8-ba36-11e6-858e-a04d61347e0b.png)

The IGListDiffable guide looks fine, and has similar code formatting?

## New issue checklist

- [x] I have reviewed th

[2016-12-04 16:35] rnystrom commented on #280
Good eye, I bet there is supposed to be a newline between the header and ```

[2016-12-04 17:55] DRosadoYew opened #282 "Travis reports success even when tests fail"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

Unsure if this is deliberate behavior.
To have Travis reporting failure when t

[2016-12-04 18:58] rnystrom commented on #282
@DRosadoYew wow great find. Luckily our internal tests would block any failures from officially landing, but this will save time when making PRs. cc @jessesquires

[2016-12-04 19:12] jessesquires commented on #282
That's bizarre. I've never seen this behavior.

I looked at [other project's](https://github.com/Alamofire/Alamofire/blob/master/.travis.yml) `.travis.yml` and the setup is similar to ours.

@DRosadoYew -- Any travis docs on this? I couldn't find anything...

[2016-12-04 19:27] DRosadoYew commented on #282
@jessesquires, i guess `set -o pipefail` has the same effect - https://github.com/Alamofire/Alamofire/blob/master/.travis.yml#L32

I think it's about bash not travis - https://www.gnu.org/software/bash/manual/bashref.html#The-Set-Builtin, but not a bash pro whatsoever.

E.g. https://github.com/facebook/AsyncDisplayKit/blob/master/build.sh#L9

[2016-12-04 19:29] #280 closed

[2016-12-04 21:27] jessesquires commented on #282
@DRosadoYew 👍

Yep, confirmed here too:
https://twitter.com/marmelroy/status/805492772736212998

[2016-12-04 21:29] jessesquires commented on #282
Ahh got it. So pipe (`| xcpretty -c;`) eats the errors. TIL

[2016-12-04 22:01] Sherlouk commented on #282
@jessesquires For what it's worth there's a small bit on xcpretty's repo about this:

https://github.com/supermarin/xcpretty

Important: If you're running xcpretty on a CI like Travis or Jenkins, you may want to exit with same status code as xcodebuild. CI systems usually use status codes to determine if the build has failed.

[code]

[2016-12-05 06:46] otymartin commented on #66
@bonzoq Did you figure this out?

[2016-12-05 07:39] mobilinked opened #284 "[Example] Horizontal scrolling Issue"
### Steps
- Adding `layout.scrollDirection = .horizontal` below line 24 in the SelfSizingCellsViewController.swift

### Issue
- When testing Self-sizing feature
- Scroll to end of right, you will find the scrollbar flashed and the scroll bar position is not continous.

[2016-12-05 14:16] rnystrom commented on #284
@mobilinked this is almost certainly an issue with self-sizing cells and `UICollectionView`, not IGListKit. Our goal is to be compatible with all types of layout and sizing strategies, but we aren't in the business of supplying them. Not sure we can do much about this 😞

[2016-12-05 19:45] rnystrom opened #288 "Bug when a section reload is queued while batch updating"
I discovered this working on my sample weather app. Here's the conditions that I noticed to reproduce this:

- Add a `Dispatch.async { ... }` inside `didUpdate(to object:)`
- In the block, call `collectionContext.reload(section: self)`
  - Note **do not** use batch updating

Result: reload will never be called.

This is because `-[UICollectionView performBatchUpdates:completion:]`, is asynchronous

[2016-12-05 20:42] jessesquires commented on #288
@rnystrom should we get this in 2.0 or release a 2.0.1 ?

[2016-12-05 20:44] rnystrom commented on #288
@jessesquires let's do 2.0.1, pretty difficult/odd setup to get this to happen, and we've never seen it in IG, so I think we can take some time to do this one right.

[2016-12-06 01:00] #284 closed

[2016-12-06 01:14] #282 closed

[2016-12-06 09:55] mobilinked opened #290 "[Question] Tile update/operation"
I hope it is ok to ask this here. Otherwise, please feel free to delete this thread.

### Purpose
- I hope to create a GRID (multiple sections, and multiple cells in each section)
- The model is something like:
[code]
- And in the view controller, the adapter data source is to a variable
```var data: [CellModel] = [...]```
- And in the section control for cells controlling

### Challenges to me
-

[2016-12-06 13:33] rnystrom commented on #290
All questions welcome!

If you're modifying data that represents something at the cell-level, the modifications and storage should probably happen **within the section controller** and not up at the view controller. Within the section controller you can then do something like:

[code]

This is unsupported at the moment, but I'll open an issue to track this because I think its something we could ad

[2016-12-06 13:35] rnystrom opened #291 "Support for interactive cell movement/reordering"
We can add support for moving data, but it will probably be tricky.

For starters, add the `UICollectionViewDataSource` method `collectionView:moveItemAtIndexPath:toIndexPath:`. The biggest problem will be moving items between sections, which we probably will have to disable. The two features we can investigate supporting are:

- Moving items amongst a section
- Rearranging whole sections

[2016-12-06 13:35] rnystrom commented on #291
Originally discussed in #290

[2016-12-06 13:59] #185 closed

[2016-12-06 14:44] #277 closed

[2016-12-06 14:55] #272 closed

[2016-12-06 16:06] supermarin commented on #282
@jessesquires xcpretty doesn't eat errors, but unix always exits with the status of the last command in the pipeline (e.g same effect if you just piped to `cat`.

Like @sheroluk pointed out, you need either pipefail or tell it which cmd status to exit with

[2016-12-06 16:16] jessesquires commented on #282
Thanks @supermarin ! 👍

[2016-12-06 17:24] jessesquires commented on #278
fixed in #292

[2016-12-06 17:24] #278 closed

[2016-12-06 17:45] Sherlouk commented on #278
@jessesquires @rnystrom

Few other things in changelog that don't have links! :)

https://github.com/Instagram/IGListKit/commit/394760081c7c2daa5ae6c18e00cdeaf2b67e22c1

https://github.com/Instagram/IGListKit/pull/56
https://github.com/Instagram/IGListKit/commit/ce4b851da343940513a074342fab6f5a7e67125d

https://github.com/Instagram/IGListKit/commit/316fbe2b8b2508b58a0f38387c3a343b9c37e282

[2016-12-06 19:46] jeffbailey opened #294 "IGListCollectionView has a hardcoded background color"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: main branch
- iOS version(s): 10.1
- CocoaPods/Carthage

[2016-12-06 21:23] rnystrom commented on #294
Hmm we did remove the background color setter in #285, but I'm not sure how this effects `UIAppearance`. At what stage in the view's lifecycle does `UIAppearance` actually set the background color?

[2016-12-07 00:18] mobilinked commented on #290
Thanks much @rnystrom

And I'd like to see there is delegate to control the moving, like the suggestion:
[code]

And if the delegate is nil, moving is disabled

[2016-12-07 00:26] #290 closed

[2016-12-07 00:37] mobilinked commented on #291
I am testing and trying a solution based on IGListKit, to
- Moving amongst a section
- Moving across sections
- By gesture

This should be ok if to operation the collectionview directly, what I worrying about is that the app should also to update the datasource, but next time, calling adapter.performUpdates MAY cause problem.

So if you does not plan to support "moving across sections", would you

[2016-12-07 02:17] rnystrom commented on #291
Since the `IGListAdapter` acts as the source of truth, we could easily modify the data source ourselves and then send a delegate event that a transaction occurred (e.g. "moved object `o` from section `1` to section `3`").

You're right that w/out telling the data owner of the move they might update and then things get screwed up.

[2016-12-07 02:50] mobilinked commented on #291
IGListKit now is able to help the "APP" to move cell easily via IGListAdapter to operate data source.
After this new proposal, IGListKit will help the "USER" to move them cell amongst section.

I'd like to make my preceding comments be clear:
As it's impossible for IGListKit to cover all the possible changes (such as move across sections, or something like move a cell to recyclebin), the developer

[2016-12-07 02:59] #279 closed

[2016-12-07 03:14] jeffbailey commented on #294
Here's how to demonstrate the issue.  In the sample app, add the following to the App Delegate:

`        UICollectionView.appearance().backgroundColor = UIColor.red
`

You'll see that none of the backgrounds are red except for the Storyboard example.  Next, comment out the hard coded background color in IGListCollectionView:

[code]

You'll see all the background now pick up the UIAppearance back

[2016-12-07 03:42] jessesquires commented on #294
Some pretty old code, but here's how to accommodate `UIAppearance` in subclasses:

https://github.com/jessesquires/BButton/blob/develop/BButton/Classes/BButton.m#L188-L201

[2016-12-07 09:00] bonzoq commented on #66
Hey @otymartin, here's a rather general description of how I handle this:

1. Create an IGListCollectionView with vertical flow layout.
2. Create an IGListSectionController backed by a datasource similar to this:
[code]
3. In your vertical collection view display just one section created in point 2. Also, this section controller should always display just one cell.
4. Inside that cell add a UIView

[2016-12-07 10:53] lucabartoletti commented on #240
Thanks for the reply @jessesquires

On the long term I plan to implement a custom UICollectionViewLayout to achieve the same effect.
My need for subclassing was due to the fact that I was substituting a UITableView subclass with a UICollectionView that uses IGListKit, I don't have time to spent on implementing a custom layout and the fastest thing was to adopt the same code that we have in the UIT

[2016-12-07 11:41] lucabartoletti opened #297 "Update a cell works as Insert/Delete"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 1.0.0

I'm writing my own CollectionView Layout

I'd li

[2016-12-07 13:35] jeffbailey commented on #294
Yes, I'd be happy to submit a pull request.  First, I guess I expected the outcome of this would be to just remove the background color from the ctor since it doesn't seem to add much value.  Am I missing something?

@jessesquires were you thinking this is the appropriate fix:

[code]

Or were you thinking about overriding the getter for background color and doing the following:
- Return backgroun

[2016-12-07 14:07] rnystrom commented on #294
@jeffbailey personally I like the example you have, @jessesquires should weigh in too

Also we're pushing to cut 2.0.0 this week, so if you don't have time to PR this in the next day or two let us know!

[2016-12-07 14:12] rnystrom commented on #297
@lucabartoletti good question! Have you started using the IGListKit and your custom layout yet to see what mutations the layout receives?

FWIW `reloadSections:` and `reloadItemsAtIndexPaths:` are _unsafe_ to use in `performBatchUpdates:`. In fact, `UICollectionView` converts the transactions to delete+insert under the hood.

Correct me if I'm wrong, but you're asking about what to do with `UIColl

[2016-12-07 14:13] rnystrom commented on #240
@lucabartoletti Feel free to also fork the project and remove the subclassing restriction if that's a requirement.

Got any examples of the design you're trying to achieve with this? We're happy to help guide custom layout stuff 😃

[2016-12-07 14:26] lucabartoletti commented on #297
Yes, i'm trying to do a specific animation if it's a NSCollectionUpdateActionReload

The problem is that at the moment I can't distinguish a Reload from an Insert cause even when the action is an update than is converted to an an insert/delete

While i was trying to track down the source of the problem I found this [line of code.](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAda

[2016-12-07 14:55] rnystrom commented on #297
re: not an internal `UICollectionView` thing, like I mentioned, any reload operation inside `performBatchUpdates:` is unsafe and actually not officially supported, those methods are meant to be called outside of the batch updates block. Since we use batch updates for all transactions (barring manual updates).

For these custom animations, is the insert/delete like a scaling animation and reload ju

[2016-12-07 15:23] jessesquires commented on #294
@jeffbailey @rnystrom

I'm pretty sure this is how we *have to* do it. Doing this via `init` will have the same problem. You can change `UIAppearance` at any time.

I don't *think* so, but maybe. We should try without.

----------------------

Actually -- `backgroundColor` is inherited from `UICollectionView`. I'm surprised this isn't supported automatically. Are we sure this is a bug?

[2016-12-07 15:31] jeffbailey commented on #294
Yeah, it's definitely an issue that can be reproduced in the sample project as described above.  I submitted a pull request for handling it in the ctor, but you're correct about that only working if UIAppearance is setup before that.

I'd be happy to submit a pull request for the shadow property if you want.

[2016-12-07 16:07] lucabartoletti commented on #297
At the moment would be enough to recognise that is a reload and not an insert/remove so that i can

- disable the fade in/ fade out if it's a reload
- otherwise keep the default UICollectionViewFlowLayout

[2016-12-07 18:14] #294 closed

[2016-12-07 19:52] rnystrom commented on #294
You know, we should have added unit tests for both the storyboard as well as `UIAppearance` proxy changes. Filing an issue.

[2016-12-07 19:54] rnystrom opened #299 "Unit test background color on IGListCollectionView"
We landed a couple commits to avoid changing the background to white when using storyboards or `UIAppearance`:

- https://github.com/Instagram/IGListKit/commit/80916636eca9472ed1b3c3129cee07028f36ca5d
- https://github.com/Instagram/IGListKit/commit/394e6c827bf382723057de42e2296af595ce30e3

However they are only tested w/ eyeballs. We should add unit tests to prevent regressions.

[2016-12-07 19:55] rnystrom commented on #299
@jessesquires think this needs to be part of 2.0.0? Or since 2.0.0 is stable w/ this feature we just add the tests in whenever we can get to it.

cc original authors @jeffbailey and @dcaunt

[2016-12-07 21:26] almas73 opened #300 "IGListDisplayDelegate methods are not called when section controller displays only supplementary views without cells."
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: latest on master
- iOS version(s): 10.1
- Reproducible

[2016-12-07 23:28] otymartin commented on #66
@bonzoq Thanks for sharing your solution. Im following along and will reach back when I manage to implement something. Might have some follow up Q's though. (Sticky headers)

[2016-12-07 23:48] jessesquires commented on #299
+1 for doing tests now.

also, need to update CHANGELOG?

[2016-12-07 23:51] jeffbailey commented on #299
I'll write the tests.  I've got dinner plans tonight, but can get it done by Thursday night if that works.

[2016-12-08 02:16] rnystrom commented on #299
@jessesquires not sure if we should update the changelog since this fixed a feature we added in 2.0.

[2016-12-08 10:12] bonzoq commented on #66
@otymartin sure thing, let me know if you've any questions whatsoever.

[2016-12-08 21:24] otymartin opened #304 "Multiple Sections, Different Scroll Directions and Sticky Headers"
**This is a Question/Discussion.**

At hand, I'm trying to implement this layout using IGListKit. So the purpose of this issue/question/discussion is more to curate information on how this can be achieved with the current capabilities of this library. Hope it helps everyone.

I'm selflessly and selfishly providing the layout I'm attempting`(struggling)` to implement as a framework. Its similar to

[2016-12-08 22:53] rnystrom commented on #300
Very interesting. This could actually improve display event notifications sent when a supplementary view is about to appear but the cells haven't yet.

Since we support iOS 8+ this should be easy. We can tap into:

[code]

To give us display start/end events and use the display handler. Great find @almas73!

[2016-12-08 23:06] rnystrom commented on #304
Ya it will. This is one of the limitations of the supplied grid layout for sure. We have a custom layout internally for IG that handles grid and full-screen units. Honestly I'd like to refactor the grid layout a bit so it can do this and use it internally. That way we have the highest-quality layout that gets the same testing and attention as the rest of IGListKit.

Another option is to use `UICol

[2016-12-09 01:27] stevejcox opened #305 "Cells not showing up after reloadData"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: commit: https://github.com/Instagram/IGListKit/commit/8

[2016-12-09 02:00] rnystrom commented on #305
@stevejcox Hmm interesting, what do your models look like when conforming to `IGListDiffable`?

Also, what does your `listAdapter(_ listAdapter:, sectionControllerFor object:)` look like?

If you find a way to reproduce this behavior I'd love to take a look at a sample project!

[2016-12-09 02:10] stevejcox commented on #305
@rnystrom The Post object is pretty basic, has the below IGListDIffable extension:

[code]

I have 3 different Section types. The filter I mentioned with isFeatured is only applied to the PostSectionController items.

[code]

The filter is only being applied to the objects that populate the PostSectionConttoller.

[2016-12-09 02:52] otymartin commented on #304
😵  This is super interesting. I'm interested to see how this works so I'll demo it out.

Easy enough, I thought it would be yet another struggle😅

Thanks @rnystrom

[2016-12-09 03:04] stevejcox commented on #305
Weirdly, if I call reload twice, it displays the cells.

[code]

[2016-12-09 03:07] rnystrom commented on #305
Hmph, this is really hard to debug w/out a project to investigate. Think you could take one of our examples and modify it to mimic your models and setup to get it into the same state? Doesn't seem like a complicated setup, and its something we do in the examples as well as in Instagram. 🤔

[2016-12-09 03:23] stevejcox commented on #305
Yeah, I created the same system in the Examples and it worked fine! Going to keep trying to figure out what's different between the app and examples. Totally understand it's near impossible for you without an example!

[2016-12-09 03:40] rnystrom commented on #305
Some tips with debugging the collection view:
[code]

Also to get info on the backing store of the `IGListAdapter`:

[code]

Makes me want to work on some debugging tools for IGListKit....

[2016-12-09 14:23] jeffbailey commented on #305
I run into a similar issue when I first started using IGListKit.  I'm filtering a list based on text typed into a search bar.  Sometimes the number of items shown in the collection view would not be correct when the item count increased based on the new filter text. Reloading twice fixed the issue as @stevejcox said.  Also rotating the device caused the correct number of items to display.  However

[2016-12-09 15:58] stevejcox commented on #305
Thanks for the debugging tips @rnystrom and for your comment @jeffbailey !

I've switched to performUpdates and this does indeed work as intended. I'll look into reloadObjects when I get a chance.

[2016-12-09 17:45] rnystrom opened #306 "Cut 2.0.0 release"
# Launch Checklist

- [x] Run through documentation one last time checking header docs, formatting, and links (e.g. Guides)
- [x] PR [podspec version](https://github.com/Instagram/IGListKit/blob/master/IGListKit.podspec#L3) update to 2.0.0 against `master`
- [x] Add 2.0.0 release with changelog as notes
- [x] PR reseting changelog linking to release notes for 2.0.0 (include migration guide link)

[2016-12-09 17:55] rnystrom commented on #306
From 2.0.0 release notes draft:

[2016-12-09 18:09] rnystrom commented on #306
Release notes draft updated https://github.com/Instagram/IGListKit/releases/tag/untagged-81a98143190def1c7968

[2016-12-09 18:16] rnystrom opened #309 "Link to media in README.md"
Two things that come to mind:

- [Realm talk and transcription](https://realm.io/news/tryswift-ryan-nystrom-refactoring-at-scale-lessons-learned-rewriting-instagram-feed/)
  - Tho some of the naming is out of date (e.g. "item controller" is now "section controller")
  - Could link to the iOS singapore video but its not transcribed
- Ray Wenderlich tutorial (not yet published)

Would be happy to ad

[2016-12-09 18:25] jessesquires commented on #309
Let's list these under "Getting Started"

[2016-12-09 18:35] rnystrom opened #310 "Add -[IGListAdapter debugInfo] method to print information to help solving GH issues"
This would really help when dealing with bizarre issues that don't/can't have a sample project attached (e.g. #305). People can dump the state of the adapter and upload into an issue/gist/etc so we can understand the state of their setup. Things like:

- Internal `IGListSectionMap` info
  - Objects and section controllers
  - Object-to-section controller mapping
- Object info
  - Diff identifiers

[2016-12-09 18:48] jessesquires commented on #299
done in b9ede32f5be71bed87b0d82c3cb7e50daa6444ea

[2016-12-09 18:48] #299 closed

[2016-12-09 21:22] jessesquires commented on #306
@rnystrom closing this out.

One TODO left for you, testing your weather app 😊

[2016-12-09 21:22] #306 closed

[2016-12-10 00:01] stevejcox commented on #305
Hmm, unfortunately now adapter.performUpdates sometimes causes a crash:

@rnystrom  - I'm going to add you as a collaborator to a stripped down version of what I am working on so you can see the issue. The issue is within the UserFeed, performUpdate being called in UserFeedViewModel.

You can reproduce by clicking one of the home tiles to take you to the 'UserFeed'. then toggle the RECENT / FEATUR

[2016-12-10 02:45] jeffbailey commented on #305
Here's a workaround to try for until you can resolve the crashes: First call adapter.performUpdates with an empty data list.  Then in the completion block you can call adapter.performUpdates with the updated object list.  I bet that will get rid of your index out of bounds exceptions.  Not an ideal solution, but maybe it will be a decent workaround for now.

[2016-12-10 08:04] lutetium71 commented on #154
Hi,
I had the same problem, weird. There's someone have any idea what could cause this problem?

Attach File is my project

[IGListDemoSwift.zip](https://github.com/Instagram/IGListKit/files/643615/IGListDemoSwift.zip)

[2016-12-10 13:03] cruisediary commented on #304
In my case, to make sticky section header with IGListKit, use [`CSStickyHeaderFlowLayout`](https://github.com/CSStickyHeaderFlowLayout/CSStickyHeaderFlowLayout)

how about use `CSStickyHeaderFlowLayout` it works perfectly for me to make Wine SNS application similar to Instagram's layout

[2016-12-10 13:28] Sherlouk opened #312 "Markdown Link Verification"
Since v1.0 a lot of files have moved around to make place for new functionality for example extra example packs or simply neatening up the file structure and this causes links to break.

While it seems the structure is a bit more stable now and links should continue to work I was wondering if we should consider some sort of check in travis?

By no means am I saying use this, but [this CLI tool](ht

[2016-12-10 16:47] stevejcox commented on #305
Thanks @jeffbailey - worked a treat.

[2016-12-10 17:06] jessesquires commented on #312
I'd be ok with using `markdown-link-check` if we can keep it contained to travis-ci. Is that possible?

[2016-12-10 17:13] Sherlouk commented on #312
Well at it's core we just need the command line extract from it. Travis runs shell scripts, so we really only need it to run `cat *.md | markdown-link-check` right at the beginning/end.

I'm not very familiar with travis, but assuming we can add a more generic step to the build matrix (rather than all the SDK/destination gubbins, we just specify "CHECK_MARKDOWN" or something) then run the shell sc

[2016-12-10 17:18] jessesquires commented on #312
Yep! 😊  That's basically what our current `POD_LINT` check is doing. We can do the same with `CHECK_MARKDOWN`

[2016-12-10 17:20] Sherlouk commented on #312
I'm happy to pick this up and see if I can get it working?

[2016-12-10 18:33] otymartin commented on #304
@cruisediary Interesting I came across that library earlier this week. Good to know someone else though along the same line. I haven't tried implementing it though but since you succeeded i will.

[2016-12-10 22:01] rnystrom opened #315 "Container size and section insets"
It can be a little tricky dealing with `insets` and `collectionContext.containerSize`. The container width doesn't account for insets, so if you have the following setup:

- `insets` of 10, 10, 10, 10
- The width of the collection view is `320`

If your size method looks like

[code]

`UICollectionViewFlowLayout` will error b/c the item width is `320` but layout adds left/right insets, making the

[2016-12-10 22:36] rnystrom commented on #305
Thanks for sharing the sample @stevejcox! I was able to track this down. Looks like we found a good `UICollectionView` + `UICollectionViewFlowLayout` bug! Might be worth opening a radar.

When you use `-[IGListAdapter reloadDataWithCompletion:]`, the infra [eventually does](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdater.m#L86-L87):

[code]

Problem is that during `r

[2016-12-11 02:23] rnystrom commented on #305
Also FWIW, if you're just going for an unanimated effect, I recommend using `performUpdatesAnimated:NO` instead of `reloadData` because reloading will rebuild all of your section controllers vs performing updates figuring out what needs to be updated/destroyed/inserted.

[2016-12-11 04:12] jessesquires commented on #315
what about `collectionContext.insetContainerSize` ?

[2016-12-11 18:27] stevejcox commented on #305
Thanks @rnystrom  - glad to be able to help. Awesome news that it'll be fixed for 2.0.1, for now I will use @jeffbailey 's workaround.

[2016-12-12 04:26] lutetium71 opened #316 "Could not build Objective-C module 'IGListKit'"
Hi
I'm handling weird problem. "Could not build Objective-C module 'IGListKit'"
There's someone have any idea what could cause this problem?
Attach File is my project.
Cocoapods version is 1.1.1
Xcode 8.1
OS 10.11.6.

Another question, can I use IGListKit in a Objective-C project? How to user it? Thanks.

[IGListDemoSwift.zip](https://github.com/Instagram/IGListKit/files/645111/IGListDemoSwift.zip

[2016-12-12 12:42] Ricardo1980 opened #317 "Is there any kind of persistence support?"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

I downloaded and played with the sample code, and read docs about this library

[2016-12-12 13:21] michalkalinowski- commented on #242
Any tips on implementing this? I need to maintain scroll position in my app when items are added on top of the list.
I've seen old issue on @jessesquires repo: https://github.com/jessesquires/JSQMessagesViewController/issues/441
and I'm trying to implement something similar in `listAdapterUpdaterWillPerformBatchUpdatesWith collectionView + listAdapterUpdaterDidPerformBatchUpdatesWith collectionVie

[2016-12-12 14:47] rnystrom commented on #242
@michalkalinowski- we have this internally at Instagram and are going to work on porting it to be more generic.

The basics of it are:

- Save the topmost visible item in the collection view
- Save the content offset
- Do an unanimated update
- Find the position of the previous item above
- Calculate the delta with the previous content offset and new content offset
- Adjust the content offset

[2016-12-12 14:49] rnystrom commented on #317
@Ricardo1980 within Instagram we mostly just use `NSCoding` for everything. IGListKit doesn't have any part in persistence layers for data. Instead I'd recommend loading cached content from disk on startup, then replace it with network data when it comes in.

IGListKit makes this easy because you don't have to differentiate between cached and network content, and when data changes just call `adapt

[2016-12-12 14:49] #317 closed

[2016-12-12 14:58] rnystrom commented on #316
@lutetium71 Thanks for providing a sample project! However it looks like its 404ing. We're using the same version of CocoaPods. I wonder if Xcode is breaking, make sure you try:

- Cleaning (command-shift-K)
- Cleaning build folder (command-shift-option-K)
- Removing derived data (`$ rm -rf ~/Library/Developer/Xcode/DerivedData`)

Definitely! The whole framework is written in Objective-C (with a s

[2016-12-12 14:59] rnystrom commented on #315
@jessesquires only thing we have to add is the section controller b/c each section controller is responsible for their own `inset` property

[2016-12-12 15:14] #312 closed

[2016-12-12 15:35] rnystrom opened #318 "Disable prefetchEnabled by default on IGListCollectionView"
Our experiments find that disabling this feature that IGListKit does not uses yields ~5% increase to scroll performance. `-[UICollectionView prefetchEnabled]` defaults to `YES` with the iOS 10 SDK.

[2016-12-12 17:26] rnystrom commented on #305
@stevejcox another update! I figured out what the "bug" is:

Your project is using `estimatedSize` on `UICollectionViewFlowLayout`. This makes flow layout query/store layout attributes (sizes) during `reloadData`, but then doesn't query them again until the layout is invalidated.

Absolutely no clue why it works this way.

It doesn't look like your cells use AL to size themselves, so if you remove

[2016-12-12 17:37] stevejcox commented on #305
Thanks @rnystrom - unfortunately there are a few cells that do use AL (PostCaptionCell) for one, so unfortunately removing it causes some layout issues. That being said Jeff's work-around is working just great for me, so there's no rush on the bug fix on my account.

Thanks again for your response and looking into this, IGListKit is just awesome.

[2016-12-12 22:32] svenbacia commented on #318
I started working on this [here](https://github.com/svenbacia/IGListKit/commit/54ae08cb005365bdf1cdbfd6f79fab759095911c). Currently the default value is only applied for collectionViews which are created from the `initWithFrame:collectionViewLayout:` initializer. Should the default value also be applied for collectionViews created from Storyboard for example by overriding `initWithCoder:`?

[2016-12-12 22:35] rnystrom commented on #318
@svenbacia yes definitely! We should make sure _every_ `IGListCollectionView` has the same behavior.

[2016-12-12 22:37] rnystrom commented on #318
nit on the branch before its PR'd:

Instead of checking OS version we can just check `[self respondsToSelector:@selector(setPrefetchingEnabled:)]`.

[2016-12-13 02:05] illyaBakurov commented on #304
I have very similar layout in my app (Atsight), except for sticky headers. I am going to describe what I did, and I leave it up to the judgement of the community, because I am curious about better ways of doing it too!

Just as a heads up, here is what it looks like in UI Hierarchy Viewer:

<img width="606" alt="screen shot 2016-12-12 at 8 29 18 pm" src="https://cloud.githubusercontent.com/assets/

[2016-12-13 03:36] lutetium71 commented on #316
Thanks! It works!

[2016-12-13 03:36] #316 closed

[2016-12-14 15:10] Ricardo1980 opened #329 "How do you implement separators?"
## New issue checklist

- [*] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [*] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

Usually, inside a section there are different blocks and these blocks use a se

[2016-12-14 16:25] rnystrom commented on #329
I've seen a couple succesful implementations:

- Create a thin supplementary view as the separator
- Add a thin `CALayer` to your cells and lay it out on the top/bottom
- Use thin `UICollectionViewCell`s

All solutions work pretty well, and it depends on the complexity of the separators (between sections, between items in cells, first/last items have separators, etc).

[2016-12-14 17:50] jessesquires commented on #329
I'd highly recommend using supplementary views.

- This is *way* more flexible and easier to change in the future
- Separators really aren't part of *the cell*
- You don't have to mess with your cell layout at all when you change how the separators work/look
- Fewer edge cases (do you keep the separator on the last cell or not?)
- Separators don't receive touch events
- The other solutions are rea

[2016-12-14 19:00] jessesquires commented on #318
Fixed in #323

[2016-12-14 19:00] #318 closed

[2016-12-14 21:51] egarlock opened #332 "How do you update AutoLayout constraints in IGListCollectionView? What about Nested IGListCollectionView's?"
Hello All,

I am currently working on a project in which I need to create multiple levels of expanding views (see screenshot below).

<img src="https://cloud.githubusercontent.com/assets/2692482/21201362/4e4b0902-c210-11e6-91d9-e4fd606811ba.PNG" width="200"><img src="https://cloud.githubusercontent.com/assets/2692482/21201370/53f34d88-c210-11e6-9223-428f43381006.PNG" width="200"><img src="https://

[2016-12-14 22:26] rnystrom commented on #332
Oh man, this is tricky 🤔 . I think I understand your setup:

- Vertical collection view + adapter
- Parent section controller that returns a single `SectionCell`
- `SectionCell` has an embedded vertical collection view + adapter
- `SectionCell` height should be the content size of the embedded collection view

Right? YMMV, I've never done this before.

One idea worth trying is the parent section c

[2016-12-14 22:38] egarlock commented on #332
@rnystrom  That is pretty much my setup.

Except:
- the adapter for the cell's UICollecitonView is owned by the `SectionSectionController` that creates it.

Also right now the `SectionCell` creates a basic `UICollectionViewFlowLayout` when it creates the `IGListCollectionView`. I'll give your suggestions a try and let you know how they work out!

[2016-12-14 22:46] rnystrom commented on #332
Oh wow so there are multiple layers of nesting, dang! That's pretty cool, but tough. Let me know how playing w/ who owns the layout/collectionView goes.

FWIW we do the same thing, having our cells create the layout+collectionView, but we don't really have any requirements quite like this.

[2016-12-14 23:17] jessesquires opened #333 "macOS example project"
Follow-up from #235 and #270.

As of 9600c23d151d8cf89dfef48397f3905542d210d7 we've got all the basics and infra setup. There's an empty macOS example app that does nothing.

https://github.com/Instagram/IGListKit/tree/master/Examples/Examples-macOS

Currently, this is valuable just to test CocoaPods integration.

It would be nice if someone wants to build this out with some more functionality, pr

[2016-12-14 23:19] jessesquires commented on #270
@insidegui, just FYI #333 😄

@Sherlouk 2 things up for grabs here:

1. The macro mentioned above. I had trouble getting this to work. My macro game is not strong. cc @rnystrom
2. mac example, #333 (probably coordinate with @insidegui)

[2016-12-14 23:23] Sherlouk commented on #270
@jessesquires Cheers for the heads up!

Actually I think if I were to rebase correctly some of the changes from my branch are still valid against the original checklist -- or is that something you're still working on internally? (Referring to Common directory/Podspec update)

[2016-12-14 23:24] insidegui commented on #270
@jessesquires I don't know if a macro would be the best solution for this case. When porting [Keyframes](https://github.com/facebookincubator/Keyframes/pull/64) to macOS I created a separate header called `Compatibility` and imported it everywhere instead of adding the `#ifdef`s to each file individually.

I can do the sample :)

[2016-12-15 01:36] jessesquires opened #334 "Update travis-ci to Xcode8.2"
Travis has Xcode 8.2 GM now.
https://blog.travis-ci.com/2016-12-13-xcode-82-ga-is-here

Apparently 8.2 is supposed to be more reliable on CI. Let's see. 👀

[2016-12-15 15:27] walkerwzy opened #335 "how to set the linespacing of items in the first level"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information
how to set minimumLineSpacing and inset of the main view?

see the picture:
![a

[2016-12-15 16:13] jameswasher opened #336 "Using with firebase"
I have no problem following the examples with hard coded data, but when I try to implement IGListKit with firebase I run into issues.  I get the following error:

Here is a minimal example:

https://github.com/jameswasher/IGListTest

I'm probably not loading the data correctly in CardLoader.swift.   I exported my firebase data into a file called firebase-json.json so you can see that data that I'm

[2016-12-15 16:43] jameswasher commented on #335
I'm an IGListKit noon, but I think supplementary with a section header of 10px is the way to go.  From what I understand EmptyViewController is used when there are no objects in your ListAdapter.

[2016-12-15 17:19] Sherlouk commented on #270
@jessesquires Just spent 5 minutes updating the work from my PR yesterday, the main changes are in this [Podspec](https://github.com/Sherlouk/IGListKit/blob/macOS-podspec-2/IGListKit.podspec)

Moving away from specifying per framework (for macOS at least) and setting the common files between all the frameworks as such.

Again apologies if this is being held up internally, didn't get a response to

[2016-12-15 20:05] jeffbailey commented on #329
I'm having a hard time picturing how supplementary views would work for separators if the `IGListSectionController` has multiple items in it.  For example, how would you use that approach for the `FeedItemController` in the `SupplementaryViewController` example?  Supplementary views can be used for headers and footers for a section, but not between items in a section.

[2016-12-15 20:14] #305 closed

[2016-12-15 22:22] jessesquires commented on #270
@Sherlouk -- Sorry about that -- yeah, we're still dealing with this internally. We have other syncing tasks that need to happen when we change the file structure like this. We'll get this into master here soon!

[2016-12-15 23:04] egarlock commented on #332
I was unable to get this to work with the UICollectionViewFlowLayout owned by the SectionController. I decided to try to figure this out with a more simple problem, i.e. without expanding / collapsing the `SectionCell`s.

I can add all the items and adjust the SectionCell's `constraintCollectionViewHeight.constant` on `preferredLayoutAttributesFittingAttributes:`. This will set the correct height

[2016-12-15 23:30] rnystrom commented on #329
@jeffbailey if you use a custom `UICollectionViewLayout` subclass that'd be doable, but you're right with multiple items and `UICollectionViewFlowLayout`, supplementary views wouldn't work.

[2016-12-15 23:35] rnystrom commented on #336
@jameswasher thanks for providing a sample project! I downloaded and fired it up, but everything loads just fine for me. Is there something specific I need to do to reproduce the issue?

![simulator screen shot dec 15 2016 6 35 14 pm](https://cloud.githubusercontent.com/assets/739696/21246205/4261c5a0-c2f5-11e6-8f3a-7e56710713dc.png)

[2016-12-15 23:39] rnystrom commented on #335
@walkerwzy having a little trouble following the exact setup you're trying to achieve. Do you have a mockup or anything to look at?

It sounds like you want more separation between section controllers, is that correct? If so, what about adding more padding to the bottom of your `inset`? Using something like `UIEdgeInsetsFromString(@"{10,10,10,20}")`?

[2016-12-15 23:43] rnystrom commented on #332
@egarlock this is sort of a "chicken and egg" problem, since the parent will have to size itself **first**, then size the child. However the child is driving the size of the parent.

What about after the initial sizing of the child calling `[self.collectionContext reloadSectionController:self]`?

[2016-12-16 01:46] jameswasher commented on #336
Thanks for taking a look!

Strange.  It crashes for me every time.  I'm not doing anything special.  I
tried running on the simulator and my phone.  Here is what the console says

*2016-12-15 19:43:18.019 IGListTesting[36662:824504] Firebase automatic
screen reporting is enabled. Call +[FIRAnalytics
setScreenName:setScreenClass:] to set the screen name or override the
default screen class name. To

[2016-12-16 01:52] jameswasher commented on #336
Just to make sure there are no differences from the code I uploaded to github I downloaded a zip from the link I posted above and ran that project.  Same crash.  It takes a few seconds to crash.

[2016-12-16 03:08] jameswasher commented on #336
I ran the app again on my phone while not connected to Xcode and it worked.
Very strange.
On Thu, Dec 15, 2016 at 7:46 PM James Washer <james.washer@gmail.com> wrote:

[2016-12-16 03:37] walkerwzy commented on #335
@jameswasher `EmptyViewController` which I mentioned is that it's UI is what I need, not the usage scenario :)

@rnystrom ok, I've update the issue and upload a picture to illustrate the question.
and yes, I now use padding for each section controller itself, I ask this question is that, since the first level sections it's also a collection view use flow layout, why can't we custom it's separation

[2016-12-16 09:58] walkerwzy opened #338 "how to set background color separately by each section when a section's numberOfItems greater than 1"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information
to illustrate my question:
<img width="723" alt="e4f00cd3-d9ff-4a91-8bff-c4887b

[2016-12-16 12:06] Ricardo1980 commented on #329
Using inset = UIEdgeInsets(top: 7, left: 0, bottom: 7, right: 0) I get a separation between 2 sections.

And using minimumLineSpacing = 1 adds a separation between the cells that are inside a section.

It seems with that it is not necessary to use  Supplementary views, at least if you want simple separators, like my case.

Thanks a lot for suggestions!

[2016-12-16 14:29] jameswasher commented on #336
I decided to move the title into the section like in the WeatherSectionController of the Marslink tutorial.  This allows the user to collapse and expand the sections.  When I did that I don't get a crash anymore.

Thanks again for taking a look at my question and for open sourcing this awesome framework!

[2016-12-16 14:43] egarlock commented on #332
[Demo](https://github.com/egarlock/IGListKitDemo)

I went ahead and made a repo to show you what I'm currently doing. It's hard to explain. Everything works for the first 2 levels and I'm using `[self.collectionContext reloadSectionController:self]`.

[2016-12-16 15:04] walkerwzy opened #339 "how to trigger didSelectItemAtIndex: if I put a button in the cell"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

show my code:
[code]

If I didn't add button to the cell, the `didSelectItemAt

[2016-12-16 16:51] MarvinNazari commented on #339
@walkerwzy you could either disable the `userInteraction` on the button or just set the `tag` value of the button to the index (mind that this can change after removing or adding objects)

[2016-12-16 18:55] Sherlouk commented on #339
I feel your desired effect is something similiar to the "Empty View Controller" demo we have in the example pack. Where the individual cells have buttons, but the effect of the button wants to be received from the section controller. Maybe take a look at that example for a bit of guidance on this.

Either way in the section controller class you can access the collection context (`self.collectionCo

[2016-12-16 20:10] rnystrom commented on #339
Echoing @Sherlouk, would definitely look at the examples. I would avoid adding the button to your cell in `cellForItemAtIndex:` and instead the cell should own the button, add itself as the target/action, and use a delegate of the cell to receive events about button taps.

https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/Views/RemoveCell.swift#L37

FWIW th

[2016-12-16 20:21] rnystrom commented on #336
Hmph, I should really get moving on #310 which might help a lot more.

@jameswasher one issue I do see browsing the project is that the `numberOfItems` is driven by a [mutable array](https://github.com/jameswasher/IGListTest/blob/master/IGListTesting/CardSectionController.swift#L23) that is [changed](https://github.com/jameswasher/IGListTest/blob/master/IGListTesting/Lesson.swift#L32) arbitrarily

[2016-12-16 20:27] rnystrom commented on #338
@walkerwzy IGListKit supports basic section+item setups like normal `UICollectionView`. We proposed the idea of a section background view in #142 but dropped it b/c of the complexity.

Section background colors isn't something that IGListKit supports out of the box. There are ways to do this with custom `UICollectionViewLayout`s, but that's beyond the scope of IGListKit.

[This resource](http://st

[2016-12-16 20:27] #338 closed

[2016-12-16 20:33] rnystrom commented on #335
@walkerwzy `minimumLineSpacing` and `minimumInteritemSpacing` control the spacing between **items** in a single section. If you want to control spacing between sections (and the containing collection view) you should use the `inset` property. Right now you have 10,10,10,10, so each section will be inset by 10 points in all directions (which means there is 20 points of vertical space between sectio

[2016-12-16 20:56] jameswasher commented on #336
That makes sense!  I will do that.

[2016-12-17 05:00] walkerwzy commented on #335
I probably know what's your design purpose, everything it's on section its own, including the separation between sections

[2016-12-17 05:22] walkerwzy commented on #339
@MarvinNazari yes, `tag` could be a straightforward way.
and I missed the EmptyViewController example, and yes, delegate it's also a way.
though each of this not trigger `didSelectItemAtIndex:`, but it's not necessary

[2016-12-18 04:28] shuhrat10 commented on #290
I have another question related to that.

If you add or remove CellModels from SectionModel -> [cells], from VC adapter.performUpdates(animated: true) doesn't update the UI. Only reloadData() works. But it's not what I wanted.

How can I update UI for updated cells array in SectionModel from VC.

Thanks!

[2016-12-18 16:19] MarvinNazari opened #340 "Diffing inside nested section not working"
Hi, i have an issue appending data inside an section, the `adapter.performUpdates(animated: true)` dosen't do anything. i made an sample project [here](https://github.com/MarvinNazari/IGListKitIssue)
you see that when i press `Add more` dosen't append more data.

### General information

- `IGListKit` version: 2
- Reproducible in the demo project? (Yes/No): Yes

[2016-12-18 17:56] otymartin opened #341 "How to return datasource count in section controller numberOfItems"
@rnystrom

In my sectionController `numberOfItems`, I would like to return my `dataArray.count` as opposed to just `return 1` per sectionController. My dataArray.count varies as its populated by network queries.

The problem is my `dataArray` is in my `viewController` which is my datasource.

I can try to instantiate my `viewController` in my `sectionArray` and access the `dataArray.count` but pro

[2016-12-18 18:11] rnystrom commented on #290
@shuhrat10 `performUpdates(animated:,completion:)` only works for section-level operations. If you want to do item updates you can do that directly from the section controller using the [insert, delete, and reload](https://instagram.github.io/IGListKit/Protocols/IGListCollectionContext.html#/c:objc(pl)IGListCollectionContext(im)insertInSectionController:atIndexes:) operations. We're planning on ad

[2016-12-18 18:24] rnystrom commented on #340
@MarvinNazari thanks for providing the sample project! I did a little digging and found a couple issues that are causing this:

- I see you added the [NSObject+IGListDiffable extension](https://github.com/MarvinNazari/IGListKitIssue/blob/master/IGListKitIssue/ViewController.swift#L93-L100) which works, but `self.items` never changes, it is [only mutated](https://github.com/MarvinNazari/IGListKitIs

[2016-12-18 19:00] MarvinNazari commented on #340
@rnystrom thanks for answer! the problem is that when i replace the item with a new item, all the cells flashes, and even duplicates items, i pushed a new commit to the sample code so you can see it

[2016-12-18 21:30] rnystrom commented on #340
@MarvinNazari ya, that's because its reloading the entire section. To avoid the flashing you can do `animated: false`, but to really do this right it probably requires a little rearchitecting.

I wonder if adding new items to append to the `items` array on the VC level, instead of appending to a sub-array to update a single section? That's really how IGListKit was designed: to have a top-level arr

[2016-12-18 21:34] rnystrom commented on #341
@otymartin instead of using the mutable `dataArray.count` in the section controller, I would use an immutable object that represents the data in your section. Whenever a network request finishes, you can call `performUpdates(...)` and recreate your immutable models.

Take a look at my [weather app data source](https://github.com/rnystrom/SimpleWeather/blob/master/SimpleWeather/Classes/ViewControll

[2016-12-18 21:40] MarvinNazari commented on #340
@rnystrom i thought about that, but we have a similar layout like explore page in Instagram app (Stories, Video, Grid of posts), so i have multiple section type , but when i add them to the top level, the every grid section takes the whole width, even though the size item is right

[2016-12-18 23:00] shuhrat10 commented on #340
@MarvinNazari you are right. You have to apply custom layout IGListGridCollectionViewLayout to your CollectionView.

[2016-12-18 23:05] shuhrat10 commented on #340
I'm trying to solve the similar problem like you #290

[2016-12-19 00:18] otymartin commented on #341
Thanks @rnystrom Looks like I have to dive into a new topic `immutable models`. Thanks for providing your code, its helping alot.

[2016-12-19 14:20] egarlock commented on #332
I decided to go with custom expandable views for now. Thanks for the help @rnystrom!

[2016-12-19 16:30] rnystrom commented on #332
Sure thing! Closing this as it sounds like you're unblocked. If you come up w/ any interesting solutions for this, more details or a blog post or something would be really helpful for others to learn from. Pretty interesting problem!