[2017-03-13 00:12] jessesquires commented on #528
ah yep!

thanks goes to @Sherlouk acutally

[2017-03-13 02:56] rnystrom opened #542 "Vision doc"
Wonder if it'd be worth documenting what the long-term vision is of IGListKit so we can reference it when closing PRs or Issues that are out of scope? Similar to [danger](https://github.com/danger/danger/blob/master/VISION.md)'s.

Thoughts?

[2017-03-13 02:57] jessesquires commented on #542
💯 ✖️ 💯

[2017-03-13 06:06] staticdreams commented on #530
@rnystrom Thank you, Ryan! It worked!

[2017-03-13 06:06] #530 closed

[2017-03-13 09:24] Nonouf commented on #533
@rnystrom Thank you for your answer!

Yes that's right. I'm basically polling data from an API every x seconds, so each time I receive new item I need to refresh the list.

No I'm not, all I'm doing is updating the `items`. I should append new item, but at the moment as a test I've just been updated the property.

Yes I think I didn't totally understand how the primary key works at first and used

[2017-03-13 13:43] fazilakhter opened #543 "Two Object List Diffing Question"
Hello ,

I am doing manual Diff btw two object list , and as result i get an indexeSet of inserts updated and deleted item  which contains different ranges  , i want to as is there any way to get real objects as well instead of just index or ranges ?

Thanks
Fazeel

## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [docum

[2017-03-13 14:25] rnystrom opened #544 "Add -Wshadow compiler error to project"
We use this internally, project should error if local vars shadow each other.

[2017-03-13 14:27] rnystrom opened #545 "Enable "warnings as errors" for all targets"
Warnings block lands internally so we need them enabled to block Travis. This includes:

- IGListKit iOS + tests
- IGListKit tvOS +  tests
- IGListKit macOS + tests

[2017-03-13 14:32] rnystrom commented on #533
@Nonouf great! One thing I'll say is that mutating (appending) to `items` _can work_ (in fact we have places we do this in Instagram!) it's just a little tricky since you need other mechanisms to notify your section controller that things have changed:

- KVO on `items`
- `NSNotificationCenter`
- Explicit delegate setup

Again, this can be tricky. I think the immutable model, "pass down" approach

[2017-03-13 14:41] rnystrom commented on #543
Hey @fazilakhter! Good question.

Since you should have both the old and new array, you should be able to get the objects using the changeset + those arrays!

[code]

You can also use [these methods](https://github.com/Instagram/IGListKit/blob/master/Source/Common/IGListIndexSetResult.h#L47-L67) to lookup the old/new index of an object using its `diffIdentifier`.

If this answers your question fee

[2017-03-13 17:31] jessesquires opened #546 "[Feature request] Incremental move reporting"
Follow-up to the closed PR #342 which attempted to add incremental move reporting to the diffing algorithm.

We're not closing the door on this completely, but closed the PR for now due to some issues + lack of time to implement/support this.

See the code and discussions there for details. If anyone is interested in taking this feature on, feel free.

[2017-03-13 19:27] christianselig opened #547 "Updating IGListAdapter when new object has same pointer"

[2017-03-13 19:32] kleiberjp commented on #519
@rnystrom @heumn  @jessesquires  hi guys sorry by the late.. i have updated the issue description with the project test.. hope you can helpe with a solution pls

[2017-03-13 19:35] kleiberjp commented on #521
@rnystrom i have updated the issue description, with a related issue where exists a project example where the crash occurs too

[2017-03-13 19:36] rnystrom commented on #547
@christianselig 🤔 missing some details?

If the pointer doesn't change, you can:

- Send change `NSNotification`s that section controllers subscribe to
- Call `-[IGListAdapter reloadObjects:]` with w/e needs updated
- Use `-[IGListAdapter reloadDataWithCompletion:]` instead

[2017-03-13 19:40] christianselig opened #548 "Updating IGListAdapter with new objects when "new" object has same pointer as old"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): iOS 10.2
- CocoaPods/Carthage v

[2017-03-13 19:43] christianselig commented on #547
Argh, sorry, I believe I hit enter before fully composing the post. 😰 #548

Not sure if you can nuke this from orbit, but feel free to!

[2017-03-13 19:43] #547 closed

[2017-03-13 20:51] rnystrom commented on #548
@christianselig originally we did always call `isEqualToDiffableObject`, but you'll essentially still be calling `self.body == self.body` which will always be true.

- Can your models be immutable? That would make this easy (regen the models)
- What about copying the models returned in `objects(for:)`?

If none of that works, you can try some of the options I mentioned in #547 or take a look at ho

[2017-03-13 21:46] christianselig commented on #548
@rnystrom I've been meaning to change to immutable objects for awhile now, that's probably the right way to go, thanks for the suggestion. :) The other options would work well too if I kept it mutable, so that covers it really well!

I'll close this, thank you again. 👍

[2017-03-13 21:46] #548 closed

[2017-03-13 23:03] #544 closed

[2017-03-14 02:59] #545 closed

[2017-03-14 06:53] eyzuky commented on #540
Thanks for the answer! we will be working on it and update if we have any problem :)

[2017-03-14 07:57] FengDeng opened #550 "Invaild reload one sectionController after adapter performUpdatesAnimated(true)"
## invalid - (void)reloadSectionController:(IGListSectionController<IGListSectionType> *)sectionController  after called - (void)performUpdatesAnimated:(BOOL)animated completion:(nullable IGListUpdaterCompletion)completion.

I guess because performUpdatesAnimated is not finished.

sorry for poor english!

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/READM

[2017-03-14 09:04] Nonouf commented on #533
@rnystrom Sorry for having not get back to you yet. After discussion with my team, we have decided to leave IGListKit for now :( I'm a bit gutted to be honest, because I really like your project. I think there is a few things we misunderstood with IGListKit, which lead us to mis-architecturing our list. Tell me if I'm wrong, but I really have the feeling that IGListKit is awesome when you want to

[2017-03-14 10:02] Ricardo1980 opened #551 "Where do you put exactly your networking code when using IGLikstKit?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: Any
- iOS version(s): iOS9 and 10
- CocoaPods/Carthage

[2017-03-14 11:41] heumn commented on #551
This is a really good question and a well discussed topic. Straight to the point @rnystrom has begun making a nice weather app using IGListKit over here: https://github.com/rnystrom/SimpleWeather

Maybe something like that is what you would like to dig into? It shows a nice separation of concerns and where one `could` put networking logic. I learned a lot about IGListKit by reading his code.

And

[2017-03-14 12:02] Ricardo1980 commented on #551
Thanks a lot for your response.
You are not going to believe this, but I already have FeedViewController, FeedViewModel and buildSections in my code. Are you in London? ;)

[2017-03-14 12:05] heumn commented on #551
My pleasure!

Hehe.. No I am located in Oslo, Norway :)

[2017-03-14 15:06] damthieuquang opened #552 "Example-iOS Obj-C lose image when calling performUpdatesAnimated method"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): 10.2
- Xcode version: 8.2.1
- D

[2017-03-14 15:21] jessesquires commented on #551
Thanks @heumn ! 💯 🥇

[2017-03-14 15:21] #551 closed

[2017-03-14 15:24] Sherlouk commented on #394
@rnystrom Worth keeping this issue open as there are still unimplemented rules?

[2017-03-14 15:25] rnystrom commented on #540
@eyzuky mind if I close this? Feel free to open a new issue if more stuff comes up 😄

[2017-03-14 15:25] rnystrom commented on #394
@Sherlouk good call!

[2017-03-14 22:00] jessesquires commented on #394
updated original issue to use markdown checklists 😄

[2017-03-15 07:31] eyzuky commented on #540
Thanks, I don't mind at all.. just before that, I will share my solution because it may be wrong and it may be helpful, I do not know but I would love your opinion about it -
We had to pass an array of an object we created as a whole, meaning it had to be returned in objects for listAdapter. So lets say our final array was something like: [1,2,3, [SomeObject]]. this was hard because an array by it

[2017-03-15 09:23] eyzuky opened #553 "numberOfItems results in the same item appearing multiple times in the section"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): 10.0
- Xcode version: 8.2.1

Hi

[2017-03-15 12:41] rnystrom commented on #540
Not weird at all IMO! We do the exact same thing in Instagram. The benefit is it sets up a unique type  of data that your section controller uses. Now you'll be able to extend that data in the future w/out effecting other parts of your app.

It adds a little bit of overhead when building, but once done is pretty flexible.

[2017-03-15 12:42] rnystrom commented on #550
Hey @FengDeng! Could you provide a stack trace or example project reproducing this issue? We're going to need a little bit more information to look into this.

[2017-03-15 12:43] eyzuky commented on #540
Awesome! 💃

[2017-03-15 12:52] rnystrom commented on #552
Hey @damthieuquang! We should probably update the ObjC demo to use more concrete models. What's happening is the diffing algorithm seems duplicated objects and [trims them](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdater.m#L122) from its objects array. It doesn't do this when the demo first launches because it hasn't diffed anything yet.

We'll update this example AS

[2017-03-15 12:55] rnystrom commented on #553
Hey again @eyzuky 😄

I'd honestly go w/ another wrapper object solution since the section is supposed to represent **two people**, it'd be fine to have a `TuplePerson` or something object that has a left/right `Person`.

[2017-03-15 13:00] rnystrom commented on #519
@kleiberjp I'm having a little trouble getting this (really cool demo) to crash 😞

One thing though, you're using a lot of embedded adapters. We discovered a crash w/ using a bunch of them like this fixed in #517. You might want to update your Podfile to point to the `master` branch of IGListKit and see if that solves things for you.

[2017-03-15 13:00] rnystrom commented on #521
@kleiberjp can you give me some steps to reproduce this crash on the example project?

[2017-03-15 13:02] eyzuky commented on #553
great :) thanks!

[2017-03-15 13:03] eyzuky commented on #553
would you prefer having 5 instances of TuplePerson rather than an array of 10 people? Assuming you have 10 people to show, where each row contains 2 people..

[2017-03-15 13:31] rnystrom commented on #553
@eyzuky one idea, if your concern is mostly about the UI (being in the same row) and _not_ that the section only functions/exists w/ 2 `Person` objects, then I'd recommend sticking with 1 `Person` per section controller but using our `IGListCollectionViewLayout` so that you can have sections on the same row (flow layout doesn't let you do this).

[2017-03-15 14:50] eyzuky commented on #553
Exactly the piece I had missing in this puzzle. Thanks a lot.

[2017-03-15 15:14] eyzuky commented on #553
By the way, for some reason the file  'IGListCollectionViewLayout' is not in the API, and I do not have it in my files after installing the pod. It does appear in your example project, any ideas?

[2017-03-15 15:39] #38 closed

[2017-03-15 15:49] rotemdoron opened #554 "layoutSubviews crashes on scroll"
cant really tell why this is happening but when i scroll up by tapping on the status bar i get this crash (as in the picture) anyone know's how to deal with this?

## New issue checklist
![screen shot 2017-03-15 at 17 35 06](https://cloud.githubusercontent.com/assets/3501076/23957265/a0b1145a-09a7-11e7-9cc8-4f9de385c851.png)

- [*] I have reviewed the [`README`](https://github.com/Instagram/IGList

[2017-03-15 15:59] jessesquires commented on #38
💯

[2017-03-15 16:06] heumn commented on #38
![thumbs-up-good-job-ali-larter-3o6Ztlpl0ntHo3wmWI](https://media.giphy.com/media/k39w535jFPYrK/giphy.gif)

[2017-03-15 16:09] heumn commented on #554
At minimum I think anyone would need a stacktrace or (much better) an example project to understand what is going on. A crash happens because something _critically wrong_ so my best guess is that you have configured something out of the ordinary that IGListKit does not support or you got confused about how to do XYZ correct :)

[2017-03-15 17:00] kleiberjp commented on #554
i have the same issue, but i don´t know if are in the same cases that @rotemdoron, but i have an stack trace, and is relationated to another isses
[Stack trace crash layoutsubview](https://github.com/Instagram/IGListKit/files/845371/com.grability.rappi_issue_3651_crash_ef71721a93a043adb713b53662230c97_f13bb580a6044fe7ad023a2f85dca61f_0_v1.txt)

[2017-03-15 17:04] kleiberjp commented on #519
@rnystrom oh, did you try to scroll very very fast? to getting this, to me happens when I scroll fast fast, quickly I stopped, did not let reload downloaded items, and scroll quickly back up

[2017-03-15 17:17] heumn commented on #519
I downloaded the project and after I pointed it to master I am unable to make this crash. It seems like you were running into #517 :)

This should fix it as @rnystrom pointed out
`pod 'IGListKit', :git=> 'git@github.com:Instagram/IGListKit.git', :branch => 'master'

[2017-03-15 17:18] heumn commented on #554
I replied in your issue @kleiberjp :) Thanks for the stacktrace and the example project! Those help a a lot

[2017-03-15 17:58] #315 closed

[2017-03-15 19:56] agisilaos commented on #475
Hey @jessesquires! Gonna start diving around to help you with this task! :)

[2017-03-15 20:15] rnystrom opened #555 "How to "fill" remaining space with section controller?"
Unique internal problem that I figured I'd open and see if others have ideas. h/t @dshahidehpour for bringing this up.

Say we have a list with a couple items at the top and we want to "fill" the bottom space up with a single section controller that displays some content, centered in the remaining space. (e.g. imagine an empty-state message going here).

![drawing](https://cloud.githubusercontent.

[2017-03-15 20:16] rnystrom commented on #473
Good point I should have documented that:

Basically we want 99% test coverage at all times. So if you're adding new stuff, get it tested.

When fixing bugs, try your hardest to recreate the bug in a unit test, then fix the test. This sets us up to never regress that issue again.

[2017-03-15 20:21] agisilaos commented on #473
Ok, gonna add that with the Title: **Testing philosophy** and the points  you mentioned :)

[2017-03-15 20:22] rnystrom opened #556 "Rename "batchUpdatesCollector" to "batchUpdates""
Forgot to rename this variable when we renamed the class.

https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListAdapterUpdaterInternal.h#L36

[2017-03-15 20:23] rnystrom opened #557 "Fix calendar example layout bug"
I think [this](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/MonthSectionController.swift#L72) needs to be `floor`ed.

[2017-03-15 20:53] agisilaos commented on #473
Ok here's the Pull request I just made: https://github.com/Instagram/IGListKit/pull/558

[2017-03-15 23:13] kleiberjp commented on #519
Sorry guys but i´m experimenting the same issue 👎  :( .. with the same project this is the stack trace of the crash

´´´
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'attempt to insert section 1 but there are only 1 sections after the update'
*** First throw call stack:
(
	0   CoreFoundation                      0x000000010586ad4b __exceptionPreprocess

[2017-03-15 23:55] rnystrom commented on #519
@kleiberjp can you provide some detailed steps to reproduce?

I couldn't get a crash w/ the stack trace that you pasted. I did get a crash where a `UINib` couldn't be found. It looks like you're passing `nil` to the bundle. That might need to be a specific bundle.

[2017-03-16 00:01] kleiberjp commented on #519
ok the steps are easy:
In the moment the app load give scroll fast super hiper mega fast, in forwards and backwards, there will be a moment in wich is processing many data for the scroll and demanding append data, the library crash.

And could you please indicateme in wich class - line code have to set a nib ???

[2017-03-16 01:48] FengDeng commented on #550
sample description:
I have a webview in one sectionController. And need reload height after webview load finished.
Adapter called performUpdatesAnimated(true),if webview load finished soon and reload it's sectioncontroller,it's invaild.webview sectionController height not changed.

`func webView(_ webView: WKWebView, didFinish navigation: WKNavigation!) {
        webView.evaluateJavaScript("docume

[2017-03-16 04:01] jessesquires commented on #475
Hey @agisilaos ! 💯 Awesome 🎉

So:

- there's one guide example already (1.x to 2.x) -- let's follow that format.
- all changes are in the `CHANGELOG`

The migration guide should focus on the big changes and how to adopt them. We don't need to discuss small things, like method/class renaming — the `CHANGELOG` is sufficient for that.

[2017-03-16 04:02] jessesquires commented on #557
lol

does this use the listkit layout?

shiyi submitted a diff internal to floor/round/ceil something there

[2017-03-16 07:19] rotemdoron commented on #554
hi @heumn  thanks for replying, the only stack trace i get is this :
`libc++abi.dylib: terminating with uncaught exception of type NSException
(lldb) `

![screen shot 2017-03-16 at 09 18 06](https://cloud.githubusercontent.com/assets/3501076/23985768/886e8cf6-0a29-11e7-8d57-0dfc88d23534.png)

it happens always when i scroll up by clicking on the status bar

[2017-03-16 08:19] heumn commented on #554
Thanks for the screenshot :) This is only "half" of the crash information. You are not printing / showing the exception thrown when it crashes

Would it be possible with an example project?

[2017-03-16 08:38] heumn commented on #519
I finally got it to crash again... Sorry for my misunderstanding :) To be able to help you debug I will see if I can figure out a way to get it to crash consistently. It is tiresome to sit here dragging down _insanely_ fast ;)

[2017-03-16 10:16] fazilakhter commented on #543
Nice.

[2017-03-16 10:16] #543 closed

[2017-03-16 12:24] rotemdoron commented on #554
ok so this is the exception im getting :
`negative sizes are not supported in the flow layout`
but there is no place in the sizeForItem that i give a negative size

[2017-03-16 13:32] rnystrom commented on #557
Oh sweet, that might be the problem. Yup demo uses our layout. Will hold on this and close if that fixes it.

[2017-03-16 13:41] rnystrom commented on #554
@rotemdoron can you post some of the code for your section controllers? Are you doing any form of subtraction in there? Also you're using `UICollectionViewFlowLayout` right?

[2017-03-16 13:44] rnystrom commented on #475
Super important are the [breaking changes](https://github.com/Instagram/IGListKit/blob/master/CHANGELOG.md#breaking-changes) for 3.0.0. I don't think there's anything too crazy in there.

Thanks @agisilaos for taking this on!! This will help us release 3.0 even faster.

[2017-03-16 13:52] rnystrom commented on #550
@FengDeng oh nice, I think @ocrickard had some similar experiences too when he was doing some prototyping.

Instead of just reloading, could you try wrapping it in a batch update and see if that works?

Something like:

[code]

[2017-03-16 13:54] rnystrom commented on #519
@kleiberjp scrolling fast vertically or horizontally?

About the nib, its in `UtilsExtension.swift` where you extend `IGListCollectionContext` and dequeue a cell with `bundle: nil`.

[2017-03-16 14:47] weyert commented on #527
Sorry, why is `prefetchingEnabled = NO` wasn't this one of the hot new features of iOS 10 announce last year at WWDC?

[2017-03-16 14:57] rnystrom commented on #527
@weyert yup, it was. However we've run some testing and show that by simply being enabled this feature causes a significant scroll performance regression. That is, if `prefetchingEnabled = YES` and you don't even have a `prefetchDataSource` set.

IGListKit doesn't use this feature (we have our own "working range" implementation that is similar), so recommend always disabling it.

[2017-03-16 15:21] kleiberjp commented on #519
@rnystrom vertically the scroll, well i check the failure trying to dequeue cell, normally how i´m instancing the cell with the class and not from the xib, consider not needed use a bundle.

@heumn i´m gonna check what you recommend

[2017-03-16 15:55] kleiberjp opened #559 "IGListGridCollectionViewLayout is not available on branch master"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): 10.2
- CocoaPods/Carthage versi

[2017-03-16 16:59] jessesquires commented on #559
Thanks @kleiberjp !

Sorry about that. `master` **is stable and reliable** but it does have breaking changes. 😄

Checkout the `CHANGELOG` for details! 👍

https://github.com/Instagram/IGListKit/blob/master/CHANGELOG.md

[2017-03-16 16:59] #559 closed

[2017-03-16 17:00] rnystrom commented on #475
Also we should detail how to migrate from the old grid layout to the new one. See #559

[2017-03-16 17:32] rnystrom opened #561 "Integral math on IGListCollectionViewLayout"
The layout should round cell sizes and origin.

[2017-03-16 17:32] rnystrom opened #562 "Add "stretchToEdge" or something flag on IGListCollectionViewLayout"
Add a new flag that stretches the last element in a row to the edge of the screen. Default to `NO`.

[2017-03-16 20:18] aleufms opened #563 "Setting contentInset of IGListCollectionView, causes bug on scroll method from IGListCollectionContext"
- `IGListKit` version: 2.1
- iOS version(s): All
- CocoaPods/Carthage version:
- Xcode version: 8.2.1
- Devices/Simulators affected: All
- Reproducible in the demo project? (Yes/No):
- Related issues:

If we put a contentInset (on my case, I have a header view above the collection view.) on a IGLIstCollectionView, the scroll method from IGListCollectionContext bugs. Is the scroll method aware of c

[2017-03-16 23:18] #556 closed

[2017-03-17 01:35] jessesquires commented on #553
@eyzuky you can use `master` if you need this now. see our installation guide for details

[2017-03-17 01:35] #553 closed

[2017-03-17 01:36] jessesquires commented on #398
think we're good here?

[2017-03-17 01:36] #398 closed

[2017-03-17 01:36] jessesquires commented on #486
Looks like we're good here. going to close 😄

[2017-03-17 01:36] #486 closed

[2017-03-17 01:40] jessesquires commented on #540
🎉

[2017-03-17 01:40] #540 closed

[2017-03-17 01:41] jessesquires commented on #550
That should work, we use this workaround as well.

[2017-03-17 01:41] #550 closed

[2017-03-17 01:41] jessesquires commented on #504
good to close this?

[2017-03-17 06:05] heumn commented on #563
I use contentInset on the collectionView without any troubles. It would help a lot if you attached an example project that reproduces your problem. Would be great if you could extend on what you mean by "cause bug on scroll method" :)

[2017-03-17 07:38] FengDeng commented on #550
@jessesquires  @rnystrom  Thanks,it works!

[2017-03-17 13:58] rnystrom commented on #504
@jessesquires ya, don't think this has caused much churn, don't think it matters atm

[2017-03-17 13:58] #504 closed

[2017-03-17 16:40] weyert commented on #527
Ah, makes sense. Thanks for clarifying it, @rnystrom

[2017-03-17 18:13] Nonepse commented on #329
My need is to have a section with multiple cells, some separated by a thin gray line, some not.

Following this discussion, I tried to implement separators using the `UICollectionViewFlowLayout` decoration views (seemed to be it's more appropriate than supplementary views). So as suggested by @rnystrom, I subclassed `UICollectionViewFlowLayout` to implement my own decoration view (see my code belo

[2017-03-17 18:13] Ricardo1980 commented on #329
I wonder the same question.

[2017-03-18 23:49] rnystrom commented on #329
@Nonepse you'll need to create a custom delegate/dataSource for your layout that requests decoration information, similar to how `UICollectionFlowLayout` uses the `UICollectionViewDelegateFlowLayout` to get cell and supplementary size information.

Try something like this:

[code]

[2017-03-18 23:52] rnystrom commented on #329
If that doesn't work, lets open up a new issue to track using decoration views with IGListKit.

Supplementary views are probably going to be easier since `UICollectionViewFlowLayout` supports them, and IGListKit has [an API](https://github.com/Instagram/IGListKit/blob/master/Source/IGListSupplementaryViewSource.h) built for them as well.

[2017-03-18 23:52] #329 closed

[2017-03-19 09:14] rotemdoron commented on #554
yeap my collectionview is in storyboard together with the flowlayout, not using the flow layout in code though.
code example :
` func cellWidth() -> CGFloat {
        return collectionContext!.containerSize.width - inset.left - inset.right
    }

    func sizeForItem(at index: Int) -> CGSize {

        let cellType = self.object?.articleSectionList[index]
        var size : CGSize = CGSize(width:

[2017-03-19 17:20] rnystrom commented on #554
@rotemdoron Hmm the `return collectionContext!.containerSize.width - inset.left - inset.right` looks suspect.  Could you add an assert that checks if the container width is 0? I'm going to open another issue to track possibly fixing making this mistake.

[2017-03-19 17:21] rnystrom opened #566 "Don't allow returning negative sizes for cells and supplementary views"
Even though this is user-error, IGListKit could ease the pain here.

Callsites:

- [Cell size](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L461)
- [Supplementary size](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L468)

Options:

1. Assert when < 0. This points out the error to the user
2. Print when < 0, just point out the mistake but not

[2017-03-19 21:03] rnystrom opened #567 "Add assert that checks uniqueness of section controllers returned from data source"
Let's add [debug assert](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L481-L485) somewhere [around here](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L532) that verifies that the `sectionControllers` array is filled w/ unique objects (e.g. assert nobody is reusing section controllers). Could put the array in an `NSSet` and compare lengths o

[2017-03-20 01:59] rnystrom opened #568 "Github topics"
Just realized these are a thing. Will get them enabled. Suggestions?

[2017-03-20 09:05] rotemdoron commented on #554
@rnystrom thanks for the feedback, i tried assert seems the container size is correct im also printing it and the size is right even right before the crash.

[2017-03-20 12:27] viktorgardart commented on #568
iOS :neckbeard:

[2017-03-20 12:35] heumn commented on #568
Objective-C :trollface:

[2017-03-20 14:10] Nonepse commented on #329
@ryanolsonk Your solution works indeed, thanks! Do you think it would be worth it that I make a PR to add this as an example?

However, I am still facing an issue with the decoration views. When opening the collection view, they are not correctly located. When scrolling, they move to the proper position:

![6025_separator_layout_issue](https://cloud.githubusercontent.com/assets/5849587/24103152/4d

[2017-03-20 15:23] jessesquires commented on #568
github :trollface:

[2017-03-20 15:26] rnystrom commented on #566
@jessesquires `UICollectionViewFlowLayout` throws (see #554). We hit this internally once too.

[2017-03-20 15:42] rnystrom commented on #561
Fixed in https://github.com/Instagram/IGListKit/commit/a80245a696d0fe96777f796eef92cef5942aed7c

[2017-03-20 15:42] #561 closed

[2017-03-20 15:43] rnystrom commented on #562
Fixed in https://github.com/Instagram/IGListKit/commit/24308a9881f54fc190070c858ec520d93074d95d

[2017-03-20 15:43] #562 closed

[2017-03-20 15:50] jessesquires commented on #566
Ah... 👍

[2017-03-20 17:05] zhubofei commented on #568
UICollectionView:trollface:

[2017-03-20 17:10] aleufms commented on #563
Ow,sorry guys. I found out that the "issue" is on uicollectionview, because the same happens with it. It is because the viewcontroller add contentinsets by itself. I have to disable it, because I manage it manually. Closing.

[2017-03-20 17:10] #563 closed

[2017-03-20 17:28] zhubofei commented on #555
@rnystrom Can we subclass the `IGListCollectionViewLayout` and modify the layout attributes for the last SC?

[2017-03-20 19:34] rnystrom commented on #555
@zhubofei interesting! We did remove the subclass restriction, so this is totally possible. I hadn't even thought of that.

[2017-03-21 13:10] Nonepse commented on #329
Just to clarify, if I don't use an `estimatedItemSize` on the collection view layout object, the decorations views are correctly positioned.
But obviously my cells are not the size I want.

[2017-03-21 13:12] Ricardo1980 commented on #329
Can you create an isolate test sample in a new project to check that?
If you have time or run out of ideas.

Enviado desde mi iPhone.

[2017-03-21 14:45] Nonepse commented on #329
I meant to mention @rnystrom, not the other Ryan 😬

[2017-03-21 14:47] rnystrom commented on #329
@Nonepse no worries 😄 all Ryans welcome

+1 to @Ricardo1980 about an example project. We're probably drifting into territory that IGListKit doesn't support since this is very much layout related. Again, a new issue would be great to track discussion on decoration views separately!

[2017-03-21 17:07] Ricardo1980 commented on #237
Hello @rnystrom

You said:
"When scrolling will end, calculate the distance from the bottom of the screen
If within a distance, trigger a "next page load" network request"

Is it possible to do something to trigger that before? I mean, load more data when you are close the bottom, so the user experience would be better.

Is this related with workingRangeSize in IGListAdapter?

Thanks for suggestio

[2017-03-21 17:24] Nonepse opened #571 "How to use DecorationViews as separators?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

## Question

My need is to have a section with multiple cells, some separated by a thin gray line, some

[2017-03-21 17:45] rnystrom commented on #571
@jessesquires any tips here?

[2017-03-21 18:13] rnystrom commented on #237
Hey @Ricardo1980. When I talked about

I mean use what we'd call a **threshold** and calculate when your scrollview is within that threshold before firing the request. For instance, if you're within 1 "screen" height of the bottom, fire the request. That way ideally you're never hitting the bottom as you scroll.

We don't have any mechanism built in for this yet (and working ranges are for prefetc

[2017-03-21 19:24] heumn opened #572 "IGListBindingSectionController object property should probably be public"
I want my `IGListBindingSectionController` subclass to be able to implement `IGListSupplementaryViewSource`. To do that I need access to the section object. Given the fact that the `object` (the section model in my case) is a private property on `IGListBindingSectionController`, it can not contain this type of information any more (not accessible)

An option is to represent the supplementary view

[2017-03-21 21:28] rnystrom commented on #572
Good point, it probably should.

Are we ok with it being `id object` (which will be `Any` in Swift) and letting callers check/cast the object? Not sure if we should try any fancy ObjC generics here.

[2017-03-21 22:03] heumn commented on #572
No need for generics here in my eyes, but now that you mentioned it 🤔  It would be neat

Other than that, `IGListBindingSectionController` is sweeet :)

Maybe I can open a PR tomorrow?

[2017-03-22 13:23] rnystrom commented on #572
@heumn all you!

[2017-03-22 14:53] SandeepAggarwal opened #573 "IGListDiff as a submodule"
Its a proposal to make IGListDiff as a submodule so that it can be used separately to calculate diffs.

[2017-03-22 15:00] mzds opened #574 "Supplementary view strange behavior"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

Thanks for this great project.
I find a problem while studying example code. In ObjcDemoViewController.

[2017-03-22 15:29] rnystrom commented on #573
Hey @SandeepAggarwal! This is all possible now with our [subspec](https://github.com/Instagram/IGListKit/blob/master/IGListKit.podspec#L18-L21). Check out the [installation guide](https://instagram.github.io/IGListKit/installation.html) to copy/paste into your project.

[2017-03-22 15:29] #573 closed

[2017-03-22 15:43] jessesquires commented on #571
(1) you probably need to invalidate your layout somewhere before the view appears (that would likely fix this)

(2) this is not really the purpose of decoration views, which are supposed to be purely "decoration". supplementary views carry semantics (e.g., section separation), so I'd recommend using those instead.

[2017-03-22 15:44] rnystrom commented on #392
Diff up internally to make this change! 🎉

[2017-03-22 15:44] jessesquires commented on #572
If possible, lightweight ObjC generics would probably be nice

[2017-03-22 15:45] rnystrom commented on #297
Closing for now since this is working as intended for IGListKit to avoid errors in `UICollectionView`.

[2017-03-22 15:45] #297 closed

[2017-03-22 16:25] SandeepAggarwal commented on #573
@rnystrom Thanks for the info.
I am having a problem here is that I want to separate IGListKit pod and the diffing pod so that in future if the app stops to use IGListKit then the diffing pod can function independently.

But I am getting the following error upon including both as separate pods in the podfile

- IGListKit (from `https://github.com/Instagram/IGListKit.git`, branch `master`)
- IGList

[2017-03-22 16:29] rnystrom commented on #573
🤔 if you remove the IGListKit dep then can't you just change your Podfile to use the diffing subspec?

[2017-03-22 16:36] SandeepAggarwal commented on #573
:) Yes, that is one of the solution , but I wanted to keep it separate so that the 'future developer' who   may think 'IGListKit' only as a 'UI' component will accidentally break the application by not realising the need of 'Diffing' in the application

[2017-03-22 17:30] jessesquires commented on #573
Pretty sure you can specify both in your podfile and CocoaPods will do the right thing

[2017-03-22 17:31] SandeepAggarwal commented on #573
My pod file looks like this:

pod 'IGListKit', :git => 'https://github.com/Instagram/IGListKit.git', :branch => 'master'
pod 'IGListKit/Diffing'

And I am getting the error:

[2017-03-22 18:41] rnystrom commented on #429
Will also happen when #392 lands

[2017-03-22 19:46] #392 closed

[2017-03-22 19:49] #429 closed

[2017-03-22 21:08] Sherlouk commented on #573
Think this is because `pod 'IGListKit/Diffing'` is looking for the latest code from `stable` branch whereas your specification for just `pod 'IGListKit'` is pointing to `master` hence different sources.

Try replacing it as such:

[code]

[2017-03-23 06:46] SandeepAggarwal commented on #573
@Sherlouk  Thanks a ton!

[2017-03-23 08:25] Megaman63 opened #578 "invalidateLayout() removed from collectionContext?"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.0.0
- iOS version(s): 10.0
- CocoaPods/Carthage versi

[2017-03-23 08:26] Megaman63 commented on #578
simple profect:

import UIKit
import IGListKit

class Model : NSObject, IGListDiffable {

    var id = 0
    var color : UIColor!
    var height : CGFloat = 0
    var expanded = false
    func diffIdentifier() -> NSObjectProtocol {
        return id as NSObjectProtocol
    }

    func isEqual(toDiffableObject object: IGListDiffable?) -> Bool {
        return id == (object as! Model).id
    }
}

cl

[2017-03-23 09:35] robertjpayne commented on #533
@Nonouf IGListKit is plenty powerful enough to support this -- out of the box you are correct though that the default diff/load algorithm takes a flat array and doesn't traverse it any further.

In saying that you *can* implement your own Adapter Updater and do the diffing however you like but I agree IGListKit loses a lot of it's appeal as soon as you start having to do that manually.

[2017-03-23 14:05] thedevme opened #579 "Grid Layout"
I have not been able to find a solution for this as all the examples have the grid flowing to the left.  I need to get my grid to be centered.  Currently it is floating to the left:

![img_1909](https://cloud.githubusercontent.com/assets/1933678/24251286/067bd8ca-0fb0-11e7-9c66-755c954b30b5.JPG)

I am not sure why my values for inset are not working but they are not in the SectionController.  Any

[2017-03-23 14:09] zhubofei commented on #578
@Megaman63 This is a new API that will be added in 3.0.0 release. If you want to use it now, you can use master branch version instead of 2.0.0 release.

[2017-03-23 14:15] zhubofei commented on #579
@thedevme The grid layout only supports left alignment at the time. For your use case, I think `UICollectionViewFlowLayout` might be more suitable (if you only have one Section Controller per line).

[2017-03-23 14:25] #578 closed

[2017-03-23 14:38] thedevme commented on #579
I am not sure what you mean - so are you saying use reg collection view for this?  I will need it to be centered.

[2017-03-23 14:41] zhubofei commented on #579
I mean use `UICollectionViewFlowLayout` instead of `IGListCollectionViewLayout`.

[2017-03-23 14:43] thedevme commented on #579
Ahh ok thank you very much for the quick response

[2017-03-23 14:56] rnystrom commented on #533
@Nonouf @robertjpayne definitely check out `IGListBindingSectionController` for 2d diffing and using arrays of view models, might help a lot!

Hm, not totally sure I follow. We use hundreds/thousands of the same type of models in Instagram, arbitrarily intertwined with other models, and it makes our architecture super clean vs filling view controllers (or even data source objects) with arrays/maps

[2017-03-23 14:56] #533 closed

[2017-03-23 15:00] robertjpayne commented on #533
@rnystrom the more I explored the more powerful IGListKit gets, I actually saw in the readme you recommend 1:1 section to row to help get around these sort of nested reloading issues.

@rnystrom the only thing that becomes tricky is sticky headers, is there any example code based on IGListKit that modifies the collection view layout to do sticky headers? Even with iOS 9.0's new API it's not ideal

[2017-03-23 15:02] robertjpayne commented on #533
@Nonouf I'd empower you to give IGListKit another go if you still have a chance -- the key I found is to use a flat array and use section controllers like view models with a 1:1 mapping rather than trying to do 1:many.

Or check out master branch with the bindable controller which allows the sort of thing this issue notes!

[2017-03-23 15:07] rnystrom commented on #533
@robertjpayne oh hmm can you point to that? We should definitely update it. Strongly recommend organizing rows under a relative section architecture. e.g. on Instagram we have headers, media, actions, and comments all under a `FeedItem` controller.

Definitely check out [our new layout](https://github.com/Instagram/IGListKit/blob/master/Source/IGListCollectionViewLayout.h#L89-L91) that has sticky

[2017-03-23 15:11] robertjpayne commented on #533
@rnystrom https://github.com/Instagram/IGListKit/blob/master/Guides/Best%20Practices%20and%20FAQ.md -- last bullet under Best Practices.

Isn't that still sorta the case? Don't mean to hijack this issue but the primary concern of the author was that the root object doesn't change while some part of it's nested contents is dynamic and does change it doesn't get refreshed.

This changes a bit with t

[2017-03-23 15:16] rnystrom commented on #533
Seems to be some confusion over the term "single-item", we can change that. When we say "item" we mean _object_ or _model_. Note the next sentence

Definitely not trying to advocate one-cell-per-section design when the same model would drive different cells (like I mentioned above in our `FeedItem` design).

We can probably do a pass at our examples too to make sure they have a wide-enough range o

[2017-03-23 15:17] robertjpayne commented on #533
@rnystrom ah right, well I do think with the 3.0 bindable section controller it makes it much more clear about how to create a section that has a dynamic reload…

[2017-03-23 15:18] rnystrom commented on #566
t16455632 for instance

[2017-03-23 15:31] rnystrom commented on #168
Alright after internal discussion I'm back to being on the fence about this issue. I do worry that once we make this decision it'll be irreversible, both b/c of internal usage growth and external churn.

I'm starting to lean back towards not doing this, and waiting until there is some real pressure (internal/external) to drive this being necessary.

Thoughts @jessesquires?

[2017-03-23 15:58] jessesquires commented on #168
That is absolutely true. We can't go back, so we should consider this carefully.

Let's discuss on chat.

[2017-03-23 16:21] yusuftor opened #581 "How to insert new section controller within the visible section controllers"
I have a trigger that needs to insert a section controller somewhere in between the currently visible section controllers on screen. I can get the visible section controllers and their objects, however, I am unable to find their indices.

I'm trying something like this:

[code]

But you can't use index(of:) with an IGListDiffable array. How can I do this? Thanks!

[2017-03-23 16:32] rnystrom commented on #581
@yusuftor you already have the indices by getting the `section` of the section controller 😉

[code]

[2017-03-23 16:53] yusuftor commented on #581
Oops 😬 Thanks!

[2017-03-23 16:53] #581 closed

[2017-03-23 18:30] thedevme commented on #579
@zhubofei does this also apply to a grid?
<img width="578" alt="screen shot 2017-03-23 at 10 35 29 am" src="https://cloud.githubusercontent.com/assets/1933678/24263971/300f4508-0fd5-11e7-9cf1-9eff51e4d62d.png">

I tried using UICollectionViewFlowLayout but it won't show up in a grid - when I use IGListCollectionViewLayout I get the following.

[2017-03-23 18:34] zhubofei commented on #579
@thedevme No. UICollectionViewFlowLayout newlines section controllers. If you want grid layout and center alignment at the same time. We have to do the math yourself. Setup the right width and spacing.

[2017-03-23 19:45] thedevme commented on #579
I have tried with both ways doing it with math and setting the width and it still doesn't thought it might be a bug.  Thanks

[2017-03-23 19:45] #579 closed

[2017-03-23 20:22] rnystrom commented on #579
@thedevme can you use `IGListCollectionViewLayout` and set the `contentInset` of the collection view itself to something to "center" the content?

[2017-03-24 00:27] Ricardo1980 opened #582 "Is it possible to use variable height cells with IGListSingleSectionController?"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: Last one.
- iOS version(s): iOS 9 and iOS 10
- CocoaPod

[2017-03-24 05:31] #430 closed

[2017-03-24 08:00] heumn commented on #582
The sample app shows how to pass the block:

[code]

I do not think there is anything here stopping you from calculating the height on a per cell basis? 🤔  :)

[2017-03-24 15:49] jessesquires commented on #582
Thanks @Ricardo1980 !

The size block is only if you want to use the provided `IGListSingleSectionController`.

Otherwise, in your own custom SectionController, you can provide cell sizes based on index (just like collection view).

https://instagram.github.io/IGListKit/Protocols/IGListSectionType.html#/c:objc(pl)IGListSectionType(im)sizeForItemAtIndex:

[2017-03-24 15:49] #582 closed

[2017-03-24 20:11] amonshiz opened #584 "RFC: Implement UITableView Support"
## Purpose

I would like to add support for `UITableView` within `IGListKit`. Ever since @rynstrom started formulating what would become IGListKit I thought it would be great if it worked with `UITableView`, but I didn't have the time to do that. Additionally, Instagram doesn't have many table views left so the impact would have been small. However, I still believe that there is meaningful value i

[2017-03-24 20:56] jessesquires commented on #584
This would be trivial with Swift, because we could unify table and collection views like this:
https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/Source/ViewFactory.swift

We could probably get close to this in Objective-C, but there are a few things that will be much more cumbersome.

[2017-03-25 22:24] coreywiley opened #585 "IGListKit compatible with LinkedIn's LayoutKit?"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

###
 I reviewed [Best Practices and FAQ](https://github.com/Instagram/IGListKit/blob/master/Guides/Best

[2017-03-25 23:13] Sherlouk commented on #94
@jessesquires @rnystrom

Are we still wanting to bring examples into this repo? As linked there are examples for two of the listed tasks:
- AsyncDisplayKit Example: https://github.com/facebook/AsyncDisplayKit/tree/master/examples/ASDKgram
- ComponentKit Example: https://github.com/ocrickard/IGListKit-ComponentKit

If so, do we want them as a different project file entirely, or add it all to the `E

[2017-03-26 15:03] MarvinNazari commented on #94
@Sherlouk: there is another ASDK example here, pretty similar to the IGListKit search example https://github.com/facebook/AsyncDisplayKit/tree/master/examples_extra/RepoSearcher

[2017-03-26 19:52] Sherlouk commented on #94
@MarvinNazari Thanks for linking that one. hadn't seen it! Much easier to move over (already in Swift)

[2017-03-26 21:04] bduyng commented on #405
@rnystrom do you have an example that IGListKit works with React Native? Thanks!

[2017-03-26 22:33] broadwaylamb commented on #392
This change actually broke my project. I had a list of sections where each section could be expanded when selected, but if I selected another section, the previously selected section would collapse and then the new section would expand. By expanding a section I mean adding some cells to it.

In a section controller I maintained an `expanded` variable and when it changed its value I would call `rel

[2017-03-27 01:20] robertjpayne commented on #584
I'd be hesitant to implement this given that UITableView may be on the chopping block, iOS 10 already includes a lot of private headers that indicate UICollectionView is going to get some API's to help it do everything UITableView can already do.

https://pspdfkit.com/blog/2017/the-case-for-deprecating-uitableview/

[2017-03-27 04:05] PhuocLinh opened #586 "IGListStackedSectionController"
Each section on IGListStackedSectionController has many items when I insert a new item into one section and call `performUpdates`. This section cell isn't added new line
![screen shot 2017-03-27 at 11 14 02 am](https://cloud.githubusercontent.com/assets/971151/24340730/9e52a2ec-12de-11e7-978e-fa3b955baef5.png)
![screen shot 2017-03-27 at 11 14 12 am](https://cloud.githubusercontent.com/assets/9711

[2017-03-27 06:12] #586 closed

[2017-03-27 07:48] #585 closed

[2017-03-27 10:06] robertjpayne opened #587 "Document the need for model objects to be immutable"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: `master`
- iOS version(s): not applicable
- CocoaPods/C

[2017-03-27 10:08] robertjpayne commented on #587
Gah I totally missed the Diff and Equality document. Sorry

[2017-03-27 10:08] #587 closed

[2017-03-27 11:00] Ricardo1980 opened #588 "Self-sizing cells in demo project crashes the app in iOS 9.3"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: Last one
- iOS version(s): iOS 9.3 (It works fine under

[2017-03-27 11:37] Nonepse commented on #588
Also tested with:

[2017-03-27 15:58] jessesquires commented on #588
Thanks @Ricardo1980  !

We're tracking this at #516 😄

[2017-03-27 15:58] #588 closed

[2017-03-27 15:59] jessesquires commented on #587
No worries! Thanks @robertjpayne ! 👍

[2017-03-27 16:13] Ricardo1980 commented on #516
This bug is a problem, our entire project uses variable height cells! We will take a look later.
Any idea?

[2017-03-27 22:28] robertjpayne opened #589 "[Question]: Best practice for using IGListKit with cells that require auxiliary inputs"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

IGListKit is absolutely fantastic and thank you to the whole team that created

[2017-03-28 15:53] jessesquires opened #590 "Update travis to Xcode 8.3"
Update `.travis.yml`

https://blog.travis-ci.com/2017-03-28-xcode-83-ga-is-here

[2017-03-28 15:55] jessesquires commented on #589
Hey @robertjpayne -- you mean for these elements inside a cell?

The common pattern is usually:

1. Hook up those `UIControl`s in the cell
2. Provide a `delegate` on the cell
3. Have your section controller conform to the delegate protocol and assign itself as the cell's delegate `cell.delegate = self`

[2017-03-28 19:22] CurlyHeir opened #591 "Crash on iOS 9.2.1"
### General information
- `IGListKit` version: 2.1
- iOS version(s): 9.2.1
- Xcode version: 8.3
- Devices/Simulators affected: iPad 3  (MD368PL/A)

### log:
http://crashes.to/s/664d621d31b

i have no access to device, and I can't reproduce this on other devices and iOS versions

[2017-03-28 20:25] robertjpayne commented on #589
@jessesquires yea I was curious what Instagram does since there are a various patterns, sounds like the delegate pattern works best for IGListKit and in my practice it seems that way too since the model has to be immutable so the view can't ask it to update itself…

[2017-03-28 20:55] MarvinNazari commented on #591
related to #554

[2017-03-29 03:10] jessesquires commented on #591
Going to close as a duplicate of #554

[2017-03-29 03:10] #591 closed

[2017-03-29 11:57] robertjpayne commented on #589
Closing this -- maybe will try and find time to add to examples 👍

[2017-03-29 11:57] #589 closed

[2017-03-29 13:37] LivioGama commented on #516
Guys, I'm struggling for few days with self sizing items in collectionview. I used :

- The technique of estimatedSize + preferredMaxWidth label + contentView width constraint + contentView translatesMaskIntoConstraint false, but it crashed on iPhone Plus models iOS 10

- The technique of estimatedSize + preferredLayoutAttributesFitting + systemLayoutSizeFitting compression

- The technique of est

[2017-03-29 14:26] Ricardo1980 commented on #516
Similar problems here. At the moment I am waiting.

[2017-03-29 17:06] dhavalcue commented on #516
I couldn't get dynamic heights to work on my end. My workaround is to use `systemLayoutSizeFitting` and cache the size. For this to work I require all self-sizing cells to implement the `SelfSizingCell` protocol, which takes in an item which implements the `IGListDiffable` protocol.

The whole thing to make this work is here: https://gist.github.com/dhavalcue/4b081e65ded5c261d301beddbd2ddfcb

[2017-03-29 20:33] #590 closed

[2017-03-29 20:47] #473 closed

[2017-03-29 22:01] #566 closed

[2017-03-29 23:48] zhubofei commented on #242
@jessesquires @rnystrom You guys want to do this one internally or can I take it? Have some free time recently👷.

[2017-03-30 01:29] rnystrom commented on #574
This is actually an error in the demo. I have a reminder to clean this demo up quite a bit. The issue is that the same string is in the objects array multiple times, so a single section controller ends up being used for image sections. Will clean up this demo.

[2017-03-30 01:29] #574 closed

[2017-03-30 01:31] rnystrom commented on #94
B/c there are existing and examples, and we want to limit the scope of things we support within the repo directly, I'm going to close this out. Those examples are great, and I'm happy to promote and link to more as they come up. Just don't want to get our examples overly complicated for now.

[2017-03-30 01:31] #94 closed

[2017-03-30 01:32] rnystrom commented on #405
@bduyng we don't, but that would be awesome if someone wants to make one! We'd be happy to link to it from our guides.

Should talk with @ocrickard, he got it working internally 😉

[2017-03-30 01:33] rnystrom commented on #585
Hey @coreywiley! I assume it would work, but I haven't used that framework at all before. Would love to see someone take this up and try it!

[2017-03-30 01:38] rnystrom commented on #516
@LivioGama Instagram is almost entirely dynamic cell sizes, its just that we don't use any of the UIKit estimated cell sizing b/c of how buggy they can be (evidenced by this issue). Definitely want to find a good recommended way to do self-sizing cells, but it's really low priority for us since we don't use it and honestly don't really recommend it (perf, bugs, etc).

Also as @dhavalcue pointed ou

[2017-03-30 01:39] rnystrom commented on #242
@zhubofei We've got this built internally and just need to move it out. We'll release it once we get a chance 😅

[2017-03-30 01:45] rnystrom opened #595 "Improve ObjC demo"
The ObjC demo showcases a few patterns that I think we should remove to avoid confusion:

- Get rid of duplicate data items
  - This is causing section controllers to be reused, no good
- Put cells into one big section controller that each represents a "post"
  - We want to encourage dynamic, flexible section controllers, not one-cell-per

[2017-03-30 01:51] rnystrom commented on #483
@vldalx sorry for the huge delay. We've made a bunch of changes to how updates work and fixed a few bugs that are similar to this. Would you mind pointing to `master`, updating, and seeing if this issue still repros?

[2017-03-30 02:01] HarshilShah commented on #516
This is kinda a hacky approach, but my “solution” to this is to just handle supplementary views as regular cells instead.

My method:
- Tweak the sectionController/add a new one to handle headers/footers/etc.
- Set an `estimatedItemSize` for the collectionView’s layout
- Return a size with the required cell width and some random height value in `sizeForItem`
- Use the default `preferredLayoutAttri

[2017-03-30 02:27] ryancstack commented on #304
@cruisediary do you have an example project using CSStickyHeaderLayout in conjunction with IGListKit?

[2017-03-30 06:11] PhilCai1993 opened #596 "Any tips for section controller to know its "context""
Sometimes in a SectionController, I need to get the index or some other "contextual" information about the `object` that configs the section controller.

For example, in a list of restaurants, each restaurant is an object that configs a section controller, naming `RestaurantSectionController`. Then in the `-didSelectItemAtIndex:`, maybe I need to know what's the index of the `restaurant` in the li

[2017-03-30 08:33] LivioGama commented on #516
@rnystrom Hello thanks for your reply. I'm really happy about your recommendation, because I'm not stubborn to use absolutely estimatedCellSize. I just want something that work 100%. So in Instagram you do static function in each cells that calculate the height according to the text ? Something like this https://gist.github.com/gnou/52bd2f31e99c9311ffa0eb0183ac7cfd

[2017-03-30 14:47] OrCoolCousin opened #597 "ItemAtIndex methods always return index 0"
## New issue checklist

- [v] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [v] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.0.0
- iOS version(s): 10.2.1, 10.2
- Xcode version: 7

[2017-03-30 15:49] PhilCai1993 commented on #597
The `index` is the index of some item in **the** section controller.

I guess you need `[self.collectionContext sectionForSectionController:self]`

[2017-03-30 16:06] OrCoolCousin commented on #597
So how can I change a cell at a specific index when `didSelectItemAtIndex` is called and update the other cells? I want to compare the current index to the other cells indexes

[2017-03-30 21:02] rnystrom commented on #516
@LivioGama almost exactly that 😄

[2017-03-30 21:12] rnystrom commented on #596
@PhilCai1993 the goal is for section controllers not to have much knowledge about "global" scope. The most we really give in that sense is the `-[IGListCollectionContext sectionForSectionController:]` and `-[IGListSectionController isLastSection/isFirstSection]` APIs. That's all very much by design since we don't want to encourage "reaching over" to mess w/ other data or section controllers. If yo

[2017-03-31 02:43] PhilCai1993 commented on #596
😂 Why we are still using 2.1.0 today? Because IGListKit is updating so rapidly that I have to understand what are updated, to avoid misuse.

Humm, do you have slack or whatever for communication for IGListKit?

[2017-03-31 04:26] PhilCai1993 commented on #597
It depends on how you implement the section controller.

If the section controller has several cells, and what you want is to update some cell in the same section controller, just use `IGListCollectionContext` to do what you want.

But if you want to interact with some cell outside the section controller, maybe you have to notify your action outside the section controller

[2017-03-31 07:02] staticdreams opened #598 "Does IGListSectionController has an underlying view component?"
I'm trying to implement 2 section view controller (they are the same and inherit from the same model) and place multiple items (simple UICollectionView cells) inside each. I managed to do that, but my problem is styling...
Basically I'm trying to access each section to apply background color, rounded corners, add headers with titles and separate them a little etc..

It should look something like i

[2017-03-31 08:04] vldalx commented on #483
@rnystrom
I merged `master` to my branch and got an error.
`Value of type 'IGListCollectionContext' has no member 'insert'`
How can I insert a cell in a section?

[2017-03-31 08:44] PhilCai1993 commented on #598
I made this using decoration view, with customized layout

[2017-03-31 08:51] staticdreams commented on #598
@PhilCai1993 thanks for your reply. Is there an example I can take a look at?

[2017-03-31 10:28] PhilCai1993 commented on #598
@staticdreams http://stackoverflow.com/questions/22955413/ios-separate-section-background-colors-on-uicollectionview

[2017-03-31 16:18] jessesquires commented on #483
@vldalx see the `CHANGELOG` 😄

https://github.com/Instagram/IGListKit/blob/master/CHANGELOG.md

[2017-03-31 18:20] jessesquires commented on #409
Taking another stab at this today.

[2017-03-31 18:42] nikitaame opened #601 "Replacement for reloadSectionController(_ sectionController: Any!)"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1

This function seems to have been taken out. Is the

[2017-03-31 18:58] jessesquires commented on #601
https://github.com/Instagram/IGListKit/blob/master/CHANGELOG.md

[2017-03-31 18:58] #601 closed

[2017-03-31 21:23] vcepeda858 opened #603 "SectionController Animation"
Is it possible to animate sectionControllers as they initially load in.  I've tried editing the frame of a section controller in `listAdapter(_: willDisplay: cell: at:) `with no luck.  Also looked into subclassing `IGListGridCollectionViewLayout` to override `initialLayoutAttributesForAppearingItem` yet that only gets called upon insert and not the initial load or `performUpdatesAnimated(_:complet

[2017-03-31 22:03] #572 closed

[2017-03-31 23:28] #409 closed

[2017-04-01 00:18] rnystrom commented on #603
@vcepeda858 I think the only way to do an initial load animation would be to start with an empty (`[]`) objects array for your data source and then call `adapter.performUpdate(animated: true)` on it.

[2017-04-01 00:19] rnystrom commented on #601
Still exists, just moved to a context object to enforce calling in an update block.

[2017-04-01 00:22] rnystrom commented on #596
We don't yet. Though the project is scaling up, I like keeping all comms here so we can centralize/document everything. Might be nice as a way to discuss stuff like dates, urgent issues, etc.

[2017-04-01 01:35] vcepeda858 commented on #603
@rnystrom Thank you, thats a route I was going to head next.  I was just hoping there was something out of the box from IGListKit.  Thanks again.

[2017-04-01 05:47] PhilCai1993 commented on #480
Close #397

[2017-04-01 05:47] #480 closed

[2017-04-01 10:45] PhilCai1993 opened #604 "Possible a mistake in IGListDisplayHandlerTests"
[Here](https://github.com/Instagram/IGListKit/blob/2284ce389708f62d99f48ff2ec15644f1ec59537/Tests/IGListDisplayHandlerTests.m#L218
) is where I find might be wrong.
[code]

Because I forked to our private repo, and replace `IGListAdapterDelegate` as follows:
[code]
Then a compile error occurs.

Should it be `[[self.mockAdapterDelegate reject] listAdapter:self.adapter willDisplayObject:self.object

[2017-04-01 10:57] PhilCai1993 commented on #604
#605

[2017-04-01 11:31] staticdreams commented on #598
@PhilCai1993 I'm not sure how to apply all of the this to list adapter.
I found a [great example of decoration views + header + footer ](https://github.com/SebastienMichoy/CollectionViewsDemo) in Swift which looks like this

![simulator_screen_shot_1_apr_2017__10_48_00](https://cloud.githubusercontent.com/assets/988705/24577200/a48d4402-16c9-11e7-8ece-1db29479520d.jpg)

Apart from the spacing and

[2017-04-01 15:42] staticdreams commented on #598
Anyway, after much research, trial and error I managed to do exactly what I wanted.
[This article](http://strawberrycode.com/blog/how-to-create-a-section-background-in-a-uicollectionview-in-ios-swift/) has been of huge help to me for those who are interested.

[2017-04-01 15:42] #598 closed

[2017-04-01 17:11] iostriz opened #606 "Updating a cell with less-important data"
This is a question about best practice on updating a cell on a less important data.
Let's pretend we have a quite heavy model: couple of images, some large data and so on, and one minor info counter, that counts something.
Simplified:
[code]
I want to update `msgCount` on some events (that happens on e.g. `didSelectItemAtIndex:` and/or some external notification). My instincts tell me that I shoul

[2017-04-01 17:46] jessesquires commented on #604
looks like a bug to me 👍

[2017-04-01 17:51] #603 closed

[2017-04-01 22:18] rnystrom commented on #606
Not a dumb question! This gets into some fun architecture stuff. I could geek out on this stuff all day 🤓

In this case, I would create an object who's responsibility is announcing certain changes, hand that object to each section controller that cares (via init, aka dependency injection), and add the section controller as a listener for changes.

Whether you do this via `NSNotificationCenter`, KV

[2017-04-02 07:19] OrCoolCousin commented on #597
@PhilCai1993 I am trying to interact with cells inside my section controller. But when I reload a section at a specific index the index is always 0.
When a cell is selected I am reloading it with a new cell. If another cell is selected I want to reload it as well and return the previous cell to the original state, but I can't access the previous cell by passing the index. Is there a way to reload

[2017-04-02 09:20] OrCoolCousin commented on #597
@PhilCai1993 also, I am notifying my view controller that the cell is selected and passing the index like this : `let section: NSInteger = (self.collectionContext?.sectionForSectionController(self))!`
and then `NSNotificationCenter.defaultCenter().postNotificationName("updateList", object: section)`
But I can't figure out how to update the specific cell from my view controller.

[2017-04-02 22:37] iostriz commented on #606
Yeah, thx. I'll do as you've suggested. I'll inject counter watcher and (in this case) observe property change.
Btw. I'm getting collection view "Inconsistency exception" (with the latest HEAD e9e09d), that I did not experience before... Still investigating, but have to ask if it is maybe experienced on your side too? If (when) I get more info, I'll get back... Closing till then.

[2017-04-02 23:23] amonshiz opened #609 "RFC: Add section property to IGListSectionController"
`IGListKit` should remove the `-[IGListCollectionContext sectionForSectionController:]` method from `IGListCollectionContext` and replace it with a `section` property on `IGListSectionController`.

### Reasons
- `sectionForSectionController:` has nothing to do with the collection displaying the section/list. This method alone requires that the `IGListAdapter` be the `collectionContext` object.
- A

[2017-04-03 01:07] jessesquires commented on #609
Makes sense to me.

Yep. This is what we already do for `.isFirstSection` and `.isLastSection`

[2017-04-03 01:09] jessesquires commented on #609
Let's do this in 3.0

[2017-04-03 03:00] rnystrom commented on #609
On board w/ this, ++ 3.0

[2017-04-03 03:00] #604 closed

[2017-04-03 03:03] rnystrom commented on #606
@iostriz Hmm haven't seen anything like that on our end. If you continue to hit it would you mind opening a new issue and maybe a sample project so we can track?

[2017-04-03 03:08] rnystrom opened #610 "Migrate to XCTWaiter for async tests?"
Idea from #608

https://developer.apple.com/reference/xctest/xctwaiter
https://developer.apple.com/reference/xctest/xctwaiterdelegate

What do these do? Are they better? Worse? Internal and Travis CI both support 10.3, so we can start using these, just no idea what they do.

[2017-04-03 03:14] rnystrom opened #611 "Could IGListBindingSectionControllerDataSource also use a covariant?"
Now that `IGListBindingSectionController` has covariant types, could the data source also use it so that we get types for its object params?

Also change `MonthSectionController` to use `Month`, would be cleaner.

Follow up from #608

[2017-04-03 07:57] vldalx commented on #483
@rnystrom @jessesquires

I've replaced the line
`controller.collectionContext!.insert(in: controller, at: IndexSet(integer: 0))`
with
`controller.collectionContext!.performBatch(
                animated: true,
                updates:
                {   batchContext in
                    batchContext.insert(in: controller, at: IndexSet(integer: 0))
                },
                completion:

[2017-04-03 14:22] sleepyUdon opened #613 "Grid layout for IGListSectionController with multiple cells"
## New issue checklist

- [v] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [v] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.0.0
- iOS version(s): 10.2.1
- Xcode version: 8.2.1
-

[2017-04-03 15:21] rnystrom commented on #613
Hey @sleepyUdon! This should _totally_ be doable. If you return the container width for each cell, then everything should stack on top of each other. Take a look at how I do this in my [weather app](https://github.com/rnystrom/SimpleWeather/blob/master/SimpleWeather/Classes/SectionControllers/ConditionsSectionController.swift#L38). Also our [working range demo](https://github.com/Instagram/IGListK

[2017-04-03 15:38] racer1988 opened #614 "IGListAdapter malloc: pointer being freed was not allocated"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): 10.3
- CocoaPods/Carthage versi

[2017-04-03 16:13] rnystrom commented on #614
Hmmmm this is really bizarre. What is doing the deallocation? Do you have a stack and/or know what is trying to be deallocated?

FWIW I haven't ever seen this before.

[2017-04-03 16:14] rnystrom commented on #483
Boo, ok. I will take a look at this on the plane today.

[2017-04-03 18:08] jessesquires commented on #610
lol

[2017-04-03 19:41] sleepyUdon commented on #613
Thanks Ryan,

I changed the width of the item in WorkingRangeSectionController to see if I can have 3 items per row instead of stacked together:
[code]
I am having the same problem as the items do not stay grouped:
![img_0048](https://cloud.githubusercontent.com/assets/18637330/24627542/3ba92bd4-1883-11e7-8f28-4d2fc22e3b72.PNG)

[2017-04-03 20:03] Adlai-Holler commented on #611
@rnystrom Unfortunately Objective-C doesn't support generics on protocols.

[2017-04-03 21:49] rnystrom commented on #611
Bummer

[2017-04-03 21:49] #611 closed

[2017-04-03 21:49] rnystrom commented on #613
@sleepyUdon oh maybe I'm misunderstanding the problem. Can you explain what you mean a little more about how they should "stay grouped"? Some questions:

- Which collection view layout are you using?
- Do you have a quick mockup of what you're trying to achieve?
- Which part of the example in `GridSectionController` doesn't work as desired?
  - The grid items are all individual cells, they aren't

[2017-04-03 22:57] rnystrom commented on #483
Aha, found it! We use an `NSSet` to collect item inserts and delete `NSIndexPath`s. However since we coalesce updates its possible to insert into the same index twice (your example was very helpful!). Fix incoming.

[2017-04-04 02:14] sleepyUdon commented on #613
Hi @rnystrom,

Thanks for the quick response. What I am trying to achieve is a collection view like this:
<img width="542" alt="collectionview" src="https://cloud.githubusercontent.com/assets/18637330/24638775/3c994976-18b9-11e7-9ecc-c40c422c2dd9.png">

In this instance, I would like to structure each "card" as a section controller made of a collectionviewCell for the picture and another collectio

[2017-04-04 05:05] heumn commented on #614
Not observed on our project either. We use IGListKit in multiple different setups and configurations and we have never seen this (sorry this is not very helpful)

[2017-04-04 16:01] racer1988 commented on #614
I will try to see if I can extract part of the code, and a stacktrace.

But the idea is that:
- I do a network refresh
- the data is saved in coredata
- this triggers a performUpdates
- All ViewModel objects used by IGListKit are regenerated.
- Malloc crash

This happens with one of the example projects:
https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/Sec

[2017-04-04 16:05] rnystrom opened #618 "Scope example variables (fileprivate, etc)"
In an effort to promote architecture and design best-practices, we should recommend people scope their variables appropriately.

e.g. [this variable](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/LabelSectionController.swift#L20)

Should do for all

- Section controllers
- Cells
- View controllers
- Models

Followup from #612

[2017-04-04 16:08] rnystrom commented on #614
@racer1988 How do you make the nested demo crash w/ this?

Also can you try pointing to `master` and see if the issue repros still?

[2017-04-04 19:00] iostriz commented on #606
Hmmm... Now I have a concrete question that goes with the title. So, instead of opening a new issue, I'm reopening this one.
Is it possible to modify the cell appearance (sectionController) from other places but `- (UICollectionViewCell *)cellForItemAtIndex:(NSInteger)index`?

For example, this works:
[code]

but this I can't get to work:

[code]

Is this intentional?

[2017-04-04 20:45] kleiberjp opened #619 "IGListKit with Rx"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): 10.3
- CocoaPods/Carthage versi

[2017-04-04 21:07] jorgelp94 opened #620 "Swipe IGListKit collection cell"
Is there a way to swipe to delete a cell just like in a UITableView?

[2017-04-04 21:56] Adlai-Holler opened #621 "IGListKitBindingSectionController Should Support Section Reloads"
There are legit reasons to reload an entire section, rather than just modifying the items in a section – for instance, triggering the supplementary elements in the section to get updated.

Right now `IGListBindingSectionController` will throw an exception if its section object is updated. Is there some alternative such as:

- Adding a class property to IGListBindingSectionController like `allowsOb

[2017-04-04 21:59] Adlai-Holler opened #622 "Should IGListSectionController Be Generic on Object Type?"
I added the generic to IGListBindingSectionController because it's the only section controller that currently exposes its object type publicly. But the more I think about it, the more I think we should elevate that generic up to IGListSectionController itself – even if the API doesn't currently expose that Object Type through any of its API, it's true that most section controllers expect an object

[2017-04-05 03:15] jiecongwang opened #623 "How to add a section header view to IGListStackedSectionController ? Is there an example?"
- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.0.0
- iOS version(s):9.0+
- CocoaPods/Carthage version:
- Xcode version:8.0+

[2017-04-05 03:19] #623 closed

[2017-04-05 05:30] Megaman63 opened #624 "Using IGListKit with Realm"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.0.0
- iOS version(s): 10
- Xcode version: 8
- Reprodu

[2017-04-05 09:23] racer1988 commented on #614
I did not make the Demo Crash, but my code crashes only in that type of nested collection views.

I am redoing some work on my project and integrate things little by little to see if I find the culprits and I can isolate the issue in a demo project

[2017-04-05 20:29] jessesquires commented on #622
cc @rnystrom

[2017-04-05 20:31] jessesquires commented on #620
Thanks @jorgelp94 !

We don't provide this and it's out-of-scope for what IGListKit provides. This functionality would be better in its own library.

[2017-04-05 20:31] #620 closed

[2017-04-06 04:11] robertjpayne commented on #624
@Megaman63 this is probably more a Realm issue than IGListKit, that flag is a realm specific flag about deleted objects if I'm not mistaken?

I'm not really sure there is any better way than manually checking it as you are.

[2017-04-06 08:41] Megaman63 commented on #624
@robertjpayne manually checking do not work. If object has been deleted from Realm, IGListKit may hold link to this object and use it to implement diffable algorithm and app will be crashed. I think, best way to solve this problems - copy realm object and use it, but i am not sure :)

[2017-04-06 17:55] MarvinNazari commented on #624
@Megaman63 you can just try something like this

[code]

[2017-04-07 18:33] #595 closed

[2017-04-07 22:23] #542 closed

[2017-04-08 11:53] maxim04 opened #629 "Visible sectionController's layout not updated after performUpdates()"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: Master
- iOS version(s): 10
- CocoaPods/Carthage versio

[2017-04-08 22:59] runmad opened #630 "Unable to run pod install for iOS example project"
Running `pod install` in `/Examples-IOS/` or `pod_setup.sh` fails to install the pods:

[code]

## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### Gen

[2017-04-09 07:10] otymartin opened #632 "Diffing magic not working, Perform Updates reloads everything"
@rnystrom

Not sure what I'm doing wrong but I'm not seeing much diffing magic yet😓

![giphy](https://cloud.githubusercontent.com/assets/2222881/24835490/ac7e31a4-1cd1-11e7-9d80-1abc98526a95.gif)

**I have an immutable data model**
[code]

**My datamodel conforms to IGListDiffable protocol**
[code]

**So do the "Persons" in my "people" array**
[code]

**I query for "New People" from the database a

[2017-04-10 07:02] namsoila commented on #630
Same issue.

[2017-04-10 08:04] chapayGhub opened #633 "When you publish new release?"
## New issue checklist

Hey guys

Perfect job!
I found a small problem for me
I started using library in my project and can't use code from your examples. Examples uses library with new changes and they are not compatible with current library version.

Could you please make some notes in readme to save time for other developers?

As example I can't use *HorizontalSectionController* + *EmbeddedColl

[2017-04-10 10:04] Sherlouk commented on #633
I recall Jesse & Ryan saying a new version would be "soon", but I can't expand on that.

In the time being, as per the instructions on [the installation guide](https://github.com/Instagram/IGListKit/blob/master/Guides/Installation.md) you can install the `master` branch as a pod using the following in your `Podfile` which will give you access to all the recent changes! (It's used at Instagram, so

[2017-04-10 10:15] Sherlouk commented on #632
If you could provide an example project it might be easier to diagnose the issue.

From my understanding though, each cell is represented by a `Person`. On pull to refresh you're adding three more `Person` to the single `PersonSection` that you have. By virtue of doing that it's now deemed a different object by `isEqual(toDiffableObject)` and therefore refreshes the entire view.

Your layout choic

[2017-04-10 14:34] otymartin commented on #632
@Sherlouk I had a hunch that may be the issue. totally makes sense.
@zhubofei I previously tried to use your IGListGridCollectionViewLayout but could never get a perfect grid out of it. Any developments since?

[2017-04-10 14:34] ludoded commented on #630
@runmad
there's is a missing coma after

So open `IGListKitExamples.xcodeproj` via any text editor and add missing coma (line 829) and save it.
Try again and it should work

[2017-04-10 14:40] runmad commented on #630
I know, I've opened a PR.

[2017-04-10 14:53] Sherlouk commented on #632
@otymartin In the past I've used this library: https://github.com/rhodgkins/RDHCollectionViewGridLayout. Not been updated in a while but may be worth having a look!

[2017-04-10 15:54] jessesquires commented on #633
Thanks @Sherlouk ! 💯

@chapayGhub As @Sherlouk notes, `master` is stable so feel free to upgrade -- although a few more breaking changes are coming.

Alternatively, you can download the 2.1.0 release directly and run the examples there:
https://github.com/Instagram/IGListKit/releases/tag/2.1.0

[2017-04-10 15:54] #633 closed

[2017-04-10 16:34] #630 closed

[2017-04-10 19:16] amonshiz commented on #609
Will do. Finally back from a pretty crazy week. Gonna start this week and should have PR pretty quickly.

[2017-04-10 20:20] Ricardo1980 commented on #143
@rnystrom Can you check your last examples? Links are broken.
Thanks a lot.

[2017-04-10 22:19] Ricardo1980 opened #635 "Cannot compile sample app"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: Last version, master.
- iOS version(s): iOS 10
- CocoaP

[2017-04-10 22:20] Ricardo1980 commented on #516
@rnystrom Is there any sample code where I could see this library and calculating the height manually?

@LivioGama Do you have a sample project with your code? Thanks a lot.

BTW, I tried to open the sample code, but it does not compile. I opened a bug here:
https://github.com/Instagram/IGListKit/issues/635

[2017-04-10 22:27] dhavalcue commented on #516
@Ricardo1980: Did you see my comment here: https://github.com/Instagram/IGListKit/issues/516#issuecomment-290156370

[2017-04-10 23:11] heshamsalman commented on #618
Functions as well?

[2017-04-11 00:04] otymartin commented on #632
@Sherlouk

I finally managed to achieve the behaviour I wanted thanks to your analysis.

![giphy](https://cloud.githubusercontent.com/assets/2222881/24886886/eda34e8a-1e25-11e7-8ec9-8e768f1f16b6.gif)

**My dataModel is no longer immutable**
[code]

**I now append new results to my exists "People" array**
[code]

**In my list adapter**
[code]

**For my collectionViewLayout I use IGListCollectionVie

[2017-04-11 00:06] otymartin commented on #613
@sleepyUdon  I managed to create a grid finally. Perhaps my issue #632 can help you out?

[2017-04-11 02:40] Adlai-Holler commented on #622
Ah if only this were doable. Maybe in Swift 6.0.1 😛

[2017-04-11 02:40] #622 closed

[2017-04-11 09:05] chapayGhub commented on #633
Thanks guys!

[2017-04-11 09:26] Ricardo1980 commented on #516
@dhavalcue I tried that (without the caching). I mean, I tried to get the cell inside sizeForItem calling cellForItem and them apply  something like:

        let cell = self.cellForItem(at: index)
        cell.contentView.setNeedsLayout()
        cell.contentView.layoutIfNeeded()
        let maxSize = CGSize(width: context.containerSize.width, height: 9999999)
        let properSize = cell.conten

[2017-04-11 18:48] Sherlouk commented on #632
Would it be possible to upload an example project to GitHub and I'll have a more detailed look. With the code posted I can't see how you're doing the pull-to-refresh behaviour!

[2017-04-11 19:23] otymartin commented on #632
@Sherlouk
Hey, my problem is fixed now. unfortunately I can't upload an example project but for the pull-to-refresh behaviour I followed the "Load More" example.

Its literally the same code except, I return a random number of activity cells  based on how many "Person" cells there are on the last row. I then interpolate the activity cell's contentView background color randomColor to anotherRandom

[2017-04-11 20:16] ryancstack commented on #629
`adapter.performUpdates()` looks at the the `diffIdentifier` and the `isEqualTo:diffableObject` methods to identify if a section controller needs reloading. You can include your transform in the `isEqualTo:diffableObject` method to determine if the view model has changed.

[2017-04-11 20:46] #618 closed

[2017-04-11 21:02] heshamsalman commented on #635
Doesn't seem to be an issue in the latest master. The first issue was fixed in #636, and merged in #637.

Can't reproduce the error on the second issue.

[2017-04-11 21:55] HumidBrains commented on #635
Got exactly the same bug as @Ricardo1980

[2017-04-11 22:02] #483 closed

[2017-04-11 22:32] jessesquires commented on #635
yep, looks like this should be ok now

[2017-04-11 22:32] #635 closed

[2017-04-11 22:32] jessesquires commented on #624
going to close this, but feel free to continue the discussion 😄

[2017-04-11 22:32] #624 closed

[2017-04-11 22:34] jessesquires commented on #619
We're definitely open to PRs or will gladly link to a project from our README and other docs.

Core contributors don't have time for this right now. Going to close.

[2017-04-11 22:34] #619 closed

[2017-04-11 22:35] jessesquires commented on #614
going to close this for now, we can re-open if we determine this is an issue with the library

[2017-04-11 22:35] #614 closed

[2017-04-11 22:35] #571 closed

[2017-04-11 22:36] #552 closed

[2017-04-11 22:37] jessesquires commented on #521
closing due to inactivity and lack of information to repro

[2017-04-11 22:37] #521 closed

[2017-04-11 22:39] jessesquires commented on #519
Seems like this is resolved??

closing due to inactivity

[2017-04-11 22:39] #519 closed

[2017-04-11 22:39] #518 closed

[2017-04-11 22:42] jessesquires commented on #606
@iostriz if you're still seeing this, let's open a new issue

`cellForItemAtIndex:` is the correct place to configure cells

[2017-04-11 22:42] #606 closed

[2017-04-11 22:43] #613 closed

[2017-04-11 22:43] jessesquires commented on #613
Thanks @sleepyUdon -- looks like #632 might help. If not, let us know 😄

[2017-04-11 22:43] #597 closed

[2017-04-12 07:33] Sherlouk commented on #632
@otymartin Closing the issue since it's fixed, if you have any more questions then feel free to reopen or submit a new issue!

[2017-04-12 07:33] #632 closed

[2017-04-12 10:01] iostriz commented on #606
Thanks Jesse.

[2017-04-12 17:26] Adlai-Holler commented on #584
I also would avoid implementing this. UICollectionView and UITableView have subtle differences of behavior that will lead to a _ton_ more branching code than you might expect on the surface.

Most modern apps only have a couple of table views these days, and it's not too hard to implement diffing or a section controller architecture without IGListKit managing the updates etc.

[2017-04-12 20:09] ianterrell commented on #534
Thank you for the quick reply — I did not notice the subspec option originally. We are currently moving from CocoaPods to Carthage for most of our projects.

[2017-04-12 22:33] jessesquires commented on #584
Science: https://twitter.com/jesse_squires/status/852288149162086400

[2017-04-12 23:16] #567 closed

[2017-04-12 23:24] vincent-peng commented on #584
I agree with @robertjpayne , may best to til WWDC and see what will be happening.

[2017-04-12 23:43] kleiberjp opened #641 "Lossing reference to collection view at moment perfomrUpdate data"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: master branch
- iOS version(s): 10.3
- CocoaPods/Cartha

[2017-04-13 00:20] ay8s commented on #584
I would also wait till after WWDC. We're actually making use of ASCollectionNode for our "tables" now without any additional logic needed and plan to use that throughout the app.

[2017-04-13 03:18] heshamsalman commented on #394
@jessesquires taking this on re: SwiftLint.
I'm assuming y'all also want the script running in the example build phases? I have a `swiftlint.yml` that I pop into all of my projects -- should i start there, or with the default ruleset:  https://gist.github.com/heshamsalman/0910500186d4372f0c0d52ac73ea2110

[2017-04-13 04:15] jessesquires commented on #394
thanks @heshamsalman !

let's start with the default rules 😄

[2017-04-13 10:51] Eke commented on #35
Hello @danielgalasko ! How do you use `Diffable` objects in `public func objects(for listAdapter: IGListAdapter) -> [IGListDiffable]` ?

[2017-04-13 13:44] heshamsalman commented on #394
Heads up, there's gonna be a clean-up task immediately after this for the examples. Staring down the barrel of 228 warnings with default rules.

[2017-04-13 14:12] jessesquires commented on #394
@heshamsalman - No worries. Let's do it in 1 PR with individual commits for each step so we can review it easier. 1 commit for swiftLint, 1 commit to fixup each example

[2017-04-14 01:12] jessesquires commented on #584
The science is in.

[2017-04-14 03:18] PhilCai1993 opened #643 ""visible" section controllers"
`- (NSArray<IGListSectionController<IGListSectionType> *> *)visibleSectionControllers;` in IGListAdapter is not **all visible section controllers** sometimes.

For example, in a list, there is a section controller, with **zero** cell, but there's a header, footer or other supplementary view. So the section controller is still "visible".

[2017-04-14 08:39] danielgalasko commented on #35
@Eke you will see I created `DiffableBox` that takes a `Diffable` object and transforms it into `IGListDiffable`.

[code]

Kinda like that :)

[2017-04-14 12:55] amonshiz commented on #584
Clearly all those "don't use" are just future users who gave up when it didn't support table view. ;)

[2017-04-14 17:33] jessesquires commented on #584
Ok, looks like there's enough interest and some good reasons to do this. Here's my suggestion for implementing this and rolling it out:

Implementation/release plan:

- Release with 4.0 (potentially as *the only* major work for 4.0). Created the milestone for this.
- We'll do all work on a dedicated branch from master, `release-4.0-tableview-support`, except for foundational refactoring work
- If

[2017-04-15 03:24] amonshiz commented on #584
That sounds great! I can put together an issue with the pieces of work as I see them and we can discuss what constitutes deck chair vs 4.0 release. Or is there a better way to document and discuss the breakdown of work?

[2017-04-15 09:57] yusuftor opened #644 "The position of the scroll indicator when prepending data"
I have a view that is like the comments system in instagram, where the newest data appears at the bottom of the collection view. As I scroll up, I get the next page of data and call performUpdates() to prepend the new data to my existing data. However, when the collection view adds on this extra data, the scroll indicator is still right at the top of the collection view instead of at the bottom of

[2017-04-15 17:34] yuzushioh commented on #619
@kleiberjp I created [sample project](https://github.com/yuzushioh/RxIGListKit) that uses IGListKit with RxSwift for fun! Hope it helps.  Sorry for commenting closed issue

[2017-04-16 02:38] rhashiyada commented on #329
@Nonepse Hey, your feed View Controller looks really good! I was wondering if you can give me some tips to make a feed like yours. Like what backend server did you use and how did you use IGLIstKit to make the View Controller like yours. I would really appreciate it if you can give me some advice to make my feed look like that. Thank you so much!

[2017-04-16 02:43] rnystrom commented on #168
Ok I think I'm finally on board w/ this. @ryanolsonk mentioned something today that got me thinking, we could use ObjC generics and get a lot of stuff for free:

- Automatically store objects on section controllers, casted to the right type
- Sensible defaults
- Require super calls on stuff

I put together a quick demo simulating our IGListSectionController setup:

[code]

Then let's create anothe

[2017-04-16 15:33] rnystrom commented on #621
I'm on board w/ this.

The reason the assert exists is so that we don't do item diffs _and_ reload the entire section. Basically, why use the binding SC if you want to reload the whole thing?

But I see what you mean, there are other uses. We could do something like

[code]

@Adlai-Holler want to take this on?

[2017-04-16 15:37] rnystrom commented on #143
Updated, thanks @Ricardo1980!

[2017-04-16 15:40] rnystrom commented on #633
@chapayGhub and I've got a 2.1 -> 3.0 migration guide drafted right now! Trying to batch as many breaking changes into one major release so we don't cause too much churn on everyone.

[2017-04-16 15:42] rnystrom commented on #629
@maxim04 to apply transforms to the cells, you might want to use `IGListDisplayDelegate` and apply your transform in `willDisplay` [like this](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/DisplaySectionController.swift#L47-L50).

It also might be more technically correct to do this sort of stuff in a `UICollectionViewLayout`.

[2017-04-16 15:44] rnystrom commented on #624
Calling on @TimOliver 😄

[2017-04-16 15:48] rnystrom commented on #641
Hey @kleiberjp I'm a little confused, how do you know the ref to the collection view is lost? Like your collection view was released?

The error message looks like you're not using one of the `dequeueCell` APIs.

Is there an example app reproducing this that we can look at?

[2017-04-16 15:48] rnystrom opened #645 ""More info needed"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2017-04-16 15:49] rnystrom opened #646 ""More info needed" label"
Would this be useful? Thinking about categorizing issues that we can't action until there is more info (example code/project, etc).

[2017-04-16 15:51] rnystrom commented on #394
@jessesquires @heshamsalman is there an "ObjC lint"? This is so cool.

[2017-04-16 15:55] rnystrom commented on #643
Ah ya, we're only using `-[UICollectionView visibleCells]` atm, but absolutely not perfect. Tracking visible supplementary views is much more complicated b/c

- `visibleSupplementaryViewsOfKind:` is iOS 9+
- Requires knowing element kinds ahead of time

Maybe instead we should query `-[UICollectionViewLayout layoutAttributesForElementsInRect:]` w/ `collectionView.bounds` and just nab `-[UICollecti

[2017-04-16 15:56] rnystrom commented on #645
oops

[2017-04-16 15:56] #645 closed

[2017-04-16 15:59] rnystrom commented on #644
Tracking this in #242 right now. We do this in Instagram in a few places and are planning on open sourcing how we do it, just lower priority atm. If you want to get it working ASAP:

- Get the topmost visible cell's frame using the `UICollectionViewLayout`
- `performUpdates(animated: false)`
- In the completion block, find the same cell's frame via `UICollectionViewLayout`
- Calculate the delta be

[2017-04-16 15:59] #644 closed

[2017-04-16 16:13] heshamsalman commented on #394
@rnystrom there are a few different objective c linters around -- I know of OCLint but haven't used it.

I'll look into it and report back

[2017-04-16 16:53] Sherlouk commented on #646
👍 from me!

Maybe also a "Awaiting Response" or similar for those long standing issues waiting on responses from the poster?

[2017-04-16 19:07] jessesquires commented on #646
+1

[2017-04-16 19:09] jessesquires commented on #624
Tom Oliver to the rescue 😉

[2017-04-16 19:10] yusuftor commented on #644
Oh yes!! Thank you :)

[2017-04-16 19:14] jessesquires commented on #168
@rnystrom I'm down. This sounds awesome to me.

I say we should put this in 3.0 — we have a ton of breaking changes already, especially #593 — we might as well "re-arrange all the deck chairs" in a single release 😊

However, I think we should try to hard to push out multiple 3.x releases and hold off on 4.0 (more breaking changes) for awhile, if possible.

[2017-04-16 19:16] jessesquires commented on #619
Thanks @yuzushioh ! 🥇

Would you might opening a PR and adding your project to this guide:
https://github.com/Instagram/IGListKit/blob/master/Guides/Best%20Practices%20and%20FAQ.md#does-iglistkit-work-with

under the "Does IGListKit work with..." section ?

[2017-04-16 19:16] orta commented on #394
Not strictly a linter, but we use Space commander by square for the syntax parts of it

[2017-04-16 19:16] jessesquires commented on #584
@amonshiz - sounds good to me! 👍

[2017-04-17 00:51] #646 closed

[2017-04-17 00:52] rnystrom commented on #168
Alright, I'm going to PR this tomorrow

[2017-04-17 01:23] amonshiz commented on #168
Probably make everything easier.

[2017-04-17 01:39] TimOliver commented on #624
ROFL!! Gee whiz, thanks guys. 🤣

Umm, I believe @bigfish24 said he had a play with integrating Realm and IGListKit together and came up against a similar problem. The diffing algorithm doesn't seem to play nice with these ostensibly read-only Realm objects that won't be `nil`'d out, but can be invalidated if the underlying data is deleted.

I think @MarvinNazari' solution is the best for the time

[2017-04-17 10:58] PhilCai1993 commented on #614
![image](https://cloud.githubusercontent.com/assets/6828315/25087196/beee29f0-239f-11e7-8812-8216e6aa6e47.png)

Crash on testing, occasionally. This time it's in `test_whenDidUpdateAsyncReloads_withBatchUpdatesInProgress_thatReloadIsExecuted`

[2017-04-17 11:19] Megaman63 commented on #624
The best way to solve the problem that i discovered is completely copy object and use it in
`func objects(for listAdapter: IGListAdapter) -> [IGListDiffable] {
        var list : [IGListDiffable] = []
        if let posts = posts, !posts.isInvalidated {
            for post in posts {
                if !post.isInvalidated {
                    list.append(post.copiedPost)
                }

[2017-04-17 11:20] Sherlouk commented on #394
Do we know if there's a way to have Travis and Danger as separate integrations on GitHub?

Would be nice to know if a build failed because of tests/etc vs Danger without having to go through the build log!

[2017-04-17 13:24] shuhrat10 opened #650 "3.0.0 Release"
Hi @rnystrom @jessesquires,

When are planing to release new 3.0.0 version? I know master is stable but will be great if we can release new version more often.

Thank you!

[2017-04-17 13:50] Sherlouk commented on #650
Whilst I understand it's not helpful the only answer that's been given so far is "soon".

I understand Ryan and Jesse are finalising work and writing up the migration guides and other documentation and talks have already begun about the next major version.

Source:
- https://github.com/Instagram/IGListKit/issues/596#issuecomment-290546330
- https://github.com/Instagram/IGListKit/issues/633

Again

[2017-04-17 13:59] rnystrom commented on #650
Very hard at work on it! Like @Sherlouk mentioned if you need features today `master` is totally fine (its what we use at Instagram).

3.0 has a lot of breaking changes in it so we're making sure to bundle as many big changes as possible to reduce churn on everyone.

[2017-04-17 13:59] #650 closed

[2017-04-17 14:05] Sherlouk commented on #643
@rnystrom Want to card that up separately? Seems like a nice starter task!

[2017-04-17 14:39] orta commented on #394
Get Danger to print your test results?

[2017-04-17 14:39] rnystrom opened #651 ""Delete twice" test flaky because of bug in UICollectionView"
Woot, we found another bug in `UICollectionView`! It looks like UICV has no problem handling multiple inserts at the same index path (e.g section = 0, item = 0) within the same batch update.

However if you try to delete from the same index path twice in a single batch update, things will _eventually_ break.

This bug was exposed when we landed a415ef5552cbfbf2d3884a705241973f4ea72dde #483.

Here'

[2017-04-17 14:40] orta commented on #394
Or use Circle CI for Danger

[2017-04-17 14:40] rnystrom commented on #651
cc @amonshiz @jessesquires this explains some of the test flakiness (t17306420)

[2017-04-17 14:45] jessesquires commented on #651
@rnystrom Nice find!

Somebody call Steve 😄

[2017-04-17 15:17] #596 closed

[2017-04-17 15:40] rnystrom opened #652 "IGListSectionMap needs +new marked unavailable"
Same thing we do to [init](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListSectionMap.h#L105-L108).

[2017-04-17 15:41] rnystrom opened #653 "IGListBatchUpdates needs header documentation"
Pretty [barren](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListBatchUpdates.h) right now. Even though this is an internal class, we should document what it is and how its used.

[2017-04-17 15:42] rnystrom opened #654 "IGListAdapterProxy needs init/new marked unavailable and designated initializer"
[IGListAdapterProxy](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListAdapterProxy.h) header is missing some of the annotations that we use elsewhere, gets this class consistent.

[2017-04-17 15:45] rnystrom opened #655 "Remove all @param alignment style in header docs"
Keeping param descriptions aligned (adding whitespace) is too difficult to maintain and we end up in weird states [like this](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.h#L89-L91) over time. We need to do a pass over all headers and clean this up.

[2017-04-17 16:09] rnystrom opened #656 "Fix Storyboard example app"
Getting a crash in the examples:

[code]

[2017-04-17 17:04] rnystrom opened #659 "Invalidate layout when collection view reused between IGListAdapters"
Discovered by @yifanpeng in a nested-section controller. Setting a new collection view wont necessarily invalidate the layout, even if the data is reloaded. Looks like this requires an `invalidateLayout` call.

[2017-04-17 17:52] jessesquires commented on #654
need:

- designated init
- `init` unavailable
- `new` unavailable

cc @Sherlouk who might want to do this 😄

[2017-04-17 17:53] jessesquires commented on #653
going to bump this out of 3.0 since it is internal-only

[2017-04-17 17:53] jessesquires commented on #652
cc @Sherlouk

[2017-04-17 18:02] #656 closed

[2017-04-17 18:30] modocache commented on #610
I don't think the new API will solve the problem you two mentioned in #608; the new API don't have anything to do with timeouts specifically. Maybe use a macro or configuration value that uses a short timeout locally, and a longer timeout on CI?

As for what the new API do, here's a write-up I posted in an internal Facebook-only group:

## 1. Enforce the order of expectations

You can call `-[XCTe

[2017-04-17 18:32] jessesquires commented on #610
@modocache 🙌 🙌 🙌 🙌 🙌

looks like (2) and (3) would allow us to rely *less* on OCMock

[2017-04-17 20:34] CurlyHeir opened #663 "Reloading data with other set of objects results in crash or weird behaviour"
## New issue checklist
- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information
- `IGListKit` version: 2.1
- iOS version(s): 9.3.5 / 10 +
- Xcode version: 8.3
-

[2017-04-17 22:01] #654 closed

[2017-04-17 22:02] #652 closed

[2017-04-17 23:02] jessesquires commented on #527
PR up

[2017-04-18 04:32] heshamsalman commented on #655
Might be a good opportunity to explore Orta's suggestion of including [SpaceCommander](https://github.com/square/spacecommander) to handle this for us in the future.

[2017-04-18 06:05] Sherlouk commented on #381
@heshamsalman Still intending on doing this one or would you like someone else to pick it up?

Don't mind having a look!

[2017-04-18 11:58] heshamsalman commented on #381
@sherlouk ah, this totally slipped through the cracks 😔

The night owl in me says to do it, but the realist in me is looking at the sprint I have ahead of me. If you wanna pick it up, go for it.

[2017-04-18 15:47] #527 closed

[2017-04-18 16:46] #655 closed

[2017-04-18 17:32] #629 closed

[2017-04-18 17:33] jessesquires commented on #641
Going to close this until we have more information 😄

[2017-04-18 17:33] #641 closed

[2017-04-18 17:37] jessesquires commented on #663
Thanks @CurlyHeir ! 😄

It's not really clear what's happening here. Can you provide more information?

Also, look the the example apps that we provide and try to see if you might be setting things up incorrectly.

[2017-04-18 17:37] #663 closed

[2017-04-18 20:37] jessesquires opened #668 "Fix broken builds on travis-ci"
Not sure what the deal is because travis is pretty much always broken af.

Looks like XCTestExpectations are timing out.

Maybe we increase the timeout?

[2017-04-18 20:47] Adlai-Holler commented on #609
How would this handle updating the index of all section controllers, if I inserted a section at index 0?

[2017-04-18 21:15] Sherlouk commented on #668
To be fair the tests weren't working when I ran them locally yesterday (same tests)

Not convinced it's 100% to the fault of Travis.

[2017-04-18 21:32] heshamsalman commented on #668
Same experience as @Sherlouk yesterday

[2017-04-18 21:38] jessesquires commented on #609
^^ I assumed that's always what this was about, just a convenience wrapper

[2017-04-18 21:39] jessesquires commented on #668
lol. classic.

see, this is what happens when CI is totally unreliable.

[2017-04-18 21:39] jessesquires commented on #668
also cc @rnystrom

we should probably at least increase those timeouts to like `20`

[2017-04-18 21:40] Sherlouk commented on #668
Is it worth giving something like Circle or Buddybuild a go? Had positive experiences with both of them in the past?

[2017-04-18 21:43] heshamsalman commented on #394
@rnystrom [Infer](http://fbinfer.com/) might be a good candidate here. Seems like someone (probably me) is gonna have to make a Danger plugin. 👍

[2017-04-18 21:46] heshamsalman commented on #668
@Sherlouk I've used both. My experience re: Travis v Circle is that Circle has about a third of the total time in CI and I found it to be more reliable. I hope y'all don't use the built in travis-cron feature, otherwise you're going to have to spin up a herokuapp that does it (it's what I did).

BuddyBuild vs Travis: Similar to Circle in that it's much faster, but packed with features that are rea

[2017-04-18 21:57] amonshiz commented on #609
The overall goal was to remove `sectionForSectionController:` from `IGListCollectionContext` in order to clean up the protocol to be only methods that go through to the backing list view. With that goal, the `sectionForSectionController:` method doesn't fit because it was going through to the `sectionMap` property of `IGListAdapter` which is not necessarily something that would be present on all `

[2017-04-18 21:58] jessesquires commented on #668
we need free for OSS

[2017-04-18 22:01] Sherlouk commented on #668
Circle & Buddybuild both have free packages for OSS projects

[2017-04-18 22:03] amonshiz commented on #609
In a similar fashion `isFirstSection` and `isLastSection` (https://github.com/Instagram/IGListKit/blob/c19379eeda6f254c0ba365dbe1110f4ffe37acf0/Source/IGListAdapter.m#L480-L481), but instead use the map to determine the section index right before calling `didUpdateToItem:` (https://github.com/Instagram/IGListKit/blob/c19379eeda6f254c0ba365dbe1110f4ffe37acf0/Source/IGListAdapter.m#L498-L500).

[2017-04-18 22:08] rnystrom opened #669 "Increase test timeouts"
Currently 15s, let's double it to 30s b/c Travis CI is slow af. From #668

[2017-04-18 22:08] rnystrom commented on #668
@jessesquires @Sherlouk there's a flaky test we have disabled internally that #657 fixes, but I don't think that has anything to do w/ the timeouts.

[2017-04-18 22:18] heshamsalman commented on #394
OCLint seems pretty similar to Swiftlint. Not quite as user friendly, but great overall.

[2017-04-18 22:30] Adlai-Holler commented on #609
But if the object wasn't updated, then we wouldn't tell the section controller.

[2017-04-18 22:31] Adlai-Holler commented on #609
You could set the section index right up there where you set `isFirstSection` by adding a counting variable for the for-loop.

[2017-04-18 22:41] Adlai-Holler opened #672 "Method to Get Old Index Path for New Index Path in Update"
In https://github.com/TextureGroup/Texture we're looking to support using NodeControllers for each item, and having the NodeController survive across object updates (`reloadItemsAtIndexPaths:`) just like IGListSectionControllers do.

Since IGListKit submits reloads as delete/insert pairs, I can't see any public way for us to find out whether, in a given batch update, an insert corresponds to a del

[2017-04-18 23:16] maxim04 commented on #629
@rnystrom tried to apply the transform in `listAdapter(_ listAdapter: IGListAdapter, willDisplay sectionController: IGListSectionController, cell: UICollectionViewCell, at index: Int)` and still the same thing happening, the transform is only applied when the cell comes from offscreen to onscreen, the already onscreen sections don't have the correct transform.
I'm using IGListKit in conjunction wi

[2017-04-19 01:19] jessesquires commented on #672
Is this the same as #546?

[2017-04-19 01:25] jessesquires commented on #668
@rnystrom hm, yeah i'm getting a ton of failures and bullshit locally

[2017-04-19 01:59] Adlai-Holler commented on #672
It's like that issue, except for reloads rather than moves.

[2017-04-19 02:06] rnystrom commented on #668
@jessesquires which tests? The one I know about is

[code]

[2017-04-19 02:11] rnystrom commented on #672
We could probably look into adding that after #657 lands. This is similar to #297 as well.

We can do this pretty easily w/out bothering to support `UICollectionViewLayout` (specifically `UICollectionUpdateActionReload`). We can add our new batch update reload pairs onto `IGListBatchUpdateData`.

@Adlai-Holler what sort of support are you thinking?

[2017-04-19 02:12] rnystrom commented on #629
Oh, I've actually never gotten the inverted transform to work with UICollectionView. I believe if you want that to work you'll have to do it all through the layout.

[2017-04-19 02:58] ryancstack commented on #629
In the `cellForItem:atIndex` method, add your transform: `cell.transform = cell.transform.scaledBy(x: 1, y: -1)`. I've also added my collection view as the "arbitrary scroll view managed by SlackTextViewController" in the `init(scrollView:)` initializer for the SlackTextViewController

[2017-04-19 08:11] maxim04 commented on #629
After a lot of trial and error i managed to get the inverted UICollectionView to work. The trick was to apply the transform to `cell.contentView` instead of the `cell`. Now the already on screen sections have the correct transform, as well as the offscreen ones.

[2017-04-19 09:58] CurlyHeir commented on #663
so i got an answer - i used estimated size for cells, it worked pretty well for items with multi-line labels, cells was displayed properly, but it crash on data reload/ updates.

Switching to manual cell sizing helped.

[2017-04-19 13:31] rnystrom opened #675 "Clean up documentation after IGListSectionType is removed"
Followup once #168 lands internally: do a pass through documentation and make sure nothing references `IGListSectionType`.

[2017-04-19 15:26] #168 closed

[2017-04-19 15:47] Econa77 commented on #663
I am having similar problems as well.
However, this problem does not occur with iOS 10 or higher.

[2017-04-19 17:24] jessesquires commented on #672
Currently seems additive, so marking this for 3.1

[2017-04-19 17:25] jessesquires commented on #668
@rnystrom -- that one yes, but also see a ton of weirdness and/or flakiness

[2017-04-19 18:54] hardikyagnik commented on #653
Hey! I am new here and want to contribute. Since this is starter-task and it is regarding documentation, should I work on it? It will help me understand code too.

[2017-04-19 19:01] rnystrom commented on #653
@hardikyagnik hell ya!! Docs are an **excellent** way to get started w/ contributing to a new project. We would absolutely love your help!

[2017-04-19 20:00] #669 closed

[2017-04-19 20:00] #659 closed

[2017-04-19 23:21] #675 closed

[2017-04-20 00:40] madmag77 opened #680 "Empty space in CollectionView during fast scrolling"
## New issue checklist
Bug with empty cells [Bug description on stackoverflow](http://stackoverflow.com/a/13389461/377384). In certain conditions (when section insets, lineSpacing and interItemSpacing are set) when one scrolls fast then blocks of cells are disappearing from _collectionView_.
I change Demo here: https://github.com/madmag77/IGListKit/tree/demo-with-emty-cells in order to reproduce t

[2017-04-20 08:25] BasThomas commented on #414
Which of the two options would you prefer and why?

[2017-04-20 14:50] rnystrom commented on #680
@madmag77 amazing! Will dig into this, thank you SO MUCH for providing an example!

[2017-04-20 14:50] rnystrom commented on #414
@BasThomas let's do the first! I agree, easier for everyone.

[2017-04-20 15:47] jessesquires commented on #414
@BasThomas if you want to / have time to do this within the next week or so, we can include in the 3.0 release 😄

[2017-04-20 19:28] #651 closed

[2017-04-20 20:40] rnystrom opened #682 "Assert generic type in IGListGenericSectionController"
https://github.com/apple/swift-evolution/blob/master/proposals/0057-importing-objc-generics.md#opting-in-to-type-argument-discovery

In our [new IGListGenericSectionController](https://github.com/Instagram/IGListKit/blob/master/Source/IGListGenericSectionController.h#L18-L28), you can define a section controller with a generic type which saves a little bit of setup:

[code]

While great, implement

[2017-04-20 21:01] rnystrom opened #683 "Disable iOS 9.3 tests?"
It looks like these are repeatedly flaky:

- https://travis-ci.org/Instagram/IGListKit/builds/223985890
- https://travis-ci.org/Instagram/IGListKit/builds/223775107

Should we kill that one @jessesquires?

[2017-04-20 21:36] #183 closed

[2017-04-21 02:37] icefox57 opened #685 "When i switch the tab more than one time , somehow cell 's contentView will change it's height"
When i switch the tab more than one time , somehow cell 's contentView will change it's height.
Also happen in device

I reload data at viewWillAppear, so every time  switch back will load same local json file and call
adapter.performUpdates(animated: true)

And i remove the cell initialize code to make sure it's maybe the problem from IGListKit
and change contentView color to Teal

so here is som

[2017-04-21 05:44] PhilCai1993 commented on #680
I dont know if it is correct. But after replacing `sizeForItem` in `DisplaySectionController.swift`. It does not happen again.

[code]

[2017-04-21 07:51] D-Link13 commented on #579
Same thing here.. If I am using Flow layout, insets works like a charm.. but when using Grid, settings the insets has no effect. Here is my code:
[code]

Help me please!

[2017-04-21 09:01] BasThomas commented on #414
So I was looking at this - do we want to deprecate and remove the option to provide a working range size completely? Or should we still provide the init for advanced usage?

[2017-04-21 09:10] icefox57 commented on #685
after i change object to NSNumber which is same value from my Card object.
and set it at sizeForItem

this problem happen rarely, but still will happen randomly
still have no idea why....

![image](https://cloud.githubusercontent.com/assets/1716737/25270836/90a01ed8-26b4-11e7-800c-b5371bdb4722.png)

[2017-04-21 12:16] rnystrom commented on #680
@PhilCai1993 ya the error happens randomly when an item on the same row is a lot smaller than the proceeding one. Check out [this explanation of the problem](https://github.com/Instagram/IGListKit/pull/674#issuecomment-295821009).

[2017-04-21 12:18] rnystrom commented on #579
@D-Link13 can you try using the master branch and our `IGListCollectionViewLayout` layout instead? We've deprecated the grid layout in favor of an upgraded one that better supports insets and inline sections/items.

[2017-04-21 12:22] rnystrom commented on #414
@BasThomas let's leave the current init as the designated initializer still, but provide an initializer that internally does `workingRangeSize: 0`.

Also would you mind double-checking what work [IGListWorkingRangeHandler](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L47) does when the size is 0? I think it basically no-ops, but we _might_ want to wrap [initializing th

[2017-04-21 12:40] BasThomas commented on #414
When we do a no-op (not initializing the `workingRangeHandler`), `test_whenDisplayingItemAtPath_withWorkingRangeSizeZero_thatItemEntersWorkingRange` and `test_whenDisplayingItemAtPath_withWorkingRangeSizeZero_thenHidingThatItem_thatItemLeavesWorkingRange` fail, as they seem to rely / test the rangeHandlers without them being present.

[2017-04-21 13:34] rnystrom commented on #414
Hmmm. We can followup w/ another issue on that. We might want to consider removing those tests and not using the working range when size = 0.

[2017-04-21 14:29] rnystrom commented on #685
@icefox57 do you have an example project reproducing this issue that we could take a look at? In the meantime, some questions:

- What `UICollectionViewLayout` are you using?
- What happens if you use `adapter.reloadData()` instead?

Also, you probably don't need to update in `viewWillAppear:`, instead just update when data actually changes.

[2017-04-21 15:39] #680 closed

[2017-04-21 20:37] jessesquires commented on #683
👍

[2017-04-21 21:30] #414 closed

[2017-04-21 21:54] darrarski commented on #242
@rnystrom any news about this feature? If open sourcing the solution is not on your priority list right now, could you just provide some hints so I can try to implement it on my own?

[2017-04-21 22:44] rnystrom commented on #242
@darrarski its on our radar for after 3.0 release. Here's a super short writeup on how to get it working tho:

https://github.com/Instagram/IGListKit/issues/644#issuecomment-294359113

[2017-04-22 18:29] rnystrom opened #689 "[AppleBug] Deleting the same index path twice crashes in batch updates"
We disabled [this test](https://github.com/Instagram/IGListKit/blob/master/Tests/IGListAdapterE2ETests.m#L1442-L1461) due to flakiness. It turns out that `UICollectionView` can't handle deleting from the same `NSIndexPath` twice in the same `performBatchUpdates:completion:` phase. (though it'll handle 2x inserts just fine...)

This really only manifests when a client deletes the head, e.g. {sectio

[2017-04-23 03:02] jessesquires commented on #689
should file a radar

[2017-04-23 14:30] rnystrom opened #690 "[AppleBug] UICollectionView reload displaced section crashes in batch update"
Summary:
When reloading a section that is displaced/shifted inside `-[UICollectionView performBatchUpdates:completion:]`, it is possible to hit an `NSInternalInconsistencyException` stating "attempt to perform an insert and a move to the same section (i)" when the sections used in `insertSections:`, `deleteSections:`, `reloadSections:` , and `moveSection:toSection:` do not intersect.

For instance

[2017-04-23 14:32] rnystrom commented on #690
Please dupe

https://openradar.appspot.com/radar?id=5037608161771520

[2017-04-23 14:36] rnystrom opened #691 "[AppleBug] UICollectionView batch update heap corruption"
Summary:
When performing a particular set of batch updates on a UICollectionView with a certain number of sections, it appears there is a heap corruption and crash in objc_release in -`[UICollectionViewUpdate _computeItemUpdates]`.

Steps to Reproduce:
1. Setup a UICollectionView with 8 sections, each with 3 items
2. Perform batch updates with:
  a. Insert item at section 1, item 0
  b. Insert sec

[2017-04-23 14:36] rnystrom commented on #691
Please dupe

https://openradar.appspot.com/radar?id=6070670354022400

[2017-04-23 14:37] rnystrom commented on #689
Going to punt this for next release, no reports about it and we don't run into this at all, more of a known bug that we might eventually find but is too rare to make hi pri.

[2017-04-23 20:57] amonshiz opened #692 "UITableView Support Checklist/Organization"
As [mentioned](https://github.com/Instagram/IGListKit/issues/584#issuecomment-294197821) by @jessesquires in Issue #584, there will need to be some separation of the work necessary to support `UITableView` and that which is just "rearranging the deck chairs".

Work that is necessary just for support:
- [x] Move `IGListAdapter`'s collection view data source and delegate implementations into categor

[2017-04-24 00:13] icefox57 commented on #685
UICollectionViewFlowLayout
adapter.reloadData()  is my first try ,  still will happen this problem, but a little less

And i will make a example project .

[2017-04-24 03:06] manonthemoon42 commented on #620
I'm not sure if that feature is really out of scope. I'm sure that it's a feature that any users would love to have. IGListKit allow to create a List. It could have that nice feature for deletions.

Actually, I saw that Instagram comment's list has this feature.
When we swipe a particular comment, we get the options to :
- reply our own comment
- delete it
See screenshot below :
![img_1759](https:

[2017-04-24 03:24] jorgelp94 commented on #620
@manonthemoon42 yeah I saw that too, that's why I thought IGListKit already had a swipe feature.

[2017-04-24 03:39] JHCoderLion opened #693 "厉害了我的哥,居然是组件化架构"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2017-04-24 05:47] #693 closed

[2017-04-24 13:42] rnystrom commented on #689
Area:
UIKit

Summary:
If the same NSIndexPath is included in the array provided to `-[UICollectionView deleteItemsAtIndexPaths:]` more than once, eventually there will be an EXC_BAD_ACCESS in `-[UICollectionViewData layoutAttributesForItemAtIndexPath:]`.

Say I have an `NSMutableArray` of data powering the data source of my `UICollectionView`, if I wanted to delete the head element twice, I might

[2017-04-24 13:47] rnystrom commented on #620
@manonthemoon42 @jorgelp94 yup all IGListKit. Comment used to be `UITableView` but even then we wrote our own swipe-actions b/c we wanted a "swipe all the way to delete" gesture as well.

I would absolutely love if someone wrote a section controller or `UICollectionViewCell` with this built-in. We'd be happy to link to it and recommend its usage. Not sure if we can commit to baking it into IGListK

[2017-04-24 14:16] rnystrom opened #694 "[RFC] Change IGListDiff result type to generic object with array of operations"
Had a shower-thought this morning: what if we change the result produced by `IGListDiff(...)` to be a generic result object with an array of operations (delete/insert/reload/move)?

### Why?

There are currently too many things doing essentially the same stuff:

- [IGListIndexSetResult](https://github.com/Instagram/IGListKit/blob/master/Source/Common/IGListIndexSetResult.h) and [IGListIndexPathRes

[2017-04-24 14:19] rnystrom opened #695 "Audit+optimize IGListDiffing(...) retain/release"
ARC obviously makes things safe, but it can tend to be overly protective of memory by retaining/releasing stuff that we know wont/can't be released. We should do our homework and find ways to `__unsafe_unretained`/etc our [diffing algorithm](https://github.com/Instagram/IGListKit/blob/master/Source/Common/IGListDiff.mm#L68).

Also would be interesting to use a benchmark test to see if there is a m

[2017-04-24 14:47] jessesquires commented on #695
I would only support this if there's a significant perf gain

[2017-04-24 18:57] MarvinNazari opened #696 "Duplicates with IGListBindingSectionController"
So first of all there is not much guide around the new fancy `IGListBindingSectionController`. I can make an PR as soon as understand it better hehe.
The calendar example is still a little bit *static*
(btw im using IGListKit with ASDK)

So basically i have 2 sections: the first one Im creating with x objects, and the second one have a pagination so im adding new objects to it.
so i replace the se

[2017-04-24 19:57] jessesquires commented on #696
Thanks @MarvinNazari !

Some questions:

What is this about: `class ExperienceSection: IGListDiffable`? It's diffable, but owns `DiffableBox` objects -- what are those?

Why does `isEqual` just return `true` ?

Is `.mode` unique?

[2017-04-24 20:06] MarvinNazari commented on #696
@jessesquires
The `mode` is unique.
The`DiffableBox` objects are the objects that i show inside the section controller.
`isEqual` is always returns true because my section is unique by `mode`, thats why Im sending it as the `diffIdentifier`
`Month` model in example project do the same if im not wrong?

[2017-04-24 20:23] rnystrom opened #697 "Create an IGListBindingSectionController guide"
Inspired from #696, there are some "tricks" to using it correctly. Should write up some documentation and diagrams to compliment the calendar example.

[2017-04-24 20:27] rnystrom opened #698 "Add debug dump support to IGListBindingSectionController"
Inspired by #696, printing the view models arrays would be really helpful when dumping debug logs.

[2017-04-24 20:29] rnystrom commented on #696
@MarvinNazari can you update master and do
[code]
and paste (or create a gist) of the results once you see duplicate? (see #617 for debug details)

Also printing the array of view models in the section controller w/ dupes.

When you do `oldItems + newItems`, are you removing the duplicates? Should you wrap the result in a `Set`?

[2017-04-24 21:02] MarvinNazari commented on #696
@rnystrom im trying to use `IGListDebugger`, but Im seeing that the header file is private (using Cocoapods)

[2017-04-24 21:11] MarvinNazari commented on #696
@rnystrom
[code]

[2017-04-25 01:12] darrarski commented on #242
@rnystrom just FYI, I manage to solve it without saving visible cell. Perhaps it's not ideal solution, but works for my needs. I ended with creating extension to `UIScrollView` that calculates and allows to set "reversed" content offset: [UIScrollView_ReversedContentOffset.swift](https://github.com/darrarski/Messages-iOS/blob/3ae70385a42753f8889f85c3eac07ee4a42a1b43/MessagesApp/UI/Helpers/UIScroll

[2017-04-25 01:15] darrarski commented on #644
@yusuftor not sure if you manage to solve your problem, but you can check my approach, which doesn't require to save visible cell [here](https://github.com/Instagram/IGListKit/issues/242#issuecomment-296863521).

[2017-04-25 02:50] rnystrom commented on #696
@MarvinNazari the header is private, but you should still be able to use it in lldb.

Oh no! It doesn't dedupe. If you provide dupes in the algorithm will allow it. [Example unit test](https://github.com/Instagram/IGListKit/blob/master/Tests/IGListDiffTests.m#L253-L260).

IGListKit should assert dupes, so I'm wondering how `DiffableBox` and `LKExperience` work together. Can you post some of their

[2017-04-25 05:31] MarvinNazari commented on #696
@rnystrom i tried in `lldb` too, but couldn't find it.
This is how i handle diffable items: (i think @jessesquires wrote it somewhere before)
[code]
and then: (LKExperience is conforming to Hashable as well)
[code]

[2017-04-25 05:46] MarvinNazari commented on #696
@rnystrom What would be the right way to do this using IGListKit? because I would say this is a popular use case

[2017-04-25 14:10] shuhrat10 opened #699 "Crash with embedded CollectionView"
Hi,

I have CollectionView with embedded horizontal CollectionView. For example:

Category 1:
   Items [Horizontal collectionView]
Category 2:
   Items [Horizontal collectionView]
e.t.c.

When I start moving between sections and items my application crashed. It's not happening all the time. I'm not reloading any section, I think it's happening automatically when you move from top to the end. Any i

[2017-04-25 14:34] rnystrom commented on #696
@MarvinNazari agree it's a popular use case, but you need to dedupe yourself, IGListKit wont dictate how your data works aside from the required bare-minimum (identifier, equality)

We should add an assert inside `IGListBindingSectionController` too that prevents duplicates.

[2017-04-25 14:37] rnystrom opened #700 "IGAssert and dedupe unique diffIdentifiers in IGListBindingSectionController"
Inspired by #696, we can't allow multiple view models with the same diff identifier inside `IGListBindingSectionController`. We should assert the same way we do in [IGListAdapter](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.m#L541-L544) (but checking `diffIdentifier`s).

Maybe we move [this dedupe method](https://github.com/Instagram/IGListKit/blob/master/Source/IGListA

[2017-04-25 14:48] yusuftor commented on #644
Thanks @darrarski! I couldn't get it to work the way Ryan said, so instead I calculated the difference in contentSize before and after the update and applied that to the contentOffset. I will also try your way to see if it's any better :)

[2017-04-25 15:23] rnystrom opened #701 "Update issue template to include debug dump"
Should add a new step to the issue template to ask people to make a gist of their output from
[code]

[2017-04-25 15:24] MarvinNazari commented on #696
@rnystrom Okey so I rewrote the dedupe func from IGListKit

[code]

and updated my update func to

[code]
maybe we could make [this](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterUpdater.m#L96-L110) public  or just IGListBindingSectionController could use it for removing the duplicates?

[2017-04-25 15:25] rnystrom commented on #699
@shuhrat10 do you have an example reproducing this issue? We had this happen internally this week and it ended up being implementation error.

When are you attaching the collection view to the adapter?

[2017-04-25 15:26] rnystrom commented on #696
@MarvinNazari nice! Yup I had the exact same thought in #700 🤓

Would be an awesome contribution if you're up for it 😉

[2017-04-25 15:28] MarvinNazari commented on #696
@rnystrom Would love to! i try to open a PR in the weekend 👍

[2017-04-25 18:26] shuhrat10 commented on #699
Hi @rnystrom,

I don't have an example with this issue. It's happen in our new project today, and I wont be able to reproduce this crash. But I will keep testing to try reproduce this issue.

In viewDidLoad I set:
`
adapter.collectionView = collectionView
adapter.dataSource = self
`

and then

`
func objects(for listAdapter: IGListAdapter) -> [IGListDiffable] {
  return FeaturedLoader.shared.categ

[2017-04-25 19:13] rnystrom commented on #699
@shuhrat10 where/how is the embedded adapter's collection view set?

[2017-04-25 20:05] shuhrat10 commented on #699
On ViewController I have

[code]

[code]

[code]

PlaylistItemsController is not used at this time.

[2017-04-25 20:09] shuhrat10 commented on #699
@rnystrom on tvOS you can super fast switch between sections and items with Siri Remote.

[2017-04-25 20:16] shuhrat10 commented on #699
@rnystrom

[code]

[2017-04-26 13:21] D-Link13 opened #703 "Prevent keyboard overlapping with scrollToItem"
I have an IGList with textFields in each cell, so I am trying to use `scrollToItem(at: IndexPath, at: UICollectionViewScrollPosition, animated: Bool)` to prevent keyboard overlapping when it appears. This approach requires calling scrollToItem from textFieldDidBeginEditing. How can I pass IndexPath to this method in this case?
Maybe you can advise me some better technique to achieve this goal?

[2017-04-26 20:17] #701 closed

[2017-04-26 23:06] nikitaame opened #704 "IGListCollectionViewLayout release"
Hey All!

I was wondering if you had an estimate on the next stable release for IGListCollectionViewLayout. Really hoping to use BOOL stickyHeaders but don't want to use master.

Thanks!
Nikita

[2017-04-26 23:23] jessesquires commented on #704
Hey @nikitaame ! 😄

We are aiming to get this out within 1-2 weeks. There are only a few things left to finish.

We actually recommend using `master` — this is what the Instagram iOS app uses and ships weekly to the app store. 😄 It's stable, though there is *some* churn — however, you can pin to a specific commit to avoid that.

[2017-04-26 23:23] #704 closed

[2017-04-27 09:52] D-Link13 commented on #703
I've tied to send a cell from section controller to my view controller with delegate like this:
[code]
than in my view controller I've implemented delegate method like this:
[code]
Unfortunately, this doesn't helped me =(

Than I decided to try using observers for keyboard (show, hide). Here is a code from my view controller:
[code]
Well, this approach gives me some result.. It scrolls well when k

[2017-04-27 21:47] #683 closed

[2017-04-28 05:01] drinkius commented on #464
@rnystrom I'm facing the same challenge as @rcholic: following **HorizontalSectionController** example I've implemented a vertical list which has got horizontally swipeable sections with additional cells showing some supplementary information. Basically what I'm trying to implement is something similar to Instagram's own photos collection which leads to the change of the little dots mark below ind

[2017-04-28 12:56] folexz opened #705 "Custom transitions"
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version:
- Xcode

[2017-04-28 12:57] #705 closed

[2017-04-28 18:53] rnystrom commented on #699
@shuhrat10 can you print the description of the embedded `IGListAdapter`?

You can also just `(lldb) po [IGListDebugger dump]` and [put it in a gist](https://gist.github.com/). That will print _all_ adapters in memory.

[2017-04-28 18:59] rnystrom commented on #703
@D-Link13 what's the behavior when you use `collectionView.scrollToItem(at: indexPath, at: .top, animated: true)`? It might not work b/c the cell isn't visible. The docs say:

You can also try getting the associated object for that cell (cell -> index path -> [objectAtSection:](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.h#L177-L184)) and then call [this method](https:/

[2017-04-28 22:43] nikitaame commented on #208
Hey @rnystrom !

Is there an equivalent for just reloading a supplementary view?

Thanks in advance!
Nikita

[2017-04-29 23:52] xiaosongshu opened #706 "cellForItem dequeing cell with IBOutlets == nil"
Could there be any reason why my cell is dequeing with all IBOutlets being nil? Trying to literally load a basic cell but crashing on:

        cell.messageLabel.text = message?.text

with ```fatal error: unexpectedly found nil while unwrapping an Optional value```

and Variables View / Console showing all other IBOutlets are nil (ie `messageLabel` = `(UILabel!) nil` hence my belief the reason for

[2017-04-30 00:01] rnystrom commented on #208
@nikitaame reloading supplementary views is traditionally kind of tricky. You might be able to use the layout and call `invalidateSupplementaryElementsOfKind:atIndexPaths:`.

Actually if that works, let me know. I wouldn't mind adding this as an API that section controllers can call.

[2017-04-30 00:05] rnystrom commented on #706
@xiaosongshu it looks like you're dequeuing your cells with the class API. You need to use [this method for XIBs](https://github.com/Instagram/IGListKit/blob/master/Source/IGListCollectionContext.h#L127-L142) or [this method for storyboards](https://github.com/Instagram/IGListKit/blob/master/Source/IGListCollectionContext.h#L144-L155).

Let us know if that works!

[2017-04-30 08:27] xiaosongshu commented on #706
Ah that fixed it! Thanks Ryan (@rnystrom), and also great talk at try! Swift. Came across the video on Realm's site and it's what convinced me to give this a shot.

Now that I had a chance to test out IGListKit, had one follow-up question was hoping you could help with (apologies in advance, it's a big long)..

[Background]
I saw your comment in #629 where you mentioned cell transforms could be ap

[2017-05-01 13:19] rnystrom opened #707 "Cut 3.0.0 release"
- [x] Final review and update of header docs and guides
- [x] Final review of changelog
- [x] Regenerate docs
- [x] Update pod spec version
- [x] Update xcodeproj version
- [x] Run `pod install` on all examples (**must happen on FB internal** because of sync issues)
- [x] Merge `master` into `stable` via cmd-line and push
- [x] Confirm `stable` is `0|0` [ahead/behind](https://github.com/Instagram/

[2017-05-01 13:20] rnystrom commented on #707
Blocked on #593, #661, and #671

[2017-05-01 13:22] rnystrom commented on #706
@xiaosongshu good question, but do you mind copy/pasting that into a new issue so we can track separately? That way if someone else runs into the same problem, it'll be much easier for them to find vs being buried in an unrelated issue.

[2017-05-01 13:22] #706 closed

[2017-05-01 14:27] xiaosongshu opened #708 "Applying transforms to animate in new IGListSectionControllers"
**[Background]**
Was looking at @rnystrom comment in #629 where he mentioned cell transforms could be applied in IGListDisplayDelegate's `willDisplay` method. I'm also trying to apply cell transforms, but my use case is slightly different, as I have two arrays, one being messages already displayed to the user, and one for new messages that haven't been seen yet. For each new message that hasn't be

[2017-05-01 14:28] #609 closed

[2017-05-01 14:33] amonshiz opened #709 "Section Controller Incorrect Index"
## New issue checklist

- [X] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [X] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: <3.0.0

### Debug information
This required only mainta

[2017-05-01 14:37] rnystrom commented on #709
@amonshiz you had a unit test that failed for this, right? Can you paste the test in here?

[2017-05-01 15:25] amonshiz commented on #707
#671 is now closed

[2017-05-01 15:28] amonshiz commented on #609
just to follow back up with this, i kind of melded both suggestions: move setting the `isFirstSection` and `isLastSection` into the `IGListSectionMap` object's update method since it already has all the context, and then within the iteration during the update set the `sectionIndex`. this effectively unifies the location as @Adlai-Holler suggested and removes the necessity for an extra indexing var

[2017-05-01 18:29] nikitaame commented on #208
@ryanolsonk Thanks, I couldn't seem to get the index path of the required supplementary view in a great way so went about it another way.

I kept a height property on the supplementary view which I then changed in the scrollview delegate methods as needed. I then called `invalidateLayout` on the collection view layout. When returning the size for the supplementary view  in the `IGListSupplementary

[2017-05-01 22:21] shuhrat10 commented on #699
@rnystrom See bellow

[code]

[2017-05-02 07:36] jonauz commented on #498
I also need to set spacing between embedded horizontal cells, but it doesn't work for me using typical methods `minimumInteritemSpacing`. Why?
Is there something I maybe don't know?

[2017-05-02 12:44] swissdev opened #710 "Infinite horizontal scrolling in embedded CollectionView"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): 10.3
- CocoaPods/Carthage versi

[2017-05-02 14:26] rnystrom commented on #498
@jonauz mind opening a separate issue for that? Some things that we also need to know:

- What layout are you using?
- What settings are you using for item spacing (on the layout? on section controllers?)

[2017-05-02 14:32] rnystrom commented on #710
@swissdev interesting question! The best way to do infinite scrolling is actually a `UIScrollView` trick where you adjust the `contentOffset` in `UIScrollViewDelegate` methods. Check out [this 2011 WWDC video](https://developer.apple.com/videos/play/wwdc2011/104/), they discuss techniques around 4:25.

To hook into those methods with IGListKit, just attach an object as the [scrollViewDelegate](htt

[2017-05-02 14:32] #710 closed

[2017-05-02 15:04] swissdev commented on #710
Many thanks. Very great! Thanks for sharing. We didn't know about this technique.

[2017-05-02 15:19] PhilCai1993 opened #711 "Best practice to expand a cell animated in a section?"
I've read #499 and #459 , But still quite confused.

![image](https://cloud.githubusercontent.com/assets/6828315/25624221/520582be-2f8b-11e7-97ed-ef4eb75c60b2.png)

The image above is a section controller, "cell2" is expanded when some extra data is received from HTTP request. The single section is composed of a red header and serval cells(I didn't make each cell a section because the whole list i

[2017-05-03 09:16] yusuftor opened #712 "Restructure the examples project"
At the moment the current organisation of the IGListKit iOS Examples workspace is separated in to large view controllers/views/section controllers etc folders. For me it seems to be quite tricky to find out which View Controllers and Section Controllers are for a specific cell in the main UICollectionView.

I reckon that the structure of the project should reflect the UI of the app, like this:

[c

[2017-05-03 13:27] rnystrom commented on #712
Love it! The examples have definitely grown a lot. The only thing we need to figure out is where to put shared objects/views.

Should we have another top-level dir for shared stuff?

[2017-05-03 13:35] yusuftor commented on #712
Yeah I think we would need a top-level directory for shared stuff. I always have a "Miscellaneous" folder that is subdivided for shared things that don't fit under one folder. And a folder called "Utilities" for extensions and data structures.

I'm intrigued to know how Instagram organises their own app as it must be pretty big?

[2017-05-03 15:26] jessesquires commented on #712
Honestly, I would prefer a much shallower structure:

[code]

Only one level of nesting within the top-level project folder.

[2017-05-03 20:20] gobetti opened #714 "sizeForSupplementaryViewOfKind is called always for index=0"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): Any
- CocoaPods version: 1.2.1

[2017-05-03 21:34] jessesquires commented on #714
Thanks @gobetti !

[2017-05-03 21:39] rnystrom commented on #714
@gobetti thanks for looking into this! I'm not sure I understand what the bug is though. Supplementary views are meant to be used with index paths when used beyond `UICollectionViewFlowLayout`. Notice how the [UICollectionViewLayout supplementary attributes API](https://developer.apple.com/reference/uikit/uicollectionviewlayout/1617792-layoutattributesforsupplementary?language=objc) asks for an in

[2017-05-03 22:04] gobetti commented on #714
Hi @rnystrom, maybe the issue wasn't noticeable so far because 1) usually people use IGListKit with single cell section controllers and 2) usually people want the same size for a section header/footer, regardless of its index. The issue is easily noticeable though by setting a breakpoint in an IGListSupplementaryViewSource method implementation when under a multiple section collection view. The me

[2017-05-03 22:11] gobetti commented on #714
@rnystrom , considering this part of your comment:

My code in #715 does only affect the size that is being returned for a supplementary view. You can still have multiple, but now you can return different sizes for them according to their section index, which today isn't possible due to the index always being equal to 0.

[2017-05-04 13:28] drinkius opened #717 "Getting index of the currently visible cell in embedded section"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate (It is but the original issue is closed without an answer)

### General information

- `IGListKit` versi

[2017-05-04 17:51] rnystrom commented on #714
@gobetti

That would be the responsibility of different section controllers implementing their sizes differently, right?

W/ your solution, how would you size two different supplementary views within the same section? They would both have the same section value.

Can you give a little more detail about your setup? The API is designed to return the `item` index, not the section (same as the `cellFo

[2017-05-04 18:26] MarvinNazari commented on #714
@rnystrom: but isn't `elementKind` there for that same reason? so u return different size depending on `elementKind` but still same index?

[2017-05-04 20:30] rnystrom commented on #717
@drinkius as long as the cells are within the same section controller, you can wire up the section controller as the [collectionViewDelegate](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.h#L63-L68) on the embedded adapter. Here's some psuedocode:

[code]

[2017-05-04 20:33] rnystrom commented on #711
@PhilCai1993 what determines the height of cell2? Is it the data itself? A member/property of the data?

Can you not just call `invalidateLayoutForSectionController: self` like in [the example](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/SectionControllers/ExpandableSectionController.swift#L47)?

[2017-05-04 22:38] gobetti commented on #714
@rnystrom I think some part of my explanation and my unit test failed to be clear, I'm sorry for that. Could you try again to run the unit test before and after my modification? You'll see that an object implementing the `IGListSupplementaryViewSource` will never be able to receive any index other than 0. This value 0 is hardcoded at the moment that you create an NSIndexPath with item=0 and sectio

[2017-05-04 22:40] gobetti commented on #714
And continuing @MarvinNazari 's reasoning, if we assume that what you said about the API is correct, then what is the index parameter for if it will always be 0?

[2017-05-04 23:00] rnystrom commented on #714
@gobetti it will always be 0 if you use 'UICollectionViewFlowLayout', but if you build your own layout with arbitrary supplementary views you may need the index for each supplementary view.

You're right that you can use different element kinds to distinguish between different types, but just as you can have multiple cells of the same type, you can do the same with supplementaries.

I'm still curi

[2017-05-04 23:05] gobetti commented on #714
Let's say I implemented the UICollectionFlowDelegate on my own, i.e. without IGListKit. Then I'd be able to specify a size for each section, based on their index. IGListKit implements that protocol for me, converting that sectionIndex into an index path (with item = 0), Passing this index path to another method and finally calling back the IGListSupplementaryViewSource method by passing the item i

[2017-05-04 23:08] gobetti commented on #714
I wasn't clear that the same supplementary view source is used multiple times, but that's because we have multiple sections. It's always the same section controller class, but multiple instances of it.

[2017-05-05 11:22] PhilCai1993 commented on #711
one property of the data

[2017-05-05 12:56] rnystrom commented on #711
@PhilCai1993 As long as the data makes its way to the section controller, the invalidate API should work exactly the same as `reloadInSectionController:`. Just call invalidate _after_ the data has changed.

[2017-05-05 13:05] rnystrom commented on #708
Ok I think I understand your setup:

- You call `performUpdates(...)` with a subset of all messages
- You then append a new message, call `performUpdates(...)` again, then animate in the cell
- In the completion block of the animation, you start over again
- Rinse & repeat until all cells have animated in

Is that right?

If that's the case, then you should be able to do something similar using th

[2017-05-05 15:19] jonauz commented on #597
Hi, Don't understand how come this questions is closed, when issue don't seem to be solved.
I just came across of the same issue, and I noticed that none of examples is using `index` in `didSelectItem(at index: Int)` function.
I followed all possible implementations and this function seems to have some logic issue or a bug.
I need `index` to identify which cell was selected in horizontal embedded

[2017-05-05 15:36] rnystrom commented on #597
@jonauz does your section controller only contain a single cell? If so, the index parameter in `didSelectItem(at index:)` will always be 0 b/c there is only one cell. Remember that the index is relative to the cells **within that section**.

If you want to respond to individual cell taps at the list-level, you can attach a [collectionViewDelegate](https://github.com/Instagram/IGListKit/blob/master

[2017-05-05 16:45] tapanprakasht commented on #668
@rnystrom It looks like build issue is resolved. So I think this issue needs to be closed.

[2017-05-05 16:46] #668 closed

[2017-05-05 17:01] jonauz commented on #597
I understood more while was trying to explain my architecture and now see where is my mistake. Thank you @rnystrom , your answer helped a lot. Wish documentation would be a bit more clear on these steps, especially as I'm just starting with IGListKit, and had to spin my head around to understand logic of all flow. Plus spent a lot of time with examples and code, as documentation has differences be

[2017-05-05 17:09] jonauz commented on #498
Eventually I achieved wanted result using [this solution](https://github.com/Instagram/IGListKit/issues/498#issuecomment-281174121).
Thought, still would be curious to understand why `minimumInteritemSpacing` do no effect on collection view layout.
My layout is exactly as [in this picture](https://github.com/Instagram/IGListKit/issues/498#issue-208798472).

[2017-05-06 14:27] Cookiezby opened #718 "The total height for several self-sizing cell is not calculated right at first."
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): 10.0
- CocoaPods/Carthage versi

[2017-05-06 14:39] Cookiezby commented on #718
I found it is also hard to calculated on the native UICollectionView, Sorry for the issue commit.

[2017-05-06 14:39] #718 closed

[2017-05-06 22:01] rnystrom opened #719 "Add documentation to -[IGListAdapter collectionViewDelegate] explaining how to use"
It's not super clear how to use this in conjunction with IGListKit, like how to use `NSIndexPath` and item/section.

We should add some examples, explanation to [this documentation](https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapter.h#L63-L68).

Inspired by #597

[2017-05-06 22:02] rnystrom commented on #597
@jonauz fantastic feedback! Glad you got it working. I filed a new issue to add some documentation to make it a little easier to understand.

[2017-05-08 16:28] rnystrom opened #720 "Rename new sectionIndex API to "section"?"
I should have caught this earlier, but for consistent naming alongside [these APIs](https://github.com/Instagram/IGListKit/blob/master/Source/IGListSectionController.h#L105-L113), we should probably name `sectionIndex` to just `section`.

Thoughts @jessesquires @amonshiz? I'm happy to peel this off really quick before 3.0.0

[2017-05-08 16:51] #714 closed

[2017-05-08 17:32] amonshiz commented on #720
yeah, that is fine by me. no one said anything so i stuck with `sectionIndex`.

[2017-05-08 18:46] shuhrat10 commented on #699
@rnystrom do you have any thoughts what is causing this crash?

[2017-05-08 18:57] jessesquires commented on #720
completely agree that `section` is bettur

[2017-05-08 18:57] jessesquires commented on #720
also +1 for `3.0` 😄

[2017-05-08 18:58] jessesquires commented on #709
what's the status here? anyone working on this?

[2017-05-08 19:16] amonshiz commented on #709
yeah sorry, the current implementation at least maintains the last known section index correctly.

[2017-05-08 20:11] rnystrom commented on #699
@shuhrat10 ran into this internally as well, digging into this, sorry for the delay, something is out of whack 🤕

[2017-05-08 21:02] rnystrom commented on #699
@shuhrat10 I put together this example project trying to reproduce your conditions and can't get anything to crash on a real device or simulator. Could you take a look at this and let me know if there is something missing in the setup that could reproduce the crash? If you can get it to crash, mind re-uploading it?

[IGLKPlayground.zip](https://github.com/Instagram/IGListKit/files/984842/IGLKPlayg

[2017-05-09 15:08] #699 closed

[2017-05-09 16:56] rnystrom opened #722 "Collection view debug dump script empty"
[This code](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/UICollectionView%2BDebugDescription.m#L14-L41) is showing up empty when used [here](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/IGListAdapter%2BDebugDescription.m#L70).

[Example](https://github.com/Instagram/IGListKit/issues/699#issuecomment-297151847)

[2017-05-09 19:22] amonshiz commented on #709
@rnystrom here is a link to the test that will demonstrate the issue: https://github.com/Instagram/IGListKit/blob/master/Tests/IGListAdapterTests.m#L1190-L1215

and here is a version of that test converted to work for code before a4e5ad8:
[code]

With the current implementation (using the property) the second to last assert will not fire because the property does not update when a list adapter is

[2017-05-09 20:50] rnystrom opened #725 "Add "prefetchingEnabled" to UICollectionView debug dump"
Prefetching seems to cause trouble. Let's get ahead of future issues by including this value to our debug scripts.

Should go [in here](https://github.com/Instagram/IGListKit/blob/master/Source/Internal/UICollectionView%2BDebugDescription.m).

[2017-05-09 21:21] BasThomas commented on #720
Lmk if I can help out with this one, @rnystrom :)

[2017-05-09 23:20] #725 closed

[2017-05-10 09:54] PhilCai1993 commented on #711
I'll post some examples later at the weekend.

[2017-05-10 13:49] rnystrom commented on #720
Thanks @BasThomas! It's landing internally right now

[2017-05-10 17:03] #709 closed

[2017-05-10 19:48] rnystrom opened #732 "[AppleBug] UICollectionView crashes when changing contentInset before changing its dataSource"
Summary:
When using "embedded" `UICollectionViews` and `UICollectionViewFlowLayout` (e.g. a vertical, full-width collection view that has cells with horizontal `UICollectionView`s in them), if you change the `contentInset` property of one of the embedded collection views **before** changing the `dataSource` (changed because the cells are reused), `UICollectionView` will throw when validating layou

[2017-05-10 19:49] rnystrom commented on #732
Please dupe

https://openradar.appspot.com/radar?id=5041489335812096

[2017-05-10 20:33] jessesquires commented on #732
😆

[2017-05-10 20:36] jessesquires commented on #722
🤔  so what's happening here?

[2017-05-10 20:57] Sherlouk commented on #707
Not sure if this is covered by `Final review and update of header docs and guides` but we need to update all the version references to 3.0 (for example the installation guide and on the readme)

[2017-05-11 06:02] xiaosongshu commented on #708
Hi @rnystrom, thanks for the suggestion and apologies for the delayed response! Checked back repeatedly first few days but didn't see a reply, and later was looking out for a github email notification to only realize my notifications aren't working anymore.

Gave your suggestion a shot but unfortunately am still struggling with this. After sending a new message, the collection view seems to update

[2017-05-11 15:21] jessesquires commented on #707
@Sherlouk yep! want to PR that?

[2017-05-11 20:50] #475 closed

[2017-05-11 21:31] #722 closed

[2017-05-11 21:50] #720 closed

[2017-05-11 22:00] jessesquires commented on #707
@rnystrom @amonshiz @Sherlouk

looks like 3.0 is ready! just need to re-gen docs (#728) and double check that everything is good to go.

all extra eyes will help! 👀

[2017-05-12 03:30] tuanvo opened #736 "Carthage 0.22.0 - No available version 3.0.0 for github "Instagram/IGListKit""
## New issue checklist

- [ ] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [ ] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version:
- iOS version(s):
- CocoaPods/Carthage version: carthag

[2017-05-12 04:36] jessesquires commented on #736
Thanks @tuanvo ! We haven't tagged the 3.0 release yet but will be doing so soon!

[2017-05-12 04:36] #736 closed

[2017-05-12 18:05] jessesquires commented on #707
3.0 is released!

[2017-05-12 18:05] #707 closed

[2017-05-12 18:06] jessesquires commented on #736
@tuanvo this should work now!

[2017-05-12 18:09] jessesquires commented on #650
@shuhrat10 - 3.0 is out now! 😄

[2017-05-13 06:05] HarshilShah opened #739 "Binding section controller resizes self-sizing cells on calling performUpdates"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.3.1
- CocoaPods/Carthage ver

[2017-05-13 13:49] rnystrom commented on #739
Adding this to #516.

Thanks for the sample! Going to poke around at it. Hard to prioritize estimated size stuff right now, but I'd definitely like to get this working since its a new feature and will probably be pretty common.

I'd guess this has something to do with how we are [manually configuring](https://github.com/Instagram/IGListKit/blob/master/Source/IGListBindingSectionController.m#L64-L7

[2017-05-13 14:13] HarshilShah commented on #739
Hmm, my expectation was that it should manually configure cells, as that would enable animating changes in `bindViewModel`, as discussed in #451

[2017-05-13 19:39] LivioGama commented on #459
Like mentioned in https://github.com/roberthein/BouncyLayout/issues/6 I have trouble using this new feature with a custom `UICollectionViewFlowLayout`. When changing a section controller color and height, the color won't change unless I call `adapter.reloadObjects([])` and the height won't change : a strange space equal to what the cell should have increased its height of is created like 6 cells m

[2017-05-13 23:34] LivioGama commented on #459
I progressed a bit, I found a way to do it but it's a bit dirty (see delegate method `func didSelect(_ style: CellStyle)` and it required that I change BouncyLayout class `UIDynamicAnimator` variable to `open`. This animator was the guilty one for caching old values and has to be empty manually before each addition/deletion/update of cells. Any insight regarding your experience guys ?

New code :

[2017-05-15 17:55] jessesquires commented on #739
closing this in favor of tracking at #516

[2017-05-15 17:55] #739 closed

[2017-05-15 17:59] jessesquires commented on #717
Going to close as resolved. 😄

[2017-05-15 17:59] #717 closed

[2017-05-15 18:00] jessesquires commented on #711
Going to close as resolved. 😄

[2017-05-15 18:00] #711 closed

[2017-05-15 18:00] jessesquires commented on #703
Going to close due to inactivity 😄

[2017-05-15 18:00] #703 closed

[2017-05-15 18:01] jessesquires commented on #685
Going to close due to inactivity. 😄  Also, doesn't seem like an IGListKit-specific bug...

[2017-05-15 18:01] #685 closed

[2017-05-15 18:02] jessesquires commented on #696
looks like we close and track this at #700 ?

if not, please re-open 😄

[2017-05-15 18:02] #696 closed

[2017-05-15 21:55] jessesquires commented on #383
For anyone wanting to work on this, please see the rough draft at #501.

[2017-05-16 11:24] folexz opened #743 "Help with scroll(to:..)"
## New issue checklist

- [+] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [+] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: last
- iOS version(s): 9.1-now
- CocoaPods/Carthage ver

[2017-05-16 12:13] Sherlouk commented on #743
You state that you're using the "last" (assuming latest) version of IGListKit, but as per the discussion [here](https://github.com/Instagram/IGListKit/issues/409) the `IGListCollectionView` has been removed in version 3.0!

Regardless `IGListCollectionView` was just a small wrapper of `UICollectionView` providing some warnings/errors when you tried to use certain methods. You should be able to scr

[2017-05-16 12:15] folexz commented on #743
Thanks @Sherlouk, one more question, how do I find an IndexPath for last item? I've tried few methods, but nothing has helped me :(

[2017-05-16 12:18] Sherlouk commented on #743
Well that will depend on your exact setup, but you just need to construct an IndexPath based on the size of your collection view.

Assuming you follow IGListKit recommendations and have many sections, then you _could_ do something like this:

[code]

[2017-05-16 12:19] folexz commented on #743
@Sherlouk Thanks a lot!

[2017-05-16 12:37] Sherlouk commented on #743
We good to close this issue @folexz?

[2017-05-16 12:38] folexz commented on #743
Yes, we are. Thanks a lot.

От 16 May 2017 в 18:13:38, James Sherlock (notifications@github.com)
написал:

You state that you're using the "last" (assuming latest) version of
IGListKit, but as per the discussion here
<https://github.com/Instagram/IGListKit/issues/409> the IGListCollectionView
has been removed in version 3.0!

Regardless IGListCollectionView was just a small wrapper of UICollection

[2017-05-16 12:38] #743 closed

[2017-05-16 14:10] jessesquires commented on #743
Thanks @Sherlouk !

[2017-05-16 14:44] BasThomas opened #744 "Show Jazzy installation instructions when not installed locally"
This came up in #681:

[2017-05-16 20:29] mattrobmattrob commented on #682
[This SO post](http://stackoverflow.com/a/30866503/856336) makes me think it's not possible. Mainly:

[2017-05-16 20:50] jessesquires commented on #682
As far as I know, this type information simply doesn't exist in the ObjC runtime.

[2017-05-17 05:11] PhilCai1993 commented on #711
@jessesquires 😄 OK, I did post any example because I'm busy with my work😂. Could I reopen it when examples are post?

[2017-05-17 05:52] yuzushioh opened #746 "[Question] How to implement grid layout like Instagram's photo lists"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0
- iOS version(s): all

### Question
I was able to i

[2017-05-17 09:44] jonauz opened #747 "Issues updating collectionView with new sections"
## Issues updating collectionView with new sections

Instantly saying sorry for little info for starting, so please let me know what's not clear and what info in addition I need to provide.

I'm building a page of two columns using two `Diffable` objects and two `section controllers`.
Left is kind of menu with embedded collection view.
Right side - content, made of embedded collection view.

Now i

[2017-05-17 09:47] BasThomas commented on #747
Is it possible to post the code you are referencing, or a project which shows the issue?

[2017-05-17 10:22] jonauz commented on #747
I would need to rewrite it into separate project, which I could just need time a bit more spare time, still need to deliver page on time 🤔 Will try, but in the mean time if any one can propose some ideas, really will appreciate.
Also on small side project had similar issue with inserting, loading and scrolling to new cell using default methods.
Eventually made it work with some ugly hacks.
Maybe w

[2017-05-17 11:16] jonauz commented on #747
#### Short update:
After adding `adapter.reloadData(completion: nil)` in `viewDidAppear(_ animated: Bool)` the missing Content SectionController view appears in the screen. Though, I'm calling this same method in completion handler after API request and data parsing to add new content to main data model.
It's weird why same method in completion handler is not making collection views to load proper

[2017-05-17 13:55] krysztalzg opened #748 "[Q] Responding on scroll"
### General information

- `IGListKit` version: 2.0
- iOS version(s): 10.3
- CocoaPods/Carthage version:  1.2
- Xcode version: 8.3.2

I managed to attach my view controller as delegate to scroll of IGCollection from other view, but now I'm struggling to get the information about scrolling direction (calculated with content offset for normal scroll views). Can anyone give me some tip how to get dat

[2017-05-17 17:24] jessesquires commented on #748
Thanks @krysztalzg !

You can set the `scrollViewDelegate` on your list adapter to get these events, then everything is the same as if you were listening for events on any scroll view or collection view.

https://instagram.github.io/IGListKit/Classes/IGListAdapter.html#/c:objc(cs)IGListAdapter(py)scrollViewDelegate

[2017-05-17 17:24] #748 closed

[2017-05-17 17:25] jessesquires commented on #748
Oh also, we released `3.0`. I'd definitely recommend upgrading 😄

[2017-05-17 17:27] jessesquires commented on #747
hey @jonauz ! 😄

thanks for the update!

sounds like maybe you aren't calling that completion handler code on the main thread?

[2017-05-17 17:27] #747 closed

[2017-05-17 17:34] jessesquires commented on #746
Thanks @yuzushioh ! 😄

It should work the same way. Our storyboard example uses the new layout:

https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/ViewControllers/StoryboardViewController.swift

[2017-05-18 00:14] jonauz commented on #747
@jessesquires no.. completion hangler is being executed on the main thread, tested. Will update when i have some more details.
Do we have any examples with such dynamic loading cells.. i.e. Fetch new objects, append to secions data source and reload collection view?

[2017-05-18 08:15] krysztalzg commented on #748
I don't think this responded to my question. I said I managed to get delegate working, but don't know how to read content offset values to determine scrolling direction.

[2017-05-18 08:49] krysztalzg commented on #748
Okay, after updating I managed to get content offset value, but now I have other problem.
My view contains three vertically align stackviews and when collection gets scrolled down I hide top and bottom stacks. With UIScrollView it works, but with ListCollection when middle stack resized (after other two disappear) it scrolls up which makes those two other stacks to appear again when they aren't su

[2017-05-19 12:30] chapayGhub opened #749 "Is it possible to set Gradient background for several cells"
For example we have vertical feed like next:
[header 1]
[cell 1.0]
[cell 1.1]
[cell 1.2]

[header 2]
[cell 2.0]
[cell 2.1]
[cell 2.2]
..............
Is it possible to set gradient background only for cell 1.0, cell 1.1, cell 1.2?

[2017-05-19 13:48] foulkesjohn opened #750 "Horizontal scroll with UICollectionViewFlowLayout"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 2.1.0
- iOS version(s): 10
- CocoaPods/Carthage version

[2017-05-19 18:50] shuhrat10 commented on #260
@rnystrom I'm getting a jerky animation when using the searchBar and self-sizing cells. Have you seen this before?

[2017-05-20 16:09] KumariOS commented on #519
Hi,
I am facing same problem when i have both horizontal and vertical scroll view. It
I followed the example tutorial but it did not help me much.

I get error message saying:

`Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'attempt to insert section 0 but there are only 0 sections after the update'.`

This happens when i scroll very fast. For both vertical

[2017-05-20 16:10] KumariOS commented on #519
@rnystrom @jessesquires , If this is fixed or you have solution, please help me.

[2017-05-21 09:45] HarshilShah opened #751 "[Question] BSD License for dummies"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

This is probably a stupid question, but I couldn’t find a reasonable answer anywhere so I thought I’d j

[2017-05-21 22:14] jessesquires commented on #751
Hey @HarshilShah ! 😄

Not a stupid question at all. Software licensing is hard. In general, the [BSD license](https://opensource.org/licenses/BSD-3-Clause) is an extremely permissive license. (It's basically the MIT license, except it requires attribution and prevents endorsements.) Caveat — *I am not a lawyer*. 😉

Despite some legal jargon, the 3 conditions are pretty straight-forward:

---------

[2017-05-22 02:32] HarshilShah commented on #751
Thanks for the help @jessesquires! Definitely going ahead with MIT for my library.

[2017-05-22 02:32] #751 closed

[2017-05-22 11:41] yulichandra commented on #516
@Ricardo1980 i do same like yours, but my first item always got wrong height.
Did you find any solution already ?

👆👆👆👆

[2017-05-22 13:30] rnystrom commented on #749
@chapayGhub You might have to use a custom decoration view as a "background" for each section. Check out [this guide](http://strawberrycode.com/blog/how-to-create-a-section-background-in-a-uicollectionview-in-ios-swift/) for some tips.

Another trick might be to use a `CAGradientLayer` between all of your cells, and dynamically set the stops in each cell so it looks like a gradient spreads between

[2017-05-22 13:33] rnystrom commented on #750
@foulkesjohn what does your setup look like? Are all of your cells part of a single section controller? Or are they all section controllers with 1 cell?

[2017-05-22 13:35] foulkesjohn commented on #750
@rnystrom Setup is a section controller with 1 cell. I couldn't see a way of using AsyncDisplayKit with the single section controller so haven't tried that

[2017-05-22 13:35] rnystrom commented on #519
@KumariOS can you open a new issue for this? Also when you hit the exception do `po [IGListDebugger dump]` from lldb. And if you can get a sample reproducing the issue that would be very helpful.

[2017-05-22 13:37] rnystrom commented on #750
@foulkesjohn ya I don't know how well that works yet (not super familiar w/ the ASDK integration), but I think this is actually a limitation of `UICollectionViewFlowLayout`... I'll get an issue open to work on horizontal support for `IGListCollectionViewLayout` but it's not super high priority internally. Would be an **amazing** contribution if you're interested! I'd be very happy to help you alon

[2017-05-22 13:39] rnystrom opened #752 "Horizontal list support in IGListCollectionViewLayout"
Inspired by #750. If you wanted to have a horizontally scrolling list that put sections on the "same line" (which would actually be a column), this wont work with IGListKit since `UICollectionViewFlowLayout` doesn't support this.

[2017-05-22 13:48] rnystrom commented on #747
@jonauz we have an example of "tail loading" more data [here](https://github.com/Instagram/IGListKit/blob/master/Examples/Examples-iOS/IGListKitExamples/ViewControllers/LoadMoreViewController.swift), hope that's useful!

[2017-05-22 13:49] rnystrom commented on #682
Had an extensive convo w/ @jckarter on Twitter, not possible in the slightest w/ ObjC generics. We could _maybe_ use some C++ stuff to get this working, but probably not worth the effort. Going to close out.

[2017-05-22 13:49] #682 closed

[2017-05-22 13:53] rnystrom opened #753 "Add "Working with NSIndexPath" to FAQ"
Explain how `item` == cell and `section` == object. How to get object from a cell, and link to visible cell APIs.

[2017-05-22 13:54] rnystrom opened #754 "Link to starter tasks on README"
Want to boost signal that we have these and encourage using them as a way to get started contributing to IGListKit.

[2017-05-22 13:56] rnystrom opened #755 "Add guide to using IGListBindingSectionController"
- Theory (one-way data flow)
- Visuals
- Model setup
- Common usages

[2017-05-22 13:58] rnystrom commented on #459
@LivioGama do you mind opening a new issue to track this?

[2017-05-22 14:13] chapayGhub commented on #749
Thank you

[2017-05-22 14:13] #749 closed

[2017-05-22 14:34] shuhrat10 commented on #755
Will nice to have example with lazy loading for top section. For example: At the top we will horizontal CollectionView with categories, at the bottom we will have content for selected categories with lazy loading.

[2017-05-22 14:45] heshamsalman opened #757 "Cache gems in Travis CI builds"
We should cache gems in Travis CI to speed up builds & improve build reliability. May involve moving to a Gemfile and caching bundler.

[2017-05-22 14:57] Sherlouk commented on #712
@jessesquires @rnystrom To confirm; what structure do we actually want to go with? There's two suggestions here!

[2017-05-22 14:58] Sherlouk commented on #568
Closing this as we now have some topics on the repo!

[2017-05-22 14:58] #568 closed

[2017-05-22 14:59] Sherlouk commented on #557
@rnystrom Did this get fixed?

[2017-05-22 15:06] yusuftor commented on #712
I'd say go with Jesse's suggestion of the shallower structure. As far as I remember, there aren't multiple section controllers/views etc for each cell in the main collection view, so having folders that each house one file would be kinda annoying.

[2017-05-22 15:35] rnystrom commented on #757
I think we used to have this but removed b/c I was fighting caches while adding more stuff. Maybe, can't remember.

Either way 👍 from me if it helps Travis, lil fella needs all it can get!

[2017-05-22 15:35] rnystrom commented on #557
Oh yup, thanks for cleaning things up @Sherlouk!

[2017-05-22 15:35] #557 closed

[2017-05-22 16:02] #754 closed

[2017-05-22 16:31] Sherlouk commented on #310
@rnystrom Is this complete or are there still aspects to be done?

[2017-05-22 17:10] kleiberjp opened #758 "Requesting a cell from another section controller is not allowed."
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.3
- CocoaPods/Carthage versi

[2017-05-22 17:56] #758 closed

[2017-05-22 18:07] Ricardo1980 commented on #516
It's working fine for me.
I instantiate another cell, I apply autolayout, I take the height and I return that number in the size method.
Not very nice but it is working perfectly for me in all cases.

[2017-05-22 19:05] rnystrom commented on #758
Figure it out?

[2017-05-23 06:07] agisilaos commented on #719
Hey @jessesquires, @rnystrom, as I'm trying to get better with writing docs and stuff I would like to get started with that one! Can you give me some first steps about how to get started?

[2017-05-23 07:55] yulichandra commented on #516
@Ricardo1980 ,
 i not using auto layout, but solved it already. Thanks btw.

[2017-05-23 13:34] SergeRykovski opened #759 "[Example project] Some Images aren't shown in Working Range demo"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.3.2
- CocoaPods/Carthage ver

[2017-05-23 15:19] rnystrom opened #760 "Grammar improvement: "long term" in README"
⚠️ Open Source Workshop ⚠️

Should be "long-term"

edit: Also occurs in the VISION guide

[2017-05-23 15:19] rnystrom opened #761 "Grammar improvement: "help out" should be "help" in README"
⚠️ Open Source Workshop ⚠️

(see title)

[2017-05-23 15:20] rnystrom opened #762 "Grammar improvement: comma after "At Instagram" in README"
⚠️ Open Source Workshop ⚠️

(see title)

[2017-05-23 15:31] rnystrom opened #763 "Grammar improvement: remove "which will be super fast" from FAQ"
⚠️ Open Source Workshop ⚠️

Unnecessary words

[2017-05-23 15:33] rnystrom opened #764 "Spelling: wrong "its" in FAQ"
⚠️ Open Source Workshop ⚠️

Look for "and its not well designed"

[2017-05-23 15:34] heshamsalman commented on #760
@rnystrom what is oss-workshop?

[2017-05-23 15:35] rnystrom opened #765 "Remove "workingRangeSize: 0" from Getting Started"
⚠️ Open Source Workshop ⚠️

The code has changed so initializing an adapter with size 0 isn't necessary.

https://github.com/Instagram/IGListKit/blob/master/Guides/Getting%20Started.md#creating-the-ui

[2017-05-23 15:42] rnystrom opened #766 "Spelling: "unintuitively" isn't really a word (in IGListDiffable and Equality guide)"
⚠️ Open Source Workshop ⚠️

Spell checker called out that this isn't a word (which is news to me). A better (real) word would be "counterintuitively".

[2017-05-23 15:44] rnystrom opened #767 "Grammar: "should make IGListKit feel more swifty" awkward phrasing in Migration guide"
⚠️ Open Source Workshop ⚠️

This should probably be "this makes IGListKit more readable in Swift"

[2017-05-23 15:46] rnystrom commented on #760
@heshamsalman Facebook is putting on an intro to open source, teaching some folks how to start contributing to big projects. Special issues for the event (sorry for the notification spam).

[2017-05-23 15:46] rnystrom commented on #760
Another "long term" that needs corrected in the VISION guide

[2017-05-23 15:48] rnystrom opened #768 "Bad markdown format in Core Data guide"
⚠️ Open Source Workshop ⚠️

https://github.com/Instagram/IGListKit/blob/master/Guides/Working%20with%20Core%20Data.md#basic-setup

Link isn't formatted correctly.

[2017-05-23 15:49] rnystrom opened #769 "Spelling: "datasource" should be IGListAdapterDataSource in Core Data guide"
⚠️ Open Source Workshop ⚠️

The line

Should be

[2017-05-23 16:11] rnystrom commented on #760
@heshamsalman 😂 your "grammer" correction. TIL I don't word good.

[2017-05-23 16:20] rnystrom opened #770 "Remove extra whitespace in IGListCollectionContext.h"
⚠️ Open Source Workshop ⚠️

There is too much whitespace in the header, just needs to be consistent w/ other headers and have one line of whitespace (instead of 3).

https://github.com/Instagram/IGListKit/blob/master/Source/IGListCollectionContext.h#L17-L19

edit: more here:

https://github.com/Instagram/IGListKit/blob/master/Source/IGListAdapterDataSource.h#L16-L18

[2017-05-23 16:26] rnystrom commented on #719
@agisilaos that'd be great! This gist is that we want to instruct people on how to take the `UICollectionViewDelegate` methods, which receive `NSIndexPath` as a parameter, and use it with `IGListAdapter`. The most important part is how to get an object that maps to an `NSIndexPath`:

[code]

As far as style, we'll need to use `@note` [like this](https://github.com/Instagram/IGListKit/blob/master/S

[2017-05-23 20:28] heshamsalman commented on #394
@rnystrom thoughts re: using xcov & danger-xcov to mandate a certain level of test coverage in production-facing files?

[2017-05-23 20:46] rnystrom opened #771 "Spelling error "occured" throughout repo"
⚠️ Open Source Workshop ⚠️

https://github.com/Instagram/IGListKit/search?utf8=%E2%9C%93&q=occured&type=

[2017-05-23 21:03] rnystrom opened #772 "Spelling error "dequeing""
⚠️ Open Source Workshop ⚠️

Should be "dequeuing"

https://github.com/Instagram/IGListKit/search?utf8=%E2%9C%93&q=dequeing&type=

[2017-05-23 21:04] rnystrom opened #773 "Spelling error "experiements""
⚠️ Open Source Workshop ⚠️

https://github.com/Instagram/IGListKit/blob/40625f8ff960cc1fd73400bf57a7a367470d1ef3/Source/Common/IGListExperiments.h#L19

[2017-05-23 21:08] rnystrom opened #774 "Spelling error "unintercepted""
⚠️ Open Source Workshop ⚠️

Apparently this isn't a word. We should use "non-intercepted" instead.

https://github.com/Instagram/IGListKit/search?utf8=%E2%9C%93&q=unintercepted&type=

[2017-05-23 21:08] BasThomas commented on #760
Seems like a really cool idea, @rnystrom!

[2017-05-23 21:18] Sherlouk opened #775 "Spelling error "peform""
⚠️ Open Source Workshop ⚠️

Should be "perform"

https://github.com/Instagram/IGListKit/blob/master/Guides/Best%20Practices%20and%20FAQ.md

Also a "perfom" in
https://github.com/Instagram/IGListKit/blob/master/CHANGELOG.md

@rnystrom

[2017-05-23 23:24] danalamo commented on #761
This should be g2g

[2017-05-23 23:26] danalamo commented on #760
This should be g2g 👍

[2017-05-23 23:28] joseph-ortiz commented on #770
I can work on this one!

[2017-05-23 23:28] whoffmann commented on #764
I got this!

[2017-05-23 23:29] RoshanNindrai commented on #772
Working on this 👍

[2017-05-23 23:29] manvsmachine commented on #769
I'll take this.

[2017-05-23 23:31] danalamo commented on #762
This should be g2g 👍

[2017-05-23 23:38] danalamo commented on #763
This should be g2g 👍

[2017-05-24 17:06] Sherlouk commented on #744
I'll pick this up

[2017-05-24 18:13] jessesquires commented on #712
@Sherlouk I'd prefer the shallowest possible

[2017-05-24 18:14] jessesquires commented on #682
@rnystrom -- link to twitter?

[2017-05-24 18:14] jessesquires commented on #752
@rnystrom Isn't this "collection view inside a collection cell" ?

[2017-05-24 21:23] jessesquires commented on #757
for anyone looking to do this:

https://github.com/Instagram/IGListKit/blob/master/.travis.yml#L4

[2017-05-24 21:42] Sherlouk commented on #394
So it turns out prose is a lot more annoying to do than I was first hoping...

Not only do you `danger-prose`, but you also need `proselint` and `mdspell`. To get `proselint` you also need `pip`.

Lots of dependencies which we know Travis doesn't really like (and would add quite a lot of time to builds until caching is fully implemented #757)

[2017-05-24 22:57] heshamsalman commented on #394
Something tells me `pip` dependencies lead to a `six` error on travis.

On May 24, 2017, 5:42 PM -0400, James Sherlock <notifications@github.com>, wrote:

[2017-05-25 14:09] rnystrom commented on #761
Woot thanks @danalamo!

[2017-05-25 14:10] rnystrom commented on #770
Thanks @joseph-ortiz! 🎉

[2017-05-25 14:13] rnystrom opened #792 "[Danger] Don't warn if less than 10 loc"
Need to update the [Dangerfile](https://github.com/Instagram/IGListKit/blob/master/Dangerfile) to be less noisy for tiny changes. Will require manually scanning the PR in case it fixes a bug or something (tho a bug fix should be paired w/ a test, thus boosting the LOC count).

[2017-05-25 14:14] rnystrom opened #793 "[Danger] Don't warn when changing docs"
Doc/guide changes don't need a pairing changelog or "big PR" warning. Not sure how tough this would be. Maybe we can only scan changes in the `Source` dir?

https://github.com/Instagram/IGListKit/blob/master/Dangerfile

[2017-05-25 14:15] rnystrom commented on #764
Thanks @whoffmann!!

[2017-05-25 14:16] rnystrom commented on #772
🎉 awesome!

[2017-05-25 14:16] rnystrom commented on #769
Thanks @manvsmachine! Still planning on this?

[2017-05-25 14:17] orta commented on #394
Yeah - there wasn't anything like `proselint` or `mdspell` in ruby, shame :)

[2017-05-25 14:22] rnystrom commented on #752
@jessesquires it's actually making `IGListCollectionViewLayout` work w/ horizontal scrolling (its fixed to vertical using height/y atm).

[2017-05-25 14:34] #761 closed

[2017-05-25 14:34] #775 closed

[2017-05-25 14:46] #744 closed

[2017-05-25 14:46] #764 closed

[2017-05-25 14:49] BasThomas commented on #792
What warning would you like to skip in this case?

[2017-05-25 14:53] BasThomas commented on #793
Yep, we have a `has_app_changes` over at Moya: https://github.com/Moya/Moya/blob/master/Dangerfile

[2017-05-25 14:55] rnystrom commented on #793
Actually this should be fine, forgot we added this

https://github.com/Instagram/IGListKit/blob/master/Dangerfile#L2

[2017-05-25 14:55] #793 closed

[2017-05-25 14:55] rnystrom commented on #792
The changelog one:

https://github.com/Instagram/IGListKit/blob/master/Dangerfile#L13

[2017-05-25 15:03] #771 closed

[2017-05-25 15:03] #772 closed

[2017-05-25 15:03] #774 closed

[2017-05-25 15:22] #763 closed

[2017-05-25 15:22] #773 closed

[2017-05-25 19:59] #768 closed

[2017-05-25 19:59] #766 closed

[2017-05-25 19:59] #765 closed

[2017-05-25 19:59] #767 closed

[2017-05-25 20:46] #792 closed

[2017-05-26 11:29] Sherlouk commented on #759
@rnystrom @jessesquires Requiring a little bit of help on this one:

Having put a bunch of prints I've found out that, all in the WorkingRangeSectionController, that in the case where the image doesn't load - `cellForItem` is called (with nil for the downloadedImage) just a second before the success state of the network request downloading the image.

However, the call to `collectionContext?.cellF

[2017-05-26 14:09] jessesquires commented on #759
Thanks for the investigation @Sherlouk ! 🥇

[2017-05-26 15:17] #762 closed

[2017-05-26 17:57] shuhrat10 commented on #260
I'm still getting crash on iOS 9.3 in Example iOS App (Self-sizing cells).

[2017-05-27 15:18] #770 closed

[2017-05-27 17:13] #760 closed

[2017-05-27 17:51] jboo1212 opened #798 "Handling comments"
If you have a data model that looks something similar to the Comments section of Instagram, what  is the IGListKit way of handing these objects to the adapter, if what you are returning in Section Controller "number of items" is an array of those comments?

e.g.
func numberOfItems() -> int {
    comments.count
}

I'm assuming that Instagram doesn't create a new section controller for each Comment?

[2017-05-28 11:59] cikpis opened #799 "Invalid number of items in section"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.3.2
- CocoaPods/Carthage ver

[2017-05-28 12:43] staticdreams commented on #620
For anyone still looking to implement this I found that [SwipeCellKit](https://github.com/SwipeCellKit/SwipeCellKit) works great with IGListKit.
Specifically [this fork](https://github.com/mschonvogel/SwipeCellKit) that replaces tableView with collectionView. It is also very easy to implement: just import SwipeCellKit into your ``SectionController`` and instruct it to be your collectionViewCell's

[2017-05-28 15:25] Shivaprasad2452 opened #800 "Inset is not working for SupplementaryView"
I used         self.inset = UIEdgeInsetsMake(0.0, 25.0f, 0.0f, 25.0f);
and
- (CGSize)sizeForSupplementaryViewOfKind:(NSString *)elementKind
                                 atIndex:(NSInteger)index
{
    return CGSizeMake(self.collectionContext.containerSize.width-50, 50);

}
<img width="281" alt="screen shot 2017-05-28 at 8 55 03 pm" src="https://cloud.githubusercontent.com/assets/1208524/2652992

[2017-05-29 17:28] rnystrom opened #801 "Add "cell for view model" API to binding section controller"
We should have a public API to get a cell given a view model in the [binding section controller](https://github.com/Instagram/IGListKit/blob/master/Source/IGListBindingSectionController.h).

Question, how do we make this an O(1) operation? Right now we store an [array of view models](https://github.com/Instagram/IGListKit/blob/master/Source/IGListBindingSectionController.h#L72), but we'd have to d

[2017-05-29 19:21] #798 closed

[2017-05-29 19:29] edmonston commented on #752
So I was going to take a crack at this one, if no one is working on it... If we generalize `IGListCollectionViewLayout`, what's the desired behavior for section headers when scrolling horizontally -- always fill vertically (minus insets) and, if sticky, pin to the left (offset by `stickyHeaderOriginAdjustment`)?

[2017-05-30 04:51] jboo1212 commented on #516
Does IG recommend using autolayout to configure the things around the comments that don't "really" need to be the dynamic height or is just using CG rect frames the way to go about this?

[2017-05-31 03:24] TeddyDo opened #802 "Implement multi one cell-section as collectionviewcell layout"
## New issue checklist

- [x] I have reviewed the [`README`](https://github.com/Instagram/IGListKit/blob/master/README.md) and [documentation](http://instagram.github.io/IGListKit)
- [x] I have searched [existing issues](https://github.com/Instagram/IGListKit/issues) and this is not a duplicate

### General information

- `IGListKit` version: 3.0.0
- iOS version(s): 10.2.1
- CocoaPods/Carthage ver

[2017-05-31 07:30] #802 closed

[2017-05-31 13:10] krysztalzg opened #803 "performUpdates long perform on main thread"
I have scroll view with multiple horizontal collections. After I finish downloading data from server I call performUpdates on specific adapter to accommodate with new data and in this moment the main thread hangs to perform lots of updates and contraint updates, which make the app becoming unresponsible for few seconds (depends on amount of data). I am looking into this for second day and have no

[2017-05-31 18:30] shuhrat10 commented on #803
Please, checkout https://instagram.github.io/IGListKit/best-practices-and-faq.html

**I have a huge data set and -peformUpdatesAnimated: completion: is super slow. What do I do?**
If you have multiple thousands of items and you cannot batch them in, you’ll see performance issues with `-peformUpdatesAnimated: completion:`. The real bottle neck behind the scenes here is UICollectionView attempting t

[2017-05-31 19:01] jessesquires commented on #803
That's right. Thanks for the answer @shuhrat10 ! 🎉

[2017-05-31 19:01] #803 closed

[2017-05-31 19:14] krysztalzg commented on #803
thanks, must have missed this one entry in faq

[2017-06-04 17:27] MrMuetze commented on #208
Hi @rnystrom

Really sorry to bring this topic up again, but I can't seem to call `collectionContext?.reload(self)` at all anymore. I think it might've been changed recently or is this still the go to function to reload a section?

I just want to update a section just like you showed here in the section controller:
`
var selected = false

func cellForItem(at index: Int) -> UICollectionViewCell {

[2017-06-05 01:17] rnystrom commented on #516
@jboo1212 we definitely don't for complicated layouts that need to be performant. We don't actually have a single line of Auto Layout code in IG, but that's mostly for consistency. AL is a great framework when used in moderation, and away from perf-tight situations.

For top-notch scroll perf, nothing beats plain `CGRect` math. But using something like [Yoga](https://facebook.github.io/yoga/) to c

[2017-06-05 01:19] rnystrom commented on #800
@Shivaprasad2452 what `UICollectionViewLayout` subclass are you using?

[2017-06-05 01:24] rnystrom commented on #799
@cikpis it looks like your model has

[code]

And there is only a single object+section controller in your setup. If you mutate the part of your model that powers `numberOfItems()` without calling any updates, `UICollectionView` will throw. I'd recommend:

- Using a totally immutable model (`let`)
- Split things out into separate section controllers instead of putting everything into a single sect

[2017-06-05 04:22] DimaVartanian commented on #801
What about potentially creating a lookup dictionary which maps the view models (or in particular, their diff identifiers) to indexes in the array? We would then need to make sure the lookup dictionary is updated whenever the property is set, potentially by implementing a custom setter. This would allow a O(1) lookup of the index.

The downside is that this moves the O(n) work to the time the view

[2017-06-05 14:56] rnystrom commented on #801
@DimaVartanian 🤔 hmm ya that's a good point...

[2017-06-05 14:59] rnystrom commented on #208
@MrMuetze sorry for the churn! We changed this in the 3.0 release, check out [this part of the migration guide](https://github.com/Instagram/IGListKit/blob/master/Guides/Migration.md#item-mutations-must-be-wrapped-in--iglistcollectioncontext-performbatchanimatedcompletion).

All you need to do is wrap your reload in a batch update, and call reload on the batch context param:

[code]

[2017-06-05 15:13] MrMuetze commented on #208
@rnystrom thank you very much for that quick reply! That did the trick. I think it's awesome that you keep coming back to these older issues and reply to our answers :] Thanks again!

[2017-06-05 16:26] DimaVartanian commented on #801
One possible optimization I can see is to update the dictionary lazily when this API is used. A flag could be set when the array is updated that an update is needed, but it would only trigger on the first access attempt for an actual cell (the dictionary would essentially be a private cache). Then, repeated calls would be O(1) until the flag is set again. I could mock this up in a PR if you think

[2017-06-05 21:06] cikpis commented on #799
Hi @rnystrom, thanks for reaching out. The solution you gave me I don't think is the correct one because I don't want to create a section for each elements. I've already saw your example and unfortunately that is not what I was looking for.

I would like to know if there is a proper way to update the same section adding or removing objects, in my case `images` from `CategoryDetailsSection`. I succ